[2016-12-15 15:57] Stillness-2 commented on #191
I can't reproduce this on last debug version. We plan to release beta version this Friday...

[2016-12-15 16:02] yonika commented on #164
Hi,

I'm the user who opened the issue.

If you think about it, of course it happens with other VPNS... that's because they are real VPNs so they are tunneling the traffic to another network, which does not have a YouTube enabled device. The iOS device does not see other devices in the LAN when it is in a VPN.

But Adguard is a Fake VPN... and should not alter the traffic of the local LAN.

please

[2016-12-15 16:11] Bubu92 commented on #191
OK. Should I try it and come back to  you?

[2016-12-15 16:24] Stillness-2 commented on #164
At this moment I don't know why this happens, Adguard really does not touch local or global traffic. Adguard changes routes traffic of the specific IP addresses  only, this is IP addresses of the Adguard DNS servers. You may to see this in our sources.

https://github.com/AdguardTeam/AdguardForiOS/blob/master/AdguardExtension/AdguardPro/tunnel/PacketTunnelProvider.m#L111
111-153 rows

[2016-12-15 21:05] Alex-302 commented on #294
ok

[2016-12-15 21:05] #294 closed

[2016-12-17 13:40] tagataho opened #297 "Not working the video"
http://mobil.hurriyet.com.tr/video/140694

Please fix

[2016-12-18 21:32] Bubu92 commented on #191
If it can help, I just found out something strange about this issue.

It seems the synchronisation does not work when I on Wi-Fi at home but works on cellular network.

At the present time I could not understand why.

[2016-12-19 12:42] ameshkov commented on #289
Weird, should have been blocked. Is it in Safari?

[2016-12-19 12:54] vbagirov commented on #290
@tagataho I will transfer this one and some other tasks created by you to the other repository:
https://github.com/AdguardTeam/AdguardFilters/issues

Please, if you have similar reports in future, submit them to /AdguardFilters/issues. Use [iOS]/[Windows]/etc. prefix for every new issue you create.
There is even a template for new submissions, try to follow it. It is not always necessary to fill i

[2016-12-19 13:01] vbagirov commented on #290
I will close this one, here's the new task: https://github.com/AdguardTeam/AdguardFilters/issues/3800

[2016-12-19 13:01] #290 closed

[2016-12-19 13:01] vbagirov commented on #289
I will close this task, here's a new one: https://github.com/AdguardTeam/AdguardFilters/issues/3801

[2016-12-19 13:01] #289 closed

[2016-12-19 13:03] vbagirov commented on #291
I will close this task, here's a new one: https://github.com/AdguardTeam/AdguardFilters/issues/3802

[2016-12-19 13:03] #291 closed

[2016-12-19 13:05] vbagirov commented on #292
This task is closed, here's a new one: https://github.com/AdguardTeam/AdguardFilters/issues/3803

[2016-12-19 13:05] #292 closed

[2016-12-19 13:15] vbagirov commented on #297
Added the information to https://github.com/AdguardTeam/AdguardFilters/issues/3800

[2016-12-19 13:15] #297 closed

[2016-12-19 14:22] vbagirov commented on #295
I am closing this task as I created a new one in another repository.

[2016-12-19 14:22] #295 closed

[2016-12-19 14:25] ameshkov commented on #164
I suppose it is possible, that iOS VPN API has the same flaw as Android one: it may forbid incoming connections, which might be necessary for broadcasting.

[2016-12-19 14:26] ameshkov commented on #164
Second thought is that YT app does an explicit check if there's any active VPN connection and disables broadcasting feature if it is.

[2016-12-19 14:26] vbagirov commented on #296
Closing this one, new task is https://github.com/AdguardTeam/AdguardFilters/issues/3807

[2016-12-19 14:26] #296 closed

[2016-12-19 14:28] Stillness-2 commented on #164
The second thought is similar to the truth :)

[2016-12-19 14:33] yonika commented on #164
If what you are saying is true (about the second thought)
Then the following experiment can prove it:

Set up a VPN between the iOS device and the LAN that has the broadcast capable device (like the TV or XBOX).
Launch YouTube and check if the broadcast is showing in the App.

It should show because the communication will be tunneled to to and from the LAN. Unless it does this checking.

[2016-12-19 15:26] ameshkov commented on #191
Would be great, do you have access to testflight?

[2016-12-19 15:44] Bubu92 commented on #191
Yes indeed.

Did you see my last feedback on the topic? Strangely, the bug seems to be active only in my wifi environment.

On 19 Dec 2016, at 16:26, Andrey Meshkov <notifications@github.com> wrote:

OK. Should I try it and come back to you?

Would be great, do you have access to testflight?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or m

[2016-12-19 15:46] ameshkov commented on #191
Yeah, I saw, I just didn't get if it is on the latest version only?

[2016-12-19 22:30] ameshkov commented on #164
What Adguard does is even less restrictive as our VPN routes are literally empty, so traffic stays untouched.

[2016-12-20 18:05] jesusc31 commented on #242
На новой бете все так же не открывается Озон

[2016-12-20 19:32] Alex-302 commented on #242
Теперь могу сам проверять. К утру(фильтр DNS реже пересобирается), думаю, заработает:)

[2016-12-20 19:36] Stillness-2 commented on #242
@Alex-302 очень похоже что вот эти два:
t.appsflyer.com
stats.appsflyer.com

[2016-12-20 19:42] Alex-302 commented on #242
Так и есть.

[2016-12-20 19:58] Alex-302 commented on #242
@jesusc31 проверьте утром или часа через три.

[2016-12-21 04:32] jesusc31 commented on #242
Починили :) закрывайте

[2016-12-21 08:51] #242 closed

[2016-12-21 14:56] evgeniy-ADG commented on #281
https://m.vk.com/artreex

[2016-12-22 15:35] dzamyshlyayeva opened #298 "sueddeutsche.de - blocked articles"
sueddeutsche.de  - while surfing the website articles cannot be read, blocked by the paywall

![image](https://cloud.githubusercontent.com/assets/23372054/21430648/b3d91dc4-c86c-11e6-8ce3-b479ad9170dd.png)

logs 1459423

[2016-12-22 17:18] dzamyshlyayeva opened #299 "www.nexusmods.com - missed ad"
http://www.nexusmods.com/civilisationvi/? - missed ad

![image](https://cloud.githubusercontent.com/assets/23372054/21434002/eec525e6-c87a-11e6-9982-9a9a0941f50d.png)

logs 1471990

[2016-12-23 06:58] dzamyshlyayeva opened #300 "www.banki.ru - пропущена реклама"
http://www.banki.ru/news/lenta/ - баннер внизу страницы

![image](https://cloud.githubusercontent.com/assets/23372054/21448647/ba0ad1de-c8ed-11e6-888e-c480dd4833e4.png)

логи 1472896

[2016-12-23 10:41] Flammable777 opened #301 "Mediametrics не работает с Adblock pro"
iPhone 7, последняя прошивка, без джейла, после установки Adguard Pro и включении Adguard DNS, приложение Mediametrics не запускается (вылетает на старте). Хороший агрегатор новостей, но при этом рассадник рекламы... Что посоветуете?
Ссылка на приложение appstore:
https://appsto.re/ru/HhSOY.i

[2016-12-23 10:58] ameshkov opened #302 "Implement DNS filtering feature"
Here's what we need to do:

1. Add "DNS filtering" feature. When this feature is enabled, Adguard will filter and block DNS requests and does not need to use Adguard DNS servers.

2. "DNS filtering" uses the following filters as rules sources:
`Simplified domain names filter`
`User filter`
`Whitelist`

Please note, that it does not depend on whether `Simplified domain names filter` is enabled or n

[2016-12-23 11:07] ameshkov opened #303 "Implement "safe search" feature"
Basically, it is the same thing Adguard Family protection DNS does, but again, just like with DNS filtering, we can implement it without using our servers.

@nkartyshov can help you with it.

[2016-12-23 11:16] Alex-302 commented on #301
Он заблокирован и как сборщик аналитики.
Скоро выйдет новая версия, и можно будет исключать заблокированное по DNS.
Конкретно для вашего случая правило будет таким(в текущей версии не работает):
[code]

[2016-12-23 11:16] #301 closed

[2016-12-23 11:17] #300 closed, assigned to nobody

[2016-12-23 11:18] Stillness-2 commented on #301
@Alex-302 Уже вышла та версия где это работает

[2016-12-23 11:22] Alex-302 commented on #301
Отлично:)

[2016-12-23 11:25] #299 closed, assigned to nobody

[2016-12-23 11:28] Alex-302 commented on #281
У тебя повторяется?
Если выключить фильтры, что-то меняется?

[2016-12-23 11:53] vbagirov opened #304 "[Feature request] Bring up Adguard DNS switch by applying force touch to Adguard icon"
Original thread:
https://forum.adguard.com/index.php?threads/force-touch-to-enable-adguard-dns.18006/

[2016-12-23 17:09] Flammable777 commented on #301
У меня обновления на IOS нет. Я что-то упустил? И можно подробнее, где прописать правило. Я не силен в этом)

[2016-12-23 18:07] Stillness-2 commented on #301
@Flammable777 версия какая? Должна быть 1.1.3. Посмотреть можно в пункте "О программе"

[2016-12-23 18:43] Flammable777 commented on #301
Все верно. Вносится именно 1.1.3. Добавил фильтр в белый список. Не помогло (

[2016-12-23 19:05] Stillness-2 commented on #301
@Flammable777 Больше инфы дайте пожалуйста. Дайте скриншот места куда добавили.

[2016-12-23 21:58] evgeniy-ADG opened #305 "Adguard creates 'undefined' rules"
When adding a rule to the user filter, it shows up as UNDEFINED when you save it. Rules don't work. We reinstalled the app but to no avail, unfortunately.

![image](https://cloud.githubusercontent.com/assets/15856304/21462990/974ca324-c96b-11e6-8830-f2a8b2e17594.png)

<details>
Application version: 1.1.3.31
Application lifetime: 1970-01-01 00:00:00 +0000

Device: iPhone
Platform: iOS
OS: 10.2
ID:

[2016-12-23 22:35] javabean commented on #302
I can see 2 ways to further improve that feature:
* allow the user to input her own filter from an external HTTP(s) URL, instead of entering data manually
* (advanced) allow the user to specify her own DNS server

Actually, the first feature should also be part of Safari content blocking features!

In short: your filter lists are great, but I would like to add my own lists hosted my own server (fo

[2016-12-24 16:16] androidcn opened #306 "how to block ad in thia site"
https://m.80s.tw

[2016-12-25 05:00] Flammable777 commented on #301
![enlight1](https://cloud.githubusercontent.com/assets/24727508/21469779/1e5f3432-ca78-11e6-9913-d83d6e5ec26b.jpg)
![enlight1](https://cloud.githubusercontent.com/assets/24727508/21469780/1e5fce74-ca78-11e6-837c-fd8661fdccb1.jpg)
![enlight1](https://cloud.githubusercontent.com/assets/24727508/21469781/1e74d8c8-ca78-11e6-81a1-b7fb2d30d30d.jpg)
![enlight1](https://cloud.githubusercontent.com/assets/

[2016-12-25 08:02] Stillness-2 commented on #301
@Flammable777 Я Вас понял. Смотрите... В поле для ввода нового домена (там где "Отключить фильтрацию для этого сайта") надо ввести просто `mediametrics.ru`.

[2016-12-25 08:10] Flammable777 commented on #301
Роман, спасибо. Все работает!

[2016-12-25 09:20] evgeniy-ADG commented on #305
1449950

[2016-12-25 13:17] ruijinyin commented on #305
it appeared for many times

[2016-12-25 23:27] ameshkov commented on #305
@Stillness-2 this is a major issue. Let's fix it and push an update right away.

[2016-12-25 23:28] ameshkov commented on #305
@Stillness-2 more than this, ads blocking via safari extension is also broken:
https://forum.adguard.com/index.php?threads/cant-block-elements.18087/

[2016-12-26 09:12] staryob opened #307 "Please add filters ABP 1102vn"
Please add filters ABP 1102vn
Link: http://abp.1102vn.com
Links filters: http://abp.1102vn.com/abp_1102vn_firefox.php

Or add setting add filter on app

Thanks Ad

[2016-12-26 10:39] vozersky commented on #305
Confirmed in both free and PRO versions (stable)

[2016-12-26 14:14] ruijinyin commented on #305
Dear sir,
The PRO is being used, however, there is no difference between free and PRO version.

2016-12-26

s2007007

发件人：vozersky <notifications@github.com>
发送时间：2016-12-26 18:39
主题：Re: [AdguardTeam/AdguardForiOS] Adguard creates 'undefined' rules (#305)
收件人："AdguardTeam/AdguardForiOS"<AdguardForiOS@noreply.github.com>
抄送："ruijinyin"<s2007007@126.com>,"Comment"<comment@noreply.github.com>

Confir

[2016-12-26 15:00] Alex-302 commented on #306
@androidcn
I can't open this site
[code]
Please, write to https://github.com/AdguardTeam/AdguardFilters/issues if you have questions about ads.

[2016-12-26 15:46] androidcn commented on #306
i found that source code
have this

`    <script src="/static/footer.js?v=1216"></script>
`
view-source:https://m.80s.tw/

i want to block it

[2016-12-26 16:13] Alex-302 commented on #306
[code]
but you should to test. This script is used not only for loading ads.

[2016-12-26 16:27] #305 closed

[2016-12-26 17:12] vozersky commented on #305
@ruijinyin  will be fixed soon, wait for the next update, please

[2016-12-27 00:54] ameshkov commented on #302
Yeah, I agree with this, there's a feature request about custom filter subscriptions: https://github.com/AdguardTeam/AdguardForiOS/issues/50.

What for DNS filtering, I guess we'd better fully separate Safari content blocking filters from the DNS filters. It's just they have different purposes.

Yep, this should be done for sure as with DNS filtering users no more needs to use AG DNS and can stick

[2016-12-27 01:03] ameshkov commented on #307
@Alex-302 please check it

[2016-12-27 09:55] Alex-302 commented on #307
This filter contains only 69 rules.

[2016-12-27 13:30] staryob commented on #307
i want creat filter for vietnamese.
IOS filter for vietnam block not 100%. ==> i want creat filter.

It will update daily. i user adguard on ios insert filter difficult and many time.

If you can help me. insert it on filter ios. i very fun.

[2016-12-29 21:45] javabean commented on #302
Agreed, they are too different in the end.
Which asks the question: is the AdBlock file format really appropriate to such a DNS list? I would say it is a bit overkill! ;-)

Regarding documentation, it would be incredibly useful to know whether blocking `exemple.com` will also block subdomains like `sub.example.com` (please make it so!).
What's used for blocking? `NXDOMAIN` or `127.0.0.1`?

So AdGu

[2016-12-30 10:13] rurumi66 commented on #307
1102vn

[2017-01-01 23:57] xxcriticxx opened #308 "wp.pl mobile"
still getting ads on wp.pl mobile (`http://www.wp.pl/mini.html`) with polish list turn on. i think some parts don't work correctly with adguard. checking same page on the computer with same list blocks all of the ads.

sample of ads:

http://imgur.com/a/cWQX4

[2017-01-03 08:42] androidcn commented on #306
i found second id is ad
but next time will change

i write regex like first one

no Effect

Alex <notifications@github.com>于2016年12月27日 周二上午12:13写道：

能蟹仔

[2017-01-03 12:39] Bubu92 commented on #191
No not on the beta. On the latest official release.

[2017-01-04 05:14] ameshkov commented on #162
@vozersky please test betternet: https://www.betternet.co/

[2017-01-04 15:11] Alex-302 commented on #308
please check these rules:
[code]

[2017-01-04 16:58] runeruly commented on #183
Same problem here with iPhone 7 with T-Mobile. On LTE mode, ads are every where  in apps and in other browsers (safari still blocks ads). On WiFi though, it blocks ads very effectively.

[2017-01-04 20:00] xxcriticxx commented on #308
@Alex-302 i added your rules i have less ads on the main page but i still got some left over boxes

http://imgur.com/a/P4GpB

http://imgur.com/a/VQIcA

[2017-01-05 05:44] ameshkov opened #309 "Sonos app compatibility issue"
User complaint:
https://forum.adguard.com/index.php?threads/sonos-problem.18425/

[2017-01-05 06:13] ameshkov commented on #183
@runeruly what if you switch Adguard off and on again while being on mobile data?

[2017-01-05 06:17] runeruly commented on #183
@ameshkov I tried. No success blocking ads. But It worked great before the latest update from yesterday.

[2017-01-05 07:08] ameshkov commented on #183
@runeruly weird, the last update was just a hotfix and didn't change anything in DNS-level ad blocking.

Anyway, what we need to check is if DNS requests are going through AG or not. Here's what I suggest: when you're on mobile data, open and enable requests log in Adguard and then do some web surfing. Then check the requests log again. Do you see any DNS requests there?

[2017-01-05 10:51] BooBerry commented on #183
This may or may not be of importance, but I heard that T-Mobile recently is forcing a move to IPv6 without any IPv4 fallback apparently.

[2017-01-05 14:14] runeruly commented on #183
@ameshkov the DNS requests log is empty when I surf the web with wifi off.

[2017-01-05 14:18] runeruly commented on #183
@ameshkov when I check the log with wifi on, the log is filled with various websites. Definitely something wrong with how T-Mobile is handling this.

[2017-01-05 14:26] runeruly commented on #183
@BooBerry i checked various forums and I see lot of people having problems with VPN and other things. Is there a way to only use ipv4 instead of v6? I can't find an settings on iPhone. I have always had Android so it was easier to change it on those phones.

[2017-01-05 14:30] BooBerry commented on #183
Mmmm, maybe, not sure. It seems T-Mobile made a complete mess from dropping IPv4 support and pushing IPv6.

(Fortunately for me) I don't have T-Mobile service nor an iOS device currently, so I can't test this. I imagine it's not just limited to iOS devices either, however unlike iOS/iDevices Android supports 464XLAT so it's less of if not an issue at all for non-iOS users.

[2017-01-07 04:21] ameshkov commented on #183
I guess this is the same issue:
https://forum.adguard.com/index.php?threads/sonos-problem.18425/#post-121140

This is not really a good example, but anyway, I am with T-Mobile sim card right now, and Adguard for Android can switch DNS settings just ok.

So I suppose it is possible to fix this issue in iOS version as well.

[2017-01-07 04:36] ameshkov commented on #183
Just tested it on my friend's iPhone 6S with t-mobile sim and it works.

Interesting thing is that the guy in that forum thread I've linked above can see some requests in the requests log.

Empty requests log means, that iOS does not actually use the DNS settings Adguard has provided.

@Stillness-2 I suppose we should start with extending Adguard's log. We need to know current network settings bef

[2017-01-07 04:46] runeruly commented on #183
I an confused by why it suddenly stopped working. I bought the pro app about week ago and i think it was blocking ads on mobile date. But after the recent update, it stopped working suddenly. Recent update didn't change that much though. I uninstalled and reinstalled the app it but still the ads aren't blocked with wifi off. The log request doesn't show anything once the wifi is turned off.

[2017-01-07 05:08] ameshkov commented on #183
@runeruly could it be that you've changed anything in VPN profile settings?

[2017-01-07 05:14] runeruly commented on #183
I haven't changed anything.

[2017-01-07 05:22] ameshkov commented on #183
Just in case, do you use any other VPN app along with AG?

[2017-01-07 05:23] runeruly commented on #183
No this app is the only one.

[2017-01-07 05:25] ameshkov commented on #183
And what about VPN profiles? Is there any?

[2017-01-07 05:25] ameshkov commented on #183
I just thinking of AG's own profile duplicate for instance.

[2017-01-07 05:28] runeruly commented on #183
The only VPN porfile is adguard pro

[2017-01-07 05:38] ameshkov commented on #183
The only possible flaw I see is that IPv6 configuration is a bit different. We'll fix it in the next beta version. @runeruly will you be able to check it once it's done?

[2017-01-07 05:45] runeruly commented on #183
Yes definitely!

[2017-01-08 04:51] MatthewDev commented on #162
PIA appears to work
![img_0040](https://cloud.githubusercontent.com/assets/4656089/21747415/fc98fc54-d51a-11e6-83ab-0d345aab558b.PNG)

[2017-01-09 02:49] gotitbro commented on #255
@ameshkov The recent update for **Adguard for iOS (1.1.4)** does not fix this issue and also breaks the temporary fix with **_$elemhide_**.
I am unable to access sites like:
[code]
More info: https://forum.adguard.com/index.php?threads/ndtv-com-anti-adb-ios.18066/#post-120384

I am left completely helpless as I can't even use the $elemhide modifier now to fix this issue, please help.

[2017-01-09 14:24] ameshkov commented on #255
@gotitbro weird, thanks for reporting it.

[2017-01-10 11:03] vozersky opened #310 "The DNS filtering blocks МТС Connect iOS app"
https://github.com/AdguardTeam/AdguardFilters/issues/3899

C включенным VPN невозможно залогиниться в МТС Connect, вайтлистинг заблокированных доменов не помогает. Похоже, что приложение в принципе не работает с включенным VPN.
Возможно ли его каким-то образом исключить из фильтрации, как это работает в Android?

[2017-01-11 03:22] sagarb26 opened #311 "Adblocker Blocked on iPhone Safari websites"
I am getting error message on website links below to Disable adblocker:

http://www.ndtv.com/world-news/live-barack-obamas-last-presidential-speech-1647473?pfrom=home-lateststories

m.beautypageants.in

![img_4714](https://cloud.githubusercontent.com/assets/25046705/21834444/05be157a-d76a-11e6-8c32-d833904c5aef.PNG)
![img_4715](https://cloud.githubusercontent.com/assets/25046705/21834445/05be9400-

[2017-01-11 15:49] xxcriticxx commented on #308
paging @Alex-302 any update on this?

[2017-01-11 19:59] runeruly commented on #183
@ameshkov how can I try the beta version?

[2017-01-12 17:30] Alex-302 commented on #311
iOS version has an issue with $generichide/$genericblock rules, they are works partially.
For example, tis rule should to unblock and unhide blocked elements
[code]
but ad block is still detected. The same with NDTV...

[2017-01-13 08:11] Darina655 opened #312 "[Feature request] Adguard for iOS (Pro) widget"
There is a question regarding Adguard Pro. If there are plans on
adding a widget in future updates? It would be a convenient way to toggle
the Express VPN connection and Adguard since they cannot be on at the same
time.

[2017-01-14 16:59] Alex-302 opened #313 "Generic element hiding rules in custom filter are ignored when enabled optimized filters option"
For example:
https://9to5mac.com/
share buttons are not hidden
<details>

![image](http://i90.fastpic.ru/big/2017/0114/6f/628d780e2aaaf07e887c08df9e632a6f.jpg)
</details>
This rule is not working(ignored?):

[code]
this works
[code]
Btw `##.sharedaddy` is exists in social filter and should hide all these social buttons, but it is not working even with only social filter enabled. It works only with

[2017-01-15 15:57] natalysk opened #314 "Add Iran filter"
User 1447133, has created Iran filter.
He is asking to add his filter to Adguard.
Here is his repository https://github.com/farrokhi/adblock-iran
and his own filter list https://raw.githubusercontent.com/farrokhi/adblock-iran/master/filter.txt

[2017-01-16 00:25] ameshkov commented on #302
@javabean sorry for the delay, I've just recently got back from vacation.

Yep, it understands basic rules syntax:
https://adguard.com/en/filterrules.html#basic-rules-syntax

It will:)

DNS server uses `127.0.0.1`. However, in the case of on-device DNS filtering we're not yet sure what to choose.

[2017-01-16 00:45] ameshkov commented on #307
@javabean yep, indeed.

@staryob once #50 is done, you'll be able to add a custom filter subscription.

Maybe you know any good existing Vietnamese filter?

You can use any other AG extension or program to debug your filter. I mean any popular browser allows you to change user agent.

[2017-01-16 07:44] ameshkov commented on #306
Guys, I didn't quite get it, is the issue resolved or not?

[2017-01-16 07:46] ameshkov commented on #191
@Bubu92 sorry for the delay, I am back from vacation now.

@vozersky please test the issue once again with the latest release.

[2017-01-16 07:46] androidcn commented on #306
no，not work
Andrey Meshkov <notifications@github.com>于2017年1月16日 周一下午3:44写道：

--
能蟹仔

[2017-01-16 07:50] androidcn commented on #306
it's js inject ad

[2017-01-16 08:27] ameshkov commented on #162
@MatthewDev thank you for checking it!

[2017-01-16 11:34] ameshkov commented on #308
@Alex-302 ping.

@xxcriticxx next time please report this sort of issues to https://github.com/AdguardTeam/AdguardFilters repo.

[2017-01-16 11:55] ameshkov commented on #183
@runeruly here is an instruction:
https://forum.adguard.com/index.php?threads/adguard-for-ios-beta-test.6344/

We'll comment on this once new beta is ready.

[2017-01-16 13:02] ameshkov commented on #312
@Stillness-2 thoughts?

[2017-01-16 13:22] ameshkov commented on #313
@Alex-302 this feature disables ALL generic rules:

Anyway, the feature is experimental, we will change it eventually.

[2017-01-16 13:22] #313 closed

[2017-01-16 13:32] ameshkov commented on #314
@farrokhi thank you!

Moved this issue to the appropriate repo:
https://github.com/AdguardTeam/AdguardFilters/issues/4099

[2017-01-16 13:32] #314 closed

[2017-01-16 13:52] Alex-302 commented on #313
Ok, got it...

[2017-01-16 14:46] Alex-302 commented on #308
@xxcriticxx
please answer here
https://github.com/AdguardTeam/AdguardFilters/issues/4100

[2017-01-16 14:46] #308 closed

[2017-01-16 15:44] Bubu92 commented on #191
The issue is still persistent with latest release on OSX and iOS. Just did another test today.

Again, the calendar syncs when you disable iOS DNS.

[2017-01-17 09:19] ameshkov commented on #191
Hm, I just came up with an idea.

Instead of simply trying to reproduce this on our side (which we should do anyway tho), we should just take a look at TWO log files from @Bubu92 and compare them.

@Bubu92 could you please help us with that?

Here is an instruction:

1. Switch to Adguard Family protection
2. Restart the device (just in case)
3. Reproduce the issue
4. Send us an email from the app

[2017-01-17 10:32] vozersky commented on #191
I've tried to reproduce with both ipv4 and ipv6, but no luck.

@Bubu92 hi! do you still have the issue only in one particular network?
Would really appreciate the log file.

[2017-01-17 19:20] Bubu92 commented on #191
**Sync not working** with with **DNS Family** Protection activated
  **User ID**: 1021351
  **Subject**: [Adguard Pro for iOS] Bug Report

FYI the sync works with with DNS Default Protection activated.

[2017-01-17 19:23] Bubu92 commented on #191
@vozersky
In fact it does not work in WiFI environnment (network).
If you are connected to the telco network there is no issue with the synchronization.

[2017-01-17 19:49] ameshkov commented on #191
@Bubu92 second log is with family protection, but in telco?

[2017-01-17 20:58] Bubu92 commented on #191
@ameshkov Sorry I forgot to mention it. Whatever the protection chosen (Family or Default), the synchronisation works.

[2017-01-17 21:00] Bubu92 commented on #191
@ameshkov Do you mean you want a log during Telco connection?

[2017-01-17 21:01] ameshkov commented on #191
@Bubu92 it's just I see two messages from you, in which case sync was ok? I'd like to compare two logs - problematic and successful

[2017-01-17 21:37] Bubu92 commented on #191
@ameshkov I see, I get it now. Because I did not receive the automatic email I though the second report did not go through.

Actually, the second log is still with WiFi connection but with DNS Default Protection activated.

[2017-01-17 22:37] Bubu92 commented on #191
So to summarize.

Both connection are in Wi-Fi.
First log, DNS Family: sync did not work
Second log, DNS Default: sync worked

[2017-01-18 15:42] zebrum commented on #252
@Stillness-2
tested this app https://appsto.re/fr/FBL9s.i
no ads
but it seems user was talking about all his apps

[2017-01-18 19:17] gotitbro commented on #255
@ameshkov Thanks for getting back to me here https://github.com/AdguardTeam/AdguardBrowserExtension/issues/507, I just browsed through some issues and a lot of them seem to be related to this bug, lets push the update for iOS soon as well :)

[2017-01-19 17:10] javabean commented on #302
Fantastic! :-)

FYI, my own (private) DNS server uses `NXDOMAIN` with great success. The device doesn't even have to send an UDP DNS request to `127.0.0.1`, the DNS resolution simply aborts nicely. Less network traffic = better battery life! :-)

[2017-01-19 17:19] ameshkov commented on #302
Oh, there's no network connection to `127.0.0.1` anyway, it'll use unix sockets anyway.

What bothers me about `NXDOMAIN` is if device caches this type of responses.

[2017-01-19 17:50] ameshkov commented on #302
Ah, my bad, it won't use Unix sockets, who knows why did I write it. Anyway, local net connections work in a bid different way, moreover, nothing listens to it, so connection won't even be established.

[2017-01-19 17:51] javabean commented on #302
Good catch. In practice, we want to black-list rather long-lived domains. This and the fact that the black-lists will be updated infrequently by the user (she needs to open up the AdGuard application, so the count will be in days or weeks in the better case) means that the OS cache (if any) will most probably be much less than the list refresh delay. So we should be OK. :-)

[2017-01-19 17:55] ameshkov commented on #302
In the case of local DNS filtering, it is not really important how OS caches responses.

However, this is quite important in the case of using AG DNS servers. Currently, the TTL for a blocked domain is 1 hour.

[2017-01-19 21:20] ameshkov commented on #162
@vozersky next time please comment on this issue once you finish with checking any VPN app. I see that you've tested everything, I was waiting for vyprvpn result.

[2017-01-20 11:20] vozersky commented on #162
Windscribe, PureVPN, NordVPN are compatible

[2017-01-20 11:43] ameshkov opened #316 "Fix the issue with $generichide and $elemhide rules"
We should publish a hotfix version asap.

The major bug we need to be fixed is described here:
https://github.com/AdguardTeam/AdguardBrowserExtension/issues/507

It should be enough just to update converter.

[2017-01-20 16:53] #316 closed

[2017-01-23 04:45] Armylovelove opened #317 "1.2.0"

[2017-01-23 18:15] tagataho opened #318 "https://eksisozluk.com "Ad writer member bot" Block this bot"
https://github.com/AdguardTeam/AdguardFilters/issues/4145

Please can you fix this on iOS? Because not blocked on iOS.

[2017-01-23 18:17] Alex-302 commented on #318
don't duplicate.
It is impossible to hide that ad on iOS

[2017-01-23 18:17] #318 closed

[2017-01-23 21:26] tagataho commented on #318
Why?

[2017-01-24 17:31] gotitbro commented on #255
@ameshkov Any update on when this might be fixed? Can't access an increasing number of websites due to this bug.

[2017-01-24 17:34] ameshkov commented on #255
@gotitbro it was pushed to beta yesterday

[2017-01-24 20:28] gotitbro commented on #255
@ameshkov That's good to know, can you tell me how to join the beta?

[2017-01-25 11:53] Stillness-2 commented on #255
#316

[2017-01-25 11:53] #255 closed

[2017-01-25 11:55] #317 closed

[2017-01-25 14:20] vbagirov opened #319 "Make "too many filter rules enabled" warning more visible"
Currently it is hard to notice. The font should be larger, brighter, or both.

[2017-01-25 15:26] ameshkov commented on #191
A week ago I've added a few domains to family protection exceptions. Any change on your side?

[2017-01-25 17:54] ameshkov commented on #255
@gotitbro yep, here you are:
https://blog.adguard.com/en/adguard-beta-test/

[2017-01-25 18:12] vozersky commented on #162
IPVanish VPN is also compatible

[2017-01-25 18:59] Bubu92 commented on #191
Just tried again today. It did not synchronise. However I still do lot understand why it works on cellular and not on Wi-Fi network.

[2017-01-25 19:01] Bubu92 commented on #191
Just tried again today. It did not synchronise. However I still do lot understand why it works on cellular and not on Wi-Fi network.

On 25 Jan 2017, at 16:26, Andrey Meshkov <notifications@github.com> wrote:

A week ago I've added a few domains to family protection exceptions. Any change on your side?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on G

[2017-01-25 21:01] inazarab opened #320 "Mangastream empty space"
On mangastream.com on an iPhone there is an empty box. The ad is gone but a blank box is still there.

[2017-01-26 10:55] ameshkov commented on #318
Apple's content blocker API is rather limited (comparing with what Adguard can do on other platforms).

There's no way to match an element content.

[2017-01-26 11:52] Alex-302 commented on #320
@inazarab
please write to https://github.com/AdguardTeam/AdguardFilters about missed ads or incorrect blocking

[2017-01-26 11:52] #320 closed

[2017-01-26 12:10] vbagirov opened #321 "Allow to transfer User filter and other settings from free version after purchasing Adguard Pro"
Currently, it is too troublesome for users, especially re-entering all rules manually.

[2017-01-26 12:21] oprotsyk opened #322 "FRITZ!App Fon compatibility"
FRITZ!App Fon https://itunes.apple.com/de/app/fritz!app-fon/id372184475?l=en&mt=8

Problem: A telephone app FRITZ!App Fon (fixed line connection over WLAN)  can not be used as it can not connect with VPN, without VPN everything works.

DNS logs in ticket 1472628

[2017-01-26 14:33] vozersky opened #323 "Outlook app for iOS - cannot contact outlook support when the DNS filtering is on"
https://github.com/AdguardTeam/AdguardFilters/issues/4142

[2017-01-26 14:59] ameshkov commented on #191
Neither am I :(

The only thing that comes to my mind is that it may be caused by IPv6/IPv4 settings.
@Stillness-2 should add better support for IPv6 in further updates. Then will see.

[2017-01-26 17:03] gotitbro commented on #255
@ameshkov Thanks for the link, I have some questions about TestFlight:
If I am using a beta version of an app through **_TestFlight_** and an update is published on the **_App Store_** will I be able to update to the stable version (if yes do the updates come through **App Store** or **TestFlight**) or I will stay on the current beta version until the beta is pushed?

[2017-01-26 17:16] vbagirov commented on #255
@gotitbro as far as I know, no, you will not be able to. Only test builds appear in TestFlight, and if there are none, you won't be able to use Adguard (unless you have a purchased Pro version or a free version from AppStore).

[2017-01-26 17:47] gotitbro commented on #255
@vbagirov The test/beta builds are the one that are ultimately published to the App Store, right?
And is the external testers limit still 2000?

[2017-01-27 09:23] vbagirov commented on #255
@gotitbro that's true; the external testers limit is 2,000 but we still have plenty of room, so don't be worried about that. By test builds I mean those builds that we add to TestFlight. Not necessarily each one of them will be released to AppStore, sometimes we roll out multiple beta builds before finally updating the release version.

[2017-01-28 13:12] i0s1q commented on #322
I Fix this Problem

Open FRITZ!App Fon
Tap More and Setting
Tap Adresse delete fritz.box and add 192.168.178.1
Done

[2017-01-28 15:07] antnythr opened #324 "Having issue blocking ads on a site"
I just purchased Adguard Pro and I'm having some trouble blocking ads on one site and I was hoping for some advice on how to block them.

The site is neowin.net

Looking at the page source, the DIVs I think I want to block are:
class="header-banner  header-banner-ads"
class="ad"

Contained within the "ad" class are other div id's that I've tried to block as well that were unsuccessful:
id="mobile_

[2017-01-30 11:22] vbagirov opened #325 "[Pro] Add new localizations"
Following localizations are finished and are ready to be added:

- Chinese Simplified;
- Chinese Traditional.

[2017-01-30 11:39] Alex-302 commented on #324
Hi
Please write to https://github.com/AdguardTeam/AdguardForiOS about ads or incorrect blocking.
And, please, don't ignore issue template:)

[2017-01-30 11:39] #324 closed

[2017-01-30 16:52] Bohdan-SUP commented on #322
@Stillness-2 can you please check? seems like it helped on our end as well

[2017-01-30 17:23] vozersky commented on #322
You need to have a FRITZ!Box to check it, I guess.

[2017-01-31 06:18] lukewrites commented on #183
I'm having the same issue with AdGuard Pro. I use MetroPCS, which is on T-Mobile. Checking my logs, when I switch from WiFi to LTE no requests come through, but there are lots of requests logged when on WiFi. I'd be happy to take part in the beta once this is addressed. Can share logs etc with you too, if needed.

[2017-02-01 00:07] antnythr commented on #324
I don't quite get what you mean. The link you posted brings me to this github page and there's no email address or any other form of contact listed other than the issues section that I posted in.

[2017-02-01 07:32] Alex-302 commented on #324
oh, sorry:)
I mean this
https://github.com/AdguardTeam/AdguardFilters
Please reopen issue in that repository.

[2017-02-01 13:23] vbagirov opened #326 "[Feature request] Create a better (than DNS requests log) visual representation for 'what's blocked'"
The examples of what it can look like can be found here:
https://forum.adguard.com/index.php?threads/18382/#post-124894

[2017-02-01 14:47] ameshkov commented on #322
Just in case, `fritz.box` points to the localhost:
[code]

I wonder, could it be the cause?

[2017-02-01 15:15] ameshkov commented on #183
@Stillness-2 please let me know if you made necessary changes in the latest beta build?

@lukewrites updated beta test instruction:
https://blog.adguard.com/en/adguard-beta-test/

[2017-02-01 20:01] KozelElena opened #327 "Missed ads"
http://rus.delfi.ee/daily/
https://cloud.githubusercontent.com/assets/17320558/22523984/0a21f9e4-e8ca-11e6-94b2-cc403080bf6f.png

[2017-02-02 09:21] Alex-302 commented on #327
The duplicate. Will be fixed in
https://github.com/AdguardTeam/AdguardFilters/issues/4269

[2017-02-02 09:21] #327 closed

[2017-02-02 12:20] ameshkov commented on #324
I wonder, have you enabled Safari content blocker? All three rules looks just okay.

[2017-02-03 10:40] wan-an commented on #183
fwiw OpenVPN updated their iOS app recently for NAT64 support

[2017-02-03 13:37] Stillness-2 commented on #183
@ameshkov Not yet, will be done in the next beta.

[2017-02-04 11:27] evgeniy-ADG commented on #183
In case you need it, another complaint here: 1498020

[2017-02-06 17:42] tagataho opened #328 "www.hurriyet.com.tr Videos not open"
Hi
http://www.hurriyet.com.tr/video/sertab-erener-vapurda-sarki-soyledi-40357417

In this website; all video do not open, you can try then will see not open.

I use filter of ENGLISH, SPYWARE, SOCIAL MEDIA, Annoyances, Mobile Ads, SAFARI, TURKISH

[2017-02-06 17:42] tagataho commented on #328
http://mobil.hurriyet.com.tr/kesim-hatali-5-lirayi-dort-yildir-sakliyor-40356843

[2017-02-07 09:30] vozersky commented on #328
https://github.com/AdguardTeam/AdguardFilters/issues/3800

[2017-02-07 09:30] #328 closed

[2017-02-09 15:05] tagataho opened #329 "http://m.sondakika.com/ Not load all news"
Hi
I think something  is wrong blocked in http://m.sondakika.com.

Website: http://m.sondakika.com/

Screenshot: http://i.hizliresim.com/d8YDEp.jpg

Because when i use this website; i always  see that. Can you check all blocking on this website.

My filters: english, spyware, social media, turkish, mobile, safari filters

[2017-02-09 15:41] vozersky commented on #329
wrong repo, moved to filters for you
https://github.com/AdguardTeam/AdguardFilters/issues/4342

[2017-02-09 15:41] #329 closed

[2017-02-13 12:05] vozersky opened #330 "UI bug"
https://dl.dropboxusercontent.com/u/137524/screenshots/multiple%20dns%20taps.mp4

multiple taps on "dns settings" while turning VPN off create additional layers

STR:
1. switch off "pro"
2. immediately start tapping on "dns settings"

[2017-02-13 16:47] Bubu92 commented on #191
FYI my internet provider does not support yet IPv6.
Also, I attached a screen shot of my Apple AirportTime
![dns address](https://cloud.githubusercontent.com/assets/23118229/22892924/78104624-f214-11e6-8349-3af1ff8c551e.jpg)
 Capsule configuration.

[2017-02-14 13:51] vozersky commented on #248
"Seems to be working now withthe latest update of outlook, will report back again if i have any issues though."

[2017-02-14 13:51] #248 closed

[2017-02-14 13:53] vozersky commented on #189
https://github.com/AdguardTeam/AdguardForiOS/issues/193

[2017-02-14 13:53] #189 closed

[2017-02-16 08:37] #302 closed

[2017-02-17 20:25] maciboy commented on #322
This is a general issue if devices are configured to use a DNS other than the FritzBox itself.
E.g. if you just configure the (iOS) device to use 8.8.8.8 (Google) as DNS, the issue is the same and Fritz!Fon App will be unable to connect to the FritzBox.
This issue with name resolution can, as already described above, easily be solved by changing the address of the FritzBox within the Fritz!Fon app

[2017-02-18 16:58] Bohdan-SUP commented on #326
User 1505466 asks:
"Could you implement in the app a visual graph with all the blocked ads and sites so we could have a visual presentation who is spying on us? :)"

[2017-02-20 12:43] ameshkov commented on #322
@maciboy thank you very much for the explanation!

I guess the issue will go away in the next iOS Pro major update (with #302).

[2017-02-20 12:43] #322 closed

[2017-02-20 12:47] ameshkov commented on #326
Yup, we'll take this into account when we start implementing the app redesign.

[2017-02-21 10:46] Stillness-2 opened #331 "Reduce the size of the application"

[2017-02-21 10:47] #115 closed

[2017-02-21 19:02] vozersky opened #332 "Adguard PRO 1.1.6 (51) issues"
*  Change state description for PRO switch.
    Instead of "Not Connected" for both states  it should be "Disabled" when PRO is off and  "Ready", "Enabled" or "Connected" when PRO is on.

<br>

* Check "DNS Settings" tab, look like switching servers is kinda laggy, especially when PRO is off.

<br>

* Change "DNS server" to "DNS settings in this line: "The app establishes a fake VPN connection, wh

[2017-02-22 09:17] #332 closed

[2017-02-22 09:45] ameshkov commented on #137
Done

[2017-02-22 09:45] #137 closed

[2017-02-26 09:36] evgeniy-ADG commented on #183
MTS Russia, doesn't block google ads on the mobile connection: 1496878

[2017-02-27 08:35] #330 closed

[2017-02-27 13:08] #331 closed

[2017-02-27 13:12] Stillness-2 commented on #183
@runeruly can you check last beta?

[2017-02-27 15:45] Stillness-2 commented on #214
#29

[2017-02-27 15:45] #214 closed

[2017-02-27 20:28] jo2dan23 opened #333 "Vpn problems"
vpn disconnects and reconnects non stop on latest beta. What logs should i grab or am i not the only one with this problem? I am on latest ios dev beta

[2017-02-27 20:30] ameshkov commented on #333
So that's not a coincidence after all, @Alex-302 has the same issues.

[2017-02-27 20:31] ameshkov commented on #333
In this particular case we'd like to get iOS system logs:
https://success.trendmicro.com/solution/1106560-collecting-system-logs-on-ios-8-x-devices

[2017-02-27 20:55] Stillness-2 commented on #333
@jo2dan23 Please, send bug report from app. Also let know to us approximate time when problem occurred.

[2017-02-28 00:35] jo2dan23 commented on #333
@Stillness-2 what files do you need from Adguard app? I can post them here.

[2017-02-28 07:47] Stillness-2 commented on #333
@jo2dan23 `com.adguard.AdguardPro.tunnel.gz`, `com.adguard.AdguardPro.gz`

[2017-02-28 08:50] vbagirov opened #334 "Spark app compatibility issue"
When you run Spark mail app:
https://itunes.apple.com/us/app/spark-love-your-email-again/id997102246?mt=8

An error message appears:

Happens after the update where System-wide filtering was introduced.

[2017-02-28 08:57] ameshkov commented on #334
I wonder how do they check it?

[2017-02-28 10:46] vbagirov commented on #334
Here's a screenshot btw:
http://i.imgur.com/jm7fZbl.png

[2017-03-01 01:47] jo2dan23 commented on #333
https://www.dropbox.com/s/173ptfwbp54x0ug/com.adguard.AdguardPro.gz?dl=0

https://www.dropbox.com/s/0zhop6j6swbsdna/com.adguard.AdguardPro.tunnel.gz?dl=0

[2017-03-01 01:48] jo2dan23 commented on #333
Unfortunately i couldnt get the real time log sorry @ameshkov

[2017-03-01 16:11] jo2dan23 commented on #333
On newest beta. Disconnected once or twice so far. Am i the only one?

https://www.dropbox.com/s/9b7btnr6zjndty2/com.adguard.AdguardPro.tunnel.gz?dl=0
https://www.dropbox.com/s/1x8eiisya3oi0md/com.adguard.AdguardPro.gz?dl=0

[2017-03-01 19:21] jo2dan23 opened #335 "Vpn connect delay"
There is a 1 minute and 30 second to 2 minte delay for the vpn to reconnect when adding domains to the system wide ad blocking filter lists. Black and whitelist one. Can anyone else reproduce. Im assuming it should take the same amount of time as when turning the vpn on and off from the status section on main screen but it isnt.

[2017-03-02 00:21] ameshkov commented on #334
We need logs.
I suppose, we block some domain used by spark to check the connectivity.

[2017-03-02 09:17] Stillness-2 commented on #333
@jo2dan23
Can you please describe what's going on?
For example, specify the time when the problem occurred (according to logs which you'd sent before).
If you delete and reinstall the app, does the problem continue to occur?
How does VPN icon behave at the moment of the problem?

[2017-03-02 15:42] zebrum commented on #335
@jo2dan23
don't wait. just go to browser after adding domain and vpn icon will appear.

[2017-03-03 02:02] Itsnothectic opened #336 "DNS server too far and too Google"
Google DNS for a privacy centric app is not a great choice. I think something such as d0wn resolver would be great, these are DNSSEC with No logs. Currently for some reason Adguard has me using two servers in Finland.
This DNS in Finland is owned by Google but has poor security, maybe because I am geographically far?

DNS spoofability test:
https://www.grc.com/dns/dns.htm

This is the website for

[2017-03-03 02:10] Itsnothectic commented on #336
It also performs poorly for spoofability

https://www.grc.com/dns/dns.htm

[2017-03-03 02:12] Itsnothectic commented on #335
Yes the app does not enable the VPN properly, hence you should never trust it and always check the VPN menu under general.

There is also a delay on system startup causing leaks, work around is to switch to aeroplane mode before shutting down or at least disable mobile data.

[2017-03-03 05:15] jo2dan23 commented on #333
It just happened again. I was just browsing Facebook and it disconnected then reconnected i hope this helps.

https://www.dropbox.com/s/nu56hwjlzr9oi30/com.adguard.AdguardPro1.gz?dl=0

https://www.dropbox.com/s/p72qmkudxe9rtdz/com.adguard.AdguardPro1.tunnel.gz?dl=0

[2017-03-03 08:23] ameshkov commented on #333
What time it was? Could it be that you've reconnected to another network connection that time?

[2017-03-03 11:52] Itsnothectic opened #337 "Unconfirmed: iOS Apple/Prism hosts incorrectly reported as blocked"
These hosts bypass the VPN, you can test this by running DNSCrypt or a firewall on a Wifi hotspot while using a VPN or AdGuard on your phone.

iphone-id.apple.com
www.icloud.com
xp.apple.com (dunno what this is but seems sus)

I can not confirm because such hotspot is no longer available to me now but the Adguard logs say blocked without showing a second attempt by the system.

Steps to reproduce:

[2017-03-03 12:01] ameshkov commented on #337
As I recall, AG marks as "blocked" any host which is resolved to `127.0.0.1`. Could it be that specific hotspot issue?

[2017-03-03 14:01] jo2dan23 commented on #333
It was at 11:12pm and no i was on wifi the whole time

[2017-03-03 17:17] inazarab opened #338 "[Feature request] Web Fonts"
It'd be great if the Adguard iOS app, and other adguard apps like the mac version, had an option to block Web fonts.  Other content blockers such as iBlockify and Firefox Focus have that option. I'd love it of Adguard could add this feature.

[2017-03-03 19:53] jo2dan23 commented on #333
It just happened again the time was around 1:49 pm to 1:50 pm for log purposes. What happens is it completely disconnects me from wifi and the vpn then reconnects

https://www.dropbox.com/s/06tlud8cmjjmtq5/com.adguard.AdguardPro2.gz?dl=0

https://www.dropbox.com/s/ah88cnvkdq4oed7/com.adguard.AdguardPro2.tunnel.gz?dl=0

[2017-03-04 12:47] Itsnothectic commented on #337
It had to be the phone and not the hotspot because it was through a VPN.

Im actually not sure if apple-id bypasses the VPN.

The only thing I know for sure is that icloud does bypass at least the personal VPN in iOS 9.

[2017-03-04 18:07] jo2dan23 commented on #333
my log  is filled with these

2017/03/03 00:22:15:838  (ID:62213) (APTUdpProxySession) Session state is "Failed" on: 208.67.222.222 port: 53.

@ameshkov

[2017-03-04 18:08] #335 closed

[2017-03-06 17:15] vbagirov opened #339 "Add Yandex DNS to the list of available by default"
Namely, 'Safe' and 'Family' modes.

https://dns.yandex.ru/

Original thread:
https://forum.adguard.com/index.php?threads/19861/#post-128434

[2017-03-06 17:36] ameshkov commented on #336
AG DNS is a recursive DNS, there are quite a few servers in the upstream.

I've explained it once here:
https://github.com/AdguardTeam/AdguardDNS/issues/110#issuecomment-272860066

[2017-03-06 17:38] ameshkov commented on #336
Regarding DNS servers being too far, that's right indeed. We'll extend the number of DNS servers available, though.

Also, starting from the next Adguard version, there will be an option to block ads without using a third party dns server at all.

[2017-03-06 17:48] ameshkov commented on #338
@Stillness-2 I wonder, does AG support `$font` modifier?

If so we can simply add a rule like that:
`http*$third-party,font`

[2017-03-06 17:50] ameshkov commented on #333
@jo2dan23 waiting for @Stillness-2 . It seems that iOS kills the VPN process due to memory issues.

[2017-03-06 17:53] jo2dan23 commented on #333
@ameshkov so can that be fixed or no?

[2017-03-06 17:53] ameshkov commented on #333
It should be fixed, indeed.

[2017-03-09 09:17] #333 closed

[2017-03-09 09:31] Stillness-2 commented on #312
I think we can do it

[2017-03-09 09:35] ameshkov commented on #333
@Stillness-2 resolved? :)

[2017-03-09 09:37] Stillness-2 commented on #333
@ameshkov I think, Yes. More or less Yes. :)

[2017-03-10 18:08] Itsnothectic commented on #336
I could be wrong but isnt it best to only allow one DNS server for each user based on geolocation or user preference(I have ls.apple.com blocked).
All the DNS servers used log. It would be nice if we could specify our own at least.

One strange thing is I live in Australia yet when my phone turns on and it contacts apple.com it uses foreign mirrors unless I block those for example apples-msk.ru

[2017-03-13 06:55] #339 closed

[2017-03-13 06:57] Stillness-2 commented on #183
Did anybody check the latest beta?

[2017-03-13 12:15] Stillness-2 commented on #325
Added:
Chinese Traditional(zh-hant)
Portuguese (Brazil)(pt-BR)
Bulgarian(bg)
Estonian (Estonia)(et-EE)
Hungarian(hu)
Croatian(hr)

[2017-03-13 12:38] Stillness-2 commented on #7
#200

[2017-03-13 12:38] #7 closed

[2017-03-13 17:03] jitbit opened #340 "whitelisting not working"
iOS 10.2.1, Atguard latest version

After adding a website - "Filters cannot be loaded into Safari"

[2017-03-13 20:55] Itsnothectic opened #341 "VPN failure on low battery shutdown"
I havent tried to repeat this yet. If the phone shuts down due to low battery and is then powered up automatically from being charged sufficiently. It will connect to the internet, it will report the "VPN" as connected but hosts will not be blocked or logged until the "VPN" is disconnected and reconnected in settings.

A bug with iOS 10 I am guessing?

[2017-03-13 21:19] Itsnothectic commented on #341
Its actually happening whenever the phone is started up while being charged.

[2017-03-14 10:28] ameshkov commented on #336
I suppose it uses the closest AG DNS server all the time and that explains everything.

Wanna try a beta version?

[2017-03-14 14:53] zebrum commented on #340
@jitbit
does it happen with all websites?
did you try to add to whitelist from safari action bar?

[2017-03-14 15:48] zebrum commented on #341
@Itsnothectic
are you sure the issue depends on charging?
it seems fine on my side. at least when i turn on the phone while being charged.

[2017-03-14 16:41] jitbit commented on #340
Yes, all websites. I tried doing this from inside the AtGuard app - "whitelist"

[2017-03-14 22:21] Itsnothectic commented on #341
I tried again and I listed the steps to reproduce incorrectly.

1) power down the phone (really just deep sleep)

2) turn on and wait for pin/password login but do not enter it.

3) wait for VPN symbol too.

4) plug in the charger, you should hear a chime sound.

5) unlock the phone and Adguard will be on but bypassed.

[2017-03-14 22:33] #337 closed

[2017-03-14 22:40] Itsnothectic commented on #336
I would need a phone void of warranty to test because I feel I need to disconnect the battery to properly test issues.

I think the problem may only occur if lcdn-locator.apple.com is blocked.

However I did notice sometimes it has used yandex DNS and sometimes OpenDNS, I do not know enough about DNS to know if something is a bug or not but I see some servers listed from the GRC page could have be

[2017-03-15 08:53] tagataho opened #342 "http://www.mangatail.com/"
When i enter this website; i see this warning" please disable adblock"

http://www.mangatail.com

Can you fix it?

I use filters of ENGLİSH, SPYWARE, SOCIAL MEDIA, Annoyances, Mobile Ads, SAFARI, TURKISH.

[2017-03-15 08:59] ameshkov commented on #336
Unless GRC learns about Adguard DNS, it will show you random results all the time.

Here is what they do:
1. They generate a unique domain name (something like 123123123123.grc.com).
2. They initiate a web request to that domain name.
3. This request, in turn, initiates a DNS request.
4. **Important step**: they go through the list of the known DNS servers and check if this domain is cached in any

[2017-03-15 10:24] ameshkov opened #343 "Use "Remote notifications" instead of "Background fetch" to get filter updates"
It seems to be much more reliable technique. However, it'll require us to implement it on the server side as well.

[2017-03-15 11:20] Alex-302 commented on #342
Wrong repository. Please write here
https://github.com/AdguardTeam/AdguardFilters/issues/new

[2017-03-15 11:20] #342 closed

[2017-03-16 07:32] deLumren commented on #229
user 1523958 complains about this site as well.
There are ads and pop-ups:
<details>

![screen shot 2017-03-16 at 9 29 14 am](https://cloud.githubusercontent.com/assets/26342177/23986085/1145bc6a-0a2b-11e7-99ca-f78a2ed6c6a7.png)

</details>

Also, it takes SUUUUUUPER LONG time to go through pages on this site when using Chrome(better with Safari). Issue exists on Windows and Mac.
Occasionally link

[2017-03-16 11:40] Alex-302 commented on #229
@deLumren but he says about `Adguard for Windows on Chrome`
It works fine on my side.
Can you reproduce it?

[2017-03-16 19:05] Itsnothectic commented on #336
Thanks. I understand now and I see the servers adguard uses are running DNS Crypt so security is very good also.

I will close because of a misleading title.

[2017-03-16 19:05] #336 closed

[2017-03-17 10:18] zebrum commented on #229
one more id 1290431 EDGE\Chrome browser hang. But it is fine when i have Adguard disabled
@Alex-302 page hangs on my side right now in chrome

[2017-03-17 10:21] zebrum commented on #229
or maybe we should discuss this issue here: [https://github.com/AdguardTeam/AdguardForWindows/issues/1606](url)

[2017-03-18 00:30] KozelElena opened #344 "m.shuhuangge.org - missed pop-ups"
http://m.shuhuangge.org/ - a pop-up appears with Adguard enabled.
Filters: User, English, Russian, Annoyances, Social media, Spyware, Experimental, Safari.

<details>

![image](https://cloud.githubusercontent.com/assets/17320558/24067231/710c02c8-0b82-11e7-8825-510c6499097f.png)

</details>

[2017-03-18 00:55] KozelElena opened #345 "stealjobs.com - incorrect blocking"
http://stealjobs.com/standard-chartered-bank-%E6%B8%A3%E6%89%93%E9%8A%80%E8%A1%8C-cdd-analysis-%E6%94%B6%E5%85%A5/

Can't reach website while Adguard is enabled.
Filters: English, Russian, Experimental, User, Annoyances, Spyware, Social media, Safari

<details>

![image](https://cloud.githubusercontent.com/assets/17320558/24067492/36699596-0b86-11e7-8e60-13ee28c1e4a1.png)

</details>

[2017-03-18 18:22] #264 closed

[2017-03-18 18:23] #256 closed

[2017-03-18 18:23] #272 closed

[2017-03-18 18:39] #230 closed

[2017-03-18 18:39] #223 closed

[2017-03-19 13:34] Itsnothectic opened #346 "[Feature request] Adguard mirror for cross site functional scripts"
I dont know if this would be legal, if it isnt then dont bother.

It would be nice to have adguard DNS host a mirror to googleapis.com and gstatic.com and all
the subdomains, mainly fonts and ajax.

Even with a VPN theres way too many browser identifiers that cant be blocked on iOS.

Google however takes this very personally, its against their ToS to use their services while interfering with their

[2017-03-20 09:54] Alex-302 commented on #345
It works on my side. Which filter breaks the site?

[2017-03-20 10:04] Alex-302 commented on #344
Wrong repository. Write to AdguardFilters.
Added to English filter
[code]

[2017-03-20 10:04] #344 closed

[2017-03-20 11:20] ameshkov commented on #346
All those domains are protected by HTTPS, we can't provide a mirror with a valid certificate for them.

[2017-03-21 23:02] jo2dan23 opened #347 "adding domains with * in them cant be blocked on latest beta, only work when using the adguard servers"
for example if i have lt*.tritondigital.com iny my dns blacklist, it only works when using either adguard default or adguard family protection in the dns settings. is this is a bug or are * filters only able to be blocked when using adguard as my dns?

[2017-03-21 23:19] jo2dan23 commented on #347
@ameshkov

[2017-03-22 18:43] jo2dan23 commented on #347
@Alex-302 can you reproduce?

[2017-03-23 04:02] citrusui commented on #249
The default setting should be to only enable notifications on the app icon badge, which should be enough to let users know they need to update their AdGuard filters. Banner notifications would be an unnecessary distraction for me.

[2017-03-23 06:59] worldsdream commented on #249
@citrusui It needs to be implented for all users and that is the default. Badges, notifications, sound. If you only want badges, you can go to settings>notifications>select your app and from there disable all and only keep badges.

[2017-03-23 10:31] citrusui commented on #249
@worldsdream I don't like that idea. Too often mobile games send notifications to users about "collecting gems", "earning points", etc. Banner notifications would deter users, especially if the notifications appear during inconvenient times of the day.

[2017-03-23 13:46] worldsdream commented on #249
Like i said: you can disable notitications. It's up to the user.

[2017-03-23 15:15] ameshkov opened #348 "Improve Adguard filtering rules syntax in the System-wide ad blocker"
There are four special characters:
`||` -- http://*
`|` -- match start/end
`^` -- separator
`*` -- wildcard

[2017-03-23 15:15] ameshkov commented on #347
Here is why:
https://github.com/AdguardTeama/AdguardForiOS/issues/348

Thanks for reporting it!

[2017-03-23 15:15] #347 closed

[2017-03-23 15:22] ameshkov commented on #348
Here is a rule example, that does not work:
`||anet*.tradedoubler.com^`

[2017-03-23 15:32] ameshkov opened #349 "Update content blocker converter"

[2017-03-23 15:38] atropnikov commented on #349
Wait for https://github.com/AdguardTeam/AdguardBrowserExtension/issues/597

[2017-03-23 17:24] Alex-302 commented on #347
There is a typo in the issue URL
AdguardTeamA -> `AdguardTeam`

[2017-03-23 17:25] ameshkov commented on #347
Fixed)

[2017-03-23 23:40] jo2dan23 commented on #338
this would be an awesome feature

[2017-03-24 13:41] #29 closed

[2017-03-24 16:55] Alex-302 opened #350 "Add Adguard French filter"
https://github.com/AdguardTeam/AdguardFilters/issues/4588

[2017-03-24 22:49] #350 closed

[2017-03-26 10:08] KozelElena opened #351 "9to5mac.com - Ads"
https://9to5mac.com/2017/03/25/red-iphone-7-black-front-video/ - Missed ads

<details>

"User filter" Version=1.0.0.0 Enabled=YES
ID=2 Name="English filter" Version=1.1.6.16 Enabled=YES
ID=3 Name="Spyware filter" Version=1.0.10.23 Enabled=YES
ID=4 Name="Social media filter" Version=1.0.16.46 Enabled=YES
ID=14 Name="Annoyances filter" Version=1.0.8.90 Enabled=YES
ID=11 Name="Mobile Ads filter" Vers

[2017-03-26 14:46] Alex-302 commented on #351
Also not reproduce. Try to disable third party filters.
About missed ads please write to this repository
https://github.com/AdguardTeam/AdguardFilters/issues

[2017-03-26 14:46] #351 closed

[2017-03-26 18:21] jo2dan23 commented on #348
Does this mean the specific rules will be able to used now? Like for example ||play.googleapis.com/log

[2017-03-26 19:07] ameshkov commented on #249
We'd like to try remote notifications instead of the background fetch, filters update should be more reliable then:
https://github.com/AdguardTeam/AdguardForiOS/issues/343

Please note, that it does not mean, that we will actually show notifications. It just means that we initiate filters update from the server side.

What for the visible notifications, I agree with @citrusui , it might be annoyin

[2017-03-26 19:08] ameshkov commented on #249
There was an interesting feature request in Android repo: https://github.com/AdguardTeam/AdguardForAndroid/issues/1069

What if we show some kind of an "app insights" notification when a user installs a new app?
We could inform him or her about the app behavior, what trackers or ad networks does it use, etc.

[2017-03-26 19:22] ameshkov commented on #338
Just try it:
`http*$third-party,font`

I've just taken a look at the code, and it should work.

[2017-03-26 21:28] jo2dan23 commented on #338
Cant tell if its being blocked or not. Doesnt show in log.

[2017-03-26 23:12] ameshkov commented on #348
Nope, not yet, but at least it will support wildcards properly.

[2017-03-26 23:14] ameshkov commented on #338
That's for Content Blocker only, so the only way you can check it is through Safari log.

[2017-03-26 23:16] jo2dan23 commented on #338
Oh i cant check then. The only log i can see is dns one on latest beta

[2017-03-27 08:04] ameshkov commented on #338
And here goes the content blockers problem: Safari does not show us what was actually blocked.

It is printed to the browser console and that's the only place where you can see it.
So, to check what's blocked you should connect your device to a Mac, open desktop Safari and open mobile's browser console through `Develop` menu.

[2017-03-29 06:46] deLumren opened #352 "Activating "Pro" mode blocks internet connection on 10.3.2 developer beta 1"
Multiple complaints from various users in different regions about not being able to connect to the Internet since updating to beta iOS version 10.3.2.

And a forum topic:https://forum.adguard.com/index.php?threads/ios-10-3-2-b1.20450/

[2017-03-29 09:47] ameshkov commented on #352
Yep, working on it right now

[2017-03-29 10:40] dmitrik555 commented on #352
Совсем не работает! Вырубает интернет соединение любого типа при включении DNS!
При включении пропадает как WiFi так и Мобильный интернет!

[2017-03-29 11:20] #348 closed

[2017-03-29 13:10] vozersky commented on #352
Confirmed

[2017-03-29 14:33] vozersky opened #353 "Ad filtering issues on iOS 10.3 and 10.3.1"
Certain ads can not be blocked or blocked correctly on devices with iOS 10.3

The reason is:
https://bugs.webkit.org/show_bug.cgi?id=169167

Part of cosmetic rules might not work anymore.

[2017-03-29 15:28] #349 closed

[2017-03-29 16:53] inazarab commented on #338
I'm confused. There is a way to enable that now?

[2017-03-29 16:56] ameshkov commented on #338
@inazarab of course, open the app, go to `User filter` and add this rule:
`http*$third-party,font`

That'd be enough.

[2017-03-29 17:39] inazarab commented on #338
is there a way to do that on the mac app?

[2017-03-29 17:57] tosbsas commented on #352
I Need my vpn back. Any Info what happened?

[2017-03-29 18:33] ameshkov commented on #352
Seems to be a dev preview bug, a lot of VPN apps are now broken.

[2017-03-29 18:35] tosbsas commented on #352
Whow. You contacted Apple about this?

[2017-03-29 18:36] ameshkov commented on #352
We'll report it asap.

More reports:
https://forums.developer.apple.com/thread/74990
https://www.reddit.com/r/iOSBeta/comments/626aem/bug_ios_1032_openvpn_vpns_will_not_connect/

[2017-03-29 18:40] tosbsas commented on #352
Seems there is a work around as opera VPN seems to work :-)

___________________________

Ruben Gutknecht

Lima, Peru

Cel: +51-99349-1515<tel:+51-99349-1515>

Fax: 001-928-223-4243<tel:001-928-223-4243> International

Voice/Fax: 49 (0) 721-151-379204<tel:(0)%20721-151-379204>

http://telegram.me/tosbsas

tosbsas@gmail.com<mailto:tosbsas@gmail.com>

ttosbsas@icloud.com<mailto:ttosbsas@icloud.com>

[2017-03-29 18:41] dmitrik555 commented on #352
And what now plans?

[2017-03-29 18:54] dmitrik555 commented on #352
Conferm! Opera VPN OK!

[2017-03-29 20:04] ameshkov commented on #352
Opera VPN uses the old mobile profile configuration approach, that's why it works.

All apps which use network extensions seems to be broken.

[2017-03-29 20:07] ameshkov commented on #352
The only thing we can do is to report this bug to Apple and wait for them to resolve the issue.

We'll be posting updates on it here.

[2017-03-29 20:12] dmitrik555 commented on #352
How it is correct to formulate in apple this problem? I too will write about it

[2017-03-29 20:15] tosbsas commented on #352
So all we can do is to wait for beta 2

[2017-03-29 21:11] ameshkov commented on #352
VPN apps based on Network Extension framework (https://developer.apple.com/reference/networkextension) are completely broken in this beta version.

Yep

[2017-03-30 13:42] deLumren commented on #353
User 1532426 reports ads during authorization in Metro wi-fi. He's using iOS Adguard v1.1.5.40.
iOS v10.3
For example:
<details>

![default](https://cloud.githubusercontent.com/assets/26342177/24506830/6c1fd822-1567-11e7-8300-04e9d576648c.png)

</details>

Optimized enabled: NO

Filters subscriptions:
ID=0 Name="User filter" Version=1.0.0.0 Enabled=YES
ID=2 Name="English filter" Version=1.1.12.75

[2017-03-30 14:41] tosbsas commented on #352
Maybe you can keep us posted bout Any answers from Apple

[2017-03-30 14:42] tosbsas commented on #352
Freedom VPN work too

[2017-03-30 17:47] jo2dan23 opened #354 "Blacklist/whitelist rules should have higher priority than the regular filter"
for example googleadservices.com is in the dns exceptions list. i add it to my dns blacklist and it still is whitelisted.. can anyone reproduce? on latest official ios and latest adguard beta

[2017-03-30 22:39] jo2dan23 commented on #354
@ameshkov

[2017-03-31 03:36] Itsnothectic commented on #353
I am too scared to upgrade, can Apples hosts be blocked still?

[2017-03-31 03:47] Itsnothectic opened #355 "[feature request] option to block arpa lookups"
Is it possible to have an option to block arpa lookups completely?

My friend using android showed me some wallpaper app contacting a lot of hosts, about 10 and 2 were IPs. One of those IPs was very suspicious based on some of the host names that point to it.

[2017-03-31 08:58] ameshkov commented on #353
@Itsnothectic yeah, it can. What's broken in 10.3 is some types of cosmetic rules in the Safari Content Blocker. It should be resolved when new Safari version is out.

[2017-03-31 09:03] ameshkov commented on #354
Huh, that's a good question. Assigned it to the next version.

Meanwhile, regarding `googleadservices.com`, we may look for a better way to unbreak Google search results. @Alex-302 why didn't we excluded it instead of adding an exception rule?

[2017-03-31 10:50] Alex-302 commented on #354
I think, it does not exist. We should to unblock(by exception) `pagead.l.doubleclick.net` in addition to excluding `googleadservices.com`.

[2017-03-31 12:48] Itsnothectic commented on #353
Thanks this is good to know.

[2017-04-02 20:28] ameshkov commented on #338
The very same rule should work: preferences -> filters -> user filter, add that rule there.

[2017-04-02 20:39] ameshkov commented on #355
I guess you mean to block a network connection to a specific IP address.

Nope, right now we cannot technically do it. However, once #174 feature is implemented, you'll be able to completely block network access for an app. Not the same, but that's a good solution for wallpaper apps:)

[2017-04-02 20:39] #355 closed

[2017-04-03 12:18] vozersky opened #356 "User filter search issue"
STR:
1. Search for some words or symbols combinations you CAN actually find in UF.
2. Now add some more symbols to the same combination to transform it to one that can't be find in UF.
3. Press "search" again.

Expected result: No results found.
Actual result:  Results of the first search remain highlighted.

Screenshot:
<details>

![img_0011](https://cloud.githubusercontent.com/assets/17472907/24

[2017-04-04 06:01] KozelElena opened #357 "ikea.com - incorrect blocking"
Adguard doesn't allow to use a credit card on ikea.com

Screenshots:

<details>

![image](https://cloud.githubusercontent.com/assets/17320558/24643145/a74ef17a-1914-11e7-924a-44e47ecc2f42.png)
![image](https://cloud.githubusercontent.com/assets/17320558/24643150/b0939380-1914-11e7-9d16-5d499ff16c89.png)
![image](https://cloud.githubusercontent.com/assets/17320558/24643155/b898e22e-1914-11e7-8683-b

[2017-04-04 09:00] vozersky commented on #357
https://github.com/AdguardTeam/AdguardFilters

[2017-04-04 09:00] #357 closed

[2017-04-06 11:02] vozersky commented on #173
resolved

[2017-04-06 11:02] #173 closed

[2017-04-06 12:04] adbuker opened #358 "Extend $network modifier - let it be an exception rule as well"
related to https://github.com/AdguardTeam/AdguardForWindows/issues/1631

[2017-04-06 12:05] adbuker opened #359 "Do not apply cosmetic filters to the pages whitelisted by a $document exception"
related to https://github.com/AdguardTeam/AdguardForWindows/issues/1574

[2017-04-07 07:08] Itsnothectic opened #360 "Blocking ||io^ breaks non user filters"
The app only seems to contact filters.adtidy.org but when ||io^ is blocked only the user filter will work.

I cant confirm this properly as I only have one phone with AdGuard Pro but to test.

1. Look at a domain that is "blocked by DNS" or is listed in one of the public filters you use.

2. Ping the host to make sure its blocked

3. Add ||io^ to the user filter

4. Restart the phone

5. Ping the

[2017-04-07 12:53] #358 closed

[2017-04-07 12:53] #359 closed

[2017-04-07 23:54] OlegSUP opened #361 "DNS makes router crash"
Ticket ID: 1519048
User:
DNS makes my router Netgear Nighthawk R8000 crash and reboot when streaming with CanalDigitaal app. It works great on NUC5i7RYH Windows 10, android tablet but on iPad Pro 9.7 always problems.

Logs, 14.31 Brussel time:
[com.adguard.AdguardPro (2).gz](https://github.com/AdguardTeam/AdguardForiOS/files/907082/com.adguard.AdguardPro.2.gz)
[com.adguard.AdguardPro.tunnel (1).gz

[2017-04-09 01:05] Itsnothectic opened #362 "How can I"

[2017-04-09 01:06] #362 closed

[2017-04-09 01:10] Itsnothectic opened #363 "How can I block something.* for the DNS"
I looked through the documentation and tried |something^ something|| but neither work.

From what I saw in the documentation |something should work but seems to be a missing feature.

[2017-04-10 10:21] ameshkov commented on #361
Router? Are you sure it's not about the app?

[2017-04-10 11:09] ameshkov commented on #363
DNS-blocker has a limited support of the filters syntax. It should support basic special characters, though.

You're on the beta version, right?

[2017-04-10 15:10] Itsnothectic commented on #363
Im using Pro from the appstore.

I dont use Safari, I use Adguard only for the DNS and I block new hosts every day that pop up on news sites and I could cut this by over 75% if I am able to block domains like track.* analytics* and *metrics*.

I notice theres too many keywords that are used in place of the old ads. prefix that should be blocked. So I think this would be a good feature.

[2017-04-10 17:35] jesusc31 commented on #352
Fixed on 10.3.2 beta 2

[2017-04-10 17:37] dmitrik555 commented on #352
Yes, thanks, works now

[2017-04-10 17:45] ameshkov commented on #352
I wonder did they fix #353

[2017-04-10 17:56] dmitrik555 commented on #352
Да, спасибо, теперь работает

[2017-04-10 18:23] OlegSUP commented on #361
Asked for additional information about behaviour with DNS Off and Adguard Off, but I guess user complains about router rebooting when using this app with Adguard Pro DNS. Is it possible?

[2017-04-10 18:49] tosbsas commented on #352
works no, one question - can Adguard Pro be closed or should I keep it running open in the background

[2017-04-10 19:01] dmitrik555 commented on #352
не понял вопроса!I did not understand the question! 10.04.2017, 20:49, "tosbsas" <notifications@github.com>:works no, one question - can Adguard Pro be closed or should I keep it running open in the background—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread. 

[2017-04-10 19:23] tosbsas commented on #352
At the beginning of testing Adguard Pro I was told that filter update and stuff would only work if I keep the app running in the background  On killing it manually those features and even some blocking features would not work. During ios 10.3.2 beta1 problem time I used adblock where its not necessary to keep the app in the background

[2017-04-10 22:16] Itsnothectic opened #364 "Sufficient rules for blocking reuters.com missing, and a bug"
This is by far the most obnoxious site for first party trackers.

First party trackers are not as bad as third party and most find them acceptable but I see some are blocked and some arent. There is also way too many, about 20 requests are made visiting one news article so I feel like mentioning this.

These rules are needed:

||reuters.com^
||thomsonreuters.com^
@@||mobile.reuters.com$document
@@

[2017-04-11 09:32] vozersky commented on #352
@tosbsas Force quitting Adguard doesn't affect any filtering features, it only affects background updates. And it's the same for any other app, iOS works this way.

[2017-04-11 09:39] vozersky commented on #364
Moved to Filters: https://github.com/AdguardTeam/AdguardFilters/issues/4780

[2017-04-11 09:39] #364 closed

[2017-04-11 09:53] dmitrik555 commented on #352
А синхронизация планируется какая то в облаке? Для сохранения вручную добавленных фильтров

[2017-04-11 11:10] tosbsas commented on #352
@vozersky
Ok thanks

[2017-04-11 12:35] vozersky commented on #352
да, планируется, [вот задача ](https://github.com/AdguardTeam/AdguardBrowserExtension/issues/315)

[2017-04-11 12:56] dmitrik555 commented on #352
Спс, с нетерпением ждем

[2017-04-12 10:53] Itsnothectic opened #365 "Hostname not always blocked if resolved from a different hostname"
I see a lot of hosts that point to an IP and also netdna-cdn.com which seems to be like akadns except every host that uses netdna is useless to the user and its a different name for every site.

Example here:
http://www.vocativ.com/414570/workplace-spying-surveillance-dystopia-we-work-in/

"Releases.flowplayer.org" should always be blocked if I only have ||netdna-cdn.com^

[2017-04-12 16:27] ameshkov opened #366 "Ads are not blocked when user is on the university Wi-Fi"
I wonder what's wrong with it?

Customer ID:
1354945

Discussion:
https://forums.macrumors.com/threads/adguard-pro.2039619/#post-24489975

[2017-04-12 16:31] ameshkov commented on #162
@vozersky we need to test Astrill VPN

[2017-04-13 05:59] Itsnothectic commented on #341
Im going to test this issue soon. Apparently this is intended behaviour of iOS so it can still do an iCloud backup in the presence of malware or a lost device password.

[2017-04-13 08:41] lancelot-moon commented on #325
Hi,

I am your Traditional Chinese translator of Adguard for iOS.
Originally, the Traditional Chinese translation was complete in old version of adguard pro.
But you released the new version which has new English strings.
I was busy before. So I didn't translate those new strings.
Today, I saw that you released Adguard Pro v1.2.0 (incomplete Traditional Chinese translation) on Apple App Store.
I w

[2017-04-13 10:14] vozersky commented on #325
reopened,

@lancelot-moon  thank you so much for the cooperation!

[2017-04-13 13:16] Itsnothectic opened #367 "System process not"

[2017-04-13 13:16] #367 closed

[2017-04-13 13:22] Itsnothectic opened #368 "System process not blocked on mobile data"
Not a telephone topic?

[2017-04-13 16:13] ameshkov opened #369 "Think about moving the simplified domain names filter to the "System-wide ad blocking" section"
Source:
https://forums.macrumors.com/threads/adguard-pro.2039619/#post-24491280

Currently, it is completely unclear which filter is used for the system-wide ad blocking.
Also, people cannot change it in any way.

I don't yet understand how exactly should we change the UI, though.

[2017-04-13 18:59] Itsnothectic commented on #369
Its very bad that when updating to 1.2, the list defaults to safari blocking and not both, this causes app leaks without any warning to the user.

I think the UI is fine except the system wide blocking should automatically remove || and ^ e tc and the safari should automatically add it if needed. This way its possible to copy lots of rules to either.

[2017-04-13 19:04] #341 closed

[2017-04-13 19:04] #346 closed

[2017-04-14 01:58] zznosar commented on #162
F-Secure Freedome is compatible with Adguard PRO 1.2.0 <System Wide Protection ON and Adguard Family Shield DNS enabled>. Tested just now. Will be sticking with this two for better protection.

[2017-04-14 05:56] deLumren commented on #279
Customer 1074381 also wants this function.

[2017-04-14 08:32] ameshkov opened #370 "Do not add IPv6 routes if current network does not have it"
Otherwise you can confuse apps into thinking that IPv6 is available while in fact it is not.

[2017-04-14 08:40] ameshkov opened #371 "When app is started, "Pro" button state is "disabled" for a second"

[2017-04-14 11:25] ameshkov opened #372 "Handle DB upgrade properly"
First of all:
https://github.com/AdguardTeam/AdguardForiOS/blob/public/AdguardExtension/AdguardPro/tunnel/PacketTunnelProvider.m#L408

You should check the error code.

1. Show warning message in case if this is an "Upgrade" code only.
2. In any other case do not use system-wide filtering (or initialize it with an empty rules list).

[2017-04-14 11:33] ameshkov opened #373 "Improve VPN extension logging"
1. Do not try to parse lines starting with `! `: `2017/04/13 20:38:33:760  Error creating invalid rule: ! Checksum: LjQds3pbGvJmBdxJ92mSaw`

2. Do not print these error messages unless filtering log is enabled:
`2017/04/13 20:36:51:678  Error when reading data for "176.103.130.130:53|172.16.209.2:49998":Der Vorgang konnte nicht abgeschlossen werden. Vorgang abgebrochen`

Also check why message is

[2017-04-14 11:35] ameshkov opened #374 "When "Pro" status is disabled, gray out "System-wide" and "DNS settings""

[2017-04-14 12:15] #368 closed

[2017-04-14 14:08] ameshkov commented on #361
@OlegSUP never heard of anything like that. Everything can happen though:)

[2017-04-14 15:27] ameshkov opened #375 "We need a "Filter rules syntax" link in the User filter"
https://kb.adguard.com/en/general/how-to-create-your-own-ad-filters

[2017-04-14 16:21] vozersky commented on #162
@zznosar  added to the list, cheers!

[2017-04-14 17:02] vozersky commented on #162
@ameshkov not compatible, only one VPN can be enabled on the same time

[2017-04-14 18:33] kootik commented on #352
версия 10.3.1. (14e304) (не beta) после обновление не заработало vpn не соединялся после перезагрузки вышло такое окно Adguard внимание в данный момент отсутствует соединение с интернетом нужно запустить приложение чтобы выполнить дополнительную настройку и так каждый раз после перезагрузки (после захода в приложение vpn поднимается)
притом это у всех почитайте отзывы в itunes

[2017-04-14 18:36] ameshkov commented on #352
@kootik мы уже знаем, версия с исправлением уже в AppStore, да только ревью займет какое-то время.

[2017-04-14 18:38] kootik commented on #352
![facepalm](https://cloud.githubusercontent.com/assets/6498896/25052481/ac8a899e-215a-11e7-9a3f-0e4112987c13.gif)

[2017-04-14 18:39] Stillness-2 commented on #352
@kootik Так я не пойму, у Вас сейчас работает нормально?

[2017-04-14 18:44] kootik commented on #352
после отключения и повторного включения всех настроек в  adguard pro и смены и активации всех режимов оно после перезагрузки заработало но каждый раз выдает такое окно  при перезагрузке телефона  перешел на другой продукт на котором у меня бесконечная подписка  и более расширенный набор функционала
![img_6710](https://cloud.githubusercontent.com/assets/6498896/25052596/58145812-215b-11e7-842b-4031

[2017-04-14 18:51] ameshkov commented on #352
Вообще должна помогать простая переустановка.

[2017-04-14 20:09] ameshkov commented on #352
@kootik

Итого, решение проблемы без апдейта (если эта проблема вылезла, потому что лезет не у всех):
1. Удалить AG
2. Ребутнуться
3. Установить заново

[2017-04-15 20:02] ajgraves commented on #162
Has SurfEasy been tested?

[2017-04-15 20:03] ameshkov commented on #162
@ajgraves not yet, I guess we should add Opera VPN to the list as well

[2017-04-15 21:16] jo2dan23 opened #376 "Option to filter dns logs by blocked unblocked or no response"
This would be helpful when searching for unblocked ads quicker

[2017-04-15 21:17] ameshkov commented on #376
Frankly, I'd like to do more than just adding a search filter.

Have you seen the filtering log on Android?

[2017-04-15 21:20] jo2dan23 commented on #376
I agree it's really complicated and time consuming to find something in the logs atm. I used to have an android but i don't remember the filtering log part of adguard when i had it

[2017-04-15 21:24] ameshkov commented on #376
@jo2dan23 try the beta version, you'll like it.

[2017-04-15 21:28] jo2dan23 commented on #376
I dont have an android anymore. Haha.

[2017-04-15 21:28] ameshkov commented on #376
Heh, one moment then.

[2017-04-15 21:35] ameshkov commented on #376
Here you are:
https://appetize.io/app/0ctb82jkamxa8aw5yf0uf2nqwm

[2017-04-15 21:40] jo2dan23 commented on #376
Oh thats cool its like a little emulator lol. I love how it shows where the Dns hostnames come from like chrome for example. So its easier to figure out which ad came from what app

[2017-04-15 21:41] ameshkov commented on #376
Android does not use DNS-level ad blocking by default, these are real web requests.

You can enable DNS-level filtering though, but then you'll see that DNS requests come from the Anddroid itself.

[2017-04-15 21:48] jo2dan23 commented on #376
Oh cool now i see the dns logs. I like that log much better than the ios one!

[2017-04-15 21:52] ameshkov commented on #376
Yep, that's what I'd like us to have on iOS as well.

iOS one is, you know, a bit too messy.

[2017-04-16 06:08] henkgist commented on #162
Anyone tried that with OpenVPN?

[2017-04-16 08:54] ameshkov opened #377 "System-wide ad blocking breaks instagram videos"
Source:
https://www.reddit.com/r/iphone/comments/65ekr9/adguard_pro_we_just_released_the_worst_update/dgbizv2/?context=3

[2017-04-16 11:20] ameshkov commented on #377
We should report it back to Reddit once we know what's the culprit.

[2017-04-16 19:17] ameshkov commented on #365
@Itsnothectic that would be very dangerous to have such a behavior. We might not know about other uses of this CDN.

So, I suppose we should block `releases.flowplayer.org` explicitly instead (and all similar domains as well).

[2017-04-16 19:18] ameshkov commented on #365
However, in this particular case, what's wrong with `releases.flowplayer.org` domain? It seems that it's used for merely serving static files.

[2017-04-16 19:57] ameshkov commented on #369
@Itsnothectic the problem here is that system-wide ad blocking is just too different from safari content blocking. Mostly because it cannot distinguish third-party from first-party requests, so we have to be extra cautious with it.

[2017-04-16 21:23] ameshkov commented on #162
@henkgist as far as I know OpenVPN uses Network Extension framework just like Adguard, it makes it incompatible.

However, we'd better check it anyway.

[2017-04-16 21:29] zznosar commented on #162
Open VPN will not work. I used to have it with PIA OpenVPN configuration and credentials. Only one VPN can be used. Open VPN is not in the "Personal VPN" section. It's in the upper part with Adguard. Sorry I dont have pictures. I am using a different VPN set up now.

[2017-04-16 21:59] ameshkov commented on #162
@zznosar yep, thanks for confirming it!

[2017-04-17 13:06] Alex-302 commented on #365
Why releases.flowplayer.org should be blocked? I don't understand what I should do.

[2017-04-17 14:56] vozersky opened #378 "Safari action extension reports don't work"
Nothing happens when you press "Reported missed ad" and "Report incorrect blocking".
Sometimes action extension crashs.

[2017-04-17 15:16] #378 closed

[2017-04-17 15:17] #372 closed

[2017-04-17 16:13] nalvarez2007 opened #379 ""No Configured Email""
This might just be me being stupid, aka user error, but I cannot figure out where to configure my email to report incorrect blocking or missed ads. Every time I try, I get the following error:

<details>

![img_0672](https://cloud.githubusercontent.com/assets/4855771/25094942/28171ede-234e-11e7-9808-769d0ed05315.PNG)

</details>

[2017-04-17 16:32] vozersky commented on #379
@nalvarez2007

Hello!
We use standard iOS "Mail" app for sending bug reports. In order to send one, you have to go to "Settings" -> "Mail" -> "Accounts" and add an email account.

Please also note, there is a bug with reports that are sent from Safari action extension in Adguard 1.2.0: #378
It has been already fixed in beta version.

[2017-04-17 20:43] danidoedel commented on #353
Seems fixed in 10.3.2 Beta 3

[2017-04-17 22:43] ameshkov commented on #353
@danidoedel yep, @Alex-302 has also confirmed it. Time to close this issue:)

[2017-04-17 22:43] #353 closed

[2017-04-17 23:42] deLumren commented on #162
User 1544411 is wondering if he can use Adguard with True VPN - https://itunes.apple.com/us/app/vpn-true/id1102761272?mt=8

[2017-04-18 08:43] ameshkov opened #380 "Add "Open Settings..." link to the tutorial screen"
Talking about the screen with information about setting up a content blocker.

[2017-04-18 10:57] ameshkov opened #381 "Test what happens if DNS settings are customized in Wi-Fi settings"
Will Adguard's settings have higher priority?

[2017-04-18 11:17] vozersky commented on #381
@ameshkov
Yes, they will.

[2017-04-18 11:17] #381 closed

[2017-04-18 21:47] ameshkov opened #382 "Beta version update issues"
**Original report:**

@vozersky please try to reproduce it.

[2017-04-18 21:47] ameshkov commented on #382
[code]

[2017-04-18 22:25] Itsnothectic commented on #365
When I visit a new website I check for trackers and anything third party I block. I blocked flowplayer and did not notice any change so I assume it is a tracker. And personally I do block widgets and such as well until an iOS browser can stop sending referrer.

So looking at what flowplayer actually is, it is a Finnish company that provides a HTML video player that can be hard to get working for w

[2017-04-18 22:28] ameshkov commented on #365
I guess they might be using flowplayer somewhere on the website and that's why you see that domain. However, it does not seem to be tracking you, it is used for serving static files only.

[2017-04-19 02:13] lancelot-moon commented on #325
@vbagirov
@Stillness-2
@ameshkov
@vozersky

Hi,
There are something wrong when you took the Traditional Chinese translation from onesky.
I completed the translation.
But it's maybe because I didn't click "approve" button, those translations were not used when you took the Traditional Chinese translation from onesky.
http://i.imgur.com/ZAJHXoW.png

Some strings are still English and are not transla

[2017-04-19 08:37] #371 closed

[2017-04-19 10:12] #373 closed

[2017-04-19 20:51] vozersky commented on #377
Doesn't happen anymore: [Reddit](https://www.reddit.com/r/iphone/comments/65ekr9/adguard_pro_we_just_released_the_worst_update/dge6jyt/)

[2017-04-19 20:51] #377 closed

[2017-04-19 23:08] ameshkov commented on #325
@lancelot-moon yep, strings should be approved indeed. We'll do it for the next update.

[2017-04-20 02:11] lancelot-moon commented on #325
@ameshkov

Hi,
Maybe there is the same problem in other language files.
Some translators don't know that we need to click "approve" button after completing translations.
Before taking translations from onesky, maybe your engineer needs to help to approve those strings.

B/R

[2017-04-22 06:48] zznosar commented on #162
VPN Unlimited by KeepSolid is not compatible with Adguard Pro. It installs 2 VPN Profile which is weird and will mess up your internet connection badly!

[2017-04-22 06:50] zznosar commented on #162
![img_5061](https://cloud.githubusercontent.com/assets/27464836/25302187/b4d7b4a6-277b-11e7-9108-2ba1abb46167.PNG)

[2017-04-23 06:48] evgeniy-ADG opened #383 "state.txt feature requests"
1. Can you add information about the system-wide adblocker? It would be nice to know if it's enabled and which DNS a customer uses.
2. Can you add there how many filtering rules a user has?
3. Please fix the typo in "Optimized filters" string:

![image](https://cloud.githubusercontent.com/assets/15856304/25311446/dd32b822-2809-11e7-99c1-f90065a40adf.png)

[2017-04-23 17:03] worldsdream opened #384 "Compatibility with iOS9"
Hi, previous versions I never had this issue. Now with the latest version, vpn is dropping all the time. I have removed and installed the app. Still the same. I have enabled PRO dns settings adguard.

[2017-04-23 17:04] worldsdream commented on #374
Yes please add this.

[2017-04-23 17:08] worldsdream commented on #311
It's working fine here. Alex can you confirm this is fixed on the latest ios release? If yes, you can close this thread.

[2017-04-23 17:14] worldsdream commented on #379
When there is no email setup in mail>accounts. We should see a contactform. That way everyone can easily send reports.

[2017-04-23 17:20] worldsdream commented on #287
I can confirm that read more is not working when you click it. Reload page without adblocker. Read more is clickable.

[2017-04-23 19:26] ameshkov commented on #325
@lancelot-moon the thing is that we should've approved it all on our own, but for some reason missed to do it. We'll be more careful next time.

[2017-04-23 21:16] ameshkov commented on #383
Hecking optimazed, can't see it anymore

[2017-04-23 21:20] ameshkov commented on #384
When does it happen? How often?

I might be expected behavior. When the filter is being updated, AG destroys the VPN tunnel so that it could be reinitialized with the new settings.

[2017-04-23 21:21] ameshkov commented on #311
Yeah, should be ok now.

[2017-04-23 21:21] #311 closed

[2017-04-23 21:31] worldsdream commented on #384
Every 5-10 min. Even if I have the app killed. Never had this ever before.

[2017-04-23 21:33] worldsdream commented on #384
If i am in safari or in an app. Does not matter. Internet will not work. Vpn in statusbar goes away. Vpn comes back in statusbar. Internet is good again. I had to turn the pro function off. Can't use the phone like that.

[2017-04-23 22:06] ameshkov commented on #384
That's bad, could you please send us the log?

[2017-04-23 22:06] ameshkov commented on #384
Btw, what's the iOS version/

[2017-04-24 01:36] irow14 commented on #384
I have the same issue.
Please look at the video in the URL.
https://www.dropbox.com/s/spvu45znu5kvqud/adguard_bug.mov?dl=1
I did report bugs in this regard, but the answer was to remove and reinstall.
I doing 'Reset Network Settings' and 'Erase All Content and Settings', but the same issue continued.
There was no such issue in 1.1.6.
iPhone 6s iOS 9.3.5

[2017-04-24 06:08] worldsdream commented on #384
I have an iphone 6s 9.3.3. Exactly the same as the video that irow14 uploaded. All was good in old version.

[2017-04-24 08:17] ameshkov commented on #384
@irow14 @worldsdream guys, got it, thank you very much for reporting it!

It seems that the issue appears on iOS 9.x, everything is good with iOS 10.
We'll take care of it.

[2017-04-24 09:01] Stillness-2 commented on #384
@irow14 Can you give me a customer id from support email, please?

[2017-04-24 12:18] Stillness-2 commented on #384
@irow14 I think that I found your logs... Can you please turn off system-wide filtering, and use remote DNS server, for example Adguard DNS? Check please how VPN works with those settings, and then send bug report again. :)

[2017-04-24 12:46] chetngatluon opened #385 "Error with iTunes - Adguard Pro"
Cannot connect iTunes when vpn is enabled.

iPhone 5s - iOS 9.3.5

iTunes 12.6.0.100
Windows 10 & macOS Sierra

[2017-04-24 12:51] irow14 commented on #384
@Stillness-2 I send bug report, check please.

[2017-04-24 14:29] vbagirov opened #386 "Localization inconsistency"
Happened in regular Adguard for iOS v1.2.1:

<details>

![bug_1](https://cloud.githubusercontent.com/assets/8577533/25341476/976f46bc-2911-11e7-9f20-8ab18f5b904d.jpg)
<summary>Screenshot of the problem:</summary>

</details>

<details>

![bug_2](https://cloud.githubusercontent.com/assets/8577533/25341480/991ad8d2-2911-11e7-8d28-f498b5709b3b.jpg)
<summary>Screenshot of the language settings:</summa

[2017-04-24 15:20] worldsdream commented on #384
@stillness-2. Still the same problem.

[2017-04-24 15:22] evgeniy-ADG commented on #162
Seems to be incompatible with  VPNsecure as well, please check when you have time.

[2017-04-24 15:35] ameshkov commented on #384
The worst thing here is that there's no easy way to install IOS9

[2017-04-24 20:11] vozersky opened #387 "Rework "Contact support" function"
We send bug reports with standard iOS "Mail" app.

Some people don't use it, so they get an error "No Configured Email" when they try to send a ticket.

This is not a common problem for iOS users at the moment, but we might need to think about reworking it.

Based on #379

[2017-04-24 20:14] vozersky commented on #379
@worldsdream yeah, contact form would be  a proper way to do that, let's keep it as an improvement request: #387

[2017-04-24 20:14] #379 closed

[2017-04-25 10:47] danidoedel commented on #352
How is the status of this? I'm on Beta 4 and it's not working for me.

[2017-04-25 10:48] ameshkov commented on #352
@danidoedel you're the first who complaints on this, could you please send the logs to us?

[2017-04-25 11:10] danidoedel commented on #352
What logs do you need? I'm not too familiar with log files ;)

[2017-04-25 11:12] ameshkov commented on #352
Just send a message from the app, the log file will be attached to the email.

I'll also need to know your customer ID

[2017-04-25 11:49] vozersky opened #388 "Filter search doesn't work"
STR:

1. Open Filters list in Adguard settings.
2. Try to use search field to look for some filter, i.e. "Malware domains"

Expected result: The filter is shown in search results.
Actual result: Search result is empty.

[2017-04-25 12:27] KozelElena commented on #384
Our customer has the same complaint
iOS 9

Ticket ID:1496881

[2017-04-25 17:23] vozersky commented on #384
#385

[2017-04-26 12:13] zebrum commented on #384
@worldsdream @irow14 hello!
if you are using mac:
- connect your device to mac,
- run lemonjar app http://lemonjar.com/iosconsole/
- reproduce the problem,
- export logs https://www.dropbox.com/s/bd6rw6cr5f8ei3z/Screenshot%202017-04-26%2015.01.10.png?dl=0 and send log file to support@adguard.com

[2017-04-26 12:21] zebrum commented on #384
and here as well an instruction for windows: https://success.trendmicro.com/solution/1106560-collecting-system-logs-on-ios-8-x-devices#collapseTwo

[2017-04-26 12:35] irow14 commented on #384
I send log file, check please.

[2017-04-26 12:50] zebrum commented on #384
thank you @irow14
user id 1544297

[iOS9logs1.zip](https://github.com/AdguardTeam/AdguardForiOS/files/958381/iOS9logs1.zip)

[2017-04-26 16:14] zebrum commented on #384
@irow14 there also should be a crash report on your iOS device. Let's try to get them with Crash Logs button

![screenshot 2017-04-26 19 11 50](https://cloud.githubusercontent.com/assets/23637588/25444623/6fd3e0b4-2ab4-11e7-8e37-5981d0711043.png)

[2017-04-26 22:48] jo2dan23 opened #389 "Way too many unblocked ads"
@@://googleadservices.com
@@://www.googleadservices.com

These filters are allowing multiple ad domains to be unblocked in apps I am using i didnt have this problem til those filters were added. I have seen about 15 ad domains if not more being reached

[2017-04-26 22:48] jo2dan23 commented on #389
There has to be a better workaround to fix google search ads?

[2017-04-26 22:55] jo2dan23 commented on #389
Here is my dns log

https://1drv.ms/u/s!AvccVnEjavPPhismoq5sCWuFJF1m

[2017-04-26 22:59] jo2dan23 commented on #389
The ads appeared for me between 5:30- and 5:50

[2017-04-27 02:33] gotitbro opened #390 "Cosmetic filters not working in Adguard 1.2.1"
Cosmetic filters are not working on http://indianexpress.com on **_Safari with Adguard Content Blocker 1.2.1_**.
I am seeing blank _google ad iframes_ which do not get hidden despite adding a specific **_User Filter_**:
`indianexpress.com##div[id^="div-gpt-ad"]`

**SS:** https://i.imgur.com/IztXw52.png
**Error URL:**
http://indianexpress.com/article/cities/delhi/mcd-election-result-bjp-sweeps-delh

[2017-04-27 08:30] Alex-302 commented on #390
Don't you want to update on 1.3.1?

[2017-04-27 10:21] vozersky commented on #389
[moved](https://github.com/AdguardTeam/AdguardFilters/issues/4881)

[2017-04-27 10:21] #389 closed

[2017-04-27 11:27] zebrum commented on #352
@danidoedel thank you
user id 1322540

[2017-04-28 16:33] evgeniy-ADG opened #391 "High battery drain due to the Adguard VPN"
Дело в том что при включённом VPN мой расход заряда аккумулятора увеличивается в разы и при активном пользовании телефоном разряжается на 30-40 % за 2 часа, в то время как при выключенном VPN соединении и такой же активностью эти 30-40% израсходуются в течении 5 часов. Я не знаю может дело именно в том включен или выключен VPN , может быть он у всех так подъедает батарею, прошу Вас помочь мне в ре

[2017-04-30 04:08] zznosar commented on #162
Just tested X-VPN  and it is not compatible

[2017-04-30 09:18] ameshkov opened #392 "Set content blocking rules limit back to 50k"
People ask for that:
https://www.reddit.com/r/Adguard/comments/686q2d/why_is_my_filter_limit_getting_smaller_and/

[2017-05-01 09:07] ameshkov opened #393 "Ads are not blocked when system-wide ad blocking is ON"
Discussion:
https://forum.adguard.com/index.php?threads/ein-paar-fragen-zur-pro-version.21158/page-2

Logs:
[com.adguard.AdguardPro.tunnel (6).gz](https://github.com/AdguardTeam/AdguardForiOS/files/967581/com.adguard.AdguardPro.tunnel.6.gz)

Customer ID:
1549188

[2017-05-02 13:33] ameshkov commented on #391
Может там iOS9?

[2017-05-04 06:06] gotitbro commented on #390
@ameshkov I think I might have found another issue related to this, but first I need to clarify something. Would the following rule work in iOS:
`##style[type="text/css"] + div[class]:not([id]):not([style]):not([class*=" "])`

(https://forum.adguard.com/index.php?threads/resolved-colombia-ads-missed-ads-windows.19238/#post-125072)

[2017-05-04 08:54] bigdargon commented on #384
my iphone 5s ios 9.3.3 same problem

[2017-05-04 12:02] vozersky commented on #385
reproduced

[2017-05-04 12:15] vozersky commented on #385
@Stillness-2   15:12 -15:13
[iOS_Console_Adg's_iPhone_2017-05-0415.13.34.log.zip](https://github.com/AdguardTeam/AdguardFilters/files/976052/iOS_Console_Adg.s_iPhone_2017-05-0415.13.34.log.zip)

[2017-05-04 18:15] jo2dan23 commented on #393
This is happening to me ALOT. I thought it was cuz google ad services was unblocked but it isnt. Randomly ads will just appear in the app. BUT, if i turn the vpn on and off the ads will be blocked again. Seems like a bug to me

[2017-05-04 18:16] jo2dan23 commented on #393
This happened to me on the weather channel app, whisper, meetme and instasize among others. Hopefully this can be fixed.

[2017-05-05 13:24] vmalyuta opened #394 "Not able to report missed ad in Safari"
Not able to report missed ad in Safari with Adguard
Application version: 1.1 , 1.2
Device: iPhone
OS: 10.3, 10.1
Optimazed enabled: NO
Filters subscriptions:
ID=0 Name="User filter" Version=1.0.0.0 Enabled=YES
ID=2 Name="English filter" Version=1.1.13.13 Enabled=YES
ID=3 Name="Spyware filter" Version=1.0.11.18 Enabled=YES
ID=4 Name="Social media filter" Version=1.0.18.17 Enabled=YES
ID=14 Name="An

[2017-05-09 11:57] evgeniy-ADG commented on #391
OS: 10.3.1 там.

[2017-05-09 12:47] evgeniy-ADG commented on #394
@vmalyuta add some description and steps to reproduce.

[2017-05-09 18:50] ameshkov commented on #390
Huh, it looks like a totally legit CSS selector, so it should work.

Can't check it in iOS, but it works in desktop Safari

[2017-05-09 18:51] ameshkov commented on #384
Sorry for the late reply, we had long holidays here.

It seems that we've found a culprit, update will be ready soon.

[2017-05-09 18:51] ameshkov commented on #384
Funny thing, it's almost impossible to downgrade to iOS9 so we had to buy a new test iphone in order to test this:)

[2017-05-09 19:34] ameshkov commented on #393
Huh, I wonder what's going on.

Could you please be more specific? What's your current configuration (DNS/System-wide), when does it happen?

[2017-05-09 19:36] jo2dan23 commented on #393
I am using opendns home servers. It happens randomly. On wifi and cellular.

[2017-05-09 21:17] ameshkov commented on #393
@Stillness-2 I guess we'll need a tunnel log anyway.

However, the log wouldn't be enough, we'd also need to know the exact time when it happened.
I suspect some kind of a race condition (for instance, when the tunnel is initialized, some requests might slip through or whatnot).

[2017-05-09 23:23] ameshkov commented on #391
@Stillness-2 есть что в логе полезное?

[2017-05-10 03:09] vmalyuta commented on #394
1. Go to Safari
2. Open any website
3. Try to report missed ad/incorrect blocking
4. Nothing happen

[2017-05-10 07:30] Stillness-2 commented on #394
@vmalyuta do you use latest version Adguard (1.2.1)?
Do you use the standard mail app?

[2017-05-10 07:34] vmalyuta commented on #394
1. Yes
2. Yes

[2017-05-10 22:04] jo2dan23 commented on #393
I have found two unblocked ad domains in two of the apps that showed ads. I assume these are the ones that are generating all the ads

applvn.com
tangerine.nexage.akadns.net

[2017-05-10 22:09] jo2dan23 commented on #393
Here is my log. The ads started appearing at 16:55 there are multiple unblocked ad domains that started showing after then nexage domain. I dont know if those will show up the tunnel log because last time they didnt

https://1drv.ms/u/s!AvccVnEjavPPhi0sgBaAi7uxLGI-

[2017-05-11 00:46] jo2dan23 commented on #393
Here is some more:

moatads.com.edgekey.net
event-service-*.amazonaws.com
adsdk.vrvm.com

[2017-05-11 01:59] bigdargon commented on #384
Adguard Pro in iOS 9 so terrible, VPNs often disconnect and then automatically reconnect a few seconds, which causes me to disconnect from the web and refresh later. Hope this bug will be fixed in the next update! Thanks

[2017-05-11 07:24] Stillness-2 commented on #392
Rules limit set to 50k at this moment (1.2.1 release).

[2017-05-11 07:24] #392 closed

[2017-05-11 07:24] #394 closed

[2017-05-11 08:04] #388 closed

[2017-05-11 08:38] evgeniy-ADG opened #395 "[Question] Adguard DNS incorrect behavior"
On Wi-Fi, system-wide DNS filtering does not work when choosing say Google Public DNS, and outbound DNS is blocked by a firewall on the LAN. The system falls back to the DHCP assigned DNS servers when Google Public DNS is blocked, but the filtering does not work. The correct behavior should be that the fake VPN DNS server is still used for filtering, but it should forward queries to the DHCP assig

[2017-05-11 10:09] YoKoGFX opened #396 "If using Opera VPN, Adguard dosnt block!"
If you use the Opera VPN App Adguard doesnt work.
You can test this with this Website:
http://www.pietsmiet.de/gallery/categories/9-pietsmiet/25866-blobby-volley-dennis-peter

If Opera VPN is disabled Ads are Blocked.
If Opera VPN is activated Ads are NOT Blocked!

I dont know if this is a bug in your app or an bug in iOS...

[2017-05-11 13:33] vozersky commented on #396
hi

Opera VPN is incompatible with local VPN of Adguard
Check VPN app list [here](https://github.com/AdguardTeam/AdguardForiOS/issues/162), please:

[2017-05-11 13:35] YoKoGFX commented on #396
I dont use the local VPN of Adguard...

[2017-05-11 13:52] vozersky commented on #396
So you do use Safari browser, right?
What iOS version do you have?
Funny thing, I can't install Opera VPN, seems like "Install profile" button is broken
![image1-2](https://cloud.githubusercontent.com/assets/17472907/25952751/308a9f12-366a-11e7-9c78-c1b95bd5f3a7.PNG)

[2017-05-11 13:55] YoKoGFX commented on #396
Yes, I use the Safari Browser :)
I run the latest iOS 10.3.2 Beta... But I know that this was already there before the beta.

[2017-05-11 13:59] vozersky commented on #396
Ok, but how did you manage to install VPN profile for it? Tried to do it on three different devices already, doesn't work :)

[2017-05-11 14:01] YoKoGFX commented on #396
After clicking on the Button a Box will pop up :/

![img_0387](https://cloud.githubusercontent.com/assets/18743976/25953234/0dd9bacc-3663-11e7-856f-dc4c6cb82c7c.PNG)

[2017-05-11 14:09] vozersky commented on #396
![image](https://cloud.githubusercontent.com/assets/17472907/25953578/83f4f100-366c-11e7-9d46-099edb7ae4ed.png)

[2017-05-11 14:12] YoKoGFX commented on #396
:/ It works on all 3 Devices I have...

[2017-05-11 14:19] vozersky commented on #396
It looks like you are the lucky one :)
It's four devices and counting. Reported to OperaVPN devs.

[2017-05-11 16:11] #385 closed

[2017-05-14 22:36] ameshkov opened #397 "System-Wide and Additional VPN Not Working Correctly"
**Issue description:**
https://forum.adguard.com/index.php?threads/system-wide-and-additional-vpn-not-working-correctly.21646/

What can be done about it?

[2017-05-14 22:42] ameshkov opened #398 "Crash in the latest beta 1.2.1 (71)"
Details:
https://forum.adguard.com/index.php?threads/adguard-pro-beta-crash-info-german.21682/

@Stillness-2 please check if any new crashes were reported to us through itunesconnect.
Issue description and name should be updated accordingly once we find the crash data.

[2017-05-14 22:50] i0s1q commented on #398
Thanks :-)

[2017-05-16 09:43] evgeniy-ADG opened #399 "Adguard Pro 1.2.1 is broken on iOS 9.3.3"
The original post:

[2017-05-16 09:45] Stillness-2 commented on #399
#384

[2017-05-16 09:46] #399 closed

[2017-05-16 09:47] evgeniy-ADG commented on #399
The fact it's closed confused me, sorry.

[2017-05-16 17:28] X8716e commented on #162
Aside from VPN's, what of this - Weblock - AdBlock for apps and websites by FutureMind
https://appsto.re/us/ovUtH.i ? It's something I've used with success since its inception. Thank-you.

[2017-05-16 17:29] X8716e commented on #162
... I'll be testing on my own ofc but wanted opinions here as well *

[2017-05-17 11:17] vozersky commented on #396
Let's wait for the fix and test it when it becomes possible.

[2017-05-17 18:10] X8716e commented on #162
Tested various free .ovpn files e.g. vpnb

[2017-05-17 18:28] X8716e commented on #162
While not a VPN, as was neither Weblock, there are no other threads within which to list these, so I'll do so here, hopefully without disrupting the flow here. AdguardPro works wonderfully over TOR. I only use OnionBrowser as its approved by the TOR Project (with standard caveats, ofc) as you'll see in the attached pics.

![img_7292](https://cloud.githubusercontent.com/assets/18148748/26169781/df6

[2017-05-18 11:18] evgeniy-ADG commented on #201
Sponsored ad on the start page in the app.

<details>

![image](https://cloud.githubusercontent.com/assets/15856304/26199953/bc33edc4-3bd4-11e7-96f3-19861d5fa330.png)

</details>

It's reproducible with the Standard Adguard DNS, do you need a log?

[2017-05-18 22:34] X8716e commented on #162
Green VPN - IKEV2 more security

https://appsto.re/us/XkATjb.i - is fully compatible with AdGuard Pro.

![img_7348](https://cloud.githubusercontent.com/assets/18148748/26226094/5f897ef8-3bf8-11e7-9238-3e5facabaa72.PNG)

[2017-05-18 23:01] X8716e commented on #391
I'm experiencing same issue iOS 10.3.2.

[2017-05-18 23:07] X8716e commented on #395
I realize this isn't technically an answer if people are dead-set on using google dns, but I've two suggestions. Manually set DNS to 8.8.8.8, etc. in device's wifi config. Or use something like OpenNIC's servers @ https://OpenNICproject.org/ which are quite excellent in my experience.

[2017-05-19 15:53] Alex-302 commented on #201
No, I need traffic, captured by Fiddler:
https://forum.adguard.com/index.php?threads/missed-ads-submission-rules.1879/
`2. How to capture traffic of the site or the application?​`
Could you do it? I can't reproduce that banner.

[2017-05-19 16:20] dzamyshlyayeva commented on #162
could you please check if Adguard is compatible with VietPN https://itunes.apple.com/vn/app/vietpn/id1209372296

User ID 1522000

[2017-05-19 16:55] vozersky commented on #162
@dzamyshlyayeva it's not

[2017-05-19 17:39] X8716e commented on #183
As for AT&T, prelim tests show Adguard Pro functioning w/ cellular connection. Will report back after more extensive testing.

[2017-05-22 10:29] #352 closed

[2017-05-23 08:57] Stillness-2 commented on #393
@jo2dan23 I can not get the log file by your link. If you add unblocked  domains to the black list, does the problem repeat?

[2017-05-23 09:31] vbagirov commented on #384
Guys, anyone with the Adguard TestFlight who is on iOS 9: is VPN stable in the last test build? Any issues?

[2017-05-23 11:42] ameshkov commented on #183
Does it happen when you set AG Pro to use custom DNS?
Could it be that AT&T intercept plain DNS requests and respond by themselves?

[2017-05-25 04:44] gotitbro commented on #390
@ameshkov Sorry for the late reply, I have been facing some issues with my email.
Thanks for clarifying that the filter is valid, I knew that it was working before. Such filters have been used to hide Colombia ads. Since the update the colombia ads are not being hidden even if a filter is added manually.

**Example: m.economictimes.com**
**SS:** https://imgur.com/a/BTOou
**Error URL:**
http://m.ec

[2017-05-25 08:39] Bohdan-SUP commented on #383
@ameshkov what about info on DNS options and filtering rules counter, please?

[2017-05-25 08:41] Stillness-2 commented on #383
In latest beta

[2017-05-25 08:43] Stillness-2 commented on #383
@Bohdan-SUP check please :)

[2017-05-25 11:59] worldsdream commented on #384
Tested it right now. Still the same. Nothing has changed.

[2017-05-25 12:00] ameshkov commented on #384
Argh, how so:(

What exact version do you see in TestFlight?

@Stillness-2 what kind of logs do we need?

[2017-05-25 12:02] worldsdream commented on #384
Version 1.2.2 (81)

[2017-05-25 12:04] Stillness-2 commented on #384
@worldsdream @ameshkov We need logs which described above @zebrum

[2017-05-25 12:06] ameshkov commented on #384
@worldsdream could you please assist?

I wonder why does it work okay on our iOS9 device. Maybe we should simply not add IPv6 routes for iOS9?

[2017-05-25 14:31] vozersky commented on #397
Yes, it looks like we do override 3rd party app's DNS settings

[2017-05-25 14:50] nicedavid0629 opened #400 "Translation for "user filter" to Chinese is Wrong"
"个人配置" or "自定义规则" would be better. "使用过滤器" in the app means "Use Filter" in English actually.

[2017-05-25 14:51] vozersky commented on #400
@vbagirov @altokarev

[2017-05-25 15:02] vbagirov commented on #400
@nicedavid0629 Changed to "自定义规则". By the way, we have more similar phrases (like "您正在使用过滤器的最新版本。") in other products (Android, Windows, Mac etc) and I am not quite sure how to fix them. It would be great if you could help us maybe?

If you are interested, please read this article: https://blog.adguard.com/en/adguard-public-translations/

[2017-05-25 15:15] nicedavid0629 commented on #400
@vbagirov Thank you and I am glad to do this. But here is a problem when I was trying to register an translator account on OneSky:
"Thanks for your interest in becoming a OneSky translator! However, our registration is temporarily closed. Please come back later and try again."
Should I try later or have any idea what else I can do? Thanks.

[2017-05-25 15:18] vbagirov commented on #400
@nicedavid0629 I believe you can log in using your GitHub account. Will it work?

[2017-05-25 15:27] nicedavid0629 commented on #400
@vbagirov Got the account. I'll catch up with this later. it's pretty later here in China. Have to sleep though. Good day!

[2017-05-25 15:30] #370 closed

[2017-05-25 15:32] vbagirov commented on #400
@nicedavid0629 sure! Two more things:

1. If you suggest any changes, please leave a comment to that phrase, so we get the alert.
2. Volunteering is nice and all, but we really would like to give you a small present if you end up making a significant contribution to translating Adguard - hook me up (preferably, via [Adguard forums](https://forum.adguard.com/index.php?members/3788/))

[2017-05-26 12:14] IvanIin commented on #390
What version of iOS is installed on your device? Some cosmetic rules do not work on ios 10.3.1. In version 10.3.2 this will be fixed.

https://github.com/AdguardTeam/AdguardForiOS/issues/353

[2017-05-26 12:40] IvanIin commented on #360
@Itsnothectic
The latest versions of Adguard use a new scheme of system-wide filtering. Now, the user-defined filters are specified separately in the system-wide-> Blatsklist / Whitelist section. Does the issue repeat in the latest version of the program?

[2017-05-26 13:12] vbagirov commented on #397
To make the future searches easier, the VPN in question here is Windscribe VPN.

[2017-05-26 15:50] evgeniy-ADG commented on #162
People say that RoboVPN, Browsec VPN, IntelliVPN are incompatible.

[2017-05-27 03:44] gotitbro commented on #390
@IvanIin I just updated to iOS 10.3.2 after your comment and cosmetic filtering was working again correctly.

Thanks for pointing this out :)

[2017-05-27 03:44] #390 closed

[2017-05-27 07:36] worldsdream commented on #384
I have sent an e-mail to support with the logs. It happened to me and then I did make the report. So it should be on the end of the log. Let me know.

[2017-05-27 07:40] Michael23456 opened #401 "System crash on Mac"
System crash on Mac
Mac OS 10.12
![image](https://cloud.githubusercontent.com/assets/25711093/26519364/b062b66a-42c8-11e7-95ae-fe0e4b707010.png)
CustomerID: 1510104
[state.txt](https://github.com/AdguardTeam/AdguardForiOS/files/1033379/state.txt)
[debug (97).txt](https://github.com/AdguardTeam/AdguardForiOS/files/1033380/debug.97.txt)

[2017-05-27 07:40] Michael23456 commented on #401
what do we need to ask?

[2017-05-28 06:06] KozelElena commented on #384
Logs are here: 1212314

[2017-05-28 08:31] evgeniy-ADG commented on #401
@Michael23456 why iOS repository?

[2017-05-28 13:10] Michael23456 commented on #401
can be closed, moved here https://github.com/AdguardTeam/AdguardForMac/issues/201

[2017-05-28 16:14] thoooooooom commented on #334
May I know how to fix it?

[2017-05-28 21:26] ameshkov commented on #390
Yeah, I totally forgot about #353 :)

[2017-05-28 23:22] ameshkov commented on #334
@thoooooooom to troubleshoot we first need to take a look at the log:
https://kb.adguard.com/en/ios/solving-problems/dns-requests-log

[2017-05-29 07:58] #383 closed

[2017-05-29 09:26] Stillness-2 commented on #384
@worldsdream Can you send a mail to support from the app? We need to know your Adguard vpn settings. Or, you can send report to yourself, simply change the mail address to yours and resend  us the `state.txt` file that will be attached to it.

Also please notice if you are currently connected to WiFi or cellular network? Is IPv6 allowed in theis network?

[2017-05-29 16:08] worldsdream commented on #384
I'm connected to wifi. Ipv6 is allowed.
I just sent an email to support.

[2017-05-29 20:03] jo2dan23 commented on #393
@Stillness-2 sorry for the late reply. I have been gathering ad domains. I have added all the unblocked domains in the exceptions/exclusion lists and still get ads. I dont know if these will stop for good. But these are the ad domains I found in my logs:

data-agkn-com-*.amazonaws.com (ad domain for agkn.com)
cdn.liftoff.io
sessionstat-*.amazonaws.com (tracking)
s.mopub.com

[2017-05-29 21:35] ameshkov commented on #384
@Stillness-2 it'd be nice to test with the latest @IvanIin fix so that we could see the active network interfaces in the log.

[2017-05-29 21:51] ameshkov commented on #393
@Alex-302 shouldn't we block `mopub.com` completely in the mobile ads filter?

[2017-05-30 09:10] #386 closed

[2017-05-30 09:40] #401 closed

[2017-05-30 09:47] vozersky opened #402 "[Feature request] Add Safari View Controller support"
We have like 4 URLs in the app:
"View on GitHub"  in the main menu and 3 more in "About" section.

Got a feature request from the [forum.](https://forum.adguard.com/index.php?threads/safari-view-controller-для-сслылок-в-adguard.22122/)

[2017-05-30 09:50] vozersky commented on #402
Please discuss.
I personally don't find Safari view convenient at all.

[2017-05-31 08:19] vmalyuta opened #403 "http://edition.cnn.com/2017/05/30/politics/russians-trump-campaign-information/index.html - incorrect Adguard interface"
Description: http://edition.cnn.com/2017/05/30/politics/russians-trump-campaign-information/index.html - incorrect Adguard interface

Current behaviour: Adguard Assistant bar is not centered on this site
Screenshot: https://prnt.sc/fe39si

System configuration

Application version: 1.2.2.81
Platform: iOS
OS: 10.3.3
Optimized enabled: NO
Filters subscriptions:
ID=0 Name="User filter" Version=1.0.0.

[2017-06-01 12:27] #323 closed

[2017-06-02 10:39] zebrum commented on #356
one more thing:
after step 1, delete search string and type in new one, with exist in user filter.

Expected result: Aguard start new search from the beginning of UF
Actual result: searching continuing from where it stopped at the first time

[2017-06-02 13:09] zebrum commented on #384
@worldsdream hello!

new beta 1.2.2 (86) is ready. Could you try it?

[2017-06-02 14:19] irow14 commented on #384
ios 9.3.5. Used 1 hour. Work fine.
Thx.

[2017-06-02 14:35] ameshkov commented on #384
![ezgif-2-74fdf98443](https://cloud.githubusercontent.com/assets/5947035/26730494/ceac57f2-47b9-11e7-9933-93ef198cfb7e.gif)

[2017-06-02 15:47] worldsdream commented on #384
It's working fine. Great job.

[2017-06-03 14:33] jo2dan23 commented on #354
Issue still exists in latest beta.

[2017-06-03 20:17] jo2dan23 opened #404 "DNS requests might bypass Adguard's tunnel in some circumstances"
I know there is another issue on this but I think this one is different because it completely stops logging domains in my dns log also. I have to turn vpn on and off then it works again. What file would show whats going on? Im suprised that im like the only one who's experiencing this.

[2017-06-04 16:12] jo2dan23 commented on #404
Odd thing i noticed. I think this only happens on mobile network

[2017-06-04 20:53] ameshkov commented on #404
@jo2dan23 what's your cellular provider? I wonder, could it be the same issue as we have with Android version: https://github.com/AdguardTeam/AdguardForAndroid/issues/1026

[2017-06-05 05:18] jo2dan23 commented on #404
That could be the issue. Alot of unblocked ads i see are coming only when I use my data. I have cellcom in Wisconsin

[2017-06-05 08:49] ameshkov commented on #404
And this all started with the new update where we added IPv6 routes. I wonder if it's the case.

@IvanIin @Stillness-2 guys, please take a look

[2017-06-05 09:09] ameshkov commented on #404
My idea is the following:

If we add an IPv6 interface, we should add routes for IPv4-mapped addresses of the DNS servers.

For instance, if DNS server address is `8.8.8.8`, **and** we added an IPv6 interface, we should add two routes:

`8.8.8.8/32` -- for IPv4 interface
`::FFFF:8.8.8.8/32` -- for IPv6 interface (address syntax is wrong, just for better understanding)

[2017-06-05 09:28] IvanIin commented on #404
@jo2dan23  can you please sent us logs from the latest beta version of the adGuard? With system-wide ON and System Default DNS enabled. And tell the time in which the issue was observed.

[2017-06-05 12:42] ameshkov commented on #404
Let me please explain, we've improved logging in the latest beta, added network interfaces logging, it might help to understand what's wrong.

[2017-06-05 13:59] #384 closed

[2017-06-05 16:03] Alex-302 opened #405 "$elemhide exclusion disable url blocking (1.22 86, iOS 10.3.3)"
https://github.com/AdguardTeam/AdguardFilters/issues/5265
How to reproduce:
- for example, open giga.de;
- leave only English filter and disable Pro/systemwide filtering;
- look for blocked requests in Safari console. They are exist.
Next step:
- add `@@||giga.de$elemhide` and refresh the tab;
- look in console - no blocked requests.

[2017-06-05 16:03] Alex-302 commented on #405
@vozersky or @zebrum Please check it.

[2017-06-05 17:27] Alex-302 opened #406 "Add build number to About screen"

[2017-06-05 20:53] jo2dan23 commented on #404
Which logs do you need? Oddly i cannot make it show me ads on data at the moment.

[2017-06-05 20:54] ameshkov commented on #404
We need tunnel log

[2017-06-05 21:00] jo2dan23 commented on #404
I grabbed these the days the ads were shown on mobile network hope they help.

https://1drv.ms/u/s!AvccVnEjavPPhxJd95Xovra_We8k

https://1drv.ms/u/s!AvccVnEjavPPhxP1hmTxLajIccwU

[2017-06-05 21:51] jo2dan23 commented on #354
h-sdk.online-metrix.net cannot be blocked on my end. Which is in the exceptions list

[2017-06-05 22:01] danidoedel opened #407 "Adguard not compatible with iOS 11"
I know it‘s a beta and very early, but I really hope you guys can fix this relativley quick anyway ;)

edit: If it‘s not an iOS issue though

[2017-06-05 22:06] ameshkov commented on #407
That was fast:)

[2017-06-05 22:07] ameshkov commented on #407
Any details on the issue?

[2017-06-05 22:23] danidoedel commented on #407
Yeah couldn‘t await it ;)

Can‘t activate any filter.
Looks like the filters can‘t be loaded into safari:

![img_5935](https://cloud.githubusercontent.com/assets/10995998/26805840/3ce57262-4a4e-11e7-916c-60a274008628.PNG)

[2017-06-05 22:24] ameshkov commented on #407
At least there're no issues with the VPN:) We'll check it, thank you for reporting it!

[2017-06-05 22:31] danidoedel commented on #407
Yeah VPN seems to work this time :)

No problem! I really hope there are just a few little changes required.

[2017-06-05 22:41] danidoedel commented on #407
Maybe that‘s somehow related, but I thought I would post it anyway:

![img_5936](https://cloud.githubusercontent.com/assets/10995998/26806361/ba0647f6-4a50-11e7-8471-5151af6334cd.PNG)

[2017-06-05 22:44] ameshkov commented on #407
Nah, that's different (worth filing a bug report anyways:))

[2017-06-05 22:45] ameshkov commented on #407
On the other hand, judging by the error message, it seems that we're aware of this particular issue already

[2017-06-05 22:49] danidoedel commented on #407
Yeah that‘s something I thought too...

I leave it up to you if you want to file another bug report about that :)

[2017-06-05 22:52] danidoedel commented on #407
But wait that doesn‘t happen on every website. Others are working fine. Did the assistant work on github on iOS 10?

[2017-06-05 22:53] ameshkov commented on #407
Depends on the website's content security policy

[2017-06-05 22:58] danidoedel commented on #407
Ok, then it‘s not an issue. How did I never notice that? :D Bad luck Github was the first page I checked...
Sorry for the confusion. Then there is „just“ the first issue.

[2017-06-05 23:27] danidoedel commented on #407
Ok I was able to narrow the issue down a bit.

Regarding the Adguard filters, every filter works except the English, French and simplyfied domain name filter.

[2017-06-06 09:37] zebrum commented on #404
ticket id 1570161

Ads were showing in apps even though System Wide protection was on.

Noticed the DNS requests log wasn't logging entries even though it was enabled.

To resolve it, I need to manually toggle System Wide protection off and on for ads to stop showing, and for the requests log to populate.

Ads were showing at 2:50pm, then I manually turned protection off and on and successfully bl

[2017-06-06 10:35] vozersky opened #408 "Typo in Google DNS server description"
"prodived" instead of "provided"

<details>

![image](https://cloud.githubusercontent.com/assets/17472907/26825218/d4c6cd6a-4abc-11e7-80fb-863679cdf366.png)

</details>

[2017-06-06 19:27] maciboy commented on #407
I‘m experiencing the same issue with the „normal“ Adguard version
Filters can not be loaded into Safari.
For me it seems as if disabling only the english filter helps, leaving the rest untouched/active

[2017-06-07 14:58] zebrum commented on #403
reproduced

[2017-06-07 19:31] gingerbeardman commented on #407
Is it possible the limit of the number of rules has been changed?

[2017-06-08 15:51] ameshkov commented on #404
So, after all, it appears that in some circumstances DNS requests bypass Adguard's tunnel. We need to extend AG logging in order to find out what's going on. New beta will be pushed today.

[2017-06-08 15:52] ameshkov opened #409 "Consider writing tunnel logs all the time, not just when DNS requests logging is enabled"

[2017-06-08 15:54] ameshkov commented on #407
Just installed iOS beta, we'll soon learn what's wrong with this.

[2017-06-08 15:57] jo2dan23 commented on #404
@ameshkov it is weird this only occurs on mobile networks though? And i think it did start on the ipv6 version cant remember though.

[2017-06-08 16:43] gingerbeardman commented on #407
Seems to be happening with other content blocker on my device.

I reported the issue to Apple as bug 32623684

[2017-06-08 19:37] BrokenHope commented on #407
The release notes for ios 11 Beta 1 state the following.

'The amount of memory used to load Safari Content Blocker rules has temporarily
increased. This may cause your extension to exceed its memory limits. (32330531)'

I'm going to assume that's what is causing the problem and hopefully it will be resolved by Apple in a futre beta version.

[2017-06-09 03:49] planet0 commented on #404
I was the one who also reported this issue and submitted ticket id 1570161 as @zebrum posted.
@ameshkov, happy to send this when the issue reoccurs after recieving the new beta.
@jo2dan23, this was occuring on WiFi networks for me as well as mobile networks.

[2017-06-09 03:52] jo2dan23 commented on #404
@planet0 glad im not the only one here. Its odd this doesnt happen to me on wifi. Could it be that my isp supports ipv6 or does that not have anything to do with this? @ameshkov

[2017-06-09 03:54] jo2dan23 commented on #404
@planet0 what apps does it do this in? Which app is the most easily reproducable?

[2017-06-09 03:57] planet0 commented on #404
@jo2dan23 Hmm, both my mobile network and Wi-Fi use IPV6, does your Wi-Fi use IPV6?

I found it's easiest to notice with apps that show an obvious ad banner when launched (then use the app drawer to close completely and start the process again). The two I use are Speedtest by Ookla (banner shown after tapping 'Start Test' and waiting until it tests download speed) and Splasher by Adam Tootle (afte

[2017-06-09 04:01] jo2dan23 commented on #404
@planet0 well i get an ipv6 address shown on my router and in wifi settings on my iphone. Whisper is one app I use and meetme is the other. Only show ads on mobile though so i don't understand

[2017-06-09 04:08] jo2dan23 commented on #404
I just used a website to test ipv6. Looks like both cellular and wifi have it. So i really don't understand. Lol

[2017-06-09 04:09] planet0 commented on #404
@jo2dan23, might not be related to IPV6 then.

I'll also mention that this issue almost always occurs when I take my iPhone off Aeroplane Mode first thing in the morning (as I turn Aeroplane Mode on when I go to sleep the night before). The device will reconnect to my Wi-Fi and then display the VPN icon, and I then wait at least 60 seconds before opening apps. This is when I notice the issue. Once

[2017-06-09 04:14] jo2dan23 commented on #404
ive had it happen multiple times a couple days ago on data. It was a stable connection to towers so there was no disconnect and reconnect  of the vpn at all. So idk i hope this can be resolved soon.

[2017-06-09 11:24] zebrum commented on #340
hello @jitbit !
Is adding to whitelist working as expected now?

[2017-06-09 18:25] jo2dan23 commented on #404
@planet0 were you able to reproduce today on latest beta?

[2017-06-09 19:10] planet0 commented on #404
@jo2dan23, not exactly (see below).
@ameshkov, this might be another circumstance for bypassing.

Something different I had enabled this time (on by default on iOS devices) was Wi-Fi assist which would automatically switch to mobile data if the Wi-Fi wasn’t strong enough.

In this instance, once I took Aeroplane Mode off this morning, my iPhone was switching between Wi-Fi and Mobile Data every 5 s

[2017-06-09 19:22] jo2dan23 commented on #404
@planet0 that's probably why i dont see ads on wifi i turned that option off a long time ago. Makes sense now for that atleast.

[2017-06-09 19:25] planet0 commented on #404
@jo2dan23 I only had the option on for less than 12 hours and noted the results above, ads were bypassing for me when it was off (like my first report).

[2017-06-09 19:27] jo2dan23 commented on #404
@planet0 i think the reason why i dont see ads on wifi might be cuz i have mostly all the domains in my blacklist that are in the exceptions list. So one of those could be causing ads.

[2017-06-09 21:12] jo2dan23 commented on #404
@ameshkov there is a bug in latest beta my wifi and vpn keep disconnecting. And i dont have wifi assist on.

[2017-06-09 21:30] X8716e commented on #404
@ameshkov --- You likely already tried doing this, though this is what I did to get it to connect quickly & stay connected: Delete Adguard Pro app from your home screen. Reinstall via TestFlight. Setup per standard instructions. I hope this helps you.

[2017-06-09 23:18] jo2dan23 commented on #404
@X8716e i think that worked thanks. @ameshkov i just got the ads. Finally. Here is my log. I missed the time it occurred so just look between 6pm and 615pm https://1drv.ms/u/s!AvccVnEjavPPhxljifrCb1Dk36y5

[2017-06-09 23:57] jo2dan23 commented on #404
Just captured another log. 650pm - 654pm ads appear

https://1drv.ms/u/s!AvccVnEjavPPhxpw_5Lcfpjp2fAX

[2017-06-10 00:03] jo2dan23 commented on #404
@ameshkov ok so it appears blocking stops completely thats why ads appear. All the domains in my blocklist arent being blocked.

[2017-06-10 16:36] jo2dan23 commented on #404
@ameshkov looking at my tunnel logs now... there is nothing but error codes?  no domains being logged could it be problems with using the opendns server? i dont think enabling the logging in the latest beta even did anything

[2017-06-10 19:03] jo2dan23 commented on #404
Well now its doing in on wifi :( switched back to latest stable and doing it also in there. This is frustrating

[2017-06-10 19:06] jo2dan23 commented on #404
Here is the log I captured on latest stable version. Wonder if it helps. Ads appear between 2pm and 205pm

https://1drv.ms/u/s!AvccVnEjavPPhxvirVXClLp2tcoK

[2017-06-11 14:03] ameshkov commented on #407
Yeah, that's exactly how it looks like on our side. Large filters just cannot be registered, while it's able to compile smaller filters.

[2017-06-12 11:12] ameshkov commented on #404
Sorry for the late reply, guys.

@jo2dan23

Frankly, I now don't think IPv6 is related directly. It is more like that iOS is trying to be too smart and starts bypassing tunnel if some of the domain names were not resolved in time.

[2017-06-12 14:35] jo2dan23 commented on #404
@ameshkov my logs only show errors sorry i couldnt get a log that did anything to help. So basically the phone probably needs to be plugged into computer and be debugged? Or whats that program where it logs everything the phone is doing. Hope this is fixable.

[2017-06-12 14:39] ameshkov commented on #404
Yeah, iOS logs can be helpful indeed:
https://github.com/AdguardTeam/AdguardForiOS/issues/384#issuecomment-297385621

[2017-06-12 14:43] jo2dan23 commented on #404
@ameshkov heres the weird thing tho. I literally cannot get ads to appear on mobile network while at home. Which I'm guessing like you said is because if the domains arent resolved fast enough they bypass the vpn. Which my tower by home is fast. It only happens when im traveling and the cell towers arent good and data is slow.

[2017-06-13 09:28] planet0 commented on #404
Just an update — I have not been able to reproduce the issue since disabling IPV6 on my Wi-Fi network (Needed to do this in order to use Adguard DNS as there is no IPV6 support yet and I cannot bypass ISP assigned DNS with IPV6 enabled), and this issue has not reoccurred on mobile data either (I was previously incorrect about IPV6, mobile data only uses IPV4).

[2017-06-13 17:21] ameshkov commented on #405
@Mizzick is it intended for the $elemhide rules?

[2017-06-13 17:25] ameshkov commented on #354
Will be resolved in the next beta

[2017-06-14 08:16] dzamyshlyayeva opened #410 "MyDealz - redirect doesn't work with VPN enabled"
MyDealz app - when you click on "See the deal" it redirects you to the official website, but the page cannot be loaded
link to the app: https://itunes.apple.com/de/app/mydealz-gutscheine-schnäppchen-sale-angebote/id463557271?mt=8

<details>

![image](https://user-images.githubusercontent.com/23372054/27122188-a87e58e0-50f2-11e7-8d73-91d2eaa9371f.png)

![image uploaded from ios](https://user-images

[2017-06-14 09:57] #340 closed

[2017-06-14 12:29] Mizzick commented on #405
`$elemhide` rules will unblock all css-blocking rules.
Try to add some url-blocking rule, it should not be blocked.

[2017-06-14 12:32] vozersky commented on #410
test plz @zebrum

[2017-06-14 15:00] zebrum commented on #410
yes, it blocked by System-wide ad blocking.

That's why all cashback and coupons\discount services ask to disable adblock apps and extensions )

[2017-06-14 15:23] #410 closed

[2017-06-14 16:07] jo2dan23 commented on #404
I am on ios 11. And havent seen ads appear yet on mobile network. Though it might be because some frameworks are broken in the apps since they aren’t updated for ios 11 yet

[2017-06-14 16:08] jo2dan23 commented on #404
But i am on the stable version of adguard pro havent tried beta because I think the logging that was enabled overloads ios memory and makes vpn disconnect

[2017-06-14 16:10] jo2dan23 commented on #407
So is this a problem that needs to be fixed on adguard side or ios?

[2017-06-14 19:55] jo2dan23 commented on #407
I know ios11 is in beta but adguard was making it really really slow. I had to disable the vpn. Anyone else?

[2017-06-14 19:57] gingerbeardman commented on #407
the beta is super slow due to all the debug logging they have enabled. it's a beta :)

[2017-06-15 07:51] planet0 commented on #404
So far so good with build 1.2.2 (88)!

[2017-06-15 09:07] #408 closed

[2017-06-15 11:47] ameshkov commented on #407
The latest one? We're adding more and more logging to figure what's wrong with #404

Should be fixed on the iOS side.

[2017-06-15 12:06] ameshkov commented on #404
Fingers crossed!

[2017-06-15 19:41] jo2dan23 commented on #354
Still not fixed. Googleadservices is now unblocked again causing ads in my apps and blacklisting them doesnt override exceptions.

[2017-06-15 19:50] jo2dan23 commented on #354
Hopefully it can be fixed soon :/ @ameshkov

[2017-06-15 19:53] jo2dan23 commented on #404
@ameshkov. I think it might be fixed but ads are showing again in certain apps because googleadservices was added back to the exceptions list and i still cant override it using blacklist. So i cant be 100 percent sure if its fixed

[2017-06-16 08:25] ameshkov commented on #354
@IvanIin have you included that fix in the latest beta?

[2017-06-16 08:29] IvanIin commented on #354
@jo2dan23 @ameshkov This fix is not included in the last beta. I'll add it to the next version.

[2017-06-16 22:24] jo2dan23 commented on #409
I think this can be disabled in next beta. Seems it slows down the internet

[2017-06-16 23:57] jo2dan23 commented on #404
Good news. Im pretty sure this is resolved now. Been using my data for about 20 mins and no ads yet

[2017-06-17 10:58] ameshkov commented on #409
Frankly, that's odd, writing tunnel log shouldn't slow down anything (it's like a 1ms overhead max).

@jo2dan23 could you please be more specific about it? How does it look like?

[2017-06-17 11:03] ameshkov commented on #404
@IvanIin @Stillness-2

Let's have a recap.

The latest beta had two changes:
1. System DNS was added to routes just in case if iOS decides to ignore AG DNS
2. We've extended logging (which might've caused the slow down).

We should resolve the slowdown issue @jo2dan23 is talking about and we're good to go.

[2017-06-17 20:34] jo2dan23 opened #411 "Mobile network not using selected dns (problem started on build 1.2.2 (88)"
I used a dns leak test and it looks like all along open dns isnt even being used as my default dns for mobile network?

[2017-06-18 17:08] ameshkov commented on #411
And what's used instead? The ISP's DNS?

Could you please send a log for us to check? Reproduce the issue and send the log right after

[2017-06-18 17:10] jo2dan23 commented on #411
Yeah. I assume. On wifi when i do it it shows opendns. On mobile it shows my carrier. In the log it shows the server is opendns but not on dns leak site.

[2017-06-18 17:12] jo2dan23 commented on #411
What log do you need

[2017-06-18 17:17] ameshkov commented on #411
Tunnel log.

I wonder, could it be that your ISP intercepts DNS requests?

[2017-06-18 17:21] jo2dan23 commented on #411
https://1drv.ms/u/s!AvccVnEjavPPh08alBsrFRZu_WdB

So maybe i cant change what dns is used then :(

[2017-06-18 17:23] ameshkov commented on #411
It might be inspecting it, but it does not mean they ignore the OpenDNS response.

What does this page show?
https://welcome.opendns.com/oops/

[2017-06-18 17:24] jo2dan23 commented on #411
![img_0017](https://user-images.githubusercontent.com/15130139/27262656-0853085c-5421-11e7-8ffe-3f6888330986.PNG)

[2017-06-18 17:32] jo2dan23 commented on #411
I wonder if its even working at all on other carriers

[2017-06-18 18:04] jo2dan23 commented on #411
Oh. I think you meant https://welcome.opendns.com/

I just tried that one and same result

[2017-06-18 18:09] jo2dan23 commented on #411
I can confirm this is a adguard problem. I used express vpn and my dns servers are using theirs not my phone carriers servers.

[2017-06-18 18:10] jo2dan23 commented on #411
So that means that all along adguard dns switching didnt work for mobile networks?

[2017-06-18 20:10] jo2dan23 commented on #411
@planet0 Can you reproduce this on your mobile network? I also tried using adguard dns server and it still doesnt override my carriers dns.

Go here: https://hidester.com/dns-leak-test/

[2017-06-18 21:08] jo2dan23 commented on #338
I think we should add a toggle to the safari content blocking section for font blocking. Do we know for sure also that it works? I have no mac so i cant diagnose

[2017-06-18 21:23] jo2dan23 commented on #175
could we still add this to the filter lists in adguard?

[2017-06-19 07:31] ameshkov commented on #411
The situation is different in their case as your traffic (including DNS traffic) is being encrypted.

[2017-06-19 07:37] ameshkov commented on #175
@jo2dan23 my bad, I should've moved it to the proper repo LONG ago:
https://github.com/AdguardTeam/AdguardFilters/issues/5382

Will do soon.

[2017-06-19 08:58] ameshkov commented on #411
ISP does not intercept it, the issue appears to be pretty complicated.

[2017-06-19 09:46] ameshkov opened #412 "Support custom ports in the custom DNS settings"
Currently, it accepts IP addresses only when you set up a custom DNS.

I think we should also support `IP:port` syntax just in case.
It should be optional, though.

![img_0001](https://user-images.githubusercontent.com/5947035/27279617-dcd57a0c-54ed-11e7-8662-7deed9d16495.png)

[2017-06-19 09:47] ameshkov commented on #411
@jo2dan23 let's check if DNS hijacking is present just in case.

I suggest trying to trick your ISP by using non-standard DNS port. We'll be able to do it once #412 lands.

[2017-06-19 10:29] ameshkov commented on #411
Relevant discussion:
https://forums.developer.apple.com/thread/35027

We'll try to change the configuration of our VPN tunnel, make it a primary interface.
I am afraid that it may influence compatibility with other VPN apps -- we should re-test it.

[2017-06-19 12:07] jo2dan23 commented on #411
Ok sounds good just let me know what to change and ill do it

[2017-06-19 17:20] worldsdream opened #413 "Downloading appstore apps too slow with PRO enabled"
When PRO is enabled in adguard. download apps is very slow. I first thought it's my internet. Then I opened adguard. I disabled the PRO option. Then I canceled the download. I clicked again on download and it was super fast.

So there is an issue with the PRO and downloading apps. Please have a look and fix this issue.

[2017-06-19 17:21] worldsdream commented on #406
Yes please

[2017-06-19 18:44] Stillness-2 commented on #413
What version ios? What device? What version Adguard Pro? Does the issue repeat with other downloads?

[2017-06-19 18:48] jo2dan23 commented on #411
I didnt know you can use other vpn apps along with adguard. Ill download one of them to test it for you when next beta is released. Just let me know what I should be looking for.

[2017-06-19 19:05] jo2dan23 commented on #413
Try using opendns server its the fastest one

[2017-06-19 19:06] jo2dan23 commented on #409
This can be closed now i think, since it will be disabled in next beta

[2017-06-19 19:07] jo2dan23 commented on #404
Should we close this now?

[2017-06-19 19:07] #376 closed

[2017-06-19 19:08] #354 closed

[2017-06-19 19:08] Stillness-2 commented on #404
no

[2017-06-19 19:10] #205 closed

[2017-06-19 19:57] ameshkov commented on #411
Here you can find the list: #162

[2017-06-19 20:01] jo2dan23 commented on #411
Ok. Logging will be disabled in next beta i assume and blacklist problem will be fixed? When i update to next beta what do I change in the dns settings for the proctol

[2017-06-19 20:04] ameshkov commented on #411
Three key things to test:

1. This one with using custom DNS on mobile network.
2. The issue #404 should be re-tested as the changes are quite major.
3. Compatibility with third-party VPN apps.

[2017-06-19 20:11] jo2dan23 commented on #411
It seems like i cant use vyprvpn on ios 10.3.3 public beta 3. Even with adguard vpn turned off.. lol.

[2017-06-19 20:16] jo2dan23 commented on #411
Ok something must have changed in 10.3.3 i cant use like any vpn apps even by themselves

[2017-06-20 08:44] ameshkov commented on #406
@IvanIin isn't it done already?

[2017-06-20 08:45] ameshkov commented on #413
@worldsdream we do really as much information as possible.

[2017-06-20 08:46] IvanIin commented on #406
@ameshkov Already done and will be added to the next version of the application

[2017-06-20 08:48] ameshkov commented on #409
It actually won't. The current slowdown is caused not by writing the tunnel log file, but with passing all the information to the application process (as if you had "DNS requests logging" enabled all the time).

[2017-06-20 08:49] ameshkov commented on #404
We'd better wait for the next beta and make sure that the new approach resolves it.

[2017-06-20 11:56] Stillness-2 opened #414 "Incorrect warning message on main screen after filters conversion error"
![pasted_image_at_2017_06_20_12_47_pm](https://user-images.githubusercontent.com/12689/27331966-915a391a-55c8-11e7-8737-bdebacc22f57.png)

[2017-06-20 13:40] IvanIin commented on #404
https://developer.apple.com/documentation/networkextension/nevpnmanager

`If both a Personal VPN configuration and a Non-Personal VPN configuration are connected simultaneously, and both VPN tunnels are configured to act as the default route that network traffic takes to reach the Internet, then the Non-Personal VPN tunnel will actually be the default route to the Internet for as long as it is con

[2017-06-20 13:52] ameshkov commented on #404
My suggestion:

1. Introduce a new advanced setting called "Tunnel mode"
2. There will be three possible values: `Auto`, `Split-Tunnel`, `Full-Tunnel`

* `Split-Tunnel` -- if AdGuard works in this mode, it is compatible with "Personal VPN" apps. List of VPN apps compatibility: #162. The downside is that in the case of bad connectivity, iOS may bypass AdGuard.
* `Full-Tunnel` -- if AdGuard works in

[2017-06-20 14:08] Stillness-2 commented on #414
ADIOS-CR-14

[2017-06-20 14:08] #414 closed

[2017-06-20 16:31] worldsdream commented on #413
Ios 9.3.3
Latest beta build adguard pro
Iphone 6s

Yes it does repeat with other downloads.

[2017-06-20 16:32] worldsdream commented on #406
@ivanlin, are you also a ios dev for adguard?

[2017-06-20 16:33] jo2dan23 commented on #413
Do you mean 10.3.3?

[2017-06-20 16:34] worldsdream commented on #413
Nope. Ios 9.3.3 jailbroken.

[2017-06-20 17:03] jo2dan23 commented on #413
Oh. What dns server are you using?

[2017-06-20 23:55] jo2dan23 commented on #404
Bad news. Ads are back on mobile network

[2017-06-21 00:03] jo2dan23 commented on #404
https://1drv.ms/u/s!AvccVnEjavPPh08alBsrFRZu_WdB

[2017-06-21 06:43] IvanIin commented on #406
@worldsdream yes

[2017-06-21 15:51] ameshkov opened #415 "Update iOS translations"

[2017-06-21 16:06] jo2dan23 commented on #404
Does my log help? Hopefully:/ maybe its my carrier bypassing the vpn somehow?

[2017-06-21 16:08] ameshkov commented on #404
@jo2dan23 the new `Full-Tunnel` mode should resolve: https://github.com/AdguardTeam/AdguardForiOS/issues/404#issuecomment-309760194

[2017-06-21 16:09] jo2dan23 commented on #404
Ohh. So the reason its doing that is because its not fully staying enabled? I dont use another vpn alongside it tho.

[2017-06-21 16:11] ameshkov commented on #404
Yeah, the current implementation operates in the `Split-Tunnel` mode so it has all the drawbacks described.

[2017-06-21 16:14] jo2dan23 commented on #404
Awesome! What settings do i enter to make opendns work on mobile?

[2017-06-21 16:50] veronikasav opened #416 "tieba.baidu.com - Adguard toolbar is missing"
It is impossible to block any content on this website.

https://tieba.baidu.com/f?kz=4922758683&mo_device=1&ssid=0&from=1099b&uid=0&pu=usm@0,sz@1320_2001,ta@iphone_1_10.3_3_603&bd_page_type=1&baiduid=2088DDD58EC6C0819373B7D3A69D9431&tj=www_normal_7_0_10_title?pn=0&

<details><summary>Screenshot:</summary>

![screen shot 2017-06-21 at 7 46 36 pm](https://user-images.githubusercontent.com/27292111/2

[2017-06-21 17:19] jo2dan23 commented on #404
Eta on next beta? Sorry to bother

[2017-06-21 17:23] ameshkov commented on #404
@jo2dan23

Friday

It should work with default settings.

[2017-06-21 18:40] veronikasav opened #417 "zhihu.com - Unable to block the element"
https://www.zhihu.com/question/61235998/answer/185699818?utm_campaign=weeklydigest261&utm_source=weekly-digest&utm_medium=email.

<details><summary>Screenshot:</summary>

![image](https://user-images.githubusercontent.com/27292111/27400747-c6f22144-56c9-11e7-8968-26a5a54438ec.png)

</details>

Ticket ID: 530630

[2017-06-21 21:41] echodreamz commented on #407
Still no go on iOS 11 Beta 2 for those wondering :)

[2017-06-22 11:04] vozersky commented on #417
confirmed, @Stillness-2  @IvanIin  please take a look

[2017-06-22 11:25] vozersky commented on #417
@veronikasav This is how [Content Security Policy](https://en.wikipedia.org/wiki/Content_Security_Policy) works on this website, it is not possible to inject the blocking tool with iOS app

[2017-06-22 11:25] #417 closed

[2017-06-22 13:47] vozersky commented on #416
it's not completely missing, but it misbehaves, confirmed

![image](https://user-images.githubusercontent.com/17472907/27437259-645143de-576a-11e7-8003-5f1f8a7a964e.png)

@Stillness-2 @IvanIin  please take a look

[2017-06-22 16:52] planetf1 commented on #407
Just came here after trying beta 2. I had english, spyware,annoyances, unblocking useful, mobile ads, safari. easylist enabled with iOS 10.3.3b3. Any recommendations as to a good cut down set that sits under the iOS11 memory limit? I'll experiment anyway!"

[2017-06-22 16:56] BrokenHope commented on #407
I'm using Mobile Ads, Safari and EasyList, haven't really noticed anything getting through.

[2017-06-22 16:57] ameshkov commented on #407
EasyList fits??

[2017-06-22 16:58] BrokenHope commented on #407
Yeah I was surprised that I could use EasyList but not the english filter..

[2017-06-22 16:58] ameshkov commented on #407
I guess it means we're on the very edge.

Adguard's English filter is 10-15% bigger than the EasyList.

[2017-06-22 17:00] BrokenHope commented on #407
I don't suppose it's possible to easily cut it down temporally some how until Apple fix the bug? Perhaps make a new filter list just for iOS 11 beta. I'd prefer to be using the tailored English filter over the generic EasyList filter.

[2017-06-22 17:06] ameshkov commented on #407
That's possible, won't help everybody though. There are a lot of people who rely on language-specific filters, which aren't small.

JFYI, here are the iOS versions of these filters:

English filter: http://filters.adtidy.org/ios/filters/2_optimized.txt
EasyList: http://filters.adtidy.org/ios/filters/101_optimized.txt

[2017-06-22 17:19] Galel commented on #417
Some other ways for cleaning ads on this site?

[2017-06-22 17:23] vozersky commented on #417
@Galel sure, we can make filtering rules for it, if some ads are not blocked
please create an issue in [Adguard Filters](https://github.com/AdguardTeam/AdguardFilters/issues/new) repository and we will fix it

[2017-06-22 17:26] mspublic opened #418 "Adguard does not work properly on iOS 11"
When trying to enable filters such as spyware or annoyances an error pops up saying "Filters cannot be loaded into Safari. Therefore, your recent changes were not applied." The only filter currently enabled is English.

[2017-06-22 17:37] Galel commented on #417
Thanks for your timely replay, look forward to it

[2017-06-22 17:48] vozersky commented on #418
@mspublic here's ios11 discussion: https://github.com/AdguardTeam/AdguardForiOS/issues/407

[2017-06-22 17:48] #418 closed

[2017-06-22 17:54] gingerbeardman commented on #407
Thanks @brokenhope I'm using that combo for now

[2017-06-22 20:00] jo2dan23 commented on #404
I know I asked this already but will i be able to block googleadservices in next release? I cant test the ad problem on mobile network without blocking that domain the app i use to test appears ads when google ads is unblocked.

[2017-06-22 20:01] jo2dan23 commented on #404
This one: https://github.com/AdguardTeam/AdguardForiOS/issues/354

[2017-06-22 23:55] Galel commented on #417
Ads are anywhere on this site:

I don't have a filter list on this site for adguard cannot be launched.

[2017-06-23 07:28] planetf1 commented on #407
Assuming english, How does the optimized list above (english, easylist) compare to the set I mentioned (annoyances, useful ads, mobile ads, safari filter) very approximately?
Also if more appropriate, how do I import a user filter into Adguard on iOS?

[2017-06-23 09:30] fwzmhmd opened #419 "Adgaurd Pro won't block any ads using dns"
Also on safari with content blocker on it won't block any youtube ADs.

Phone: iPhone 5s
Version: 9.3.1

[2017-06-23 09:52] ameshkov commented on #407
All the other filters are based on the English + EasyList. The only exception is mobile ads, it can duplicate some of the existing rules but make them a bit more "strict". However, it does not replace the English filter anyway.

There's no explicit "import" procedure. You can simply copy/paste rules as a text, though.

[2017-06-23 10:13] dzamyshlyayeva commented on #417
@Galel we've filled the task in Adguard Filters repository
https://github.com/AdguardTeam/AdguardFilters/issues/5448

[2017-06-23 15:40] jo2dan23 commented on #419
Which apps specifically? And is it on wifi or mobile? What adguard version

[2017-06-23 15:43] fwzmhmd commented on #419
Apps like youtube, most games that have ads games. Using the latest adgaurd version.

 Thanks,
Fawaz Mohamed

[2017-06-23 15:55] #374 closed

[2017-06-23 15:58] #375 closed

[2017-06-23 16:00] #406 closed

[2017-06-23 16:03] #356 closed

[2017-06-23 16:20] vozersky commented on #419
Hi! As it stated in the [description](https://itunes.apple.com/us/app/AdGuard%20Pro%20-%20adblock%20and%20privacy%20protection/id1126386264):

If there are some other specific apps you've seen ads in, please report to [Adguard Filters](https://github.com/AdguardTeam/AdguardFilters/issues) repo and we will try to fix it.

[2017-06-23 16:20] #419 closed

[2017-06-23 22:18] worldsdream commented on #413
Adguard default

@meshkov is this a dns issue? I think something else.

[2017-06-23 22:20] worldsdream commented on #345
I can confirm. White page on ios. Disabling adguard, page loads.

English dutch annoyance mobile and safari filter.

[2017-06-23 22:22] worldsdream commented on #287
@ameshkov why is this still not fixed? I dont use this website. But i guess others are using it. Read more is not clickable.

@Alex-302 please look at this again. Thanks.

[2017-06-23 22:26] worldsdream commented on #260
I just checked and it does let it go in sleep mode.

I tested it with latest beta on ios 9.3.3

[2017-06-23 22:30] worldsdream commented on #106
I am closing this issue as this is fixed. I'm on latest beta and ios 9.3.3.
I will open a new ticket if I will ever face this issue again.

[2017-06-23 22:30] #106 closed

[2017-06-23 22:33] worldsdream commented on #108
This is going to be closed as we do have an input mode right now. When we dont want rules, we can remove them.

[2017-06-23 22:33] #108 closed

[2017-06-23 22:35] worldsdream commented on #110
@Stillness-2 i still love to see an adguard logo in top in the about section. Can this be added please?

[2017-06-23 22:35] worldsdream commented on #112
This has been added. So it's closed.

[2017-06-23 22:35] #112 closed

[2017-06-23 22:40] worldsdream commented on #194
@ameshkov. On ios, we will not have check buttons. Will // in front of a line work to disable that rule? Or is there something else to disable a rule. If yes, can this be added in the app. Because I can't find anything about it.

[2017-06-23 22:58] jo2dan23 commented on #413
Try opendns home

[2017-06-23 23:06] jo2dan23 opened #420 "Adguard vpn disconnects"
My vpn randomly disconnects sometimes even on wifi. Does it have to do with the advanced logging overloading the memory?  Im on latest adguard beta 1.2.2 (88)

[2017-06-23 23:11] jo2dan23 commented on #420
Just happened. What log would help? It happened between 6:08 and 6:09 pm and reconnected at 6:10 just for notes when i upload

[2017-06-24 15:08] jo2dan23 commented on #411
Am on build 1.2.2(87) custom dns works on mobile.....

[2017-06-24 15:08] jo2dan23 commented on #411
So whatever happened between 87 and 88 is what broke custom dns

[2017-06-24 16:29] jo2dan23 commented on #393
This can be closed. Its basically the same as my bypass tunnel issue

[2017-06-25 15:47] sergerosenthaler opened #421 "Unprofessional translation Adguard Pro German AppStore"
In the German iOS App Store the title of Adugard Pro is totally wrong translated (e.g. AdGuard instead of Adguard and so on). This doesn’t make a professional overall experience. Also the description is full off translation errors. I have updated the description on OneSky.

![img_1283](https://user-images.githubusercontent.com/25068100/27517515-1cad9d6e-59ce-11e7-9e97-a087ca9203d7.jpeg)

![img_166

[2017-06-25 18:21] Goddess-Bastet commented on #413
I've noticed the same, however I don't disable adguard but just cancel the download then click on the download icon again & it's fast.
IPad Pro 9.7. Ver 10.3.2.

[2017-06-26 08:28] Alex-302 commented on #287
fixed

[2017-06-26 08:28] #287 closed

[2017-06-26 08:53] Alex-302 commented on #345
Fixed

[2017-06-26 08:53] #345 closed

[2017-06-26 09:40] vozersky commented on #260
obsolete issue

[2017-06-26 09:40] #260 closed

[2017-06-26 10:34] ameshkov commented on #404
Here is an update on this issue.

It appears, that implementing an `Auto` mode as I suggested [here](https://github.com/AdguardTeam/AdguardForiOS/issues/404#issuecomment-309760194) is almost impossible due to how VPN tunnels work.

So, we will provide two options:

1. `Split-Tunnel` - default mode, compatible with third-party VPN services. A bit improved so that there was a lower probability of iO

[2017-06-26 10:39] vozersky commented on #420
If there are no connections to filter VPN icon can disappear, this is how "VPN on demand" works

[2017-06-26 10:58] vozersky opened #422 "Pro status bug - 1.2.2 (89)"
If you disable System-wide Ad blocking and set  DNS to system Default you will not be able to turn Pro mode on anymore

[2017-06-26 11:01] vozersky opened #423 ""Auto" tunnel settings bug - 1.2.2 (89)"
If you switch to "Auto", you will not be able to start another VPN service even if Adguard "PRO" is disabled.

[2017-06-26 12:16] planet0 commented on #404
Sounds like a great idea to resolve this issue, I'd set it to Full-Tunnel even though I don't use any other VPN.

[2017-06-26 12:50] jtb1234 commented on #404
I was directed here from the Adguard for IOS technical help forum.

My issue is the opposite. A couple days ago I started getting ads in apps while on wifi. Apps are slow loading content such as Letgo and offerup. Web pages in Safari are slow to load.

[2017-06-26 17:44] jo2dan23 commented on #420
Yeah but my wifi turns off also

[2017-06-26 19:48] jo2dan23 commented on #411
@ameshkov did we find out what changed between the two builds? I didnt get the option for build 89 yet

[2017-06-26 19:52] jo2dan23 commented on #420
Myswell close this. Its probably because the memory gets overloaded from advanced logging. If need be ill reopen

[2017-06-26 19:52] #420 closed

[2017-06-27 13:37] Danzee1234 commented on #413
stop

<a href="http://myurl" >m>Daniel Chhristo</a>

[2017-06-27 19:28] AtomicCoding commented on #407
(I'm having the same issue, but it only happens to me when I enable a large filter and then a smaller filter, the smaller one will give me an error)

[2017-06-27 21:13] jo2dan23 commented on #411
Custom dns still broke on latest beta

[2017-06-27 21:50] jo2dan23 commented on #411
@ameshkov can we revert whatever we did in build 88? Thats what broke it

[2017-06-27 22:11] jo2dan23 opened #424 "Adguard vpn disconnecting 1.2.2 (92)"
What logs will help?

[2017-06-28 05:12] sergerosenthaler opened #425 ""Tunnel Mode" in "Advanced settings" not translated to German 1.2.2 (92)"
Only as a reminder: The German translation is not up to date, OneSky has been updated.

![img_1669](https://user-images.githubusercontent.com/25068100/27621418-e9c8fdd0-5bd0-11e7-8821-5a5a6375bd60.PNG)

[2017-06-28 09:03] ameshkov opened #426 "Full-Tunnel mode leads to no internet on cellular data"
Got a report from beta tester.

[2017-06-28 09:04] ameshkov opened #427 "Update translations before releasing the new version"
This is just a reminder.

@IvanIin leave this issue open until we're ready to publish the final release.

[2017-06-28 09:04] ameshkov commented on #425
Thank you!

I've filed a reminder issue about updating all the translations:
https://github.com/AdguardTeam/AdguardForiOS/issues/427

[2017-06-28 09:04] #425 closed

[2017-06-28 09:16] vozersky commented on #426
can't rep on ios10, could have to test on 11
could this be an ipv6 issue?-

[2017-06-28 09:18] ameshkov commented on #426
Just guessing, but it might be caused by switching from an IPv4-only network (wi-fi in user's case) to an IPv6-enabled network.

[2017-06-28 09:23] ameshkov commented on #426
Follow-up: the issue happens randomly, so don't expect to reproduce it right away.

[2017-06-28 09:24] vozersky commented on #424
just the regular tunnel log
you can send it through the app (send bug report)
please reproduce the problem and specify the time when it happened, if possible

[2017-06-28 12:56] jo2dan23 commented on #424
It seems like its not disconnecting anymore.. it might be because i was blocking this certain apple domain. But custom dns on mobile network is still broke i didnt know if i should make a new issue for that or what

[2017-06-28 13:20] ameshkov commented on #426
@IvanIin logs here: 1582520

[2017-06-28 15:20] ameshkov commented on #110
@worldsdream sure, the issue is assigned to a milestone.

[2017-06-28 15:22] ameshkov commented on #194
@worldsdream

Eventually, we will. I'd like us to have the same functionality as Android version:
https://github.com/AdguardTeam/AdguardForAndroid/issues/1279

`!` will

[2017-06-28 15:40] ameshkov commented on #411
@jo2dan23 have you tried the build 92 (with `Full-Tunnel` mode)?

Meanwhile, @IvanIin will check what's the difference between 87 and 88.

[2017-06-28 15:40] jo2dan23 commented on #411
Yea. Using full mode atm. Still broke unfortunately.

[2017-06-28 15:46] ameshkov commented on #393
Sure, closed as dup of #404

[2017-06-28 15:46] #393 closed

[2017-06-28 15:48] jo2dan23 commented on #366
This can be closed

[2017-06-28 15:49] #366 closed

[2017-06-28 15:56] jo2dan23 commented on #424
Im reopening. I just got the disconnect on wifi. Uploading log now

[2017-06-28 15:58] jo2dan23 commented on #424
Disconnect happened between 10:53-10:56 am

https://1drv.ms/u/s!AvccVnEjavPPh2tvis6J2rdutOY3

[2017-06-28 16:13] ameshkov commented on #411
@jo2dan23 we need tunnel log again and exact time when it happened.

[2017-06-28 16:15] jo2dan23 commented on #411
What do you mean? Its just broken period. Or is this the wrong issue you commented on?

[2017-06-28 16:19] ameshkov commented on #411
It works completely okay on our side and full tunnel mode should've fixed it for you.

As it didn't, we need to examine log file and look for a reason there.

[2017-06-28 16:23] jo2dan23 commented on #411
If i go to welcome.opendns.com it says im not using it. But on build 87 it does say im using it. I dont get how it works for you guys. Heres the log. Between 11:20-11:22 am

https://1drv.ms/u/s!AvccVnEjavPPh2wjnHX1_Arl5FTb

[2017-06-28 16:36] ameshkov commented on #404
Finally available in the beta build 92.

As I understand, you may be suffering from the very same issue. Want to try the latest beta version and check if it's resolved there?

[2017-06-28 18:53] jo2dan23 commented on #424
I looked through the log and i myself dont see anything useful... I hope someone else can reproduce

[2017-06-28 18:55] jo2dan23 commented on #411
@ameshkov if you go to welcome.opendns.com it says you are using opendns on mobile network?

[2017-06-28 19:00] planet0 commented on #404
Really happy with this, and not seeing the VPN icon is a big bonus for me.
Not having any issues here @ameshkov 👍🏼

[2017-06-28 19:06] planet0 commented on #411
@jo2dan23 Try setting the DNS to Adguard DNS and then checking it on the [Adguard DNS page](https://adguard.com/en/adguard-dns/overview.html).

With OpenDNS and Adguard DNS, I’d also try an extended [DNS Leak Test](http://dnsleaktest.com) (different website than the one you posted earlier) on the iOS device and posting a screenshot of your results here.

[2017-06-28 19:08] planet0 commented on #411
@jo2dan23 Selecting OpenDNS on Adguard Pro with build 92 and having it on Full-Tunnel mode makes the Welcome OpenDNS page work fine on Mobile and Wi-Fi. So the Adguard Team need to figure out why it’s still not working for you.

[2017-06-28 19:09] jo2dan23 commented on #426
Im having a similar situation. Not exactly tho. Idk if i should make another issue for this. But i just got home and have wifi switch on if i go to settings it says im on wifi but in the wifi settings my IP address is the ip of my mobile isp? And in the status bar it says lte also.

[2017-06-28 19:14] jo2dan23 commented on #411
@planet0 i tried adguard dns and it still says its using my mobile isp 🙁

[2017-06-28 19:16] planet0 commented on #411
@jo2dan23 Try OpenDNS again and post a screenshot from the extended DNS Leak Test here to see the results.

[2017-06-28 19:18] jo2dan23 commented on #411
![img_0604](https://user-images.githubusercontent.com/15130139/27655902-a55539f2-5c0c-11e7-94a9-f10fbabb9f49.PNG)

[2017-06-28 19:26] planet0 commented on #411
@jo2dan23 Hmm. 😟 That is really bizarre.

I discovered this page for an iOS App that also changes DNS, they mention Verizon hijacking DNS and forcing it to go through their DNS no matter what the user has set: https://www.dnsoverride.com/dns-hijacking-by-some-mobile-isp/

Might be useful to see @ameshkov?

[2017-06-28 19:32] jo2dan23 commented on #411
Ok this is odd. I never saw this betore on the other dns leak test. Im back on build 87 and 2 of the servers are still using verizon.
![img_0605](https://user-images.githubusercontent.com/15130139/27656432-8d272e92-5c0e-11e7-9f6f-12e7c8e00de6.PNG)

[2017-06-28 19:37] jo2dan23 commented on #411
Wtf. Ok so on build 92 on split tunnel mode opendnsworks. But again still using 2 of my isp servers
![img_0606](https://user-images.githubusercontent.com/15130139/27656624-42dc538e-5c0f-11e7-91d4-d74deb10c050.PNG)

[2017-06-28 19:39] planet0 commented on #411
@jo2dan23 Would you be willing to reset your Network settings on your iPhone and then only launching Adguard Pro to see if that helps with this? You’d lose Wi-Fi and mobile network settings/credentials, however.

Settings > General > Reset > Reset Network Settings

[2017-06-28 19:44] jo2dan23 commented on #411
Ok i dont think this is fixable. I just did that and now it's only using verizon for my dns server on split and full tunnel

[2017-06-28 19:46] planet0 commented on #411
@jo2dan23 I’m out of ideas. Wish there was a way to know why. I’ll stay subscribed to see what happens, hopefully the Adguard team can perhaps find a way around the DNS hijacking or whatever the cause is.

[2017-06-28 19:56] jtb1234 commented on #404
Yes I would like to give the latest beta a try.

[2017-06-28 21:54] ameshkov commented on #404
@planet0

Btw, it seems that this is an iOS bug. Not sure should we report it or consider it an undocumented feature and live with it:)

[2017-06-28 22:57] ameshkov commented on #413
@worldsdream frankly, I've no idea yet.

What exact settings in AG do you have?
System-wide ad blocking?
Custom DNS?

As I recall, we handle iOS9 differently (specifically, IPv6 routes).

[2017-06-29 01:45] jo2dan23 commented on #404
Unfortunately it seems this bug is still not fixed. I think it may have got worse. Now ads appear on wifi :(

[2017-06-29 01:48] jo2dan23 commented on #404
I couldnt capture a log because it happened when logging was off..

[2017-06-29 05:58] jo2dan23 commented on #404
Well i havent see anymore ads. So idk. Should i close?

[2017-06-29 12:52] ameshkov commented on #404
Let's keep it open for some time, unless we're 100% sure.

[2017-06-29 13:08] jtb1234 commented on #404
Yes I would like to try out the beta.

[2017-06-29 13:17] vozersky commented on #404
@jtb1234  pls send me your apple id through pm on forum and I'll send you the testflight key https://forum.adguard.com/index.php?conversations/add&to=aegis

[2017-06-29 13:25] jtb1234 commented on #404
@vozersky

Info sent

[2017-06-29 13:29] vozersky commented on #404
@jtb1234 check your pm :)

[2017-06-29 15:09] #411 closed

[2017-06-29 16:04] ameshkov commented on #426
One more report about a similar issue:

[2017-06-29 16:06] jo2dan23 commented on #426
@ameshkov my situation is similar with the poor wifi signal part. I got ads on an app when my wifi signal was poor on full tunnel. So maybe its not fully fixed?

[2017-06-29 16:44] jtb1234 commented on #404
Installed the beta and everything seeems fine so far. Ads blocked system wide.

[2017-06-29 19:54] jo2dan23 commented on #424
Wifi just disconnected again. Between 2:50-2:53 pm. I hope im not the only one @ameshkov

[2017-06-29 19:55] jo2dan23 commented on #424
Here is the log. Doubt it will help tho. https://1drv.ms/u/s!AvccVnEjavPPh225xILKLuPnq1m7

[2017-06-30 04:24] jo2dan23 commented on #424
Ive had about 5 or more wifi and vpn disconnects today. Something is very wrong. I don't understand how i am the only one reporting on this issue

[2017-06-30 06:32] planet0 commented on #409
I just noticed the Filtering Log has stopped logging anything from a certain point since a few days ago… I think since 1.2.2 (92) was released on TestFlight. I mention it here as I have the Filtering Log disabled but Adguard was logging it anyway in the previous build (89).

[2017-07-01 13:47] ameshkov commented on #426
@IvanIin found one more problem in how full-tunnel mode operates, we'll publish one more update soon.

[2017-07-01 13:51] jo2dan23 commented on #426
@ameshkov will this fix my wifi disconnect issue?

[2017-07-01 14:17] ameshkov commented on #426
Can't say yet, didn't have time to examine the logs there

[2017-07-01 14:26] ameshkov commented on #409
Yeah, that was a bug actually. AG should write logs to the file, but it shouldn't have bothered the filtering log UI.

[2017-07-02 03:41] jo2dan23 commented on #424
How am i the only one having this? I tried split tunnel and still getting disconnects

[2017-07-03 03:00] jo2dan23 commented on #424
@ameshkov could it be that im on ios 10.3.3 beta? I remember we had this problem before you said it was the memory running low. It happens about every 30 minutes maybe

[2017-07-03 03:02] jo2dan23 commented on #424
I wouldnt release this in app store till problem is solved. Alot of users will be complaining. Here is the issue i posted before u told me it was ios killing it because of low memory. https://github.com/AdguardTeam/AdguardForiOS/issues/333

[2017-07-03 05:02] jo2dan23 commented on #424
Been on build 86 for 2 hours. No wifi disconnect. Definitely a adguard issue

[2017-07-03 10:38] ameshkov commented on #424
Sure, we won't until all the problems are resolved.

[2017-07-03 14:26] jo2dan23 commented on #424
None of my logs helped. I went through them all. So i just deleted them. But another thing id like to mention, on full tunnel or split an ad got through a couple times on a app called whisper that I use. Idk if its low memory or whats going on. It happened on wifi. And i was right next to my router

[2017-07-03 14:28] jo2dan23 commented on #423
This can be closed since the auto option wasnt added

[2017-07-03 14:30] jo2dan23 commented on #409
Is this maybe why wifi disconnects are happening? Or was advanced logging disabled

[2017-07-04 08:42] IvanIin commented on #415
https://github.com/AdguardTeam/AdguardForiOS/issues/427

[2017-07-04 08:42] #415 closed

[2017-07-04 15:03] #423 closed

[2017-07-04 15:04] #422 closed

[2017-07-04 15:11] jo2dan23 commented on #424
Im guessing someone was able to reproduce? 🙂 Hopefully?

[2017-07-04 15:19] jo2dan23 commented on #412
Can this be closed?

[2017-07-05 07:42] ThePixelDeveloper commented on #407
Just thought I'd leave a comment here as well.

I'd like to add Easy List, Easy Privacy and Fanboys Annoyances and it seems there's an internal limit. I can enable any one first, but anything after it gets the error.

[2017-07-05 12:19] IvanIin opened #429 "Adguard pro 1.2.1 crash fixes"

[2017-07-05 13:07] vozersky opened #430 "Improve state.txt file logging"
Our new settings are not reflected in there

[2017-07-05 15:00] altokarev opened #431 "[Feature request] Inverted whitelist"
User asked to implement to our iOS app the inverted whitelist that blocks nothing, еxcept that in the list. Just like in our extension.

![screen-shot-2017-07-05-at-20 34 22](https://user-images.githubusercontent.com/28726429/27877113-1bb20aa2-61c2-11e7-835d-c44e791135bd.png)
Got a feature request from the [Twitter](https://twitter.com/rjonesy/status/882287140394106880).

[2017-07-06 04:59] c0ke2 commented on #391
I like to app it is very good. But app is draining power when PRO is enable on  iOS 10.3.2

Please fix to this issue.

[2017-07-06 08:48] #409 closed

[2017-07-06 08:48] #430 closed

[2017-07-07 13:49] jtb1234 commented on #404
I sent a bug report thru the app and posting it here also.

After I upgraded the app, apps like wunderground, weatherbug will not load data in Full Tunnel mode.

If I switch to Split Tunnel, the apps load data but there are ads.

[2017-07-07 16:19] zebrum commented on #404
@jtb1234 can't reproduce with 1.2.2(95)

[2017-07-07 16:42] jtb1234 commented on #404
I just rebooted and tried again and get the same results. No app content or no web pages loading with full tunnel on wifi. The beta before the update was working fine.

[2017-07-07 17:02] vbagirov opened #432 "iPhone crashes when Adguard is in Full tunnel mode"
Full tunnel mode was working fine on iOS 11 in the 92 build (WiFi). In the 95 build iPhone crashes every time you tap on any app.

More details later.

[2017-07-07 17:03] jo2dan23 commented on #404
On latest with full tunnel mode. Wifi works for me. Go to your network settings and try a reset

[2017-07-07 17:13] jo2dan23 commented on #411
I think dns on mobile is finally fixed! All servers it using now is opendns. No verizon servers.

[2017-07-07 17:13] jo2dan23 commented on #424
I think this bug is finally fixed!

[2017-07-07 17:22] vozersky commented on #432
What does "iPhone crashes" mean?
Definitely need more details and str, as far as I can see, apps starts correctly

[2017-07-07 17:55] jo2dan23 opened #433 "VPN icon is not displayed in Full tunnel mode"
Is this bug hard to fix? I think it should be fixed if possible, because then people will know for sure if vpn is being used. I like it there also

[2017-07-07 17:56] jo2dan23 commented on #432
I cant reproduce. Try uninstalling app completely and reinstall. Make sure to back up your filters though to a notepad or something

[2017-07-07 17:57] vbagirov commented on #432
I'll come back with more details once the user replies.

[2017-07-07 17:58] jo2dan23 commented on #432
Oh you're not the op. My bad

[2017-07-07 19:41] jo2dan23 commented on #432
I just realized he is using ios 11. Probably why i cant reproduce.

[2017-07-07 20:44] NoX1De opened #434 "Implement List to Block Audio Ads"
Can a Adguard Pro list be added which blocks audio ads globally/system-wide?  Audio ads are arguably the MOST annoying...SoundCloud or Pandora audio ads would be great examples of this...a filter list that blocked these that is optional to enable would be PHENOMENAL!...I currently have Spyware, Social Media, Annoyances, Mobile Ads, and Safari filters all enabled with System-wide Ad blocking and us

[2017-07-07 20:50] jo2dan23 commented on #424
Just when I thought it was fixed... my wifi disconnected :(

[2017-07-07 23:30] parrot5 commented on #426
I previously reported the problem of no-internet-after-leaving-WiFi, and it seems to be solved with today’s update. Tried it a few times moving out of WiFi and it switched to LTE fine.

[2017-07-08 00:30] jtb1234 commented on #404
Tried resetting network settings and didn't help. It shuts down all data it seems cause nothing loads.

[2017-07-08 03:34] jo2dan23 commented on #424
@ameshkov I assume this is ios killing adguard? I wish someone else besides me could comment on this and reproduce

[2017-07-08 14:47] jo2dan23 commented on #426
This can be closed then

[2017-07-08 14:52] jo2dan23 commented on #398
Can this be closed?

[2017-07-08 16:29] #398 closed

[2017-07-09 04:57] seacatos commented on #312
+1

[2017-07-09 04:59] seacatos commented on #279
+1

[2017-07-09 18:40] jo2dan23 commented on #424
This morning wifi was turning off about every 15 minutes or less. So it has to be ios killing it

[2017-07-10 00:36] veronikasav opened #435 "[Feature request] How to hide VPN icon"
One of the customers is wondering if it is possible to add any option to the application which will be responsible for making VPN icon in the status bar invisible (like some other applications do: AdBlock, FutureMind) since it is quite annoying.

<details><summary>Screenshot:</summary>

![screen shot 2017-07-10 at 3 34 11 am](https://user-images.githubusercontent.com/27292111/27999041-af994cce-652

[2017-07-10 08:13] vbagirov commented on #432
More info from the user:

[2017-07-10 08:44] IvanIin opened #436 "Adguard pro 1.2.2 beta(95) does not work in ipv6 only networks"
customer 1408227

[2017-07-10 08:48] evgeniy-ADG commented on #435
No. Please see: https://github.com/AdguardTeam/AdguardForiOS/issues/166

[2017-07-10 11:00] vbagirov commented on #166
Is it still impossible? People claim that some other apps can do it.

[2017-07-10 12:17] jtb1234 commented on #404
I sent the logs. Like I said, when in full tunnel mode, I can't connect to anything needing data.

[2017-07-10 14:52] zebrum commented on #434
@NoX1De hello!
Unfortunately not all ads can be blocked by Adguard DNS in system-wide ad blocking.
And default filters in Safari content blocker block sound ads in most cases. So there is no need in another one.
About any issue with missed ads you can report directly to our support team or post it in the other repo: https://github.com/AdguardTeam/AdguardFilters/issues

[2017-07-10 15:54] #434 closed

[2017-07-10 16:20] ameshkov commented on #424
That's likely to be iOS indeed, let's wait for @IvanIin to comment on this.

Just in case, it'd be better if you attach the log with the latest build, we now print more information there, it might be helpful. Along with the log we need to know when exactly did it happen last time.

[2017-07-10 16:24] ameshkov commented on #412
@jo2dan23 why, it's not yet done

[2017-07-10 16:29] ameshkov commented on #407
According to https://github.com/AdguardTeam/AdguardForiOS/issues/407#issuecomment-307205651 that indeed happens because of an internal memory limit, but that's not intended and should be fixed in the following updates.

[2017-07-10 16:37] ameshkov commented on #431
This is actually possible (at least we were able to do this in the Safari extension).

Let's wait for people votes, does anybody need it?

[2017-07-10 16:47] vozersky commented on #391
@X8716e what about the latest beta build, does it bring any change? If you don't have a beta access yet but want to try it, let me know

[2017-07-10 16:49] ameshkov commented on #409
Very-very unlikely

[2017-07-10 16:50] vozersky commented on #391
@X8716e @c0ke2  could you please send us your log files and let me know your customer IDs afterwards? ("send bug report" on the app's main screen)

[2017-07-10 17:06] ameshkov commented on #411
@jo2dan23 thank you for checking it!

[2017-07-10 17:29] BrokenHope commented on #407
Looks to be resolved in dev beta 3 despite the release notes still listing it as a known issue.

[2017-07-10 17:50] ameshkov commented on #407
@BrokenHope thanks for letting us know!
@vozersky could you please check it?

[2017-07-10 17:51] ameshkov commented on #433
@jo2dan23 funny thing is that people are requesting an option to hide VPN icon:
https://github.com/AdguardTeam/AdguardForiOS/issues/435

[2017-07-10 18:26] danidoedel commented on #407
Yep it seems you are able to activate the filters, but filtering doesn‘t really work:

![img_6278](https://user-images.githubusercontent.com/10995998/28033280-fdb06b3a-65ad-11e7-961b-b1754d10805a.PNG)

[2017-07-10 18:52] maciboy commented on #407
@danidoedel Release notes tell that this is a known issue and that one should de- & reactivate the blocker in Settings/Safari

[2017-07-10 18:57] danidoedel commented on #407
@maciboy Yes I know that as I read release notes. Doesn‘t help though........

[2017-07-10 18:58] BrokenHope commented on #407
Try doing a filter update in adguard that resolved the issue of it not blocking ads on my iPhone.

[2017-07-10 19:03] danidoedel commented on #407
Of course I did that... :D

[2017-07-11 05:35] c0ke2 commented on #391
Hello,

Many times I tried send log files. May be 4 or 5 times but unfortunately support team always said me no attachment at mail. But I see files whiling send log mail...

Btw I don't how to installing beta version of Adguard Pro on iPhone?

iPhone'umdan gönderildi

Vladimir Ozersky <notifications@github.com> şunları yazdı (10 Tem 2017 19:48):

[2017-07-11 07:53] ThePixelDeveloper commented on #407
Seems to be fixed the new iOS beta. Can load multiple new lists.

[2017-07-11 08:25] #426 closed

[2017-07-11 08:32] ameshkov commented on #432
@IvanIin do you see anything special in his network settings? Unknown network interfaces or anything like that?

[2017-07-11 08:35] ameshkov commented on #436
@altokarev please inform the user that there's not much we can do due to his ISP limitations.

Here's what's going on:

1. His cellular network is IPv6-only.
2. AdGuard does not provide IPv6 DNS servers, so when he tries to use our regular IPv4 DNS, all the requests fail.

The only option at the moment is to stick to the system-wide ad blocking and not change DNS settings:(.

[2017-07-11 08:36] ameshkov commented on #435
@evgeniy-ADG @veronikasav in fact in the new version there is a new mode -- "Full-Tunnel", and VPN icon is hidden in that mode.

The thing is that this icon hiding is not a feature, but an iOS bug, and I cannot guarantee it will be that way always.

[2017-07-11 08:44] ameshkov commented on #404
@jtb1234 could you please check how it works when DNS is set to "System Default"? According to the log file, it seems that there's no access to AG DNS.

[2017-07-11 09:28] Bohdan-SUP commented on #431
I'd like to see this if my vote counts :)

[2017-07-11 10:10] altokarev commented on #436
Done.

[2017-07-11 11:14] vozersky commented on #407
@zebrum please test with iOS 11 b3

[2017-07-11 12:09] jtb1234 commented on #404
I switched to system default and everything seems to work as it should.

[2017-07-11 12:19] ameshkov commented on #404
@jtb1234 What's your ISP? it seems that for some reason it does not allow using third-party DNS servers.

[2017-07-11 12:20] ameshkov commented on #404
The problem revealed itself in the Full-tunnel mode as in split-tunnel iOS automatically switches to the ISP server in that case.

[2017-07-11 12:21] jtb1234 commented on #404
Brandenburg Telephone Company. It's a small local company.

[2017-07-11 12:23] ameshkov commented on #404
It's just @IvanIin fixed some of the issues in Full-Tunnel mode due to which ISP's DNS server might've been used in the previous builds. Now it operates as it should.

[2017-07-11 12:25] jtb1234 commented on #404
So what do you recommend now?

[2017-07-11 12:27] ameshkov commented on #404
@jtb1234 at the moment - don't use AG DNS. Regardless of what mode you use it cannot be accessed. Just stick to the system-wide ad blocking.

[2017-07-11 12:27] ameshkov commented on #404
@jtb1234 you may also report this situation to Brandenburg Telephone Company, check if this behavior is intended.

[2017-07-11 12:30] zebrum commented on #407
confirmed, it is possible now to load english or other filters.

[2017-07-11 12:45] zebrum commented on #391
@c0ke2 support team meant that your letter was empty and they did not really know what your problem was.
Please post here user ID - you will find it in autoreply letter from support team.

If you are ready to try Adguard beta, send me your apple ID via private messages on  [Adguard forum](https://forum.adguard.com/index.php?conversations/add&to=zebrum)
or 'send bug report' in Adguard  app and I'll

[2017-07-11 12:47] jtb1234 commented on #404
Just got off the phone with BBTEL and they said they shouldn't be blocking anything on their end.

[2017-07-11 14:31] ameshkov commented on #432
@vbagirov please ask him to update iOS beta and check if the problem persists

[2017-07-11 14:33] ameshkov commented on #436
Let's at least detect that situation and warn the user that remote DNS won't work as he is in the IPv6-only network.

[2017-07-11 14:36] gingerbeardman commented on #407
Works for me

[2017-07-11 14:45] ameshkov opened #437 "Detect if Content Blocker is enabled in Safari settings"
Check how it's done in FF focus:
https://github.com/mozilla-mobile/focus-ios

Don't forget about Safari Extension, it also needs to know whether content blocker is enabled or not.

[2017-07-11 17:40] jo2dan23 commented on #424
What log do you need? I just had wifi disconnect again. Between 12:38-12:40 pm for note

[2017-07-11 17:45] ameshkov commented on #424
@jo2dan23 tunnel log at least. If you can extract iOS system log, that'd be ideal

[2017-07-11 17:55] mikeoleary7528 commented on #432
Hi Guys!

I was the one that reported this and has the problem. I am on ios 11 beta 3 and I think I found the issue with full tunnel mode. On LTE and wifi ipv6 I have no issues but at my jobs wifi which is ipv4 it causes my phone to crash and resets when I click on any app.  If you need any more info let me know!

[2017-07-11 18:04] jo2dan23 commented on #424
Can i still get the system log even tho i wasn't plugged into my pc at thetime? Or should i plug my phone into my pc and wait til it disconnects again from wifi? I need the link again where it shows how to grab it

[2017-07-11 22:31] jo2dan23 commented on #424
here is the system log. i hope it helps. because it was plugged in while it crashed and the time it crashed isnt even in the log. :(

https://1drv.ms/t/s!AvccVnEjavPPh3cXZ5rzFECZkEyN

[2017-07-11 22:33] jo2dan23 commented on #424
i see alot of these in the log: iPhone ProTunnel(NetworkExtension)[751] <Error>: NEVirtualInterface Failure in NEVirtualInterfaceWriteMultipleIPPackets at line

[2017-07-12 07:50] ameshkov commented on #424
@jo2dan23 and tunnel log? We could compare with the system and find out what we were trying to do at that moment

[2017-07-12 11:04] vozersky commented on #432
@zebrum test please

[2017-07-12 12:16] #429 closed

[2017-07-12 13:08] IvanIin commented on #380
There is no legal way to open any settings except for the settings of our application (https://forums.developer.apple.com/thread/65007). There are undocumented api that allow to do this(https://stackoverflow.com/questions/43064198/open-settings-programmatically-ios-10), but using them will probably cause a app store reject.

[2017-07-12 13:20] #380 closed

[2017-07-12 14:44] zebrum commented on #432
can not reproduce it.

[2017-07-12 16:35] jo2dan23 commented on #424
Im suprised nobody else is getting this. Must be ios 10.3.3 beta. There really isn't anything specific that causes it to crash. Its literally every 30-35 mins. Every time. My guess is the log is getting overloaded by something.

[2017-07-12 16:37] jo2dan23 commented on #424
Then again. Build 86 didn't crash... so maybe it is adguard? Its very annoying.

[2017-07-12 18:49] jo2dan23 commented on #424
@ameshkov @vozersky @IvanIin
ok. got the logs this time! i edited out all the unimportant info. so it starts where adguard disconnected and then shows when it reconnects. all the stuff before and after that wasnt useful.

SYSTEM LOG: https://nopaste.me/view/raw/3c6a2c50
TUNNEL LOG: https://nopaste.me/view/raw/9b3fdb6f

[2017-07-12 20:31] tosbsas opened #438 "Full Tunnel Mode kills Mailapp Notification"
iPhone 7, 10.3.3 beta 6
Full Tunnel messes with Mailapp Notifications. Mail get thru but no notification. Only Happens with Mailapp. Spark and Airmail Notifiactions get thru.
Mailapp is set on outlook Accounts.

[2017-07-12 20:31] tosbsas commented on #438
Split tunnel works fine

[2017-07-12 20:32] tosbsas commented on #438
But I hate the VPN sign

[2017-07-12 21:04] worldsdream commented on #413
I did also try:

System wide adblocking: on
Dns settings: system default

I searched for an app, clicked on download. It was verrryyyy slow. I clicked on stop. I clicked again, it was fast. Just like @goddess-bastet said in previous comment.

[2017-07-12 22:35] jo2dan23 commented on #424
Ok so i have been on split tunnel for about 35 minutes. No disconnects. So only full tunnel disconnects now. Maybe thats why Nobody else has found this issue.

[2017-07-12 22:37] jo2dan23 commented on #438
Ah. Finally found someone who uses full tunnel. Are you having wifi disconnects every 30 minutes?

[2017-07-12 22:41] jo2dan23 commented on #424
Nvm. Ugh. I just got the disconnect. Im going to have to switch back to 86 i guess :(

[2017-07-12 22:55] tosbsas commented on #438
No - just no Mail App notification

[2017-07-13 08:37] ameshkov commented on #404
Just in case, is it your broadband ISP or cellular? The problem is when you're on wi-fi.

[2017-07-13 08:40] ameshkov commented on #407
Thanks to everybody! I guess it can be closed now.

[2017-07-13 08:40] #407 closed

[2017-07-13 10:02] altokarev commented on #312
One more +1 from Facebook:

[2017-07-13 10:11] ameshkov commented on #438
Guys, assigned it to 1.2.3, we'd better release 1.2.2 earlier and resolve this issue after the release.

[2017-07-13 10:14] ameshkov commented on #413
So it happens randomly. I guess this is indeed caused by blocking something, but it will be quite hard to find out what exactly.

Assigned to v1.2.3. I hope we'll add an option to enable/disable AG Pro blocking on a per-app basis in that version.

[2017-07-13 11:48] jtb1234 commented on #404
It's a DSL connection.

[2017-07-13 12:16] ameshkov opened #439 "Adguard DNS server is unreachable"
Reported by @jtb1234:
https://github.com/AdguardTeam/AdguardForiOS/issues/404#issuecomment-313685670

According to the log, packets to AG DNS are dropped.

@IvanIin the question is how can we troubleshoot it? Is there any simple way to check connectivity from an iOS device?

[2017-07-13 12:31] ameshkov commented on #404
@jtb1234 let's move this discussion to a new issue:
https://github.com/AdguardTeam/AdguardForiOS/issues/439

[2017-07-13 12:31] #404 closed

[2017-07-13 12:41] IvanIin commented on #439
You can install the NSLookup application. Set DNS server 176.103.130.130 and try to get an address for google.com

[2017-07-13 19:44] jo2dan23 commented on #424
Any news on this? Hope it can be fixed in next beta.

[2017-07-14 13:49] zebrum opened #440 "System-wide stops filtration in split-tunnel mode"
Trying to imitate poor connection.
Settings:
- Adguard 1.2.2(96)
- Split-Tunnel
- another VPN running
- System-wide Ad blocking enabled, DNS system default
### Steps to reproduce

1. turn on and off flight mode several times
2. after that change internet connection type (e.g if wi-fi was turned on, turn it off so system can reconnect to mobile network)
3. run chrome browser and load any page

###

[2017-07-14 14:12] jo2dan23 commented on #440
If your connection is poor, the system bypasses adguard vpn and allows ads through. Try using full tunnel once see if that helps

[2017-07-14 16:01] IvanIin commented on #424
I reproduced the bug with the missing wifi on the ipad mini with iOS 11.
How to reproduce:
1) in the VPN Settings disable ondemand
2) turn on VPN
3) turn off and turn on the wifi
VPN itself turns off
4) turn on VPN from the system settings

As a result, the wifi is disabled

The problem was solved experimentally. I removed ip address 0.0.0.0 from the exсluded routes. As a result, a vpn icon appear

[2017-07-14 16:04] jo2dan23 commented on #424
Im guessing you meant to comment on a different issue? Do you mean the wifi disconnecting every 30 minutes?

[2017-07-14 18:03] #433 closed

[2017-07-14 18:06] jo2dan23 commented on #424
On latest beta. It took 18 minutes to be exact this time for vpn to disconnect. So now it disconnects even faster than before.

[2017-07-14 18:44] jo2dan23 commented on #424
I waited 35 minutes and vpn didn't disconnect in split mode. What was fixed in split mode that wasn't fixed in full mode?

[2017-07-15 02:08] jo2dan23 commented on #424
Split tunnel just disconnected. This is very frustrating.

[2017-07-15 08:46] worldsdream opened #441 "Opening the app does not check for updates automatically"
Is this something new?

When we open the app, it did check for filter updates automatically. I saw it spinning. Now i have to scroll and click on check for updates.

[2017-07-16 15:00] veronikasav opened #442 "[Feature request] - A synchronizing feature in Adguard"
### Expected behavior

One of the customers uses the app on his iPad and iPhone and the Safari browser extension on his
Mac. He likes to have all three installs configured the same, but now he
has to manually add all the sites to the whitelist three times.

Will it be possible to synchronize all devices in future?

### Customer ID
1593806

[2017-07-16 19:29] worldsdream opened #443 "Feature: show warning that you need to enable in safari"
Hi,

A friend of mine installed adguard and told me why he is still seeing ads. I told him did you enable filters correctly? He said: yes. I told him. Reinstall again. Reboot phone. But on the end, he did not enable it in phone settings>safari>content blocker>adguard enabled.

Now what I am saying is: is it possible that if you open adguard and you have not enabled the adguard adblocker in safari

[2017-07-16 23:24] jo2dan23 commented on #424
Apparently im the only one having this problem so i myswell just close this

[2017-07-17 01:27] ValidatePro opened #444 "Why this filter here? That filter is incompatible with Adguard"
### Steps to reproduce

1.
2.
3.
4.

### Expected behavior

### Actual behaviour

<details><summary>Screenshot:</summary>

</details>

### Customer ID

### Your environment

* Device model and storage size: (e.g. iPhone 6s 64gb)
* Operating system and version: (e.g. 10.3.1)
* Browser (e.g. Safari)
* Wi-fi or mobile internet connection

[2017-07-17 01:29] ValidatePro commented on #444
I cant changr anything so, https://i.hizliresim.com/7NaMNv.png that filter is incompatible with Adguard, so why this filter in Adguard? That strange.

[2017-07-17 08:11] ameshkov opened #445 "Re-think PRO features"
We may need to react on this:
https://9to5mac.com/2017/07/15/apple-reportedly-shifts-app-store-policy-to-stop-adblockers-outside-of-safari/

Here's what I suggest:

1. Rename the "System-wide ad blocking" into "Firewall"; (UPD: let's merge blacklist/whitelist/log into the DNS settings, that'd be easier).
2. By default, it should not use any filter except the manually entered "blacklist" and "white

[2017-07-17 08:43] #436 closed

[2017-07-17 09:07] ameshkov commented on #444
Removing it could harm users who've enabled it, that's why we keep it in the list (but the filter itself is empty).

[2017-07-17 09:07] #444 closed

[2017-07-17 09:07] ameshkov commented on #444
Eventually, we'll remove it from the list of known filters, but we should be sure that all the apps are ready for it.

[2017-07-17 09:08] IvanIin opened #446 "Adguard pro 1.2.2 beta(97) crash fixes"
Need to fix crashes received from itunesconnect

[2017-07-17 09:58] ameshkov commented on #424
@jo2dan23 let's keep it open, we may find a solution eventually

[2017-07-17 10:09] IvanIin commented on #424
@jo2dan23 could you try to turn off wifi-assist in phone settings->Mobile Data and check this issue?

[2017-07-17 10:13] jo2dan23 commented on #424
Wifi assist was turned off when i setup ios 10

[2017-07-17 10:43] ameshkov commented on #443
Yeah, we want to do it.

The problem is that detection is asynchronous and may take some time. So we might need to request notifications permission in order to show such a warning.

[2017-07-17 10:44] ameshkov commented on #442
Yes, we're working on this already. Closed as duplciate

[2017-07-17 10:44] #442 closed

[2017-07-17 10:59] ameshkov commented on #441
It actually does check for updates silently (in case if filters are expired)

[2017-07-17 10:59] #441 closed

[2017-07-17 11:01] worldsdream commented on #441
I opened the app right now. Cold startup. It's not updating.

I clicked on check for filter updates. Some filters got updated.

Didn't it check automatically when we loaded the app up?

[2017-07-17 11:06] ameshkov commented on #441
Filters are considered expired if they were not updated for 24 hours (or 48, I don't remember exactly).

[2017-07-17 12:41] jtb1234 commented on #439
I'm on the latest beta and everything seems ok other than switching between wifi and cell data takes a very long time and the LTE icon doesn't show up when switching from wifi to LTE.

[2017-07-17 14:31] jo2dan23 opened #447 "Wifi doesn't automatically switch to data 1.2.2 (97) full tunnel"
If i walk down the block wifth wifi on and dont switch it off it doesn't automatically switch to data when it is no longer connected to my wifi. Even when turning airplane mode on and off or turning wifi off wont fix it. I have to open adgUard app then turn off vpn from there otherwise it gets stuck on grey wifi signal and i cant use data

[2017-07-17 14:45] #446 closed

[2017-07-17 21:15] c0ke2 commented on #391
Hi,

  **User ID**: 1579837

And I sent you a private message.

iPhone'umdan gönderildi

Marie <notifications@github.com> şunları yazdı (11 Tem 2017 15:45):

[2017-07-17 21:32] planet0 opened #448 "Adguard Pro 1.2.2 (97) on Full-Tunnel refused to connect to Wi-Fi"
This was a little strange as it happened out of the blue and I am not sure what caused this to occur, so I am unable to provide the steps to recreate this issue. All I know is that this is a new issue since 1.2.2 (97) and is with using Full-Tunnel.

### Expected behaviour
Adguard Pro can connect to Wi-Fi with Pro status Enabled with System-wide Ad Blocking Enabled and DNS Settings set to Adguard D

[2017-07-17 21:37] planet0 commented on #445
Wish Adguard all the best with this, as when I was reading this I immediately thought about Adguard Pro. I hope there will be a way around it so we can at least use Adguard DNS if filters are not accepted.

[2017-07-17 21:41] planet0 commented on #435
That was quick. The VPN icon is now always visible again for me on Full-Tunnel since the most recent TestFlight build. Oh well :)

[2017-07-18 07:56] ameshkov commented on #445
And here we go:
![itunes connect 2017-07-18 10-55-09](https://user-images.githubusercontent.com/5947035/28306357-ac580b58-6ba7-11e7-9356-0d35e17e9793.png)

[2017-07-18 07:57] ameshkov commented on #445
@vbagirov here is a PSD with the app screenshots, it should also be updated:
https://www.dropbox.com/s/r386w5fg4feiv0e/app_store_screens.psd?dl=0

[2017-07-18 08:02] planet0 commented on #445
Oh no... 😞
Good luck guys.

[2017-07-18 08:44] ameshkov commented on #445
@IvanIin @vbagirov here is a mockup:
https://app.moqups.com/ameshkov/rbJNBa7sH3/view

Please polish it, but I guess you've got the idea

[2017-07-18 10:41] ameshkov commented on #445
Guys, let's also remove AG DNS servers from the list of pre-defined.

People will be able to add them manually anyway.