[2015-10-12 08:34] ameshkov opened #1 "Cannot add link to the whitelist"
**Steps to reproduce**
1. Open any website in Safari
2. Copy URL
3. Go to Adguard's Whitelist
4. Tap "+" icon
5. Try to paste the URL

**Expected result:**
URL is pasted

**Result:**
None

We should transform URL to domain name

[2015-10-12 08:35] ameshkov opened #2 "Create a Safari Action Extension to whitelist (or remove from whitelist) the website"

[2015-10-12 08:38] ameshkov opened #3 "Create "Adguard for iOS" section on "Acknowledgments" page"
**Third-party components:**
StaticDataTableViewController - https://github.com/peterpaulis/StaticDataTableViewController
GZIP - https://github.com/nicklockwood/GZIP

Ask @Stillness-2 for more info.

[2015-10-12 08:39] ameshkov opened #4 "Extend Adguard's privacy policy with information about "Adguard for iOS""

[2015-10-12 08:40] ameshkov opened #5 "Extend an article about creating own filter rules with information about Safari restrictions"
http://adguard.com/en/filterrules.html

Don't forget about AG for Android restrictions.
Like no support of `[parent-elements]` modifier and such.

Add information about `wildcard` modifier also.

[2015-10-12 08:40] Stillness-2 commented on #3
Я использовал компонент этот
Вся инфа по ссылке вроде

[2015-10-12 08:42] ameshkov opened #6 "Fill readme with information on how to build the project"

[2015-10-12 18:39] ameshkov opened #7 "Error loading filters version info: The request timed out."
Occasionally see this line in the log.

Really often in this log:
QYQ-791-81046

[2015-10-12 18:46] ameshkov opened #8 "Add german translation"

[2015-10-12 19:07] ameshkov opened #9 "Make our app iPad-friendly - implement two-columns layout"

[2015-10-12 19:08] ameshkov opened #10 "The last screen of the quick tour should have a "Got it" button"
- UI: It would be nice to have a "Got it!"-Button or anything like that on the last page of the quick tour. Somehow it feels strange to "go back" to begin the configuration after the tour, it would be more natural to proceed.

[2015-10-12 19:09] ameshkov opened #11 "Redesign filters list - it is not obvious how to get to filter details now"
Report from a beta tester:

[2015-10-12 19:13] ameshkov opened #12 "Add Polish translation"

[2015-10-12 19:24] ameshkov opened #13 "Whitelist and user filter rules are applied with a huge delay"
Deleting whitelist rule does not trigger conversion.

[2015-10-13 11:37] ameshkov opened #14 "A rule from German filter is converted with error"
The rule itself:

[code]

For some reason this rule is converted with ```|``` mark which is not supported by Safari regular expressions subset.

Here is the conversion result:
[code]

[2015-10-13 12:11] dartrax commented on #11
I think the problem is not the image in the quick tour.
Rather it is the fact that there is no visual hint that you can tap on a filter row right there in the filters section. So, if you forget what the quick tour told you (which is not unusual for a settings tool that is not opened that often) than you might never discover that feature - or only when mistakenly tapping on a filter.
So a better im

[2015-10-13 12:37] #14 closed

[2015-10-13 14:55] ameshkov opened #15 "Add Acknowledgments link to "About" section"

[2015-10-13 14:56] ameshkov commented on #11
@dartrax you are right, we should somehow show user that filter is selectable.

But I can't yet remember any standard iOS way to do this.
Have you ever seen something like this in other iOS apps?

[2015-10-13 15:30] dartrax commented on #11
I can't remember a standard way, too. For me, a natural way would be a chevron > behind the toggle, like that:
[ Filtername (I/O) > ]
But I've never seen that. And I think if it can be done easily, one would certainly already have seen it ;-)
I only can remember the complicated way Apple took with notification center settings in earlier Version of iOS: They splitted the list of possible notificati

[2015-10-13 16:58] #13 closed

[2015-10-13 16:59] #8 closed

[2015-10-13 16:59] #12 closed

[2015-10-13 17:54] ameshkov opened #16 "Twitter message is too long"
Replace it with something short like "Adguard - Adblock for iOS:"

[2015-10-13 18:23] ameshkov commented on #11
Simple solution is to replace on-off switch with it's current status and a chevron.
Something like:
English filter    *On*   >

Switching filter status takes time so additional tap to get to the filter details might be not that bad.

[2015-10-13 18:55] #16 closed

[2015-10-13 19:16] #15 closed

[2015-10-14 08:45] ameshkov opened #17 "Add version parameter to HTTP request downloading filter list"

[2015-10-16 06:04] dartrax commented on #11
That's true. May be that is the best Way to do it.
There is also the possibility to impement a swipe-to-activate/deactivate in the filters list.

[2015-10-16 07:53] ameshkov commented on #2
Read about shared links first:
https://developer.apple.com/library/prerelease/ios/releasenotes/General/WhatsNewInSafari/Articles/Safari_9.html

[2015-10-19 13:43] ameshkov commented on #11
Great idea, thank you!

[2015-10-20 08:35] ameshkov opened #18 "Is it possible to check if Adguard is enabled using SafariViewController?"
For instance we may open a test webpage there and check if ads are blocked

[2015-10-20 08:44] ameshkov opened #19 "Change layout - move last checked date under the "Check filters updates" button"
Look at iCloud settings, how icloud account name is printed under "iCloud".

[2015-10-20 09:12] maxart2007 commented on #18
Like iphone does: it goes to captivate.apple.com to check if internet is available or redirect to some wi-fi gateway is being used.

[2015-10-21 15:45] Stillness-2 commented on #19
In this case, how will user understand that "check filters updates" is a button?

[2015-10-21 16:37] ameshkov opened #20 "When I disable and then enable content blocker - it won't apply until I open the app"
More than this. If user does not wait for 15-20 seconds inside the app - content blocker won't be applied at all.

We could probably show some "progress loader" on the first app start (until content blocker is loaded normally)?

[2015-10-21 17:14] ameshkov opened #21 "We should add a warning somewhere that Safari needs 10-60 seconds to apply Content Blocker"

[2015-10-22 09:23] vbagirov commented on #3
http://adguard.com/en/acknowledgements.html#ios-acknowledgments
http://adguard.com/ru/acknowledgements.html#ios-acknowledgments

[2015-10-22 14:08] vbagirov commented on #4
Privacy policy submited to test.

[2015-10-23 11:20] ameshkov opened #22 ""Loading filters" panel is broken in iOS 9.1"

[2015-10-23 18:16] ameshkov commented on #4
ios --> iOS

[2015-10-23 21:11] ameshkov opened #23 "German: No text when user clicks "Share" on facebook"

[2015-10-25 14:25] ameshkov opened #24 "Loading filter screen hangs"
Ticket ID: VKR-640-41432

[adguard_ios.txt](https://github.com/AdguardTeam/AdguardForiOS/files/20253/adguard_ios.txt)

[2015-10-25 17:41] Stillness-2 opened #25 "We lost string resources from shared library, which must be localized."

[2015-10-25 17:43] #20 closed

[2015-10-25 17:43] #21 closed

[2015-10-25 17:44] #22 closed

[2015-10-25 17:53] #25 closed

[2015-10-26 09:22] Stillness-2 opened #26 "Redesign of the subscription process so that it became more resistant to errors"

[2015-10-26 22:54] ameshkov opened #27 "Intercept abp:subscribe and subscribe.adblockplus.org URLs"
https://issues.adblockplus.org/ticket/2208

Look at these filters:
https://adblockplus.org/subscriptions

You should first compare the subscription URL you've got with the subscription URLs of the filters you have. If it matches any you should enable this filter in AG.

If no match found we should offer user to import the rules to his "User Filter"

[2015-10-28 17:20] #24 closed

[2015-10-28 17:26] Stillness-2 opened #28 "Add tutorial page about Adguard Action Extension for Safari"

[2015-10-29 06:03] #4 closed

[2015-10-29 06:05] #3 closed

[2015-10-29 10:30] Stillness-2 commented on #11
Something like this:
![tipa](https://cloud.githubusercontent.com/assets/12689/10816063/21da9aa4-7e41-11e5-9a52-8e51edbefc58.png)

[2015-10-29 10:33] Stillness-2 commented on #2
![tipa01](https://cloud.githubusercontent.com/assets/12689/10816115/804e4fcc-7e41-11e5-8aa0-37fce34866a7.png)

![tipa 02](https://cloud.githubusercontent.com/assets/12689/10816124/90bd02cc-7e41-11e5-8e90-c97a77c0a9f2.png)

[2015-10-29 10:33] #2 closed

[2015-10-29 10:38] dartrax commented on #11
Excellent! Now it's clear that you can tap to get more details.
Will there be a quick way to change status? Like tapping on the checkmark or swiping?

[2015-10-29 10:42] Stillness-2 commented on #11
No, we decided not to do it.

[2015-10-29 22:43] ameshkov commented on #11
@dartrax not to do it right now:)

I just think it's really not obvious for user, don't you think?

[2015-10-30 07:51] dartrax commented on #11
You are right, it would be not obvious. I'm still glad that you choosed to place the > signs at the end of each entry rather than a toggle, because for new users it's more important to know where to get more information about each filter than to know where to turn it on and off quickly.

One more thing: Turning it on and off quickly wouldn't work that way nevertheless, since the app (or the OS) ne

[2015-10-30 11:35] ameshkov opened #29 "Rework user filter editor (use textarea)"

[2015-10-30 12:22] ameshkov commented on #11
Huh, Edit mode is really great idea, thank you!

[2015-10-30 12:23] ameshkov opened #30 "Implement "Edit" mode in the filters list"
From #11

[2015-10-30 12:23] #11 closed

[2015-10-30 13:52] Talier opened #31 "no work Ipad 9.1.3"
no work Ipad 9.1.3
It is not possible to download
Your application is incompatible with your device

[2015-10-30 13:59] ameshkov commented on #31
Possible. You see, the Apple has restricted content blockers to the 64-bit devices only.

So if your ipad's cpu is less than A7 - it is not compatible:(

[2015-10-30 14:00] #31 closed

[2015-11-02 07:42] #1 closed

[2015-11-02 11:40] ameshkov commented on #26
What do you mean here?

[2015-11-02 11:40] #19 closed

[2015-11-02 11:43] ameshkov opened #32 "There are some complaints on filters speed"
Users are complaining on v1.0.1.
Maybe the problem is in the url-filter trigger, we've replaced .* with ^http://*

[2015-11-02 11:53] ameshkov opened #33 "Add Spanish, Italian and Serbian translations"

[2015-11-02 12:43] ameshkov commented on #32
Yep, I was right, the problem in that url-filter.

[2015-11-02 12:43] #32 closed

[2015-11-02 15:42] Stillness-2 commented on #33
@ameshkov Did you mean Spanish (Latin America)?

[2015-11-02 16:12] #33 closed

[2015-11-02 16:27] #28 closed

[2015-11-03 11:09] ameshkov opened #34 "Add Adguard version to the log"

[2015-11-03 14:40] ameshkov opened #35 "Implement Adguard Assistant feature (Block element on the page)"
Here is how Firebug mobile works:
https://getfirebug.com/firebuglite_mobile

What do I suggest:
1. User selects Adguard's activity
2. There should be an additional option: "Block element on this page"
3. Tapping on that option brings back the webpage with new javascript injected there
4. This javascript works like firebug allowing user to select an element

@Stillness-2 seems legit?

[2015-11-05 06:57] Stillness-2 opened #36 "Learn possibilities of the search technology in apps on iOS 9"
https://developer.apple.com/library/prerelease/ios/documentation/General/Conceptual/AppSearch/

[2015-11-05 07:03] #6 closed

[2015-11-05 07:05] #10 closed

[2015-11-09 15:29] Stillness-2 opened #37 "Redesign of the background filters update"
May be we need to check version number of the filters synchronously, but download of the filter rules to do asynchronously, in system background download task (NSURLSession).

[2015-11-09 15:59] Stillness-2 opened #38 "List of user rules or whitelist is not updated in background, when state of the site filtration is changed from Safari Adguard action extension."

[2015-11-09 16:17] ameshkov opened #39 "Add a video explanation on how to use Adguard's action extension"
Watch how to manage Adguard from Safari

[2015-11-09 17:14] #26 closed

[2015-11-09 22:37] #38 closed

[2015-11-11 19:18] Stillness-2 commented on #30
![01](https://cloud.githubusercontent.com/assets/12689/11100399/145fc3aa-88c2-11e5-91ab-28d6b9af001f.png)
![02](https://cloud.githubusercontent.com/assets/12689/11100402/1794cad4-88c2-11e5-8671-b32072c7b86e.png)

[2015-11-11 19:18] #30 closed

[2015-11-12 09:57] Stillness-2 opened #40 "Edit privacy policy according to #34"
Now, when user sends bug report to support, app collects current state data, for example:
[code]

`ID: 47082D0B-DA29-4CD0-BE51-2FF94A7B0DCC` - this is identifierForVendor: "An alphanumeric string that uniquely identifies a device to the app’s vendor.", which is sent, also, when filter update request is performed.

[2015-11-12 10:06] Stillness-2 commented on #34
Added string in app log like this:
```2015-11-12 13:01:06:992 Adguard[44397:70b] Application started. Version: 1.0.3.23.DEBUG```
Also when user sends bug report, state.txt attachment is added.

[2015-11-12 10:15] #34 closed

[2015-11-12 10:21] ameshkov commented on #30
@dartrax what do you think?

[2015-11-13 08:58] dartrax commented on #30
Hey that looks like being exactly what I meant! Awesome!

I'm not sure about the round buttons. I find it a little bit irritating that they look more like radio buttons (pick one option and the other ones get unpicked) than like check boxes (usually rectangle shape or on/off toggle). But, since there is more than one filter selected right out of the box, it should be clear enough that they do not

[2015-11-13 09:19] dartrax commented on #23
It looked like this before:

![foto 03 11 15 14 24 52](https://cloud.githubusercontent.com/assets/15105943/11142624/16955b7a-89ef-11e5-8cbb-314bc6cadca1.png)

Now it looks like this:

![foto 06 11 15 18 36 49](https://cloud.githubusercontent.com/assets/15105943/11142626/19709116-89ef-11e5-9bd8-f0f9bcefc621.png)

still no text.

[2015-11-16 14:55] ameshkov commented on #30
@Stillness-2 have we missed "check" icons?

!(http://www.oracle.com/webfolder/ux/mobile/component/img/checkbox-ios7.png)

[2015-11-16 15:21] ameshkov commented on #23
@Stillness-2 I've just checked this with ipad and it looks exactly the same as in @dartrax case.

I suppose it's not a big problem (the logo is stretched, but anyway we can't fix it - that's how itunes.apple.com works). The only question is where's the text?

[2015-11-16 17:19] Stillness-2 commented on #23
![01](https://cloud.githubusercontent.com/assets/12689/11189039/dfee3d46-8c9e-11e5-9eb1-5cc4e3e9bc16.png)
Why why why!
Where does the arrow on the top left?

[2015-11-16 19:31] ameshkov commented on #39
@Stillness-2 Adguard's extension was enabled from the start of the video. It would be better if it will be disabled at video start and then you show how to enable and use it.

[2015-11-16 19:32] ameshkov commented on #30
@dartrax the latest beta is here with Edit mode and pretty checkboxes :)

[2015-11-18 09:25] dartrax commented on #23
The Arrow in my case has the same functionality a "Cancel" button.

[2015-11-18 09:28] dartrax commented on #30
Yeah! Perfect!
I've not much time this week left since I move to a new home, but I'll take it for a test as soon as I can!

[2015-11-21 15:17] ameshkov opened #41 "Update the README.md"

[2015-11-21 15:24] ameshkov opened #42 "Update "looking for beta testers" thread"
http://forum.adguard.com/showthread.php?7172-Looking-for-iOS-beta-testers

[2015-11-21 16:34] ameshkov commented on #39
@Stillness-2 so what with it?

[2015-11-22 10:49] #39 closed

[2015-11-23 07:29] ameshkov opened #43 "There should be a way to report missed ads or incorrectly blocked content from Safari extension"
Add to buttons to Safari extension popup:

1. Report Missed Ad >
2. Report Incorrect Blocking >

Tapping on any of these buttons opens mail app (just like we do for "Send Bug Report").

The difference is the email subject and content.

"Subject" is equal to the button text. Something like *[Adguard for iOS] Report Missed Ad*
Mail content contains link to the webpage.

[2015-11-23 10:15] ameshkov opened #44 "Implement "optimize" option in the converter"
This option will be used in iOS only.

If it is set to true - ignore all **generic** element hiding rules. Leave site-specific only.

[2015-11-23 10:16] ameshkov opened #45 "Add "Use simplified filters" setting"
https://github.com/AdguardTeam/AdguardForiOS/issues/44
If this option is enabled, pass "optimize" option to the rules converter.

We also need a help text somewhere describing what that setting means.

[2015-11-23 12:10] ameshkov commented on #44
Ready

[2015-11-23 12:10] #44 closed

[2015-11-23 18:46] ameshkov opened #46 "Banners are not blocked on mobile01.com"
Must be blocked by ```/mod_ad/*``` rule.
Works on desktop Safari, but for some reason it does not work on iOS.

Examples:
http://attach2.mobile01.com/image/mod_ad/mobile01-36b57f5bf0bfb3229ecd579a41ad4f83.htm?ad_url=http%3A%2F%2Fwww.mobile01.com%2Fadredir.php%3Fid%3D59043&clickTAG=http%3A%2F%2Fwww.mobile01.com%2Fadredir.php%3Fid%3D59043
http://attach2.mobile01.com/image/mod_ad/mobile01-245219aaeb3

[2015-11-23 19:37] ameshkov commented on #46
We should have added "document" to "resource-type" map. Otherwise iframes are not blocked.

[2015-11-23 20:34] ameshkov commented on #46
Fixed it

[2015-11-23 20:34] #46 closed

[2015-11-23 20:37] ameshkov commented on #46
Shhh, the situation is even better on OS X, but nothing has changed on iOS

[2015-11-24 06:47] #45 closed

[2015-11-24 10:31] ameshkov opened #47 "Add $cookie modifier support"
That's simple, if $cookie modifier is present, we do not block the request, just suppressing "Cookie" and "Set-Cookie".

[2015-11-24 11:49] vbagirov opened #48 "Ignore language selected in 'Advanced' settings of iPhone when choosing in-app language"
Otherwise parts of Adguard interface are displayed in that language, no matter what is chosen as default language for the device (for example, filters in filter list).

[2015-11-24 15:16] ameshkov opened #49 "Improve regular expression used for URL matching"

[2015-11-24 17:10] ameshkov commented on #49
Ready

[2015-11-24 17:10] #49 closed

[2015-11-25 22:54] Bohdan-SUP opened #50 "Add filter subscription by URL"
Add option to subscribe for a filter by URL.
Requester here DHH-171-66322

[2015-11-26 09:02] ameshkov commented on #50
You'd better redirect user here so we can discuss this feature request in detail.

You see, there is a problem with iOS content blocker API: they limit the content blocker size by 50k rules.
So if user will import some huge subscription (like unmodified easylist) it won't work.

[2015-11-28 10:15] ameshkov opened #51 "Filters are out of sync with the server"
Content blocker file does not correspond to the filter versions user has.

**Ticket ID:**
EXK-173-47321

[2015-11-29 22:06] ameshkov opened #52 "Change the way simplified filters work - it is too "confusing" now"

[2015-11-30 20:19] ameshkov commented on #42
@vbagirov any update on this?

[2015-11-30 20:19] ameshkov commented on #41
@vbagirov any update on this?

[2015-11-30 20:19] ameshkov commented on #40
@vbagirov so?

[2015-11-30 20:48] ameshkov opened #53 ""css-display-none" rules are not applied to a new tab, opened in background"
Possible Safari bug, @Stillness-2 please check this.

[2015-11-30 22:32] ameshkov commented on #29
After that issue is closed - read that thread and notice ardchoille50:
http://forums.macrumors.com/threads/the-ios-9-content-blocker-thread.1916783/page-103

[2015-12-01 10:00] Stillness-2 commented on #53
Tested on iPhone 5s, Adguard 1.0.3 (30), www.macrumors.com.  Effect exists.

[2015-12-01 10:22] ameshkov commented on #53
Huh. The same bug on desktop Safari.

"css-display-none" rules aren't applied if the page is loaded in non-active tab.

I'll file a bug report to webkit.

[2015-12-01 10:43] ameshkov opened #54 "Check Filter Updates test has changed to "Filters update error" and does not change anymore"

[2015-12-01 10:57] ameshkov commented on #53
Filed a bug report:
https://bugs.webkit.org/show_bug.cgi?id=151702

[2015-12-01 11:18] #54 closed

[2015-12-02 18:46] gshumihin opened #55 "Missed ads at https sites"
Here are some screenshots:
http://screencast.com/t/sD2JVrXT
http://screencast.com/t/yjLYIZKx6
http://screencast.com/t/5zfqHKhkyCT

[2015-12-03 10:06] vbagirov opened #56 "Error compiling Content Blocker"
From logs:  Error occured: Не удалось завершить операцию. (ContentExtensionsDomain, ошибка 19)

Relevant tickets examples: MPJ-761-36282, YTB-821-62332

[2015-12-03 22:38] ameshkov opened #57 "Cannot enable RUAdList filter"
Problem rule:
[code]

Weird url-filter you know.

[2015-12-04 12:23] #57 closed

[2015-12-04 14:18] ameshkov commented on #55
[code]

[2015-12-04 14:20] ameshkov commented on #55
meduza.io - this is emulator issue, just ignore it

[2015-12-04 14:22] ameshkov commented on #55
@gshumihin I can't reproduce facebook issue, do you have english filter enabled?

[2015-12-04 14:28] dartrax commented on #30
Works like a charm =) *thumpsup*

[2015-12-04 16:29] ameshkov commented on #56
I need to know which filters do they use

[2015-12-04 18:05] ameshkov commented on #30
:)

[2015-12-06 14:08] #51 closed

[2015-12-06 14:09] Stillness-2 commented on #40
@vbagirov so? :)

[2015-12-07 09:48] gshumihin opened #58 "Add pictures localization for tutorial"
Seems pretty weird now:
http://screencast.com/t/biH6FRWOtQCd

[2015-12-10 09:10] ameshkov commented on #58
@gshumihin you are right, waiting for localized pictures from you:)

[2015-12-11 12:00] ameshkov opened #59 "Move "Send bug Report" button to the main screen"
Place it below "About" button

[2015-12-11 12:44] #59 closed

[2015-12-12 03:23] Hongbo-Miao opened #60 "[Feature request] Add filters"
Please add two popular filters for blocking Chinese ads. Thanks!

CJX's Annoyance List
https://raw.githubusercontent.com/cjx82630/cjxlist/master/cjx-annoyance.txt

ChinaList+EasyList (Revised)
http://sub.adtchrome.com/adt-chinalist-easylist.txt

[2015-12-12 20:02] Hongbo-Miao commented on #60
Sorry, I just saw there is a same one. Link to: https://github.com/AdguardTeam/AdguardForMac/issues/13

[2015-12-14 01:50] Hongbo-Miao commented on #60
Sorry, I connected this iOS to another Mac issue. So I reopened it. Now it is correct. This feature still needs.

[2015-12-14 08:17] ameshkov commented on #56
Seems to be fixed in 1.0.3. Reopen this issue if there will be new complaints.

[2015-12-14 08:17] #56 closed

[2015-12-14 08:17] #55 closed

[2015-12-14 10:27] vbagirov commented on #42
Topic updated. Can the issue be closed?

[2015-12-14 10:35] ameshkov commented on #42
Yes

[2015-12-14 10:35] #42 closed

[2015-12-14 11:10] vbagirov commented on #40
Changes made to the test website. Will be commited to prod later.

[2015-12-14 11:18] ameshkov commented on #40
Finally

[2015-12-14 11:18] #40 closed

[2015-12-14 11:27] vbagirov commented on #41
README.md updated

[2015-12-14 18:27] Stillness-2 commented on #43
commits: 22862, 22893

[2015-12-14 18:27] #43 closed

[2015-12-20 11:46] Alex-302 opened #61 "[User Filter] Can't add #@# exclusion rules"
for example
[code]

[2016-01-11 09:31] Stillness-2 opened #62 "Add UI translations"

[2016-01-11 09:33] Stillness-2 opened #63 "Update rules converter"

[2016-01-11 14:19] Stillness-2 opened #64 "User filter should always be loaded after all other filters"

[2016-01-12 09:36] Stillness-2 commented on #63
commit 23399

[2016-01-12 09:36] #63 closed

[2016-01-12 10:43] Stillness-2 commented on #64
commit 23404

[2016-01-12 10:43] #64 closed

[2016-01-18 13:47] Stillness-2 commented on #62
commit 23550

Added localisations:  Korean, Turkish, Chinese (Simplified), Spanish (Spain), Ukrainian.

[2016-01-18 13:47] #62 closed

[2016-01-19 00:56] Bohdan-SUP opened #65 "Trouble with ecigtalk.ru"
"Заметил вот какую странность, при переходе на сайт с помощью закладки на рабочем столе реклама есть и после обновления исчезает (т.е. все по старому, проблема есть). При переходе на сайт с помощью закладки на экспресс панели браузера safari рекламы нет- блокировка работает корректно"

Логи и скрины в JMO-468-97600

[2016-01-20 13:36] Alex-302 opened #66 "[Feature request] Add number of rules to state.txt"
or message, if number of rules > 50000

[2016-01-20 13:45] #66 closed

[2016-01-20 20:55] ameshkov commented on #65
@gshumihin please test this

[2016-01-22 09:21] Eugene-Savenko opened #67 "[Feature request] show how many adds/pop ups are blocked"
Within Adgaurd, you should have a count on how many ads the app has blocked

TOR-404-92995

[2016-01-23 10:00] TommiHynynen opened #68 "Add Finnish language"
Finnish translation has been completed

[2016-01-24 18:27] ameshkov opened #69 "Possible bug in iOS"
Steps to reproduce:
1. Register a content blocker with one rule (for example blocking google.com).
2. Enable content blocker in safari settings and check that rule is working
3. Disable content blocker in safari settings (and check that it is really disabled)
4. Register an updated version of this content blocker (add one more rule for blocking apple.com now).
5. Enable content blocker
6. Check if

[2016-01-24 19:28] ameshkov commented on #67
This will be possible if this feature request will be implemented in Safari:
https://bugs.webkit.org/show_bug.cgi?id=152598

[2016-01-25 08:57] ameshkov opened #70 "Add an option to contact support through a third party mail app or web mail"
Can we use mailto:// link to do it?

[2016-01-25 11:52] gshumihin commented on #69
Both rules from step 1 and 4 are working.

[2016-01-25 11:54] ameshkov commented on #69
Closing the issue then.

[2016-01-25 11:54] #69 closed

[2016-01-25 16:50] gshumihin commented on #65
Не получается повторить. Что при открытии с рабочего стола, что из закладок. Так же, проверил открытие сайта просто при загрузке сафари (он был в одной из вкладок до закрытия сафари). Фильтрация присутствует, помощник имеется.
У меня версия сафари 9.0.2
Версия Adguard 1.1.4 beta

[2016-01-26 11:39] ameshkov commented on #65
I need a detailed description in english in order to file a bug report to webkit.

[2016-01-26 11:51] gshumihin commented on #65
Whenever you open site from main screen ads are missing.
As example you can use this site: ecigtalk.ru

And here are steps to reproduce the issue:
1. Add ecigtalk.ru to main screen:
<img src="http://content.screencast.com/users/shumegor/folders/Jing/media/b39ef6c7-3e4e-4ef6-8c93-0f3a8a19063c/00000950.png" width="150">
2. Close all tabs in safari.
3. Close safari.
4. Open ecigtalk.ru from main scre

[2016-01-27 10:47] Stillness-2 commented on #68
commit 23719

[2016-01-27 10:47] #68 closed

[2016-01-27 16:47] Stillness-2 commented on #37
Now, background filters update should work. But updating is performed only when device is connected to internet via WiFi.

[2016-01-27 16:47] #37 closed

[2016-01-27 17:07] ameshkov commented on #37
Finally! So what about pushing new beta with this change?

[2016-01-27 17:08] Stillness-2 commented on #37
already

[2016-02-10 10:58] Stillness-2 opened #71 "Add Acknowledgements section to readme.md of the project"

[2016-02-10 10:59] Stillness-2 opened #72 "Change section "Adguard for iOS" on https://adguard.com/en/acknowledgements.html#ios-acknowledgments"

[2016-02-16 12:20] Stillness-2 commented on #72
We need to add links to Third-Party Software:

- Tony Million for Reachability component (https://github.com/tonymillion/Reachability)
License: https://github.com/tonymillion/Reachability/blob/master/LICENCE.txt
- August «Gus» Mueller for Fmdb component (https://github.com/ccgus/fmdb)
https://github.com/ccgus/fmdb/blob/master/LICENSE.txt

[2016-02-17 13:07] ameshkov commented on #71
Yeah, why not. It's up to you to decide.

[2016-02-18 11:13] Alex-302 opened #73 "Message about unknown option in the log"
For example:
[code]

[2016-02-18 11:53] ameshkov commented on #73
You should ignore rules with "replace" modifiers.

[2016-02-18 11:53] ameshkov commented on #73
Ah, it should be done on converter side, I got it.

@Mizzick, please fix this.

[2016-02-18 14:35] Mizzick commented on #73
But it's ignored already?

[2016-02-18 14:37] ameshkov commented on #73
It would be better to suppress that message.

$replace option is known, it is just unsupported by extension.

[2016-02-18 14:38] ameshkov commented on #73
You can simply remove rules with replace modifier on the server side (I mean remove it from chrome.adtidy.org)

[2016-02-18 16:34] Mizzick commented on #73
Ok, done.

[2016-02-18 16:34] #73 closed

[2016-02-21 11:34] ameshkov opened #74 "Feature request: allow using non-optimized filters on iOS"
Not yet planned on any release.

[2016-02-24 12:59] vbagirov commented on #72
Done.

[2016-02-24 12:59] #72 closed

[2016-02-24 13:23] vbagirov commented on #71
Done.

[2016-02-24 13:23] #71 closed

[2016-03-01 03:38] Bohdan-SUP opened #75 "Consider creating a filter for Smart Banners"
When using Safari on iOS devices and visiting a homepage, which provides an App in the App Store,
one quite often sees a banner on the top end of site advertising to load the app in the store.

Apple calls this Smart Banners: https://developer.apple.com/library/mac/documentation/AppleApplications/Reference/SafariWebContent/PromotingAppswithAppBanners/PromotingAppswithAppBanners.html

Idea here - K

[2016-03-01 17:02] ameshkov commented on #75
That's impossible to do with a content blocker API:(

[2016-03-01 17:02] #75 closed

[2016-03-04 10:57] Stillness-2 opened #76 "AdguardSelectorLib not working properly in Safari iPad/iOS"
When we try to adapt AdguardSelectorLib to work in Action Extension, occur a  problems. On some sites the selector does not select anything or leads to freeze Safari.

It is necessary to achieve stable work on iPhone, iPad (or on appropriate simulators), at the following sites: yandex.ru, nnm-club.me, lenta.ru, meduza.io, yahoo.com.

To build the project, use the branch `feature/issues/35`

[2016-03-04 16:18] Stillness-2 commented on #76
https://github.com/AdguardTeam/AdguardBrowserExtension/issues/185

[2016-03-04 16:18] #76 closed

[2016-03-15 20:46] vozersky opened #77 "Background update doesn't work."
User reports he's got to enter the app to manually update the filters every few days.
Please see JJK-306-26395 for logs.

[2016-03-17 09:06] #41 closed

[2016-03-22 12:00] vbagirov commented on #77
The problem is also present here: YSY-876-10836

[2016-03-29 11:16] Stillness-2 commented on #77
possible it fixed in the feature/issues/35 branch

[2016-03-29 11:37] vozersky commented on #77
Also reported here XVI-720-70819

[2016-03-29 19:29] xxcriticxx opened #78 "Add "Requirements" section to README.md"
what are the cpu requirements for this app? will this work on non 64bit cpu (older iphone/ipad)?

should this be in some kind of wiki or sticky?

[2016-03-30 17:06] ameshkov commented on #78
Nope, the app uses content blocking API which is available for 64bit only.

Yep, it should. We'll add "Requirements" section to readme.md.

[2016-03-31 14:21] xxcriticxx commented on #78
big thank you

[2016-03-31 15:37] vbagirov commented on #78
Done.

[2016-03-31 15:37] #78 closed

[2016-04-08 08:58] #35 closed

[2016-04-08 08:58] Stillness-2 commented on #77
new

[2016-04-08 08:58] #77 closed

[2016-04-11 08:35] ameshkov opened #79 "Update "manage from safari" video and show how to block elements manually"

[2016-04-11 08:36] ameshkov opened #80 "Action extension dialog window is too small on iPad"
Why is that so?

[2016-04-11 15:30] vbagirov opened #81 "[Feature request] An option to disable custom fonts"
Custom fonts like Google fonts affect pages loading time. Add an ability to disable them.

[2016-04-11 15:32] vbagirov opened #82 "[Feature request] Implement a 'no images' option"
To minimize network load in cases such as public WiFi where bandwith is very low.

[2016-04-14 13:50] #58 closed

[2016-04-15 09:09] ameshkov opened #83 "Filter not updating properly"
**Source:**
http://forum.adguard.com/showthread.php?10606-Filter-not-updating-properly

[2016-04-25 16:56] vozersky opened #84 "[Feature request] making background update possible even after force closing the app"
User states that some adblockers keep updating when force closed:

https://itunes.apple.com/us/app/norton-ad-blocker-browse-faster./id1045186459?mt=8

https://itunes.apple.com/us/app/blockr-privacy-media-ad-blocker/id1032344361?mt=8
https://itunes.apple.com/ru/app/purify-blocker-no-ads.-no/id1030156203?mt=8

Can we study it? Please assist.

Please refer to QMU-134-16255

[2016-04-25 16:58] vozersky commented on #84
@gshumihin, please assist.

[2016-04-25 17:04] Stillness-2 commented on #84
About Purify. You can get answer here: https://twitter.com/purify_app/status/657656822531248128

[2016-04-25 17:11] Stillness-2 commented on #84
About Norton. You can get answer here: https://support.norton.com/sp/en/us/norton-mobile/current/solutions/v115518328_EndUserProfile_en_us

"If Background App Refresh is off in device's Settings, or if you have quit Norton Ad Blocker from the app switcher, it cannot receive the updates."

[2016-05-04 13:22] Stillness-2 commented on #80
@ameshkov It's an optical illusion.:)

This is current implementation.
![img_0001](https://cloud.githubusercontent.com/assets/12689/15015177/60877ede-121b-11e6-9367-cd62a9c0fb7d.PNG)
I increased the distance between the icons. Also the size of the icons close to the size of system icons.

[2016-05-04 15:24] ameshkov commented on #80
Hm, ok, let's use it for now.

[2016-05-04 15:24] #80 closed

[2016-05-06 08:30] #79 closed

[2016-05-06 15:15] vozersky opened #85 "Filters updates issue."
filter updates fails with a message "You should delete your whitelist and/or personal filter list."
Turning English filter off fixes it.

Also, some filters show "last updated" time in future, probably a timezone issue.

please refer to ZDX-733-22529 for logs

[2016-05-08 01:26] Bohdan-SUP opened #86 "[Feature request] Add Fanboy's Swedish list"
https://www.fanboy.co.nz/fanboy-swedish.txt

Also consider adding this for other platforms.

[2016-05-09 12:53] evgeniy-ADG opened #87 "Another filter update issue"
I also have error in Adguard for iPad when I want update filters - https://www.dropbox.com/s/a4kipvl0l5tm17w/Zdj%C4%99cie%2004.05.2016%2C%2013%2042%2036.png?dl=0
I think it is related with Polish filter (Adblock polskie reguły), because if I disable Polish filter I does not have an error.
Can you check this?

RVI-479-68768

[2016-05-09 20:35] ameshkov commented on #87
@Alex-302 this is the same issue with regular expressions with negative loopback.

[2016-05-09 20:35] ameshkov commented on #87
We should exclude it from all filters for now.

[2016-05-09 20:37] ameshkov commented on #87
Ah, got it, one more pattern to exclude:
[code]

[2016-05-09 20:38] ameshkov commented on #87
@evgeniy-ADG fixed, update will be available soon.

[2016-05-09 20:38] #87 closed

[2016-05-11 15:01] Stillness-2 commented on #85
About "last updated".
There is an opinion, that is time did not synced on the back-end server.

[2016-05-11 15:05] #84 closed

[2016-05-12 17:10] vozersky commented on #85
same here: TICKET ID PAF-836-50942

"everytime i need to update. I also need to delete the app and reloaded all the filter. Otherwise it won't work"

[2016-05-12 17:20] ameshkov commented on #85
This is a ticket from the guy in Twitter. Should be good now.

[2016-05-12 17:29] vozersky commented on #85
The twitter guy's ticket was RMR-152-60966, no?

[2016-05-12 18:53] maciboy commented on #85
Hey, i'm the one how issued ZDX-733...

I don't know if there were any changes at the backend yet, however, after several deletions and reconfiguration of subscribed filters, the issue is gone temporarily on both my originally mentioned devices.
Some time in between the German filter list caused the described issue, so it seems as if the English filter is/was not the main initiator of the issue...

[2016-05-13 14:30] mmigi commented on #86
Swedish fanboy filter added.

[2016-05-13 14:30] #86 closed

[2016-05-13 19:29] evgeniy-ADG opened #88 "Add Fanboy Anti-Third Party Social filter"
Since I can no longer enable all the filter lists I want (now using all the small filters for my language and region except for the large easylist and easyprivacy lists) and preliminarily seem to be getting excellent coverage except for various facebook annonyances/ tracking. I would love it if you added the compact (only 63 filters) Fanboy Anti-Third Party Social filter list (https://www.fanboy.c

[2016-05-13 19:42] evgeniy-ADG commented on #85
Another complaint here: TXZ-582-42578
![image](https://cloud.githubusercontent.com/assets/15856304/15259776/eaa262b8-195b-11e6-9db7-64964046f17c.png)

[2016-05-16 10:12] mmigi commented on #88
The "Anti-Facebook List" filter is added. Now you can find it by it's name 'fanboyAntifacebook' in our filter list.

[2016-05-16 10:12] #88 closed

[2016-05-18 12:16] vit9696 opened #89 "32-bit models and compilation"
Hi,

Thanks for opensourcing Adguard. You left a mistake in
`AdguardForiOS-master/AdguardExtension/project.xcconfig`
and ACTION_JAVASCRIPT_SELECTOR points to a local file. Unsure if the commented out url is the correct one though :)

Another issue is a 64-bit requirement. Apple does not recommend uploading 64-bit content blockers to App Store, but the APIs are actually supported e.g. if you sidelo

[2016-05-18 14:56] Stillness-2 commented on #89
About local file - 26cba8d

[2016-05-18 15:19] ameshkov commented on #89
They won't allow it into the app store without it. However, I guess @Stillness-2 could add some info about sideloading to readme.

[2016-05-19 18:14] Stillness-2 opened #90 "Button "Send Bug Report" doesn't work."

[2016-05-19 18:18] Stillness-2 opened #91 "App crashes when list of a rules is changed in User Filter"

[2016-06-02 12:28] #91 closed

[2016-06-02 12:28] #90 closed

[2016-06-07 09:41] ameshkov opened #92 "Ignore filters count limit instead of bugging user with a message box"
Currently when we hit 45k rules count limit we do not update the content blocker and show user annoying message box that does not help at all.

What we should do instead:
1. Increase rules count limit to 50k (this is safari limit)
2. Remove the message box.
3. When we hit rules count limit, show a notification at the bottom of the screen.

Use text from the browser extension:
https://github.com/Ad

[2016-06-11 21:33] ghost opened #93 "No blocking the ad"
Using current ios and adguard version. and using default filter + 20 other. no blocking!! if add in custom list and reload this site, not working. ad come back!!

http://www.notebookcheck.com/Samsung-Smartphones-mit-flexiblem-Display-im-naechsten-Jahr.167522.0.html

![image](https://cloud.githubusercontent.com/assets/13907702/15987577/c0fe7130-302c-11e6-9968-0e67f8737abe.jpeg)

[2016-06-11 21:42] ghost opened #94 "No blocking if comes ios update"
I using ios 9.3.3 public beta 1, then loading public beta 2, ios device restart and install this update. 10 min done. now open safari and go to website woth ad. you can see no blocking.

then I see in settings from safari, the app is on!! in this case disable and activate again. go to website again, now blocking!!

this is bug!! always if update new ios version!!

please fix

[2016-06-13 16:01] evgeniy-ADG opened #95 "Minor grammatical issues"
I've had no issues using the app but I did find a few very small, very minor grammatical items. Across your desktop app and extension, I noted that you're spot-on with this kinda stuff, so I thought I'd share a few of the omissions within the iOS app with you (see screenshots below).
![image](https://cloud.githubusercontent.com/assets/15856304/16014241/16989374-3199-11e6-8814-6b9d4329c6f7.png)

![

[2016-06-16 17:04] ameshkov commented on #93
Wrong repo, moved it to:
https://github.com/AdguardTeam/AdguardFilters/issues/2328

[2016-06-16 17:04] #93 closed

[2016-06-16 17:07] ameshkov commented on #94
So, if I am getting this right, when you update iOS version, ad blocking is gone until you manually turn it off and on again?

[2016-06-16 23:13] lilghost commented on #94
@ameshkov
Yes. Can you reproduce? I can to 100%. Other content blocker same issue e.g from mozilla

Bug in the app? iOS api issue?

[2016-06-16 23:23] lilghost commented on #95
@evgeniy-ADG
Please post your suggestion here. New grammatical version

[2016-06-17 14:47] ameshkov commented on #94
Sounds like an iOS issue, it'd better to report it to Apple.

[2016-06-17 15:45] Alex-302 commented on #93
@ghost
please update German filter and check again

[2016-06-19 00:07] Bohdan-SUP opened #96 "Add Norwegian filter"
User request - 1300243
There was Norsk adblockliste, but hasn't been updated for a while.

[2016-06-19 13:32] Stillness-2 opened #97 "Adguard extension should allow to add blocking rules not only from Safari app"
Problem
"Finally, clicking the Adguard extension while in SVC doesn't appear to be honoring the creation of custom user filters. It will go through the entire process without issue, ask permission to open the Adguard app, and then nothing. Nothing is added to user filters."

[2016-06-20 11:54] ameshkov commented on #96
@Alex-302 could you please check that filter?

[2016-06-20 12:17] ameshkov opened #98 "Show which filters were updated"
Feature request:
https://forum.adguard.com/index.php?threads/show-us-which-filters-got-updated-on-ios-app.11238/

@Stillness-2 what do you think?

[2016-06-20 12:59] Alex-302 commented on #96
@ameshkov
I found only this filter
https://github.com/ytakano/adchecker/blob/master/adblock.txt
it was updated two years ago.

[2016-06-20 13:35] ameshkov commented on #96
Got it, so that filter is simply abandoned.

[2016-06-20 13:35] #96 closed

[2016-06-20 16:31] Stillness-2 opened #99 "Adguard Pro"

[2016-06-20 21:01] evgeniy-ADG commented on #95
Start description from the capital letter, add period in the end of the sentence, obviously.

[2016-06-21 02:27] nagato7 opened #100 "Adding Korean filter"
Adblock iOS implements "[Korean Adblock List](https://github.com/gfmaster/adblock-korea-contrib)". However it hasn't been maintained for months, so it doesn't work well with Korean websites.
I found a filter called "[List-KR](https://github.com/SlowMemory/List-KR)". While it's pretty new (created in May) but it has been updated frequently and works better with Korean websites. Since iOS version ca

[2016-06-21 09:30] Alex-302 commented on #100
@Stillness-2 added. Waiting for @mmigi

[2016-06-21 12:55] mmigi commented on #100
List-KR filter is added. Now you can find it by the it's name.

[2016-06-21 13:14] Stillness-2 commented on #99
8965842162d850657641aa49ccc7d45c6fc3a505
4fc52c01ab478cf0451d8cd4e2b42e3c5f58c308

[2016-06-23 12:21] #97 closed

[2016-06-23 12:24] Stillness-2 commented on #95
@mmigi Check please description for EasyPrivacy filter.

[2016-06-23 12:26] #92 closed

[2016-06-23 19:44] worldsdream opened #101 "First time load showing ads"
Please look here:

https://github.com/AdguardTeam/AdguardFilters/issues/1857#issuecomment-228131978

[2016-06-23 20:26] ameshkov commented on #101
More info here:
https://forum.adguard.com/index.php?threads/filters-not-getting-updated-to-latest-version.11337/

It seems that right after the installation AG does not apply downloaded filters properly.

[2016-06-24 07:33] tiberian83 commented on #99
Any update when the public beta test will start?

[2016-06-24 07:36] Stillness-2 commented on #99
Yet no. Later. :)

[2016-06-24 09:41] worldsdream commented on #101
I think those are 2 different bugs. But I only can confirm that after safari filter gets updated.

[2016-06-24 10:18] ameshkov commented on #101
Hm, yep, I got it all wrong. The original issue seems to be an iOS bug though.

[2016-06-24 10:47] Stillness-2 opened #102 "Right after installation, filters update does not work properly"
https://github.com/AdguardTeam/AdguardForiOS/issues/101#issuecomment-228172946

More info here:
https://forum.adguard.com/index.php?threads/filters-not-getting-updated-to-latest-version.11337/

It seems that right after the installation AG does not apply downloaded filters properly. Keeps the base version until the next filter update is received.

[2016-06-24 10:49] Stillness-2 commented on #101
I moved installation problem in separate issue #102

[2016-06-24 10:51] #102 closed

[2016-06-24 12:41] worldsdream opened #103 "Not blocking the popup"
I am running iOS with the filters enabled, English, dutch, annoyance, safari, mobileads and easyprivacy

I still get the popup advertisement. See more here:
https://github.com/AdguardTeam/AdguardFilters/issues/2406#issuecomment-228335252

Can anyone confirm with my list please if they get that advertisement. If not, what can I do? Where is the problem?

[2016-06-24 12:42] worldsdream commented on #103
This is the link:
https://openload.co/f/lZaiHVdf0jc

When i click on play, i get a popup

[2016-06-24 16:36] evgeniy-ADG opened #104 "filtering rule is not working on http://www.sueddeutsche.de"
Description's here: https://github.com/AdguardTeam/AdguardFilters/issues/2375

[2016-06-25 16:15] ameshkov commented on #103
@worldsdream could you please check this rule?
[code]

[2016-06-25 17:15] worldsdream commented on #103
I added this rule, still get a popup. How can we troubleshoot this on device? Fiddler?

[2016-06-25 17:41] ameshkov opened #105 "Extend AdguardPro logging"
We should be able to see which hosts are requested by the app.

So, what should be done:
1. Check if it is possible to get to the UDP packets data
2. If it's possible, parse DNS packets and write host name to the log
3. Check if it's possible to detect which app has made the request

[2016-06-25 18:00] ameshkov commented on #103
Fiddler would be great. Could you record a session and attach it here?

[2016-06-25 18:17] worldsdream commented on #103
I pm'ed you on the forum

[2016-06-25 19:13] worldsdream commented on #102
You closed it, does it mean you fixed it?

[2016-06-25 19:17] worldsdream commented on #50
It's nice if we can add our own url, if user ads a filter and in total is more then 50K rules, a message should be shown that the limit is 50k and he needs to configure the lists properly for not exceeding 50k.

[2016-06-25 19:17] Stillness-2 commented on #102
@worldsdream Yes, it is in beta now, and will be in next release.

[2016-06-25 20:33] worldsdream commented on #98
@stillness-2 can you tell if you are able to do this in iOS?

[2016-06-26 00:37] worldsdream commented on #61
Will this be fixed in next release?

[2016-06-26 00:40] worldsdream opened #106 "Safari view controller not respecting the same rules as safari"
I have reeder app, it's an rss reader. I open links in that app (safari view controller)
The websites do not look the same, as you open them in safari.
For example, white space between text (where normally an ad is placed) in safari view controller and in safari all is good, without the white space between.

Is this bug already known?

See image:
http://i.imgur.com/r7wKDkX.png

[2016-06-26 01:42] worldsdream commented on #103
I added:

||large-format.net^
||november-lax.com^
||adrunnr.com^

Now I dont get to see large format or any other popup ads, now I get about:blank popup. How do we get rid of that?

[2016-06-26 12:55] evgeniy-ADG commented on #85
<details>
![image](https://cloud.githubusercontent.com/assets/15856304/16362387/591bb6fa-3bb6-11e6-836b-df447806beb5.png)
</details>
ID=0 Name="User filter" Version=1.0.0.0 Enabled=YES
ID=2 Name="English filter" Version=1.0.87.47 Enabled=YES
ID=3 Name="Spyware filter" Version=1.0.6.45 Enabled=YES
ID=4 Name="Social media filter" Version=1.0.10.44 Enabled=YES
ID=12 Name="Safari filter" Version=1.0.0

[2016-06-27 10:52] ameshkov commented on #50
Btw, this message will appear in v1.0.8.

[2016-06-27 10:55] worldsdream commented on #50
Great :) i'm not a beta tester, otherwise I would have known by now. I signed up for the adguard pro beta.

[2016-06-27 11:00] ameshkov commented on #98
As I understand this is not an easy task as current UI just does not allow to show a long string there.

[2016-06-27 11:03] worldsdream commented on #98
Ok and what about if you update for example adguard filters. It shows 5 filters updated. User can go to the filter section and he will see an "icon" on the filterlists that got updated? If user goes back to adguard main page, and go back again to filters, icons are gone. Because they are already watched.

[2016-06-27 11:04] ameshkov commented on #61
Hope so, @Stillness-2 ?

[2016-06-27 11:09] ameshkov commented on #106
Yep, I've heard about the same issue before.

I have one idea: maybe SVC ignores filtering rules with domain limitations? Try adding this rule to the user filter and see if it helps:  `##.site-header__compare`

[2016-06-27 11:10] worldsdream commented on #106
Error cannot add to user filter

[2016-06-27 11:16] ameshkov commented on #85
@evgeniy-ADG what's your question?

[2016-06-27 11:58] ameshkov commented on #106
Argh, what's wrong with the user filter @Stillness-2

[2016-06-27 12:00] ameshkov commented on #98
I think this is just too complicated. What if we make "Filters updated: 5" a link, tapping on it opens some kind of an update log/

[2016-06-27 12:01] worldsdream commented on #98
That would be good too

[2016-06-27 12:03] Stillness-2 commented on #98
I think we should convert the "Last Checked" into button with '>'. Subscreen will be contain the information about last updated filters. But it's still doing not five minutes.

[2016-06-27 12:05] ameshkov commented on #98
@Stillness-2 could you please assign it to a milestone? This is a low priority issue, but anyway would be good to have it. Having such update log should also help us with resolving different update & apply issues like #85

[2016-06-27 13:31] Stillness-2 commented on #106
I added this rule on my test device. @worldsdream What error occurred?

[2016-06-27 13:34] worldsdream commented on #106
I just tried again, same error. Stable and also beta release.

Popup comes up and shows:

ERROR
Cannot add the filter rule. Rule text is invalid.

[2016-06-27 13:36] ameshkov commented on #106
Check that there're no spaces and line breaks in the copy-pasted rule text

[2016-06-27 13:38] worldsdream commented on #106
I did. I also copied it first to notes app, to make sure. Still the same error.

##.site-header__compare is what i copied

[2016-06-27 13:41] Stillness-2 commented on #106
Well... We need logs from Adguard. Can you 'Send Bug Report' from Adguard main menu, please?

[2016-06-27 13:43] worldsdream commented on #106
Sent it right now, i did put the link of github in the email message. So you know.

[2016-06-27 13:55] ameshkov commented on #106
In your case the culprit is the "simplified filters" option which prohibits cosmetic rules with no domains specified.

[2016-06-27 13:59] worldsdream commented on #106
You are correct, i disabled it. I could add that line. But still the ad is shown in safari view controller

[2016-06-27 14:00] ameshkov commented on #106
@Stillness-2 could you please check if it's possible to debug SVC through desktop Safari (like we do for the mobile safari)

[2016-06-27 14:22] Stillness-2 commented on #106
@ameshkov I don't found info about such possibility.

[2016-06-27 14:28] Stillness-2 commented on #106
@worldsdream If you press 'reload' in SVC, what is happen? Is the page shown correct?

[2016-06-27 16:58] #61 closed

[2016-06-27 17:17] worldsdream commented on #106
Exactly, if you click refresh, it does look good.

[2016-06-27 18:33] ameshkov commented on #106
Looks like #53

[2016-06-27 23:42] worldsdream opened #107 "Adguard not showing in SVC, Version 1.0.8(50) beta"
I see in the changes: "in third party applications that use safari view controller to display web pages, imrpoved the work of Adguard assistant, you can now block elements on a webpage".

How? I dont see Adguard in there?

**EDIT (by @ameshkov):** feature is supported since iOS 9.2 only

[2016-06-27 23:52] worldsdream commented on #95
You added the missing "dot" behind period. It does show period. But the "dot" needs to be in small black. Like all the others. Only "this article" needs to be blue and bold. Please adjust correctly.

[2016-06-28 00:06] worldsdream opened #108 ""Edit" button in user filter"
Can you give us an "edit" button in user filter?

I add a lot of lines in userfilter, then I want to remove some of them or all that I did add. Also for testing, I do need to add and remove. If I swipe and delete, it takes time before it loads everything up.If you can click edit button. You select the lines in userfilter, that you want to delete and push delete, it loads one time only. Much faster

[2016-06-28 00:12] worldsdream opened #109 "Twitter share text not complete"
When clicking on the twitter icon in adguard ios app, it gives you a twitter popup to share. The image of adguard is correct, but the text is like:

Adguard - Adblock for iOS:

Is this like it should?

[2016-06-28 11:40] Stillness-2 commented on #95
![user_filter_add_rule](https://cloud.githubusercontent.com/assets/12689/16414057/871511be-3d46-11e6-9437-657cb378a9b5.png)

[2016-06-28 11:42] worldsdream commented on #95
Perfect

[2016-06-28 11:44] worldsdream commented on #106
Will this be fixed for next update?

[2016-06-28 12:04] Stillness-2 commented on #95
@worldsdream It seems that it is iOS bug. We don't know how to solve this problem on our level.

[2016-06-28 12:04] Stillness-2 commented on #106
@worldsdream It seems that it is iOS bug. We don't know how to solve this problem on our level.

[2016-06-28 13:19] worldsdream commented on #70
This would be good, as I do use the Spark email app and not the standard iOS mail app!

[2016-06-29 07:57] evgeniy-ADG commented on #106
logs: 1212314

[2016-06-29 10:21] ameshkov commented on #107
@Stillness-2 ?

[2016-06-29 10:22] ameshkov commented on #108
More than this, we should implement some kind of a "filter creation dialog".

[2016-06-29 10:23] ameshkov commented on #108
Can't yet give you an ETA, working on the "pro" version now. We'll update the roadmap after that.

[2016-06-29 10:23] ameshkov commented on #109
Not sure:)

[2016-06-29 10:29] worldsdream opened #110 "About section add Adguard Logo centered in top"
I think that we should have the adguard logo in top centered over there. Represent adguard! Just like whatsapp, tweetbot have it.

What do you think?

[2016-06-29 10:33] Stillness-2 commented on #107
@worldsdream Did you enable Adguard Assistant, as shown on 'Manage Adguard from Safari"' video?

![main_screen](https://cloud.githubusercontent.com/assets/12689/16449091/54adf504-3e06-11e6-8093-8ca341fdc4cf.png)

[2016-06-29 10:36] worldsdream commented on #107
Yes, I have it enabled in safari. I do see adguard when I browse in safari. But in changelog is showing that the adguard icon is also available in SVC mode. I dont see adguard there?

[2016-06-29 10:50] Stillness-2 commented on #107
@worldsdream give me a screens like these, please
https://www.dropbox.com/s/8h9jqdfnfzuyf75/IMG_0658.png?dl=0
https://www.dropbox.com/s/976x3jr0giyqa2f/IMG_0657.png?dl=0

[2016-06-29 10:59] worldsdream commented on #107
https://www.dropbox.com/s/zv64nlg450rsvyo/IMG_1387.PNG?dl=0
https://www.dropbox.com/s/vfgtpehau9x4wrn/IMG_1388.PNG?dl=0

I clicked on MORE, but NO Adguard in there to enable!

[2016-06-29 11:10] worldsdream commented on #110
This is what I am talking about:

https://www.dropbox.com/s/z5x4y8bw5gbcp3b/IMG_1389%20copy.png?dl=0

[2016-06-29 11:11] worldsdream commented on #110
@Stillness-2 @ameshkov what do you both think?

[2016-06-29 11:26] Stillness-2 commented on #107
Hmm :(
@worldsdream what version of the iOS on your device?

[2016-06-29 11:26] ameshkov commented on #110
This type of logo will look better:
https://adguard.com/images/logo@2x.png

However, I am not an expert. Let @Stillness-2 decide.

[2016-06-29 11:38] worldsdream commented on #107
iOS 9.0.2
Adguard is supported from iOS 9.0 or later

[2016-06-29 12:21] Stillness-2 commented on #107
@worldsdream check this link for example: http://www.idownloadblog.com/2015/10/28/whats-new-in-ios-9-2-beta-1-safari-view-controller-updates/

[2016-06-29 12:22] worldsdream commented on #110
As you see, it is showing "<Adguard" text left above, to get back to Adguard main section. If you add the logo with the text Adguard. It's too much Adguard for the eye. It's better in my opinion to have the logo only.

In the other hand, if you had a main section for example "<Info" in top left corner instead of "<Adguard" to get back to, then I would have recommend the Logo and Adguard text with

[2016-06-29 12:24] worldsdream commented on #107
I see, but now you have to make the app iOS 9.2+ in the appstore correct? But that is not smart in my opinion, as a lot of user are still on iOS 9.0x. I am one of them.

[2016-06-29 13:21] vbagirov commented on #109
We decided to change the text to 'premade'. The exact wording is not agreed upon yet.

[2016-06-29 13:38] worldsdream commented on #109
Add some words like, amazing, outstanding, most advanced. To make it more "wow".

[2016-07-04 10:19] ameshkov commented on #107
No, why? It's just this feature is supported by SVC since iOS 9.2, no need to change anything in the app itself.

[2016-07-04 10:20] #107 closed

[2016-07-04 11:24] mmigi commented on #95
Now *EasyPrivacy* filter description starts with a capital letter and ends with period.

[2016-07-04 11:25] #95 closed

[2016-07-04 11:46] #109 closed

[2016-07-04 12:30] evgeniy-ADG commented on #85
it's under the first spoiler, it's regarding the issue. he has only 7 filters enabled
users' do not understand what to do in such cases. maybe you could add some specific description or a manual...

[2016-07-04 13:08] ameshkov commented on #85
The easiest way to fix this is to turn off some filter.

[2016-07-06 08:47] Stillness-2 opened #111 "Assistant does not select <iframe> element properly"

[2016-07-06 11:41] worldsdream opened #112 "Adding more rules in User Filter "Enter Rule" before pushing on Done"
See screenshot example:

1) http://i.imgur.com/8Wznbta.png
2) http://i.imgur.com/LHNt8Wh.png

Can you give us an add option in User Filter "Enter Rule", so we can add more rules there at once and then click on Done button?
When we want to add for example 4 rules. We need to add one single rule and click Done. It will load it up. Then we need to repeat 3 more times. Takes to much time for something

[2016-07-08 09:58] ameshkov commented on #112
Simpler solution is to make the text box multiline, so you'll be able to enter multiple rules at once.

[2016-07-09 06:35] pietrodn opened #113 "Show number of rules for each filter"
Hi, it would be useful to see in the filter properties the number of rules of each filter. In this way, if the user hits the maximum number of rules, they know which ones to remove.

[2016-07-10 13:31] evgeniy-ADG opened #114 "You need to refresh a page in order to make ads disappear"
- https://github.com/AdguardTeam/AdguardFilters/issues/2552 - the issue can be reproduce only after refreshing the page, it's somehow related, I think
- Also, was spotted here: https://github.com/AdguardTeam/AdguardFilters/issues/2458

[2016-07-10 16:28] ameshkov commented on #113
The problem with this is that we don't know how many rules will be left after filters compilation process.

**Example**

Filter1:
[code]

Filter2:
[code]

Resulting content blocker will have only one rule:
[code]

Maybe instead of the in-app filters compilation we should do it on the server side. This will make this all much easier. @Stillness-2 what do you think about it?

[2016-07-10 16:48] ameshkov commented on #114
Need more examples

[2016-07-10 17:34] ameshkov opened #115 "Move how-to videos from the app to the server"
I see a lot of complaints on the app size. I guess because of the size users may think that AG is "heavy" or "bloated". Let's move the how-to videos to the server and solve this once and for all.

[2016-07-11 00:02] worldsdream commented on #115
It's 37.3 MB right now, how much will it be without the how-to videos?

[2016-07-11 09:57] evgeniy-ADG opened #116 "Adguard doesn't block any ad if you disable/enable it in 'Content blockers' settings"
Adguard doesn't block any ad if you disable/enable it in Content blockers. Other ad blocking apps work fine and do not have such behavior.

STR:

* go to settings > safari > content blockers
* disable Adguard
* enable Adguard
* go to any site with ads
* reload it or wait, the ads won't get blocked
* go to Adguard > check updates
* go to a site, refresh the page - voila! ads are blocked

[2016-07-12 10:31] ameshkov commented on #116
This is clearly Safari issue, we have nothing to do with it.

[2016-07-12 10:31] #116 closed

[2016-07-13 22:27] worldsdream commented on #112
That would be great too. Why dont we have that in adguard extension browser? Copy multiple rules and paste, instead copy one by one?

[2016-07-15 14:32] ameshkov commented on #112
We will have it too, but after a redesign:)

[2016-07-17 13:47] worldsdream commented on #103
I dont get a popup ad anymore. Resolved.

[2016-07-17 13:47] #103 closed

[2016-07-19 12:59] gshumihin opened #117 "It takes too long to open Pro version UI"
After atleast one day of being not opened, adguard PRO opens more than 30 seconds.

[2016-07-19 20:01] worldsdream opened #118 "When enabling a filter, let it update immediately"
**What happened:**
I enabled annoyance filter and went to a website that had a cookie, I saw the cookie.
I did go to adguard app, I clicked on update. Annoyance filter got updated. It worked again. Not every person will do that. They will think, huh I enabled it, and it's not working.

**What should happen:**
I enable annoyance filter, it does load the uptodate annoyance filter from server, i go t

[2016-07-19 20:40] Alex-302 opened #119 "Incorrect working of $third-party modifier in Safari"
Sample page:
https://www.tripadvisor.com/Hotel_Review-g60811-d93892-Reviews-Home2_Suites_by_Hilton_Baltimore_Downtown-Baltimore_Maryland.html
Images are blocked by the rule from Easylist China
[code]
Image sample:
https://media-cdn.tripadvisor.com/media/photo-s/0b/b3/b1/a3/photo4jpg.jpg
This rule should not works on tripadvisor.com domain.
Screenshots:
<details>
![image](https://cloud.githubuserco

[2016-07-20 10:43] #119 closed

[2016-07-20 11:00] ameshkov commented on #118
We really cannot improve this situation. Safari applies content blocker updates asynchronously and we don't know when exactly it has finished.

What we do now is waiting for a callback from Safari signalling that updated content blocker was successfully compiled. It takes pretty much time, but still does not guarantee that Safari has already applied it.

[2016-07-20 11:01] ameshkov commented on #118
Argh, sorry, now I understand your question

[2016-07-20 11:01] ameshkov commented on #118
@Stillness-2 do we schedule an update check for the filter which was turned on?

[2016-07-20 12:35] worldsdream commented on #118
It would be even better if you enable a filter, it will fetch the filter that you enabled from server and fetch all others that you have enabled as well.

Example: you have english and spyware, you want annoyance to enable

Enable annoyance, it fetches the annoynce filter from server and also fetches english and spyware. Customer is up to date.

[2016-07-22 12:02] #105 closed

[2016-07-22 14:07] Stillness-2 commented on #118
@ameshkov

I think no.. :(

[2016-07-25 08:29] Stillness-2 commented on #118
I found some bugs, which i fixed. Also I changed logic of the loading of the filter rules, when subscription is performed. Now we attempt to load rules from backend server firstly.

@worldsdream About `and fetch all others that you have enabled as well.`. I do not see important reason to do this. Because, when you enter into Adguard, and time has come to update, Adguard performs update.

[2016-07-25 08:45] worldsdream commented on #118
Ok great! I hope it will fetch now from server after enabling a filter

[2016-07-25 08:46] #118 closed

[2016-07-25 11:38] Mizzick commented on #111
need more details

[2016-07-26 19:28] ameshkov commented on #94
Here is a bug in bugzilla (maybe posted by you?)
https://bugs.webkit.org/show_bug.cgi?id=158874

@Stillness-2 could you please take a closer look at this issue?

[2016-07-27 06:05] evgeniy-ADG opened #120 "www.very.co.uk - can't disable filtering for this site"
![image](https://cloud.githubusercontent.com/assets/15856304/17165458/3368509a-53d9-11e6-95b9-cd092fe4e91e.png)
Cant disable Adguard on www.very.co.uk using the 'enable on this website' toggle on the share sheet extension, states filters cannot be loaded into Safari.

state
<details>
Application version: 1.0.8.54
Application lifetime: 2016-07-07 8:09:07 am +0000

Device: iPhone
Platform: iPhone OS

[2016-07-27 11:33] vozersky commented on #120
I was able to reproduce it on ipad mini 2

[2016-07-27 11:39] ameshkov commented on #120
Great!

[2016-07-29 13:27] #100 closed

[2016-08-01 12:40] evgeniy-ADG commented on #120
The same for any other site

[2016-08-01 14:46] ameshkov opened #121 "NBC iOS app video ads"
http://www.wilderssecurity.com/threads/adguard-dns-beta.387403/page-2#post-2606280

Check if it's possible to block these ads on DNS-level.

[2016-08-01 21:52] ameshkov opened #122 "VarageSale app is broken by Adguard Pro DNS blocking"
https://itunes.apple.com/ca/app/varagesale-buy.-sell.-shop./id622859960?mt=8

[2016-08-02 21:03] ameshkov opened #123 "Update filters over "mobile data" (with a greater update period)"
We currently do not check for updates at all when device is on mobile data. I think we'd better use another solution: let AG check for updates over mobile data, just use a greater update check period.

For instance:
1. Over Wi-Fi == 12 hours
2. Over mobile data: 48 hours

[2016-08-03 09:50] evgeniy-ADG opened #124 "Ad filtering doesn't work on iOS 10 public beta 3"
**1372721**
**1372350**

[2016-08-05 15:06] ameshkov opened #125 "Ads in the KYMS app"
https://itunes.apple.com/us/app/secret-photos-kyms-free-vault/id471303390?mt=8

[2016-08-08 11:20] tiberian83 opened #126 "AutoBild app is broken"
AutoBild (Germany) app is broken when using Adblock PRO. It's not showing any content.

[2016-08-08 11:27] ameshkov commented on #126
@tiberian83 could you please take a look inside of the "requests log" and see which domains are being blocked?

[2016-08-08 11:31] tiberian83 commented on #126
![image](https://cloud.githubusercontent.com/assets/10312300/17478487/71c3d660-5d6c-11e6-9d63-6ea3b00bfe5b.png)

[2016-08-08 12:04] ameshkov commented on #126
Hm, nothing is blocked, weird. Please note that response could be cached, it is recommended to restart the VPN to get the proper log.

[2016-08-08 12:13] ameshkov opened #127 "Facebook app random "network connection" errors"
@gshumihin please check if we can reproduce it on our side.

[2016-08-09 08:14] evgeniy-ADG opened #128 "Adblock polskie reguły causes the issue"
I did a full system restore. Before the restoring Adguard worked fine but
afterwords it is just madness and it does not work at all.

I have removed the app, reset the iPhone, install the app again, removed
all filters, add filters one by one and still it does not work. App is
enabled in the safari settings. (It was on and off but without any result)

Screenshots in attachment
<details>
![screen s

[2016-08-09 09:11] Stillness-2 commented on #128
@evgeniy-ADG We need more info, like ticket number, if it exists.

[2016-08-09 09:12] ameshkov commented on #128
@Stillness-2 nope, we need nothing, i've already found the cause

[2016-08-09 09:18] ameshkov commented on #128
It appears that the issue we have is caused by this rule from "Adblock polskie reguły":
[code]

Due to Safari limited regular expressions it fails to compile the ad blocker:
https://webkit.org/blog/3476/content-blockers-first-look/

In this particular case the problem is the `\b` symbol. Temporary solution, use the following rule instead:
[code]

[2016-08-09 09:18] #128 closed

[2016-08-09 09:46] Stillness-2 opened #129 "On iPhone SE, in some cases, action extension receives memory warning."
And then, extension is terminated by the system.
Can we avoid this?

[2016-08-09 09:53] Stillness-2 opened #130 "Add exclude rule from action extension, then switch to Adguard, in Filters section. Rules count in status bar does not change."

[2016-08-09 09:58] ameshkov commented on #129
Optimize memory usage maybe?:)

[2016-08-09 09:59] Stillness-2 commented on #99
**We need remember to add all changes from 1.0.9 milestone**

[2016-08-09 10:00] Stillness-2 commented on #129
Of course.

[2016-08-09 13:01] gshumihin commented on #127
Installed facebook app yesterday. No problems so far.

[2016-08-09 13:04] #127 closed

[2016-08-10 09:49] evgeniy-ADG commented on #124
1372350 - заработало на Beta 4.

[2016-08-10 11:23] tiberian83 commented on #126
It must have been a problem at AutoBild. Right now I don't even get content without Adblock PRO. I think this can be closed.

[2016-08-10 12:22] evgeniy-ADG opened #131 "Adguard Pro won't work on iOS 10 Beta 5 because of a VPN issue"
Поломался VPN в iOS 10 beta 5. Постоянно подключается-отключается. Соответственно, соединения вообще нет.

**1382035**

[2016-08-10 14:42] Stillness-2 opened #132 "Implement transferring DNS log between the extension and the host application using the file system"

[2016-08-10 15:56] Alex-302 opened #133 "[Adguard Pro] Ads are not blocked in Музыка ВК app"
https://itunes.apple.com/ru/app/muzyka-vk-skacivaj-muzyku/id1088822111?l=en&mt=8
Original post:
https://forum.adguard.com/index.php?threads/%D0%A0%D0%B5%D0%BA%D0%BB%D0%B0%D0%BC%D0%B0-%D0%B2-%D0%BF%D1%80%D0%B8%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5.12583/

[2016-08-10 18:53] vgavrish commented on #131
Ответ пользователя на " Я так понимаю, что VPN сломался не сразу. Вы выполнили обновление на новую бету? Или просто в какой то момент перестало адекватно работать?"
" Обновился и сломался сразу"

[2016-08-12 10:09] ameshkov opened #134 "The should be a way to unlock a domain blocked by AG DNS"
What if we check if domain is in the whitelist and if it is - send it to the real DNS instead?

[2016-08-12 10:14] Stillness-2 commented on #132
2ef30384b92e60d182328ce5438a19870205184e

[2016-08-12 10:14] #132 closed

[2016-08-12 11:35] #126 closed

[2016-08-12 14:24] ameshkov commented on #133
Hm I wonder if it is possible

[2016-08-12 14:29] vbagirov opened #135 "Add a 'password protection' feature for Adguard PRO section"
So that a child couldn't deactivate 'family protection' mode, for example.

Originally from: https://forum.adguard.com/index.php?threads/12328/#post-95369

[2016-08-12 17:42] Stillness-2 commented on #111
https://github.com/AdguardTeam/AdguardBrowserExtension/issues/325

[2016-08-12 17:42] #111 closed

[2016-08-13 06:24] vgavrish commented on #131
Ответ: На мобильном интернете все ок а на wifi начинает скакать

[2016-08-13 12:39] worldsdream commented on #123
It would be nice if there was a option in settings, for example:

Download filters: Wifi, Cellular, Wifi and Cellular.

[2016-08-15 08:32] Stillness-2 commented on #117
@gshumihin Please test this on last beta

[2016-08-15 12:58] ameshkov commented on #123
Yep, I suppose this should be in the "advanced settings" section.

[2016-08-15 12:59] ameshkov commented on #131
@Stillness-2 do we have enough logging to troubleshoot such cases?

[2016-08-15 14:22] onega commented on #123
Prompt, this feature is only available in the professional version of iOS for Adguard, or Adguard standard (free), too?

[2016-08-16 09:34] gshumihin commented on #117
Works fine now.

[2016-08-16 09:36] #117 closed

[2016-08-16 11:25] evgeniy-ADG opened #136 "[Adguard Pro for iOS] google.ca - Chrome self-advertising"
https://github.com/AdguardTeam/AdguardFilters/issues/2822

User enabled Annoyance filter that has the rule to block the ad, but

[2016-08-16 11:59] ameshkov opened #137 "Review AG Pro UI and text"

[2016-08-16 12:04] ameshkov commented on #123
@onega it will be available for both.

If issue is not marked with "PRO" label it is for both versions.

[2016-08-17 08:28] evgeniy-ADG commented on #136
The comment from the user:

<details>
![image1](https://cloud.githubusercontent.com/assets/15856304/17729625/c1f320e8-646d-11e6-8a5f-51af27fd6e5c.png)

[2016-08-17 08:34] evgeniy-ADG commented on #131
Logs: 1382035

[2016-08-18 08:35] ameshkov opened #138 "Random app crash (due to lack of resources?)"
Source:
https://forum.adguard.com/index.php?threads/adguard-%D0%9F%D0%A0%D0%9E-%D0%B4%D0%BB%D1%8F-ios-v1-0-%D0%B1%D0%B5%D1%82%D0%B0.12328/#post-96042

Customer ID: 1240487

[2016-08-19 07:33] evgeniy-ADG opened #139 "Pro doesn't work on 3G"
<details>
![image1 1](https://cloud.githubusercontent.com/assets/15856304/17802325/4cf9eef2-65f8-11e6-8021-6c0008ecde22.png)
</details>

Logs: 1303217

[2016-08-19 11:16] Stillness-2 commented on #138
#129

[2016-08-19 11:28] #60 closed

[2016-08-22 09:51] ameshkov opened #140 "There should be an explanation how automatic updates work"
**Source:**
https://forum.adguard.com/index.php?threads/adguard-for-mac-filter-updates-automatically.11457/#post-89484

[2016-08-22 13:44] ameshkov commented on #136
It could be an old issue with the content blocking API (cosmetic rules aren't applied if the website is opened that way).

[2016-08-25 11:20] #123 closed

[2016-08-25 13:58] #134 closed

[2016-08-25 15:01] vbagirov opened #141 "Adguard PRO shows an error message when you open Adguard DNS tab"
Screenshot: ![slack for ios upload](https://cloud.githubusercontent.com/assets/8577533/17974201/cb3ecc48-6aed-11e6-8ccb-756b191e222e.jpg)

Maybe it was caused by enabled logging during the update.

[2016-08-29 06:29] #141 closed

[2016-08-30 16:49] Stillness-2 commented on #129
#138

[2016-08-30 16:49] #129 closed

[2016-08-30 16:50] #138 closed

[2016-08-30 17:07] vozersky commented on #120
Just tried to reproduce in iOS 10 public beta 6.
Looks like the problem is gone.

[2016-08-30 17:08] #120 closed

[2016-08-31 14:00] Masterj2700 opened #142 "Adguard in other apps"
How do I activate Adguard to block content in apps other than safari?

[2016-08-31 15:40] Masterj2700 opened #143 "Optimal IOS Filiter Settings"
Could some users recommend what filters and blockers they have switched on for IOS for optimal speed and performance?

[2016-08-31 16:29] #130 closed

[2016-08-31 17:46] Stillness-2 commented on #122
@gshumihin Could you please test this on last pro beta? Before that add domain `cdn.optimizely.com` to whitelist.

[2016-08-31 18:33] Stillness-2 commented on #125
On last build (may be on last beta too) isn't confirmed. I don't see ads.

[2016-08-31 18:33] #125 closed

[2016-08-31 20:25] Stillness-2 commented on #136
#101

[2016-08-31 20:36] #99 closed

[2016-08-31 21:16] Stillness-2 commented on #139
It needs to check on last beta version.

[2016-09-01 11:37] Stillness-2 commented on #133
You should check this:

- Install the latest beta version of Adguard Pro
- Start the app and enable Adguard DNS
- Remove app Music VK
- Install again and launch the app Music VK

I think that the ads in the app associated with a domain `ads.mopub.com`. But if we allow the app to download the advertisement at least once, app will show it even if app will not be able to load ads.

[2016-09-01 11:50] evgeniy-ADG opened #144 "http://www.watchseries.ac/ - ad leftovers"
https://github.com/AdguardTeam/AdguardFilters/issues/2882

Can't hide some ad leftovers.

[2016-09-01 14:13] gshumihin commented on #122
The app can't even load while VPN is on.

[2016-09-01 14:24] gshumihin commented on #131
У меня все по-прежнему работает нормально, уже на 6 бете.

[2016-09-01 14:55] gshumihin commented on #122
My bad, added wrong domain in whitelist. Everything works fine with `cdn.optimizely.com` added to whitelist.

[2016-09-01 15:12] Stillness-2 commented on #122
@ameshkov @Alex-302
We need decide what to do with this domain. It is blocked by Adguard DNS.

[2016-09-01 16:47] #133 closed

[2016-09-01 16:47] #139 closed

[2016-09-04 00:00] worldsdream commented on #143
Enable english filter, spyware filter, safari filter.

Which country specific websites do you visit?

[2016-09-05 17:46] Bohdan-SUP commented on #131
Проблема все еще на месте - "Попробовал на другой сети - все то же самое".

[2016-09-06 13:16] ameshkov opened #145 "VPN reconnects very often without any reason"
Customer ID:
1407715

[2016-09-06 14:26] ameshkov commented on #142
Are you participating in Adguard Pro beta test?

[2016-09-06 16:28] ameshkov commented on #144
I've answered there

[2016-09-06 16:28] #144 closed

[2016-09-06 16:52] ameshkov commented on #122
@Alex-302 please take care of it

[2016-09-06 17:03] Alex-302 commented on #122
Excluded

[2016-09-06 17:03] #122 closed

[2016-09-06 23:09] ameshkov commented on #131
@Stillness-2 а это не та же самая проблема что вот тут?
https://github.com/AdguardTeam/AdguardForiOS/issues/145

[2016-09-08 09:56] xxcriticxx opened #146 "change filter description"
i think this more feature request. i would like to edit my filter description.

[2016-09-08 10:00] xxcriticxx opened #147 "easylist filters"
i have easylist selected my active filters counter shows only 26595 filters enabled. i think it should be somewhere around 65000 filters? i know i read something about safari limit does this apply here?

[2016-09-08 10:13] xxcriticxx commented on #143
easylist? yes or no?

[2016-09-08 10:15] Alex-302 commented on #143
No, if English filter is enabled.

[2016-09-08 10:26] xxcriticxx commented on #121
can you add history app it has 30 sec in stream adds. how do i get my hands one pro ver?

[2016-09-08 10:28] xxcriticxx commented on #143
ok i guess this answers this https://github.com/AdguardTeam/AdguardForiOS/issues/147

what about easylist privacy?

[2016-09-09 13:22] ameshkov commented on #145
Seems to be good in the latest beta.

[2016-09-09 13:22] #145 closed

[2016-09-09 13:26] xxcriticxx opened #148 "user filter error"
`||fntajkb.wp.pl^` yesterday i had this filter working on iso 9.3.5 iphone 6

today i am getting error

Filters cannot be loaded into Safari. Therefore, you recent changes were not applied.

why?

[2016-09-12 09:10] ameshkov commented on #146
@xxcriticxx hi!

Could you please elaborate a bit?
Do you mean user filter?

[2016-09-12 09:12] ameshkov commented on #147
Hi!

I advise you to read this discussion:
https://github.com/AdguardTeam/AdguardBrowserExtension/issues/230

There is a detailed description of filters optimization applied by Adguard.

[2016-09-12 09:12] #147 closed

[2016-09-12 09:13] ameshkov commented on #121
You can take part in the beta test. More information here:
https://forum.adguard.com/index.php?threads/adguard-for-ios-beta-test.6344/

[2016-09-12 09:15] ameshkov commented on #143
It overlaps with Adguard spyware filter. Although both are pretty good, it'd better to choose one. The difference is that spyware filter maintained by us while easyprivacy is maintained by easylist guys.

[2016-09-12 09:15] #143 closed

[2016-09-12 10:24] ameshkov commented on #148
Which filters do you have enabled in AG?

I don't think the issue is caused solely by this rule, something else is responsible.

[2016-09-12 10:57] xxcriticxx commented on #148
filters i have on:
english, spyware, social media, annoyances, mobile ads, safari, easyprivacy, anti-adblock filters

filters i had to turn off because my filters wont update:
adblock polskie reguly, adblock polskie reguly cookies

[2016-09-12 11:00] xxcriticxx commented on #146
@ameshkov hold off on this for now

[2016-09-12 12:08] ameshkov commented on #148
@gshumihin please check what rule breaks converter (again).

[2016-09-12 12:47] ameshkov commented on #148
@xxcriticxx the issue is fixed in Safari extension v2.4.10 and in AG for iOS beta version.

[2016-09-12 12:47] #148 closed

[2016-09-12 13:21] xxcriticxx commented on #148
how to get beta version to test?

[2016-09-12 13:26] ameshkov commented on #148
Here it is:
https://forum.adguard.com/index.php?threads/adguard-for-ios-beta-test.6344/

[2016-09-12 23:50] xxcriticxx opened #149 "adguard pro add new list"
how do i add new user filter list to my iphone?

[2016-09-13 12:04] vozersky opened #150 "[PRO] Random notification sounds"
Check the [forum thread](https://forum.adguard.com/index.php?threads/adguard-%D0%9F%D0%A0%D0%9E-%D0%B4%D0%BB%D1%8F-ios-%D0%9F%D1%80%D0%BE%D0%B8%D0%B7%D0%BE%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5-%D0%B7%D0%B2%D1%83%D0%BA%D0%BE%D0%B2%D1%8B%D0%B5-%D0%BE%D0%BF%D0%BE%D0%B2%D0%B5%D1%89%D0%B5%D0%BD%D0%B8%D1%8F-%D0%B2-%D0%BF%D0%BE%D1%87%D1%82%D0%B5.13750/) for description

[2016-09-13 12:07] gshumihin commented on #150
Wasn't able to reproduce this isuue.

[2016-09-13 12:07] #150 closed

[2016-09-13 16:31] ameshkov commented on #149
You mean a whole filter or just a filter rule?

[2016-09-13 20:38] xxcriticxx commented on #149
Whole filter list

[2016-09-13 21:24] ameshkov commented on #149
You can only enable filters from a pre-defined list, there is no way to import a third-party filter in iOS.

[2016-09-13 23:12] xxcriticxx commented on #149
any plans for the future?

[2016-09-15 10:21] evgeniy-ADG opened #151 "Pro disables Speedify"
Your VPN completely disabled Speedify. Is there any way you can change your VPN location from VPN configurations section to the Personal VPN section in iOS 10 ? Outside of that I noticed Skype dropped a call instantly after installing Adguard Pro. That may be just a glitch or the switch over to Adguard Pro but I didn't have that issue with Speedify or Cloak VPN dropping Skype calls during initial

[2016-09-15 13:13] ameshkov commented on #149
Yep, I suppose we will allow custom filters installation in future.

[2016-09-15 13:13] #149 closed

[2016-09-15 14:41] ameshkov commented on #151
The skype calls issue looks like a glitch.

What for second question: this is the restriction of a VPN API. Only one VPN is allowed at the given time.

[2016-09-15 14:41] #151 closed

[2016-09-16 01:06] xxcriticxx opened #152 "amazon advertisement"
still getting advertisement on amazon.com on adguard pro version

sample link:
https://www.amazon.com/Performix-Adguard-Adblock-for-Android/dp/B0158CTKR8

![img_3242](https://cloud.githubusercontent.com/assets/15007183/18572328/371bb94e-7b88-11e6-97fa-fac7625b5c8d.PNG)

[2016-09-16 19:05] Alex-302 commented on #152
Wrong repository. Write here in the next time:
https://github.com/AdguardTeam/AdguardFilters/issues
Add(copy-paste) these rules to user filter and check again:
[code]

[2016-09-20 10:11] vozersky opened #153 "Dual VPN Connections"
Are there any known problems if you connect to two different VPNs at the same time on iOS?

For example, if you use Adguard PRO and:
https://itunes.apple.com/ru/app/f-secure-freedome-vpn/id771791010?mt=8

It has to be tested.

[2016-09-20 12:25] gshumihin commented on #153
Looks like Adguard and F-secure VPN could work together.
myip.ru detects ip adress given by f-secure, and ads are filtered by adguard. pretty cool :)

[2016-09-20 12:30] #153 closed

[2016-09-20 20:13] ameshkov opened #154 "Adguard does not validate filter text"
Here is what I see in user's filter:

[code]

Contents of some "blocked" page.

To solve this issue once and for all, we should use `HTTPS` instead of `HTTP`.

[2016-09-25 17:29] Bohdan-SUP commented on #131
"Теперь все работает! Спасибо"

[2016-09-25 17:29] #131 closed

[2016-09-25 22:04] worldsdream commented on #89
I have seen another adblocker, that is accepted in the appstore. It shows in the information that it will work on ios 8, 9 and 10. On both 32 and 64 but devices. It does also block ads in other apps.

[2016-09-28 09:12] Madi0ne opened #155 "Feature Request: Allow subscription to user lists"
Dear All,

I want to request a feature in Adguard for iOS, which allow user to subscribe to their own lists from internet.

Regards,
Maddy

[2016-09-28 12:52] #152 closed

[2016-09-28 21:31] ameshkov commented on #155
Hi @Madi0ne, thank you for the feedback!

This issue is duplicate for https://github.com/AdguardTeam/AdguardForiOS/issues/50 though.

[2016-09-28 21:31] #155 closed

[2016-09-29 09:03] Stillness-2 opened #156 "When action extension is opened, "Unexpected error occurred.." if loading of the current page is not finished"

[2016-09-29 10:45] #156 closed

[2016-09-30 18:11] ameshkov opened #157 "Should we use touch ID?"
Can it help us to prevent a kid from turning AG VPN off?

[2016-10-02 15:10] Vanjwu opened #158 "ios pro和free版本相比没有太大的变化"
pro版仅仅增加了一个VPN模式，还和我的其它vpn软件相冲突，并且规则在中国并不好用。后期有没有增加其它功能的可能性？

[2016-10-02 15:14] Vanjwu commented on #158
Pro version only adds a VPN mode, but also, and my other vpn software conflict, and the rules in China is not easy to use. Is there any possibility of adding other features later? Otherwise I can not find the reason to buy pro version.

[2016-10-03 01:01] Masterj2700 opened #159 "Adguard pro"
Would I be able to be re-added to the test flight for Adguard pro as I lost access?  Thanks!  Email is steinerja29@gmail.com

[2016-10-03 08:01] evgeniy-ADG opened #160 "Whitelist for apps"
I hope to be able to add a whitelist for an app function.

**1422181**

[2016-10-03 10:31] ameshkov opened #161 "Allow blocking domains with user filter rules"
For instance, if I add `||iadsdk.apple.com^`, access to that domain should be blocked on the DNS level.

[2016-10-03 10:32] ameshkov commented on #158
@Vanjwu are you sure it conflicts with any third party VPN app?

For instance, we've tested it along with F-secure VPN #153 and it worked well.
However, I am not sure about all other VPN apps, we should check it. Which one do you use?

[2016-10-03 10:37] ameshkov commented on #160
@Stillness-2 is that possible in theory?

[2016-10-03 10:37] gshumihin opened #162 "Test Adguard Pro compatibility with other vpn apps"
Test PRO version for compatibility with most popular VPN apps.
### Compatible VPN apps

Adguard _can_ work without any issues with next apps:

| App | Date | Version | Comment |
| --- | --- | --- | --- |
| [Tunnelbear](https://itunes.apple.com/ru/app/tunnelbear-vpn/id564842283) | 04.10.16 | 2.5.2 | ... |
| [Hola](https://itunes.apple.com/ru/app/hola-privacy-vpn-app-browser/id903869356) | 04.10.16

[2016-10-03 10:51] ameshkov commented on #162
TunnelBear
HotSpot Shield
Hola
PIA

[2016-10-03 10:53] Vanjwu commented on #158
The shadowsocksrocket .Could you have to add servers in China?

[2016-10-03 11:05] ameshkov commented on #158
Adguard is not a real VPN, so we have no VPN servers at all.

We'll test AG Pro with shadowrocket:
https://github.com/AdguardTeam/AdguardForiOS/issues/162

[2016-10-03 12:03] vbagirov commented on #159
@Masterj2700 I have removed you as a tester and then readded again. Please check if you received the invitation.

[2016-10-03 12:22] Vanjwu commented on #158
Adding ad filtering rules is a feature of adguard. We recommend adding and exporting personal ad filtering rules.

[2016-10-03 13:57] gshumihin commented on #162
Here's some results:

Adguard can work without any issues with next apps:
- Tunnelbear
- Hola

With **_Express-** VPN only one app can use VPN (enabling one vpn disenables another)

With HotSpot Shield Adguard VPN cannot be enabled at all.

[2016-10-03 13:57] Vanjwu commented on #162
I want to use Shadowrocket !

[2016-10-03 13:57] gshumihin commented on #162
I didn't test it yet, wait 10-15 minutes :)

[2016-10-04 06:29] evgeniy-ADG opened #163 "Активный Граджанин - не работает кнопка "Поделиться в Fb""
Application version: 1.1.0.21
Application lifetime: 2016-10-01 06:11:13 +0000

Device: iPhone
Platform: iOS
OS: 10.0.2
ID: C4E7E024-E994-48AA-8024-8A7A733E8634

Locale: ru
Region: ru

Optimazed enabled: NO

Filters subscriptions:
ID=0 Name="User filter" Version=1.0.0.0 Enabled=YES
ID=2 Name="English filter" Version=1.0.96.1 Enabled=YES
ID=3 Name="Spyware filter" Version=1.0.7.81 Enabled=YES
ID=4 N

[2016-10-04 09:11] ameshkov commented on #158
Yeah, I agree, we will add it eventually.

Also it'd better if you file new feature requests as a separate github issues.

[2016-10-04 09:11] #158 closed

[2016-10-04 22:51] ameshkov commented on #162
@gshumihin please test it with AirVPN.

[2016-10-05 06:24] Eugene-Savenko opened #164 "Can't broadcast YouTube to TVs' nor Xbox One's YouTube apps"
<details>

![image2](https://cloud.githubusercontent.com/assets/15856304/19103106/786271ea-8add-11e6-87c0-272f3891eded.png)

![image1 2](https://cloud.githubusercontent.com/assets/15856304/19103109/7981d69c-8add-11e6-87d8-da8d22fc40da.png)

</details>

**1423882**

[2016-10-05 06:44] Stillness-2 commented on #164
@gshumihin Please test this :)

[2016-10-05 07:06] evgeniy-ADG commented on #164
I was able to reproduce, the broadcast button is not available when you run Adguard Pro with DNS filtering enabled.

[2016-10-05 08:00] evgeniy-ADG opened #165 "Family protection blocks images on www.dilbert.com"
Family protection enabled: Dilbert's cartoon image file is not displayed
<details>
![file_000 1](https://cloud.githubusercontent.com/assets/15856304/19105469/bd39df62-8aea-11e6-98ce-eb1591843a9e.png)

</details>

Default protection: Dilbert's cartoon image file is displayed
<details>
![file_000 2](https://cloud.githubusercontent.com/assets/15856304/19105488/de4f87e2-8aea-11e6-82c4-ad755c87af00.png

[2016-10-05 08:05] evgeniy-ADG opened #166 "Removing the VPN icon"
<details>
https://www.adblockios.com/faq/

VPN icon appears only when you are properly connected to a VPN server. Because AdBlock for iOS uses a non-existing ("dummy") VPN server address, iOS won't be able to connect to it. So there will be no VPN icon in the status bar at any point, and this is normal. You don't actually connect to a VPN server when using AdBlock for iOS.

[2016-10-05 11:08] ameshkov commented on #162
@gshumihin also let's keep the resulting list in the issue description.

[2016-10-05 11:10] ameshkov commented on #166
No, that's not possible.

Please read the detailed description here:
http://forums.macrumors.com/threads/ios-9-content-blockers-mini-reviews.1918483/page-36#post-23668156

[2016-10-05 11:10] #166 closed

[2016-10-05 11:21] ameshkov opened #167 "Test Adguard Pro in app ad blocking"
We will keep track of the Adguard Pro performance with the top iOS apps.
#### The list of apps Adguard Pro blocks ads within
- [theScore](https://itunes.apple.com/us/app/thescore-sports-scores-news/id285692706)
- [Flipboard](https://itunes.apple.com/en/app/flipboard-your-social-news/id358801284)
#### The list of apps Adguard Pro cannot block ads
- Facebook
- Twitter
- Instagram
- Youtube

[2016-10-05 11:22] ameshkov commented on #167
@gshumihin use https://www.appannie.com/ top

[2016-10-05 11:23] ameshkov commented on #167
@gshumihin test "theScore": https://itunes.apple.com/us/app/thescore-sports-scores-news/id285692706?mt=8

[2016-10-05 11:32] ameshkov commented on #167
@gshumihin one more app to test: Flipboard

[2016-10-05 13:49] gshumihin commented on #162
Well I tried AirVPN, but there is only chinese localization. So i wasn't able to understand whether it works or not.

[2016-10-05 14:19] ameshkov commented on #162
Master Pro appears to be also compatible

[2016-10-05 15:00] ameshkov commented on #165
@vozersky family protection false positive

[2016-10-05 15:10] Alex-302 commented on #165
Works as expected on my end.

[2016-10-05 15:19] vozersky commented on #165
our parental control doesn't dilbert.com

[2016-10-05 16:28] ameshkov opened #168 "Mention that Adguard uses VPN API in the app description"
It is not clear from the description, that Adguard might interfere with VPN apps.

We should state that some apps may be incompatible with Adguard.

[2016-10-05 18:16] jo2dan23 commented on #167
Does this mean we might be able to add our own filters to block in app ads also?

[2016-10-05 18:27] jo2dan23 commented on #161
Awesome!

[2016-10-05 18:41] evgeniy-ADG commented on #165
I reproduced this one before posting here, I made those screenshots actually. Works fine now =\

[2016-10-05 18:48] vozersky commented on #165
Maybe someone has already whitelisted it before i tried to :)

[2016-10-06 06:44] evgeniy-ADG opened #169 "http://www.ran.de/ - incorrect blocking by DNS filtering"
http://www.ran.de/tennis/live/wta-turnier-in-peking-im-kostenlosen-livestream

Before: <details>
![1](https://cloud.githubusercontent.com/assets/15856304/19142909/7325203e-8ba9-11e6-9eae-ed87b2af90b5.png)

</details>

After: <details>
![2](https://cloud.githubusercontent.com/assets/15856304/19142916/7667712a-8ba9-11e6-960a-e20176d220e9.png)

</details>

**_1424706**_

[2016-10-06 07:03] evgeniy-ADG opened #170 "Unable to turn DNS filtering on when using Voice Over screen reader"
Adguard settings window will close if you try toggling DNS status.

**1423327**

[2016-10-06 09:06] ameshkov commented on #161
Yeah, you will. Adguard Pro is not aware of the actual filter used on the DNS side, it just gets the result (blocked or not blocked). So if you decide to block anything, DNS rules won't mess with your decision.

[2016-10-06 09:06] #165 closed

[2016-10-06 09:50] Alex-302 commented on #169
@evgeniy-ADG Are you sure that is blocked by DNS, and is not hidden by rules from user filter?

[2016-10-06 11:12] evgeniy-ADG commented on #162
Is OneVPN app compatible?

[2016-10-06 16:23] ameshkov opened #171 "Add Get PRO link to the top-right corner"

[2016-10-06 19:46] jo2dan23 commented on #161
Cool. Is this in the latest adguard beta? I still wasnt invited yet to testflight program

[2016-10-06 20:22] xxcriticxx opened #172 "filter update stock in update loop"
My adguard pro ver 1.1.0 on ios 9.3.5 stock on Check Filter Updates in loop for less 3 hr. i already try reboot the phone few times, kill the app, turn on/off wifi nothing works do you guys have any other suggestions?

[2016-10-07 01:05] Vanjwu commented on #162
Shadowrocket compatible？

[2016-10-07 09:05] ameshkov commented on #169
@Alex-302 how's it going with the content blocker?

[2016-10-07 09:24] Alex-302 commented on #169
@ameshkov that block is hidden by user filter
<details>
![image](http://imagizer.imageshack.com/img923/1993/jbCbpY.png)
</details>

[2016-10-07 09:36] gshumihin commented on #162
@Vanjwu no, only one of VPN services can be used at the same time: either Adguard or Shadowrocket

[2016-10-07 09:40] ameshkov commented on #169
ah, ok then

[2016-10-07 09:58] ameshkov commented on #161
Not yet, but it's planned for it.

Inviting @vbagirov here then.

[2016-10-07 10:00] ameshkov commented on #172
@Stillness-2 what do you think?

[2016-10-07 10:36] Alex-302 commented on #169
@evgeniy-ADG read this https://github.com/AdguardTeam/AdguardForiOS/issues/169#issuecomment-252193046

[2016-10-07 11:09] Stillness-2 commented on #172
It possible if backened service is not available. But why this happens... We need logs.

[2016-10-07 11:18] Stillness-2 commented on #172
@xxcriticxx If you disable Adguard DNS, then update goes normal?

[2016-10-07 18:04] xxcriticxx commented on #172
i dont use adguard dns. it updated today at 6:45 am so it took about 22h to update. now i can pull updates with no problem. i will keep eye on this for next few days.

[2016-10-07 18:15] xxcriticxx opened #173 "enable/disable button"
can you guys please add enable/disable button?

[2016-10-07 23:44] jo2dan23 commented on #161
@ameshkov this would be a very useful feature for saving more data and speeding up internet! Very excited

[2016-10-08 18:15] jo2dan23 commented on #172
My just started doing this also

[2016-10-09 22:34] ameshkov opened #174 "Consider implementing a simple Firewall feature"
I suppose we can do it using the appRules:
https://developer.apple.com/reference/networkextension/netunnelprovider/1406531-apprules

[2016-10-09 22:44] ameshkov commented on #162
@gshumihin please test "Privacy Pro" by disconnect.

[2016-10-10 08:22] ameshkov commented on #173
For what exactly?

[2016-10-10 14:28] gshumihin commented on #162
Privacy pro is incompatible.

[2016-10-10 16:22] ameshkov commented on #162
@gshumihin what about OneVPN?

[2016-10-10 16:23] xxcriticxx commented on #173
if website dont work you can turn off adblocker and turn on or maybe pause button be better idea

[2016-10-10 16:38] ameshkov commented on #173
It is already possible to do it in Safari (tap share button and find Adguard action there)

[2016-10-10 17:46] xxcriticxx commented on #173
@ameshkov i switched phones my testflight app is asking for new invitation code can you get aegis to send me one

[2016-10-10 17:51] jo2dan23 commented on #174
Would this mean we can block system apps from using data and wifi?

[2016-10-10 20:40] jo2dan23 opened #175 "Fanboy's Anti-thirdparty Fonts"
could we add this list to filters?

https://fanboy.co.nz/fanboy-antifonts.txt

[2016-10-11 09:45] gshumihin commented on #162
I can't find OneVPN. Maybe this should be openVPN @evgeniy-ADG?

[2016-10-11 09:47] gshumihin commented on #164
@ameshkov i guess we need Xbox One :)

[2016-10-11 12:38] ameshkov commented on #173
Summoning @vozersky here

[2016-10-11 12:40] ameshkov commented on #174
Can't say until we test it.

[2016-10-11 12:52] ameshkov commented on #175
Yeah, I guess we can.

@mmigi @Alex-302 could you please take care of it?

[2016-10-11 12:54] ameshkov commented on #164
I guess it could be a hardcoded limitation of the app.

@evgeniy-ADG could you please check it with any other VPN app?

[2016-10-11 13:16] Alex-302 commented on #175
Added to
[code]

[2016-10-11 14:06] ameshkov opened #176 "Fongo - missed ads"
App link:
https://itunes.apple.com/us/app/fongo-world-edition/id860809977?mt=8

Source:
http://forums.macrumors.com/threads/ios-9-content-blockers-mini-reviews.1918483/page-36#post-23693900

[2016-10-11 14:07] ameshkov opened #177 "TextNow - missed ads"
Link to the app:
https://itunes.apple.com/us/app/textnow-free-text-+-calls/id314716233?mt=8

Source:
http://forums.macrumors.com/threads/ios-9-content-blockers-mini-reviews.1918483/page-36#post-23693900

[2016-10-11 14:22] ameshkov opened #178 "Allow user to change default update period"
Just like we did it in AG for Windows:
https://github.com/AdguardTeam/AdguardForWindows/issues/941

@Stillness-2 is it possible?

[2016-10-11 14:24] jo2dan23 commented on #175
Thankyou

[2016-10-11 14:31] Stillness-2 commented on #178
It is possible, but no guarantees that the desired period will be met

[2016-10-11 15:17] vozersky commented on #173
@xxcriticxx
You are already a registered tester. Just log in with your apple id.
If testflight keeps asking for code, use the same one you've received with the first notification letter.

[2016-10-11 16:27] xxcriticxx commented on #173
i dont have my old phone any more. i am logged in with my apple id but testflight tells me adguard pro is unavailable to enter your testflight invitation code. i also click on my apple id and remove my old phone because i had 2 devices there. i make some pictures shortly

[2016-10-11 16:57] xxcriticxx commented on #173
![img_3438](https://cloud.githubusercontent.com/assets/15007183/19280055/16b93a9e-8fb2-11e6-882e-609bca21962b.PNG)
![img_3439](https://cloud.githubusercontent.com/assets/15007183/19280059/19e3ec14-8fb2-11e6-9b8d-e846fe9ecc13.PNG)
![img_3440](https://cloud.githubusercontent.com/assets/15007183/19280065/1cbb9216-8fb2-11e6-95f2-435cc3b96df3.PNG)
![img_3441](https://cloud.githubusercontent.com/assets/

[2016-10-11 17:22] vozersky commented on #173
check your email, i've deleted your tester's id and re-invited you, let's see if it works

[2016-10-11 17:24] xxcriticxx commented on #173
ok i have open and waiting for it

[2016-10-11 17:57] xxcriticxx commented on #173
still nothing

[2016-10-11 18:04] Fridrix opened #179 "Ads in apps Fongo and TextNow"
Fongo:
https://itunes.apple.com/ca/app/fongo-free-calls-+-free-texts/id473770452?mt=8
TextNow:
https://itunes.apple.com/us/app/textnow-free-text-+-calls/id314716233?mt=8
Device: iPhone
<details>Platform: iOS
OS: 10.1
Optimazed enabled: NO
Filters subscriptions:
ID=0 Name="User filter" Version=1.0.0.0 Enabled=YES
ID=2 Name="English filter" Version=1.0.96.65 Enabled=YES
ID=3 Name="Spyware filter" Ve

[2016-10-11 18:13] Fridrix opened #180 "TapeACall - recordings can't be reached with Adguard enabled"
TypeACall
https://itunes.apple.com/us/app/tapeacall-pro-record-phone/id577499909?mt=8
Trying to access my call recordings which are on the Developer's servers, it
does cannot be reached.
Once I stop Adguard DNS, everything returns to normal.

When Adguard Disabled
<details>![1](https://cloud.githubusercontent.com/assets/20476168/19282537/6c9e08be-8ff7-11e6-8311-1d5b702dd7c4.jpg)
</details>
When Ad

[2016-10-11 18:26] Fridrix opened #181 "Adguard doesn't block ads on imobile.com"
Device: iPhone
<details>
Platform: iOS
OS: 10.0.2
ID: A276A090-3F67-4CB2-AAA4-A3CB11EAAC2E
Locale: en
Region: us
Optimazed enabled: NO
Filters subscriptions:
ID=0 Name="User filter" Version=1.0.0.0 Enabled=YES
ID=2 Name="English filter" Version=1.0.96.89 Enabled=YES
ID=3 Name="Spyware filter" Version=1.0.8.3 Enabled=YES
ID=4 Name="Social media filter" Version=1.0.13.42 Enabled=YES
ID=14 Name="Anno

[2016-10-11 20:42] jo2dan23 commented on #172
is there a way to disable auto update because mine keeps getting stuck in a update loop and i don't know whats causing it.

[2016-10-12 13:13] gshumihin commented on #179
There is no ads inTextNow for me:
<img src="https://files.slack.com/files-pri/T0B41S97U-F2NAKH5DH/slack_for_ios_upload.jpg" width="300">

[2016-10-12 13:19] gshumihin commented on #179
And we already have opened issues for this apps: #176 and #177

[2016-10-12 13:19] #179 closed

[2016-10-12 13:20] gshumihin commented on #177
There is no ads inTextNow for me:
<img src="https://cloud.githubusercontent.com/assets/8577547/19311410/f049706e-9096-11e6-93bc-eb70169ae872.jpg" width="300">

[2016-10-12 15:28] gshumihin commented on #176
Here's log
[fongo.txt](https://github.com/AdguardTeam/AdguardForiOS/files/524941/fongo.txt)

[2016-10-12 15:31] gshumihin commented on #167
Do I need to upload logs here, if there any missed ads?

[2016-10-12 15:58] xxcriticxx commented on #173
@vozersky i never received that email from you can you please resend

[2016-10-12 16:30] jo2dan23 commented on #177
admarvel.s3.amazonaws.com
www.leanplum.com

[2016-10-12 19:39] Alex-302 commented on #181
Can't acces - DNS_PROBE_FINISHED_NXDOMAIN

[2016-10-12 19:42] Alex-302 commented on #176
@gshumihin а время запуска приложения?

[2016-10-12 20:11] ganja24 commented on #177
Which filters do you have enable? I still see the ads on TextNow?

[2016-10-13 06:39] gshumihin commented on #177
@ganja24 in-apps ads are filtered by DNS, so it doesn't really matters what filters are enabled.

[2016-10-13 11:59] vozersky commented on #173
@xxcriticxx  it's not from me, it should be from @email.apple.com, please check again, I've recreated your tester's account one more time. Also, let's communicate through forum PM please, since this conversation is not really related to the current issue.

[2016-10-13 12:26] ganja24 commented on #177
I provided the screenshots seems like ads won't go away for these 2 apps

[2016-10-13 17:58] yonika commented on #164
Hi, I sent you the bug report on this issue.
I just saw this was not solved on 1.1.2 :(

But, sorry to ruin your plans on buying an Xbox One :) you can also buy a Smart TV with YouTube App. I have a Samsung SmartTV but I believe chromcast will also do it.

[2016-10-13 20:09] ganja24 commented on #177
As you can see in the pics Adguard DNS is enabled but the in app ads for both apps TextNow and Fongo are showing. How is it possible you are not seeing ads and I am seeing the ads? Did you purchase in app to remove ads?

[2016-10-13 20:25] Bohdan-SUP opened #182 "Adguard PRO reported to slow down loading times of App Store and Music"
Source:
https://twitter.com/WarmTurtleTank/status/785913367013781508

Requested logs from customer **1429042**

[2016-10-13 20:36] Bohdan-SUP opened #183 "Adguard won't work on mobile data"
Cell provider - Videotron
Works fine with Wi-Fi, but not 3G/LTE

Log and further details - customer ID **1428730**

[2016-10-13 20:38] jo2dan23 commented on #177
The two hostnames i posted above are probably causing the ads. They are both ad companys

[2016-10-13 20:40] jo2dan23 commented on #177
Leanplum is the most complete mobile marketing platform it says

[2016-10-13 20:41] jo2dan23 commented on #183
It might be your cell provider. Works fine on mine on latest version

[2016-10-14 09:57] Alex-302 commented on #176
@gshumihin

[2016-10-14 10:02] Alex-302 commented on #180
There are too many records in DNS log. Please ask for a new log after few attempts, and with a time when attempts were made.

[2016-10-14 10:03] gshumihin commented on #163
I have same situation with VPN enabled. Without Adguard's VPN share option works fine.
That's how DNS log looks like:
<description>
![DNS Log](https://cloud.githubusercontent.com/assets/8577547/19383725/8e576c48-920e-11e6-9ef2-5d7cbfd41802.jpg)
</description>

[2016-10-14 10:05] Alex-302 commented on #180
Like this
<details>
<img src="https://cloud.githubusercontent.com/assets/8577547/19383725/8e576c48-920e-11e6-9ef2-5d7cbfd41802.jpg">
</details>

[2016-10-15 17:42] SlowMemory opened #184 "Inconsistent behavior between 1.1.0 and 1.0.8"
A user reported that he gets different filtering results in Adguard for iOS 1.1.0 and 1.0.8.

The user gets adblock detection in `www.yuncomics.com` with 1.1.0 version,
but as soon as the user downgrades the version to 1.0.8 on a rooted iPad he/she doesn't get a detection.

The user have English, Spyware, Social Media, Mobile ads, Safari filter and List-KR enabled. Safari filter contains a rule @@

[2016-10-16 09:46] vgavrish opened #185 "Yandex.Navigator - ads"
id 1428019, 1428890, 1430075

**Description**: Реклама в приложении
https://appsto.re/ru/Z7esC.i

Screenshot:
<details>
![image](https://cloud.githubusercontent.com/assets/18548949/19389325/4a3bb578-922c-11e6-884f-a30725d19769.png)
![image](https://cloud.githubusercontent.com/assets/18548949/19416638/44babdba-939e-11e6-9980-805b0ef276fc.png)
</details>

**Adguard version**: 1.1.1.23

**Filters lis

[2016-10-16 09:48] vgavrish opened #186 "Yandex.Transport - ads"
id 1428019, 1428890, 1430075
**Description**: Реклама в приложении
https://appsto.re/ru/4LtqX.i
Screenshot:
<details>
![image](https://cloud.githubusercontent.com/assets/18548949/19389357/73a0a086-922c-11e6-9ebf-1a447d188522.png)

</details>

**Adguard version**: 1.1.1.23

**Filters list**:
<details>
Optimazed enabled: NO
ID=0 Name="User filter" Version=1.0.0.0 Enabled=YES
ID=2 Name="English filte

[2016-10-16 09:49] vgavrish opened #187 "WomanLog - ads"
id 1428019
**Description**: Реклама в приложении
https://appsto.re/ru/kqxhz.i

Screenshot:
<details>
![image](https://cloud.githubusercontent.com/assets/18548949/19389233/d2e1f05a-922b-11e6-80e7-82c7b2585524.png)

</details>

**Adguard version**: 1.1.1.23

**Filters list**:
<details>
Optimazed enabled: NO
ID=0 Name="User filter" Version=1.0.0.0 Enabled=YES
ID=2 Name="English filter" Version=1.0.96

[2016-10-16 09:59] vgavrish opened #188 "yandex.metro - ads"
id 1428890, 1430075
**Description**: Реклама в приложении
https://itunes.apple.com/ru/app/yandex.metro/id392589075?l=en&mt=8

Screenshot:
<details>
![image](https://cloud.githubusercontent.com/assets/18548949/19416660/38b0bafa-939f-11e6-8c70-36e6f0b2db79.png)

</details>

**Adguard version**: 1.1.1.23

**Filters list**:
<details>
Optimazed enabled: NO
ID=0 Name="User filter" Version=1.0.0.0 Enable

[2016-10-17 11:00] ameshkov commented on #175
@jo2dan23 wait a bit, don't close it until @mmigi add it on the server side.

[2016-10-17 11:13] ameshkov commented on #167
@gshumihin yep, it would be great

[2016-10-17 11:15] ameshkov commented on #181
@Alex-302 what do you mean?

[2016-10-17 12:31] ameshkov commented on #164
@yonika have you tried any other VPN app?

[2016-10-17 12:32] ameshkov commented on #177
I suppose @jo2dan23 is right, we should block both

[2016-10-17 12:32] ameshkov commented on #177
@Alex-302 ?

[2016-10-17 12:33] ameshkov commented on #183
@Stillness-2 please take a look

[2016-10-17 12:37] ameshkov commented on #163
I guess we need the whole log file

[2016-10-17 12:47] gshumihin commented on #176
Here's new log:
[fongo.txt](https://github.com/AdguardTeam/AdguardForiOS/files/533458/fongo.txt)
Launched Fongo at 15:30-15:31

[2016-10-17 12:53] Alex-302 commented on #181
This site is not working on my end, also with different DNS servers.

[2016-10-17 12:56] Alex-302 commented on #177
@ameshkov
Added to Mobile filter
[code]

[2016-10-17 12:57] Alex-302 commented on #177
Please don't close it.
I will check these rules in DNS filter later and close.

[2016-10-17 13:05] ameshkov commented on #184
In fact I can reproduce it with Safari extension as well.

It worked in 1.0.8 because $generichide worked just as $elemhide there.

[2016-10-17 13:05] #184 closed

[2016-10-17 13:07] ameshkov commented on #185
Ad is loaded from yandex own domain, we can't block it without breaking the whole app.

[2016-10-17 13:07] #185 closed

[2016-10-17 13:07] ameshkov commented on #186
Same as here:
https://github.com/AdguardTeam/AdguardForiOS/issues/185

[2016-10-17 13:07] #186 closed

[2016-10-17 13:08] ameshkov commented on #187
@gshumihin please take a look

[2016-10-17 13:08] ameshkov commented on #188
Same as here:
https://github.com/AdguardTeam/AdguardForiOS/issues/185

[2016-10-17 13:08] #188 closed

[2016-10-17 15:19] gshumihin commented on #163
Tried to "share" at 18:16.
Here's log: [aktivnyj-grazdanin.txt](https://github.com/AdguardTeam/AdguardForiOS/files/533855/aktivnyj-grazdanin.txt)

[2016-10-17 15:22] Bohdan-SUP commented on #121
Any update on this?

Source report:
https://forum.adguard.com/index.php?threads/adguard-pro-ios-dns-and-tv-apps.14757/#post-107065

Logs in ticket 1021351

[2016-10-17 16:11] gshumihin commented on #187
I see no ads in this app.

[2016-10-17 20:48] ganja24 commented on #176
I am still getting in app ads for Fongo

[2016-10-17 20:49] ganja24 commented on #177
In app ads for TextNow is still showing and thread is closed?

[2016-10-17 20:51] Alex-302 commented on #177
S

[2016-10-17 20:52] Alex-302 commented on #177
Strange. Please Collect a new log.

[2016-10-17 21:00] jo2dan23 commented on #177
No ads seen on my side and thats with no premium purchased.

[2016-10-17 21:14] ganja24 commented on #177
How do I collect a log?

[2016-10-18 09:57] gshumihin commented on #177
You can send Bug report from app. Log will be included by default.

[2016-10-18 10:32] ameshkov commented on #163
@gshumihin please use fiddler instead

[2016-10-18 10:44] ameshkov commented on #187
fiddler it:)

[2016-10-18 10:48] ameshkov commented on #176
@gshumihin please record log with Fiddler for this app

[2016-10-18 11:04] ameshkov commented on #177
@gshumihin it'd be better if you use fiddler to extract requests done by the app.

[2016-10-18 17:13] gshumihin commented on #177
Here's Fiddler log: [TextNow.txt](https://github.com/AdguardTeam/AdguardForiOS/files/536914/TextNow.txt)

[2016-10-19 10:51] ameshkov commented on #177
@Alex-302 please take a look.

@gshumihin next time export it in the HTTP archive format so that we could use softwareishard.com/har/viewer/ to analyze.

[2016-10-19 12:26] Alex-302 commented on #177
@gshumihin Please make a screenshot of the banner.
And check this rule
[code]
You can do it with Adguard for windows, when iPhone is connected through Fiddler.

[2016-10-19 12:30] gshumihin commented on #177
I have no ads in this app.

[2016-10-19 12:33] Alex-302 commented on #176
Please check following rules in Adguard for Windows, when iOS is connected through Fiddler
[code]

[2016-10-19 12:40] ameshkov commented on #177
In fact as i know they also use `qwapi.com` for iAds.

@gshumihin please check that blocking these two domains won't break the app:
`iadsdk.apple.com`
`qwapi.com`

If the app is ok, we should add both domains to "mobile ads filter".

[2016-10-19 12:41] ameshkov commented on #176
@gshumihin first try it with `||iadsdk.apple.com^` alone. I suppose other requests are made due to response form that domain.

[2016-10-19 12:42] gshumihin commented on #176
I can still see this banner with Alex's rules:
<details>
![slack for ios upload-2](https://cloud.githubusercontent.com/assets/8577547/19519013/99e6d8d4-9612-11e6-9d86-7c6b698fb36b.jpg)
</details>

Here's log:
[Fongo.saz.txt](https://github.com/AdguardTeam/AdguardForiOS/files/538978/Fongo.saz.txt)

[2016-10-19 12:50] gshumihin commented on #176
BTW: It looks like this is built-in banner.

[2016-10-19 12:53] Alex-302 commented on #176
Looks like builtin dummy.

[2016-10-19 15:09] gshumihin commented on #187
Here is it:
[WomanLog.saz.txt](https://github.com/AdguardTeam/AdguardForiOS/files/539394/WomanLog.saz.txt)

[2016-10-19 15:15] gshumihin commented on #163
Here is it:
[actgrdn.saz.txt](https://github.com/AdguardTeam/AdguardForiOS/files/539417/actgrdn.saz.txt)

[2016-10-19 16:24] gshumihin commented on #180
@Fridrix contact user please

[2016-10-20 02:37] zhuochenming opened #189 "Adguard crashes when a huge file is imported"
when i import too long filter rule，it cause crack，i think it is because memory waring, so i think you can add the function，it can give a better UX, thank you

[2016-10-20 04:10] ganja24 commented on #177
firehose.us-west-2.amazonaws.com

cognito-identity.us-east-1.amazonaws.com

I noticed these 2 above possible are parts of the in app ads showing in the Adguard Pro DNS requests log. Possible the ads are targeted for different regions is why i see ads and some don't?

[2016-10-20 10:47] ameshkov commented on #189
Thank you for reporting it!

@gshumihin could you please test it?

[2016-10-20 10:53] ameshkov commented on #177
@ganja24

First one belongs to [Amazon Kinesis](https://aws.amazon.com/kinesis/streams/)
Second one belongs to [Amazon Cognito](https://aws.amazon.com/cognito/).

These are not ad servers, so blocking it could mess with apps work.

JFYI, in the next version you'll be able to block any DNS request manually using your user filter (#161), so you won't need to wait until DNS rules are updated and chec

[2016-10-20 12:06] vbagirov opened #190 "Filters autoupdate doesn't work as intended"
Filters are not always update in the due time, both for WiFi and cellular data. In some cases filters do not update for 2 weeks:
https://forum.adguard.com/index.php?threads/11672/#post-105792

[2016-10-20 12:20] gshumihin commented on #177
Looks like app works fine with this 2 domain added to blacklist. But finally, I was able to see banner in this app:
<details>
![TextNow](https://cloud.githubusercontent.com/assets/8577547/19559453/9cabb528-96d8-11e6-8d4a-74bff9aa8a35.jpg)
</details>
And here's log:
[TextNow.saz.txt](https://github.com/AdguardTeam/AdguardForiOS/files/541649/TextNow.saz.txt)

[2016-10-20 12:30] ameshkov commented on #177
@gshumihin i am pretty sure this ad is built-in.

@Alex-302 could you please check the log? If everything is ok, we should add these two domains to mobile ads filter.

[2016-10-20 12:31] gshumihin commented on #177
Yeah I think this is built-in too.

[2016-10-20 12:38] gshumihin commented on #189
@zhuochenming can you give an example rule that crashes adguard?

[2016-10-20 12:41] gshumihin commented on #189
I tried rule with more than 50 characters and it was added normally.

[2016-10-20 13:25] Alex-302 commented on #177
@ameshkov I see only iadsdk.apple.com(blocked), but no qwapi.com
@gshumihin do you see only the dummy at the bottom? Top banner should be blocked.

[2016-10-20 13:28] Alex-302 commented on #163
@gshumihin only ad domain is blocked - googleads.g.doubleclick.net
You can check it without DNS filtering, but with desktop Adguard with our filters.

[2016-10-20 13:31] Alex-302 commented on #187
@gshumihin
please check these rules:
[code]

[2016-10-20 13:33] ameshkov commented on #187
`proactiveapp.com` is domain of this app devs.

@Alex-302 let's block  `iadsdk.apple.com `

[2016-10-20 13:42] Alex-302 commented on #187
Yes, but it is used for advertising
<details>
![image](http://imagizer.imageshack.com/img922/6599/HLI3B7.png)
</details>
and result is confirmed by 4pda user(Android version)
http://4pda.ru/forum/index.php?showtopic=252561&view=findpost&p=32989037

added

[2016-10-20 14:03] ameshkov commented on #187
We can't be sure that ads is the only purpose.

[2016-10-20 14:03] #187 closed

[2016-10-20 14:03] Alex-302 commented on #187
Ok.

[2016-10-20 14:29] gshumihin commented on #189
Tried to add rule that included 1,100,000 chars. Worked fine. Adding 1,100,000 words broke Adguard.

[2016-10-20 16:11] gshumihin commented on #177
Yes, only dummy at the bottom, nothing else.

[2016-10-20 16:12] gshumihin commented on #163
With DNS disabled issue does not exist.

[2016-10-20 19:25] Alex-302 commented on #163
Try to reproduce without DNS, but with blocked `googleads.g.doubleclick.net` and 'appsflyer.co'

[2016-10-20 19:26] Alex-302 commented on #177
Ok, iadsdk.apple.com is in DNS filter now.

[2016-10-20 21:21] jo2dan23 commented on #122
@Alex-302 the @@|| filter was forgotten when you added it to exception list xD

[2016-10-20 21:22] jo2dan23 commented on #122
It looks like m.varagesale.com is being blocked by bnc.lt

[2016-10-20 21:33] Alex-302 commented on #122
Fixed exclusion.

it is related to branch.io. Maybe it should be excluded.
I can't this app.
@gshumihin Could you check this app again?

[2016-10-20 21:35] Alex-302 commented on #122
@Alex-302

[2016-10-20 21:35] jo2dan23 commented on #122
@Alex-302 i can test.

[2016-10-20 21:37] jo2dan23 commented on #122
Bnc.lt is the cname for m.varagesale somehow.. so it needs to be in dns exceptions

[2016-10-20 21:37] Alex-302 commented on #122
@jo2dan23 Exclusion will be applied after 2-3 hours.

[2016-10-20 22:35] jo2dan23 commented on #122
@Alex-302 if you go in browser to: http://m.varagesale.com/m/vLcp7UumTn  it is blocked by bnc.lt

[2016-10-20 22:43] ameshkov opened #191 "iCloud sync does not work with AG Family Protection"
@gshumihin please check it and find out what's responsible for that.

[2016-10-21 00:13] jo2dan23 commented on #122
App works now @Alex-302

[2016-10-21 09:53] ganja24 commented on #191
Need Sync for iOS and Mac with iCloud

[2016-10-21 10:04] Alex-302 commented on #122
@jo2dan23 ok, thanks.

[2016-10-22 14:52] wlqdevil opened #192 "Missed ads"
https://itunes.apple.com/cn/artist/shen-me-zhi-de-mai/id518213359
https://itunes.apple.com/us/app/qq/id444934666?mt=8
https://itunes.apple.com/cn/app/wei-xin/id414478124?mt=8
https://itunes.apple.com/cn/app/shang-hai-yi-dong-shou-ji/id583700738?mt=8
https://itunes.apple.com/us/app/teng-xun-shi-pin-hd/id407925512?mt=8
https://itunes.apple.com/cn/app/id412395632?mt=8

Why slow speed if use dns？

[2016-10-22 16:17] worldsdream opened #193 "When adding a lot of rules in user filter, it crashes adguard"
Go to user filter and copy and paste the below code and click on done. It crashes. It should not crash.

Also please when will we be able to add such rules as below in the ios app? At the moment I have to copy it one by one to test. Takes to much time.

[code]

[2016-10-22 16:22] worldsdream commented on #189
Maybe this?

https://github.com/AdguardTeam/AdguardForiOS/issues/193

[2016-10-22 16:27] worldsdream opened #194 "Checkbuttons in front of each rule in user filter/whitelist"
Can we have checkbuttons in front of each rule?

If I am testing rules, right now I have to delete and add all the time. I want to uncheck it, so I can test and check again. Simplifies so much.

Just like we have on adguard windows and adguard mac. And extension is going to have it hopefully within couple of months.

[2016-10-22 16:33] worldsdream commented on #82
This is easy to add, isn't it? Just make sure to have all the images extensions and when this feature: "disable images" is enabled, they go into userfilter.

[2016-10-22 16:35] worldsdream commented on #74
Isn't this already in the iOS app? We can switch simplified ON/OFF.

[2016-10-23 07:14] evgeniy-ADG opened #195 "L'Express : l'actualité en temps réel app issue"
Yesterday the ad disappeared at the launch of this application :
L'Express : l'actualité en temps réel by GROUPE ALTICE MEDIA https://appsto.re/us/SoUbv.i
But since today the screen remains blank and I have to close the invisible ad.
<details>
![image](https://cloud.githubusercontent.com/assets/15856304/19624643/630a77c2-9909-11e6-8834-d0b8a15a301e.png)

</details>
1021351

[2016-10-23 11:30] evgeniy-ADG opened #196 "Appzapp notify app - ads"
https://itunes.apple.com/us/app/appzapp-notify-personal-alerts/id845046425?mt=8

<details>
![image2](https://cloud.githubusercontent.com/assets/15856304/19625876/4f3b2d1c-992d-11e6-8033-61ef13a3b41d.PNG)
![image4 1](https://cloud.githubusercontent.com/assets/15856304/19625877/54597f60-992d-11e6-9294-17a5fbbebf89.PNG)

</details>

logs and stuff: 1434424

[2016-10-23 12:29] evgeniy-ADG opened #197 "DNS blocks laweekly.com"
![20161023_122508000_ios](https://cloud.githubusercontent.com/assets/15856304/19626226/68ab9b94-9935-11e6-9b93-92a5c9d12284.png)

logs and stuff: 1435256

[2016-10-23 14:20] worldsdream commented on #108
I really need the edit feature. So I am able to delete more lines at one time. Takes me more then 3 minutes if I want to remove 10 lines right now.

[2016-10-24 08:52] evgeniy-ADG opened #198 ""Narwhal" app"
https://itunes.apple.com/us/app/narwhal-for-reddit/id845422455?mt=8
![image1](https://cloud.githubusercontent.com/assets/15856304/19639249/56061cfc-99e0-11e6-830e-c92a20cf476f.png)

logs: 1436166

[2016-10-24 10:25] ameshkov commented on #192
@gshumihin please record requests logs of these apps.

[2016-10-24 10:26] ameshkov commented on #192
Coud you please elaborate a bit? Is it slow web surfing or something else?

[2016-10-24 10:27] ameshkov commented on #193
@Stillness-2 at least we should handle multi-line copy/paste properly.

[2016-10-24 10:29] ameshkov commented on #82
It can be done with a single filter rule, so yes, it is easy.
`http*$image`

[2016-10-24 10:30] ameshkov commented on #74
Nah, that switch is a bit different. It disables generic hiding rules.

What I mean here is switching between filter versions non-optimized (huge, with redundant rules) and optimized for mobile (where redundant rules are removed).

[2016-10-24 11:29] vozersky opened #199 "Update English description in Oneskyapp"
Our Chinese translator mentioned that English description was updated in App Store, but not in oneskyapp.   id 1425202

[2016-10-24 13:48] Alex-302 commented on #198
@evgeniy-ADG
what is the ad system? Looks like facebook ad choices.

[2016-10-24 13:51] Alex-302 commented on #197
Excluded:
[code]

[2016-10-24 13:51] #197 closed

[2016-10-24 13:53] Alex-302 commented on #196
@evgeniy-ADG What the ad system is it? Not Google Ads?

[2016-10-24 14:54] wlqdevil commented on #192
yes it slow web surfing，if you did not use adguard dns ，web open very quick ，then it will stay some second

[2016-10-24 15:07] wlqdevil commented on #192
miss ad
智行火车票 for 12306、火车票、高铁自动抢票 作者是 suanya .cn
https://appsto.re/cn/fNM0M.i

[2016-10-24 16:00] gshumihin commented on #191
For me iCloud works fine with "Family Protection" enabled.
But still, here's log: [icloud.saz.txt](https://github.com/AdguardTeam/AdguardForiOS/files/548335/icloud.saz.txt)

[2016-10-24 16:08] gshumihin commented on #198
I didn't faced this banner yet.
<details>
![slack for ios upload-4](https://cloud.githubusercontent.com/assets/8577547/19653422/26f760a0-9a1d-11e6-9b28-c0570a2d253b.jpg)
</details>

But here's log:
[narwhal.saz.txt](https://github.com/AdguardTeam/AdguardForiOS/files/548358/narwhal.saz.txt)

[2016-10-24 16:13] jo2dan23 commented on #198
@gshumihin  what is the program u use to get that log?

[2016-10-24 16:35] gshumihin commented on #198
Fiddler

[2016-10-24 16:42] gshumihin commented on #177
I guess we can close this one?

[2016-10-24 16:43] gshumihin commented on #176
So should we close this issue?

[2016-10-24 16:58] gshumihin commented on #196
No ads for me as always)
But here's log:
[appzap.saz.txt](https://github.com/AdguardTeam/AdguardForiOS/files/548469/appzap.saz.txt)

[2016-10-24 17:00] ameshkov opened #200 "Start using new filters server instead of AG backend"
### Metadata

`https://filters.adtidy.org/[platform]/filters.json`
### Translations

`https://filters.adtidy.org/[platform]/filters_i18n.json`
### Filters

`https://filters.adtidy.org/[platform]/filters/[filterId].txt`

For instance:
`https://filters.adtidy.org/[platform]/filters/2.txt`
`https://filters.adtidy.org/[platform]/filters/[filterId]_optimized.txt`

`_optimized` suffix stands for "mobile

[2016-10-24 17:01] gshumihin commented on #195
There's log:
[lexpress.saz.txt](https://github.com/AdguardTeam/AdguardForiOS/files/548474/lexpress.saz.txt)

[2016-10-25 09:59] evgeniy-ADG commented on #198
Can't reproduce it, too. So I asked for logs, user provided another set of logs here: 1436166

[2016-10-25 10:03] evgeniy-ADG commented on #198
The same issue here: **1434752**
User says it happens on mobile connection only.

[2016-10-25 16:01] gshumihin commented on #198
Tried both connections. Result for me still same: no ads.

[2016-10-25 16:13] #177 closed

[2016-10-25 16:13] #176 closed

[2016-10-25 19:45] Alex-302 commented on #198
look for graph.facebook.com in the log and graph.facebook.com/network_ads in Fiddler.

[2016-10-25 19:53] Alex-302 commented on #195
Try to block this domain
[code]

[2016-10-26 11:52] evgeniy-ADG opened #201 "Shazam app - sponsored ads"
![file_000](https://cloud.githubusercontent.com/assets/15856304/19724997/cbff2726-9b8b-11e6-9b20-04494cd2b68a.png)

1415775

[2016-10-26 14:31] gshumihin commented on #198
There's no graph.facebook.com in the log for me.

[2016-10-26 14:41] gshumihin commented on #195
Today I wasn't able to see this ad.
Adding mobile.smartadserver.com to blacklist doesn't break app.

[2016-10-26 16:09] gshumihin commented on #192
Here's results:
| App | Logs|
| https://itunes.apple.com/us/app/qq/id444934666?mt=8 | [QQ.saz.txt](https://github.com/AdguardTeam/AdguardForiOS/files/553816/QQ.saz.txt) |

[2016-10-27 11:13] ameshkov commented on #199
@vbagirov is it done?

[2016-10-27 11:24] ameshkov commented on #196
@Alex-302 anything there?

[2016-10-27 11:57] vbagirov commented on #199
Yes, I have updated it recently.

[2016-10-27 11:57] #199 closed

[2016-10-27 11:59] vbagirov commented on #168
Done, description is updated both in OneSky and App Store.

[2016-10-27 11:59] #168 closed

[2016-10-27 12:00] Alex-302 commented on #196
@ameshkov on screenshot we see Google Ads banner, but I don't see requests to google in SAZ file.
Also there are few urls, probably related to that banners,
<details>
![image](http://i85.fastpic.ru/big/2016/1027/d3/9d26c150893be760b66a906f33ff66d3.png)
</details>
but we can't block them by DNS.

[2016-10-27 12:04] Alex-302 commented on #201
@evgeniy-ADG I think it is impossible to block this ad by DNS.
@gshumihin could you check it?

[2016-10-27 12:05] Alex-302 commented on #198
@gshumihin check in the DNS log at the same time when you launch this app.

[2016-10-27 12:06] Alex-302 commented on #195
@gshumihin I mean it should to remove overlay like on screenshot.

[2016-10-27 12:37] Alex-302 commented on #192
nothing.

Maybe ads are loaded from
http://m.ctrip.com/restapi/soa2/10103/json/GetAdsList
But we can't block this domain completely.

[2016-10-27 12:38] Alex-302 commented on #192
@wlqdevil please make screenshots of ads for all apps.

[2016-10-27 12:50] vbagirov commented on #159
@Masterj2700 it is possible that you do not receive notifications because we currently do not have any active test builds. Once we add one, the notification will be automatically sent to your email.

[2016-10-27 12:50] #159 closed

[2016-10-27 17:23] jo2dan23 opened #202 "Tango app ads and trackers"
adj.st (adjust.com subdomain, it is tracking)
ulink.adjust.com (tracking)
beap1.cb.g01.yahoodns.net (yahoo beap is used for ads)
beap.gemini.yahoo.com
adback.tango.me
adinfo.tango.me
admarketing.yahoo.net

Tango - Free Video Call, Voice and Chat by TangoMe, Inc.
https://appsto.re/us/iKbnw.i

[2016-10-28 10:14] Bubu92 commented on #191
I totally disagree with gshumihin. The sync does not work. If I may, I want to clarify the issue.

Let's say you have Adguard Pro with DNS Family Protection enabled on an iPhone and an iPad for instance. Try to add a calendar event on the iPad, then it will never appear on the iPhone and vice versa.
If you enable the Default Protection, then the synchronisation will work.

[2016-10-28 12:00] ameshkov commented on #196
Yeah, you're right, I don't see how this can be blocked with a DNS

[2016-10-28 12:02] ameshkov commented on #195
@Alex-302 should we block the whole `smartadserver.com` domain?

[2016-10-28 12:03] ameshkov commented on #192
I guess that's because we don't yet provide asian DNS servers. Should be better when we do.

[2016-10-28 12:21] Alex-302 commented on #195
@ameshkov in generally - yes. But this domain was excluded, because anti-adblock script on bild.de checks this domain.
Exclusion replaced by:
[code]

[2016-10-28 12:33] ameshkov commented on #202
@jo2dan23 good work, thank you!

[2016-10-28 12:40] ameshkov commented on #191
@Bubu92 thank you for the clarification! @gshumihin we need a new log

[2016-10-28 16:50] jo2dan23 commented on #201
Only blockable domain i found is analytics.vadio.com

[2016-10-28 17:16] Alex-302 commented on #202
Added.

[2016-10-28 17:16] #202 closed

[2016-10-28 18:47] jo2dan23 opened #203 "Youtube app tracker"
video-stats.l.google.com

[2016-10-28 22:01] jo2dan23 opened #204 "Plants vs zombies ads"
www.ultraadserver.com
abtest.swrve.com (says on the website: A comprehensive mobile marketing platform)

https://appsto.re/us/n5iPJ.i

[2016-10-29 23:01] jo2dan23 opened #205 "No response hostnames in dns log"
Is it possible to remove the showing of dns domains that arent resolved? So the logs arent cluttered

[2016-10-31 07:20] ameshkov commented on #201
So I guess they load ads from their own domain

[2016-10-31 07:21] ameshkov commented on #203
I recall these `.l.google.com` domains causing some issues in past.

Also I don't think we should block first-party tracking, this is YT app in the end.

[2016-10-31 07:53] ameshkov commented on #205
As I remember, AG adds a record to the log right after we got the request and then updates it when response has arrived. @Stillness-2 is it so?

[2016-10-31 07:56] jo2dan23 commented on #205
@ameshkov sorry i meant the dns requests section in the app not when you export the tunnel log.

[2016-10-31 08:03] Stillness-2 commented on #205
@jo2dan23 No, at this moment. I think we can add such option on screen of the dns requests list .

[2016-10-31 08:36] ameshkov commented on #205
It's just this information could be useful.. How cluttered is it?

[2016-10-31 09:54] gshumihin commented on #198
Did it. There is no graph.facebook.com neither in DNS log nor in fiddler's one.

[2016-10-31 17:48] ameshkov commented on #162
@gshumihin please test VyprnVPN

[2016-10-31 18:28] jo2dan23 opened #206 "Pinger app ads"
@Alex-302
ads.aerserv.com
production-adserver-*.amazonaws.com
ads.pinger.com
cf-ads.pinger.com
tracking.applift.com
ads.yahoo.com
west.bidtellect.com

Pinger Textfree: Free Texting, Free Calling App by Pinger, Inc.
https://appsto.re/us/4xJGA.i

[2016-10-31 18:31] jo2dan23 commented on #205
@ameshkov im just saying it would be easier to find dns requests when using the in app log so i dont see all the no response dns requests. If you know what i mean. I dont see a need for displaying them anyways. Kind of makes it harder to find stuff

[2016-10-31 18:32] jo2dan23 commented on #203
@ameshkov what about adding s.youtube.com then since it is in easy privacy. S.youtube.com is a constant tracking pixel thats keeps being requested when playing a youtube video

[2016-10-31 18:33] jo2dan23 commented on #201
@ameshkov we should add analytics.vadio.com to dns filter

[2016-10-31 18:42] jo2dan23 opened #207 "tumblr app trackers"
@Alex-302
ls.srvcs.tumblr.com
saber.srvcs.tumblr.com

remember these on android app. They are tracking pixels

[2016-11-01 08:48] ameshkov commented on #203
There is a huge downside though: it breaks your history in the YT app.

It was in our spyware filter previously, but we had to remove it due to lots of users complaints.

[2016-11-01 11:13] gshumihin commented on #191
Seems pretty weird to me. What i did:

1. Enabled Family Protection in Adguard DNS settings.
2. Checked that auto sync enabled for calendar and photos in iphone settings
3. Added new event from iphone
4. Went to `https://www.icloud.com/#calendar`
5. Event from step **3** was already there
6. Added new event from browser

_**Result**_: everything works as it should.

[2016-11-01 11:23] gshumihin commented on #191
@Bubu92 Do you have that issue in both type of network?
Also can you please sent us bug report with logs from app (logs are autoincluded)?
In order to make it easier for us to find out the problem please specify at what time bug was reproduced.
You can sent them to `gs@adguard.com` this is my email.

[2016-11-01 12:45] gshumihin commented on #191
Thanks for logs! As soon we'll find out something, I'll let you know.

[2016-11-01 13:19] gshumihin commented on #191
Here's logs @Stillness-2
https://www.dropbox.com/sh/6ap9bo2p11lp4o2/AAAebFfEdav-v8w17l3xTtA8a?dl=0

[2016-11-01 18:24] jo2dan23 opened #208 "My teacher ads and trackers"
houseads.ttpsdk.info
clientlogger-prod.elasticbeanstalk.com
houseads-prod.elasticbeanstalk.com

https://appsto.re/us/lxkveb.i

[2016-11-01 19:37] jo2dan23 commented on #203
Alright. Understood.

[2016-11-01 19:37] #203 closed

[2016-11-01 20:40] Alex-302 commented on #204
Added to Mobile filter
[code]

[2016-11-01 20:40] #204 closed

[2016-11-01 20:41] jo2dan23 commented on #204
Ultraadserver.com was missed

[2016-11-01 20:45] Alex-302 commented on #204
That's because no any comment for it. I thought is related to abtest.swrve.com.
Added.

[2016-11-01 20:46] jo2dan23 commented on #204
Oh,  im sorry. My bad.

[2016-11-01 20:48] Alex-302 commented on #207
Added to Spyware filter
[code]

[2016-11-01 20:48] #207 closed

[2016-11-01 20:50] Alex-302 commented on #206
Added to Mobile filter

[2016-11-01 20:50] #206 closed

[2016-11-01 20:52] Alex-302 commented on #201
Added

[2016-11-01 20:54] Alex-302 commented on #208
Added
[code]
the first was added today.

[2016-11-01 20:54] #208 closed

[2016-11-01 23:03] jo2dan23 opened #209 "Stubhub app"
eu-content.swrve.com
eu-api.swrve.com

StubHub - Sports, Concert & Theatre Tickets by StubHub Inc.
https://appsto.re/us/_2u2v.i

[2016-11-01 23:08] jo2dan23 opened #210 "Seatgeek app ads"
e.apsalar.com
nativesdks.mparticle.com
config2.mparticle.com

SeatGeek – Tickets to Sports, Concerts & Broadway by SeatGeek
https://appsto.re/us/E0kVI.i

[2016-11-02 00:16] jo2dan23 opened #211 "bitmoji app"
ha-api.pushwoosh.com
cp.pushwoosh.com

Pushwoosh is used for notification advertising (https://www.pushwoosh.com/features/)

Bitmoji - Your Personal Emoji by Bitstrips
https://appsto.re/us/2_CVZ.i

[2016-11-02 00:27] jo2dan23 opened #212 "pink app"
combine.urbanairship.com
device-api.urbanairship.com

PINK Nation by Victoria's Secret PINK
https://appsto.re/us/_aNOB.i

[2016-11-02 09:26] adbuker opened #213 "Refused to apply inline style because it violates the following Content Security Policy directive"
based on https://github.com/AdguardTeam/AdguardForWindows/issues/1331

[2016-11-02 14:47] Alex-302 commented on #209
Not sure about these domains. Perhaps they are used as CDN.

[2016-11-02 14:50] Alex-302 commented on #211
ok, added to mobile filter
@gshumihin please check this app with blocked that domains

[2016-11-02 14:51] Alex-302 commented on #212
It is not tracking service.

[2016-11-02 14:51] #212 closed

[2016-11-02 14:52] Alex-302 commented on #212
As I remember, some apps on Android was broken.

[2016-11-02 14:56] Alex-302 commented on #210
added

[2016-11-02 14:56] #210 closed

[2016-11-02 15:23] Vanjwu opened #214 "User filter import/export/clear all"
Requests to add personal rules to import and export.

[2016-11-02 19:02] jo2dan23 commented on #210
What about  The mparticle.com ones?

[2016-11-02 19:03] jo2dan23 commented on #210
What about  The mparticle.com ones?

[2016-11-02 19:31] Alex-302 commented on #210
I'm not sure about it. Could you capture these requests by Fiddler?

[2016-11-02 20:57] jo2dan23 commented on #210
@Alex-302 fiddler wont decrypt them but see here: it is used for analyitcs

https://github.com/mParticle/mparticle-apple-sdk

[2016-11-02 21:08] jo2dan23 commented on #210
mParticle announced today that it has raised $17.5 million in Series B funding.

The New York City startup helps marketers collect user data through a variety of services and then funnel that data to other marketing and analytics tools:

https://techcrunch.com/2016/10/13/mparticle-series-b/

[2016-11-02 21:13] jo2dan23 commented on #209
swrve.com is marketing/advertising

[2016-11-02 21:14] jo2dan23 commented on #205
perhaps we could make it so there is a way to filter out the no response ones?

[2016-11-03 06:29] Stillness-2 commented on #213
Wrong project

[2016-11-03 06:29] #213 closed

[2016-11-03 09:23] evgeniy-ADG opened #215 "Yandex maps app works slowly"
Здравствуйте,заметил что когда включён Dns vpn,очень долго загружаются пробки в приложении Яндекс карты,отключив dns загружается моментально. Без dns загрузка 2 секунды, с dns 25 секунд.

Logs: 1112721

[2016-11-03 10:31] rhett121 commented on #198
The ad are coming from mpx.mopub.com I get them every day and it shows up in the logs. Mopub is an ad serving network and I've tried just making a blanket block of ||*mopub.com* but it doesn't do anything for the DNS. I can repeat this issue any time I go online and it is different ads sometimes but always the mpx.mopub.com that isn't getting blocked.

[2016-11-03 13:25] Alex-302 commented on #198
Thanks, added
[code]

[2016-11-03 13:29] Alex-302 commented on #210
Ok, added

[2016-11-03 14:15] ameshkov commented on #209
It also provides push notifications and a/b testing functionality.

We should first check if it does not break apps using it.

Some examples:
https://www.swrve.com/customer-showcase

[2016-11-03 16:20] #211 closed

[2016-11-03 16:22] jo2dan23 commented on #209
The push notifications it provides has to do with marketing not like regular push notifications if that makes sense.

[2016-11-03 16:22] jo2dan23 commented on #209
The push notifications it provides has to do with marketing not like regular push notifications if that makes sense.

[2016-11-03 16:42] jo2dan23 commented on #209
The ab testing is used for marketing also. See here:

https://www.swrve.com/product/a-b-testing

[2016-11-03 16:57] ameshkov commented on #209
Marketing is not synonym to a bad thing:)

But anyway, what I mean is that apps may rely on this functionality and blocking it can be harmful.

[2016-11-04 16:18] jo2dan23 opened #216 "ifunny app ads"
Delete

[2016-11-04 16:33] jo2dan23 commented on #216
Why are all these af domains not being blocked now is there something going on with adguard dns?

[2016-11-04 17:39] #216 closed

[2016-11-04 19:15] jo2dan23 opened #217 "Investing.com app tracker"
api.appsee.com

Investing.com - Stocks, Forex, Futures & News by Fusion Media Limited
https://appsto.re/us/QGxp2.i

[2016-11-05 03:12] jo2dan23 opened #218 "Fox communities app tracker"
checkip.amazonaws.com

Fox Communities Credit Union by Fox Communities Credit Union
https://appsto.re/us/6VZTL.i

[2016-11-05 19:57] jo2dan23 opened #219 "iheartradio app trackers and ads"
lt110.tritondigital.com
heartbeat.iheart.com

https://appsto.re/us/kLSur.i

[2016-11-05 19:58] jo2dan23 opened #220 "wishbone app tracker"
https://appsto.re/us/aex1X.i

event.scimo.io

[2016-11-05 20:14] jo2dan23 opened #221 "draftkings app trackers"
app.adjust.io (adjust.com)
exacttarget.api.mashery.com (http://www.exacttarget.com/products/predictive-intelligence/)
consumer.exacttargetapis.com (http://www.exacttarget.com/products/predictive-intelligence/)
ence/)
app.igodigital.com (http://www.exacttarget.com/products/predictive-intelligence/)
ence/)

DraftKings - Daily Fantasy Football & More Sports by DraftKings
https://appsto.re/us/tJEwQ.i

[2016-11-05 21:04] jo2dan23 opened #222 "Sephora app ads"
api.gimbal.com

Sephora to Go by Sephora USA, Inc
https://appsto.re/us/wyBCx.i

[2016-11-05 21:57] jo2dan23 opened #223 "Starz app ads"
ma.tune.com (marketing)

STARZ by Starz Entertainment, LLC
https://appsto.re/us/Ou7YG.i

[2016-11-06 12:02] evgeniy-ADG opened #224 "iCal sync issue"
Just added at 12:45 a meeting named Test iPhone scheduled at 14:00. (see logs here, Nov 1: 1021351)

It does not appear on my iPad neither on my MBP or iCloud website.
SRT:

1. I setup on my iPad and iPhone Adguard DNS to family protection.
2. I launch iCal and I create an event on the iPhone. I close iCal, wait few seconds then I opening on the iPad. The event does not show.
3. I change from Fami

[2016-11-06 12:06] evgeniy-ADG opened #225 "m.bild.de - family protection blocks the site"
It's shouldn't be blocked.

![image](https://cloud.githubusercontent.com/assets/15856304/20037548/34c9b8a6-a42a-11e6-946e-18a409d24eb9.png)

[2016-11-06 18:54] jo2dan23 opened #226 "tunein radio trackers"
onelink.me (appsflyer.com)
tunein.adswizz.com

TuneIn Radio - NFL Audiobooks Podcasts Music by TuneIn
https://appsto.re/us/_7t-y.i

[2016-11-06 19:13] jo2dan23 opened #227 "lucktastic app video ads"
api.kiip.me
config.tremorhub.com (tremorvideo.com)
l0-secure.videohub.tv (tremorvideo.com)
perf-events.cloud.unity3d.com

Lucktastic - Win Prizes. Earn Rewards. by Jump Ramp Games Inc.
https://appsto.re/us/bj2n6.i

[2016-11-07 01:28] jo2dan23 commented on #227
@Alex-302

[2016-11-07 01:28] jo2dan23 commented on #226
@Alex-302

[2016-11-07 01:28] jo2dan23 commented on #223
@Alex-302

[2016-11-07 01:28] jo2dan23 commented on #222
@Alex-302

[2016-11-07 01:29] jo2dan23 commented on #221
@Alex-302

[2016-11-07 01:29] jo2dan23 commented on #220
@Alex-302

[2016-11-07 01:29] jo2dan23 commented on #219
@Alex-302

[2016-11-07 01:29] jo2dan23 commented on #218
@Alex-302

[2016-11-07 01:29] jo2dan23 commented on #217
@Alex-302

[2016-11-07 01:30] #209 closed

[2016-11-07 09:55] ameshkov commented on #224
@gshumihin please check it

[2016-11-07 09:56] ameshkov commented on #225
Fixed

[2016-11-07 09:56] #225 closed

[2016-11-07 10:04] ameshkov commented on #218
@jo2dan23 not sure about this.

I mean the only purpose of that domain is to return your IP address: `checkip.amazonaws.com`
It does not track you.

[2016-11-07 14:41] evgeniy-ADG opened #228 "https://www.jumia.com.ng/ - Adguard DNS blocks the site"
Loads fine if you disable the VPN.

![file_000 1](https://cloud.githubusercontent.com/assets/15856304/20061654/5acdb752-a509-11e6-9604-1c4193f18ea7.png)

[2016-11-07 15:23] Alex-302 commented on #228
Excluded from DNS filtering.

[2016-11-07 15:23] #228 closed

[2016-11-07 15:31] gshumihin commented on #163
Reproduced this issue with blocked `googleads.g.doubleclick.net` and `appsflyer.co` by content-block Fiddler's addon.
Here's log: [grazhdanin.saz.txt](https://github.com/AdguardTeam/AdguardForiOS/files/575754/grazhdanin.saz.txt)

[2016-11-07 15:57] gshumihin commented on #215
Wasn't able to reproduce this issue.

[2016-11-07 16:04] #218 closed

[2016-11-07 16:07] gshumihin commented on #224
That's logs for issue #191

[2016-11-07 16:07] #224 closed

[2016-11-07 16:10] Alex-302 commented on #217
Added

[2016-11-07 16:11] Alex-302 commented on #217
It uses also for crash recordings. @ameshkov should we block it?

[2016-11-07 16:12] Alex-302 commented on #219
Added the first

[2016-11-07 16:12] #219 closed

[2016-11-07 16:16] Alex-302 commented on #220
I don't know what it does.
@gshumihin could you please capture session by Fiddler?

[2016-11-07 16:18] gshumihin commented on #215
According to the log, average response time is 100-200 miliseconds.

[2016-11-07 16:22] Alex-302 commented on #221
Added
[code]

[2016-11-07 16:22] #221 closed

[2016-11-07 16:25] Alex-302 commented on #223
@gshumihin could you please capture traffic by Fiddler?

[2016-11-07 16:27] Alex-302 commented on #226
Added

[2016-11-07 16:27] #226 closed

[2016-11-07 16:28] jo2dan23 commented on #221
What about app.igodigital.com

[2016-11-07 16:30] Alex-302 commented on #222
Added

[2016-11-07 16:30] #222 closed

[2016-11-07 16:36] Alex-302 commented on #227
added

[2016-11-07 16:36] #227 closed

[2016-11-07 16:38] #196 closed

[2016-11-07 16:38] #195 closed

[2016-11-07 16:42] Alex-302 commented on #163
I see only one blocked request
http://i83.fastpic.ru/big/2016/1107/68/3cd9e6165659a4eba4b1742802069568.png
Could you block googleads.g.doubleclick.net without DNS filtering?(filtering should be disabled on iPhone, and domain should be blocked by Fiddler ContentBlock plugin, or in other way)

[2016-11-07 16:43] gshumihin commented on #163
DNS filtering was disabled this time.

[2016-11-07 16:54] Alex-302 commented on #163
Please try to block that domains separately.  It seems the problem is caused by blocking of `googleads.g.doubleclick.net`

[2016-11-07 17:03] jo2dan23 commented on #217
It records them for the company meaning it probably sends other information also

[2016-11-07 17:13] gshumihin commented on #163
Hmm. Pretty weird. Now this "share" desn't work with fiddler at all.
Here's log:
[grazhdanin2.saz.txt](https://github.com/AdguardTeam/AdguardForiOS/files/576083/grazhdanin2.saz.txt)

[2016-11-07 17:25] Alex-302 commented on #163
Strange. Did you turn off desktop AG?

[2016-11-07 17:28] Alex-302 commented on #217
Ok, which information it sends? I can't add domain to filter without confidence.

[2016-11-07 17:29] Alex-302 commented on #221
It is marketing service, I don't know what it does in this app.
@gshumihin Could you please record a log by fiddler?

[2016-11-07 17:54] jo2dan23 commented on #217
Watch every action your users do and understand exactly how they use your app

Says that on the site

[2016-11-07 17:59] jo2dan23 commented on #221
It used for analytics it redirects here: http://www.exacttarget.com/products/predictive-intelligence/

[2016-11-07 17:59] jo2dan23 commented on #221
It used for analytics it redirects here: http://www.exacttarget.com/products/predictive-intelligence/

[2016-11-07 21:41] onega commented on #190
I start the issue #NYG-855-99276 on AdGuard HelpDesk, giving the necessary logs. Now I'm waiting for a response from the developers.

[2016-11-08 11:03] gshumihin commented on #163
Yes.

[2016-11-08 17:20] evgeniy-ADG commented on #180
New logs: 1423882

[2016-11-08 17:20] ameshkov commented on #214
We should also add "Clear all"

[2016-11-08 17:50] Alex-302 commented on #180
@gshumihin please check this app without dns filtering and with blocked these domains
[code]

[2016-11-08 18:10] evgeniy-ADG opened #229 "http://forums.hardwarezone.com.sg - ads in Opera"
1. The issue only occurs on this website so far. I have not found other websites with this type of advertisement. I only tried Opera Mini and Safari.
2. Load the URL give below. Scroll to the bottom to see the advertisement. Adguard content filter in Safari can block it. But Adguard Pro DNS filter is unable to.
3. Please refer to screenshots of the bottom of the URL where the advertisement is.

UR

[2016-11-08 22:04] jo2dan23 opened #230 "Geico app tracker"
consumer.exacttargetapis.com (http://www.exacttarget.com/products/predictive-intelligence/)

[2016-11-09 18:19] jo2dan23 commented on #230
@Alex-302

[2016-11-09 18:23] Alex-302 commented on #230
I didn't forget, too many ads.

[2016-11-09 18:24] jo2dan23 commented on #230
Oh sorry man. My bad. And What you mean too many ads? In geico app?

[2016-11-09 18:24] jo2dan23 commented on #230
I didn't know you were subscribed to this section

[2016-11-09 18:28] jo2dan23 opened #231 "letgo app tracker"
mobile-collector.newrelic.com

letgo: Buy & Sell Second Hand Stuff by Ambatana INC
https://appsto.re/us/QOLY6.i

[2016-11-09 18:50] jo2dan23 commented on #227
More:

ads-secure.videohub.tv
videohub.tv.edgekey.net
mediate-ios-*.hyprmx.com
marketplace-ios-*.hyprmx.com
live.hyprmx.com

[2016-11-10 17:25] ameshkov commented on #220
@gshumihin ?

[2016-11-10 17:28] ameshkov commented on #217
@Alex-302 it seems to be more about "tracking" and not valuable functionality. Let's block it.

[2016-11-10 17:33] ameshkov commented on #221
We block `collect.igodigital.com` already. I suppose that blocking `app.igodigital.com` may cause problems with apps behaviour.

[2016-11-10 17:34] ameshkov commented on #190
We'll take a deeper look during next weeks.

[2016-11-10 17:50] evgeniy-ADG commented on #183
1408227 : My carrier is T-Mobile USA.

[2016-11-10 18:25] ameshkov commented on #183
@evgeniy-ADG could you please elaborate: what "does not work" mean?
It does not block anything? Or it cannot start? Or something else?

[2016-11-10 18:55] evgeniy-ADG commented on #183
Doesn't block ads

[2016-11-10 20:00] Alex-302 commented on #217
Ok, added

[2016-11-10 20:00] #217 closed

[2016-11-10 20:13] ameshkov commented on #180
@gshumihin ?

[2016-11-10 21:10] ameshkov commented on #230
@jo2dan23 i guess he meant that there're too many ad reports in AdguardFilters and forum:)

[2016-11-10 21:13] ameshkov commented on #227
`videohub.tv.edgekey.net`

This could be used for video serving as well.

[2016-11-10 21:22] evgeniy-ADG commented on #198
![image](https://cloud.githubusercontent.com/assets/15856304/20193175/897f66b6-a795-11e6-9301-27a6dc08ecaf.png)

new ad appears. the previous one was fixed

[2016-11-10 21:25] ameshkov commented on #183
Does the ticket contain "tunnel.txt" log?

[2016-11-10 23:53] jo2dan23 opened #232 "Cnn app"
yieldmo-builds.s3.amazonaws.com (yieldmo.com)

CNN by CNN Interactive Group, Inc.
https://appsto.re/us/8NQXt.i

[2016-11-10 23:55] jo2dan23 opened #233 "Fox news app"
apm.crittercism.com
api.push.io (marketing)

Fox News by FOX News Digital
https://appsto.re/us/31x6v.i

[2016-11-10 23:59] jo2dan23 commented on #227
I dont think so. Edgekey is used for cdn just like akamai and alot of ad domains host on them

[2016-11-11 00:04] jo2dan23 opened #234 "Target app"
devices.carnivalmobile.com

Target by Target
https://appsto.re/us/2WMUr.i

[2016-11-11 00:32] jo2dan23 opened #235 "Cookies app"
rlog.9gag.com
rlog-api.under9.co

COOKIE: 90's Generation Forum & Community by 9GAG
https://appsto.re/us/wqpS5.i

[2016-11-11 09:16] ameshkov commented on #233
I am 100% sure `push.io` is often used for legit purposes.

[2016-11-11 09:18] ameshkov commented on #227
Yeah, but these video ad networks are really often serve videos along with ads. It's like they provide both features: CDN for video and ad serving.

[2016-11-11 09:20] ameshkov commented on #235
Can't find any info on these domains. What info do they store there?

[2016-11-11 13:18] gotitbro opened #236 "Rearrange & Group User Filters [Feature Request]"
Hey guys,
I would like to request a feature whereby you can **rearrange User filters** just like you can rearrange extension in Safari (http://i.imgur.com/27TiJQs.jpg) by dragging the hamburger slider on each filter (the slider can be added on the left side).

This will vastly improve organization of **User Filters**, right now when I add a filter it stays in the last place below all previously ad

[2016-11-11 13:22] gotitbro commented on #229
If you are referring to the **CrowdyNews widget** at the bottom it is not an ad its just a third party widget utilized by `hardwarezone.com.sg`.

[2016-11-11 15:30] Alex-302 commented on #229
@evgeniy-ADG what does he mean by ads?

[2016-11-11 15:43] Alex-302 commented on #235
@ameshkov they are collects some information
<details>
![image](http://i85.fastpic.ru/big/2016/1111/1c/49e994f1656b81fcf048dbafbd93571c.png)
</details>

[2016-11-11 15:46] Alex-302 commented on #234
I don't know what is it.
@gshumihin please capture a fiddler session for this app.

[2016-11-11 15:48] Alex-302 commented on #233
Added the first only.

[2016-11-11 15:48] #233 closed

[2016-11-11 15:52] Alex-302 commented on #232
Added

[2016-11-11 15:52] #232 closed

[2016-11-11 16:04] Alex-302 commented on #198
@evgeniy-ADG ёлки, ну просите время указывать. Больше 5000 строк.

@gshumihin можешь фидлером лог записать?

[2016-11-11 16:06] Alex-302 commented on #231
Added

[2016-11-11 16:06] #231 closed

[2016-11-11 16:11] Alex-302 commented on #230
Indeed.
@jo2dan23 I don't know what purpose ща this domain.

[2016-11-11 19:12] rhett121 commented on #198
The time is at the top of the screenshot. It was 3am. I took the screenshot and immediately posted the bug so it should be one of the few that are at 3am. Thanks.

Время указано вверху экрана- 3 утра. я сделал скриншот и сразу же запостил баг. Так что он должен быть одним из немногих, размещенных в 3 утра. Спасибо за помощь.

[2016-11-11 19:29] jo2dan23 opened #237 "Panda pop"
analytics.sgnapps.com

Panda Pop by SGN
https://appsto.re/us/Cq_XP.i

[2016-11-11 19:33] jo2dan23 opened #238 "Coloring book"
bannerwall.herewetest.com
geoip.herewetest.com
bannerwall.s3.appcnt.com

Coloring Book for Me - Coloring pages for adults by Apalon Apps
https://appsto.re/us/Xm4jbb.i

[2016-11-11 19:39] jo2dan23 commented on #230
@Alex-302  see here: http://www.exacttarget.com/products/predictive-intelligence/

[2016-11-11 19:47] jo2dan23 opened #239 "Nytimes"
bi-eventtracker-*.amazonaws.com

NYTimes – Breaking Local, National & World News by The New York Times Company
https://appsto.re/us/dAQ-q.i

[2016-11-11 19:48] jo2dan23 commented on #230
Ive seen this same tracker on 4 apps so far

[2016-11-11 19:48] jo2dan23 commented on #230
Ive seen this same tracker on 4 apps so far

[2016-11-11 19:56] jo2dan23 opened #240 "Ticketmaster"
bttn.io (usebutton.com)
assets.adobedtm.com (https://apps.ghostery.com/en/apps/adobe_dynamic_tag_management)

Ticketmaster -Tickets for Concerts, Sports & Shows by Ticketmaster
https://appsto.re/us/TlxZD.i

[2016-11-12 09:33] vgavrish opened #241 "Monte-carlo app ads"
1102356
лог днс:
https://onedrive.live.com/?authkey=%21AFbRauaktgb0ie4&id=5997EE259BC58E0F%21225714&cid=5997EE259BC58E0F
<details>

![image](https://cloud.githubusercontent.com/assets/18548949/20236846/001f0f34-a8cb-11e6-87af-56e36e57e18c.png)

[2016-11-12 11:01] worldsdream commented on #193
try to add this in userfilter:

`indiatimes.com#%#AG_onLoad(function() { function unblock() {$('body').children('div, p, span, center, content').each(function(){$(this).css({opacity:'1'})});$("#blcontent").css({opacity:0});$("#blwrapper").css({opacity:0});document.body.style['overflow'] = "visible"; $("#blcontent,#blwrapper").hide();setInterval(unblock,1000); } unblock();});`

it will crash, not p

[2016-11-13 07:34] evgeniy-ADG commented on #162
https://itunes.apple.com/ua/app/a.big.t-a-smart-vpn/id1051326718?mt=8&ign-mpt=uo%3D4 - this one is incompatible, 1419096.

[2016-11-13 17:30] gotitbro commented on #236
@ameshkov @Stillness-2 What are your thoughts about this?

[2016-11-13 22:31] jo2dan23 commented on #230
See here:
![img_3271](https://cloud.githubusercontent.com/assets/15130139/20249438/9d62253a-a9be-11e6-84ad-d95b9bc2d563.PNG)

[2016-11-14 10:42] Alex-302 commented on #241
Google Ads domain is blocked.
@gshumihin capture, please, requests of this app.

[2016-11-14 10:48] Alex-302 commented on #240
Added the first.
The second rule will break a lot os sites.

[2016-11-14 10:48] #240 closed

[2016-11-14 10:48] Alex-302 commented on #239
added

[2016-11-14 10:48] #239 closed

[2016-11-14 10:59] Alex-302 commented on #237
added

[2016-11-14 10:59] #237 closed

[2016-11-14 11:13] Alex-302 commented on #198
@rhett121 скрин может быть и старым)
В логе ничего подозрительного не заметил. Попробуйте с выключенным интернетом проверить(два варианта - выключением в настройках, и по возможности с включенным интернетом но вне зоны покрытия). Возможно баннер встроен, или загружается с основного домена, который нельзя блокировать.
Какой адрес открывается при нажатии на баннер?

[2016-11-14 11:22] Alex-302 commented on #238
added

[2016-11-14 11:22] #238 closed

[2016-11-14 14:11] vbagirov commented on #162
@gshumihin could you please also test for the compatibility with ipvanish?

[2016-11-14 14:42] Smaptastic commented on #162
IPVanish and NordVPN can be be connected at the same time as Adguard in iOS. I am not sure if this makes them compatible.

[2016-11-14 14:51] gshumihin commented on #162
I'll try to check listed apps tommorow.

[2016-11-14 16:13] gshumihin commented on #220
Didn't see any ads in this app. What's the problem here @jo2dan23 ?

[2016-11-14 16:54] evgeniy-ADG opened #242 "Ozon app won't work with DNS filtering"
https://itunes.apple.com/ru/app/ozon.ru-internet-magazin/id407804998?mt=8

Проблема заключается в блокировке сервером этого адреса: t.appsflyer.com
Логов нет, не дают.

1137674

[2016-11-14 17:02] evgeniy-ADG opened #243 "BBC sport app show 'no network connection' error"
https://itunes.apple.com/gb/app/bbc-sport/id377388936?mt=8

![image](https://cloud.githubusercontent.com/assets/15856304/20274347/eb178354-aa9c-11e6-9385-9d7d425be7d1.png)

logs: 1442463

[2016-11-14 19:48] evgeniy-ADG commented on #183
requested here: 1425202

[2016-11-14 22:43] jo2dan23 commented on #234
carnivalmobile.com is marketing

[2016-11-14 22:43] jo2dan23 commented on #234
carnivalmobile.com is marketing

[2016-11-14 22:43] jo2dan23 commented on #234
carnivalmobile.com is marketing

[2016-11-15 07:39] Bubu92 commented on #191
Hello. Any news on this issue?

[2016-11-15 13:28] vbagirov commented on #162
@gshumihin could you please comment about ipvanish in this thread once you've tested it?
https://forum.adguard.com/index.php?threads/16029/#post-112459

[2016-11-15 18:45] dzamyshlyayeva commented on #242
1382035

[2016-11-15 20:21] evgeniy-ADG opened #244 "www.firstbaptist-portcrane.org - incorrect blocking"
http://family.block.dns.adguard.com/?domain=www.firstbaptist-portcrane.org

The screencast: https://www.youtube.com/watch?v=SVQmXdXYHFk&feature=youtu.be

Logs: 1448113

[2016-11-15 20:31] evgeniy-ADG commented on #183
We have logs. 1425202

[2016-11-15 20:35] ameshkov commented on #236
@gotitbro he's on vacations:)

[2016-11-15 20:37] ameshkov commented on #236
What for me, I suggest doing it different way.

You see, I don't like the whole `data grid` approach for user filters. It just ties your hands with what you can do with it.

Instead I suggest implementing user filter as a huge textarea field. New line - new rule.

[2016-11-15 20:41] ameshkov commented on #236
Something like this:
http://a3.mzstatic.com/us/r30/Purple20/v4/ae/fe/91/aefe917c-cac3-0e7b-51f5-bd45a0737949/screen696x696.jpeg

[2016-11-15 21:18] Alex-302 commented on #244
Not reproduced. Please check again.

[2016-11-15 21:22] ameshkov commented on #229
I guess this "Advertising" label is misleading, it does not refer to the news widget, it refers to the ad which is now blocked.

[2016-11-15 21:26] ameshkov commented on #235
@Alex-302 yep, looks like tracking pixel

[2016-11-15 21:44] ameshkov commented on #230
Looks like this is a part of salesforce.com.

Used by this SDK:
http://salesforce-marketingcloud.github.io/JB4A-SDK-iOS/

Let's leave it open until we can properly test blocking of this domain.

[2016-11-15 21:45] Alex-302 commented on #242
Что именно не работает?

[2016-11-15 21:56] #234 closed

[2016-11-15 21:56] jo2dan23 commented on #227
@Alex-302 can we add the other ones? Sorry to bug you XD

[2016-11-15 22:01] ameshkov commented on #198
Кстати на втором скриншоте по ходу баннер другой рекламной сети.

На первом светится рекламная отметка (то ли adchoices, то ли admob, надо тапнуть проверить чей баннер). А на втором никаких отметок не видать.

[2016-11-15 22:09] ameshkov commented on #191
@Bubu92 waiting for @Stillness-2 to return from vacations.

Also the situation will be better with the next AG DNS servers update, we'll get rid of quite a few false positives with it.

[2016-11-15 22:18] Alex-302 commented on #243
Excluded
[code]
Please check again and reply

[2016-11-15 22:19] ameshkov commented on #162
They are likely to be compatible then, but we'd wait for @gshumihin to finish testing anyway

[2016-11-15 22:58] Bubu92 commented on #191
OK thanks for the reply!

Then, we'll wait for his return. I hope you guys will solve quickly the issue.

By the way I realized something strange I could not explain.

As I told you I am using Norton DNS address on my WiFi connection.
However by using also AG Pro DNS, it seems that AG is working over Norton DNS.
In summary I can access websites that I should not...

[2016-11-16 09:07] Alex-302 commented on #229
It is blocked by `/advertisement_` on my end. It can't be blocked by DNS filtering.

[2016-11-16 12:20] gshumihin commented on #163
@Alex-302 some news?

[2016-11-16 12:23] gotitbro commented on #236
@ameshkov

Oh, hope he enjoys :)

I would love to see something like that implemented as well that would be much more versatile than the current approach. Can this be done? I find the current approach very clunky to be honest.

[2016-11-16 15:26] evgeniy-ADG commented on #198
1436166 - вот тут еще логи и скрины, посмотрите, пож-та.

[2016-11-16 19:01] jesusc31 commented on #242
Приложение открывается и белый экран с надписью приложение загружается и ромашка крутится

[2016-11-16 19:01] jesusc31 commented on #242
Логи я кстати вроде отправил все по инструкции

[2016-11-16 20:04] ameshkov commented on #183
@evgeniy-ADG ?

[2016-11-16 20:06] ameshkov commented on #227
@Alex-302 I suppose `hyprmx.com` subdomains may be added.

[2016-11-16 20:09] jo2dan23 commented on #227
And this ads-secure.videohub.tv

[2016-11-16 20:11] ameshkov commented on #191
@Bubu92 yep, that shouldn't surprise you, when you turn AG DNS on, it overrides current DNS settings. This applies to wi-fi settings as well.

In future versions we'll introduce "dns filtering" feature which will allow to have dns-level ad blocking along with using whichever DNS you want.

[2016-11-16 20:27] ameshkov commented on #236
This definitely can and should, but we'll do it along with the planned app re-design. Actually, new design is ready and should have been implemented along with Pro version release, but as it often happens we've missed all the deadlines:)

[2016-11-16 20:46] ameshkov commented on #227
Still not sure about it. Let's leave the issue open until we can test it with the user filter.

[2016-11-16 20:49] Alex-302 commented on #243
@evgeniy-ADG

[2016-11-16 21:10] Bubu92 commented on #191
I understand. However, because it was going through VPN configuration so it was kind of confusing.

I also, found out that you could use a VPN app as TunnelBear in addition to AG DNS.
But some other VPN app like OpenVPN does not work because they appears in VPN Configuration menu instead of Personal VPN one in iOS VPN settings. A mystery for me... ;-)

Anyway, I deactivated the AG DNS until you fi

[2016-11-16 21:16] Alex-302 commented on #163
No. I don't have iDevice)

[2016-11-16 21:22] ameshkov commented on #191
Yeah, I wonder how Apple managed to do it. We keep track of compatible VPN apps here: #162

[2016-11-16 21:36] Alex-302 commented on #198
@ameshkov

днсофейсбучную рекламу не заблокировать по ДНС, фейсбук сломается.

@evgeniy-ADG

Опять время не указано. Больше пяти тысяч строк там.

[2016-11-16 21:39] Alex-302 commented on #235
Added to Mobile filter
[code]

[2016-11-16 21:39] #235 closed

[2016-11-16 21:48] Alex-302 commented on #227
ok, added
[code]

[2016-11-16 21:52] Alex-302 commented on #244
@evgeniy-ADG

[2016-11-16 21:59] Alex-302 commented on #242
Вижу вот такие заблокированные домены в указанное время:
[code]
@gshumihin можешь проверить, блокировка какого домена ломает приложение? Можно сперва первые восемь добавить, чтоб удостовериться, что не они ломают.

[2016-11-16 22:49] worldsdream opened #245 "Marktplaats app advertisement between search results"
1) download the marktplaats app
2) open the app and hit search
3) search for example: bmw x5
4) scroll the list
5) you will see adverts between search results

[2016-11-17 02:11] rhett121 commented on #198
Я не против того, чтобы сломать ФБ. Я им не пользуюсь. Вообще.

[2016-11-17 07:38] Alex-302 commented on #198
Зато другие миллионы пользователей против. Нормально заблокировать возможно только в Дроиде. У иОС скудные возможности в этом плане(т.е. это не ограничение самого Адгарда).

[2016-11-17 16:05] vozersky opened #246 "'Operation cannot be completed' error message while updating filters."
id 1434199

[com.adguard.AdguardPro.gz](https://github.com/AdguardTeam/AdguardForiOS/files/597851/com.adguard.AdguardPro.gz)

![image1](https://cloud.githubusercontent.com/assets/17472907/20397087/7a0aea52-acf9-11e6-8fb3-92dd24822996.png)

[2016-11-17 21:11] jo2dan23 commented on #227
@Alex-302 another one

objects-secure.tremormedia.com (tremorvideo.Com)

[2016-11-17 21:55] ameshkov commented on #162
@gshumihin please test PIA as well

[2016-11-17 23:00] worldsdream commented on #245
@Alex-302

[2016-11-18 04:35] lancelot-moon opened #247 "When HTTP PROXY is Auto in wifi setting, Adguard pro is unable to block ads in any apps. Bug PRO"
@ameshkov

I am your Traditional Chinese translator.
I already wrote the issue by submitting the ticket.
**User ID**: 1425202

I think it's better to post the issue here and track if you solve it afterwards.

1. When I set "http proxy" as auto (space in URL) from the beginning and then connect to wifi, Adguard pro is unable to block ads in any apps.
<details><summary>Screenshot:</summary>

![Pic n

[2016-11-18 12:45] #215 closed

[2016-11-18 12:52] gshumihin commented on #163
Check this issue with ur iPad please.

[2016-11-18 14:11] gshumihin commented on #162
IPVanish and NordVPN have no trial period so I don't think its worth to buy it.
What do you think @ameshkov ?

[2016-11-18 15:36] vbagirov opened #248 "Can't send emails with Outlook when VPN is enabled"
Test it please.

Original thread:
https://forum.adguard.com/index.php?threads/unable-to-send-messages-from-outlook.16255/

[2016-11-18 19:41] worldsdream opened #249 "[Feature] Push notification after a selected time"
A lot of users install the adguard app, select the filters they need and then they dont even open it anymore. Even friends of me tell me that some sites are not opening or ads are showing up. They even remove the Adguard app. That is bad, because filters are getting updated every day and they are not understanding that they always need to keep it in background.

I know that there is a task on gith

[2016-11-19 18:00] Bubu92 commented on #191
Interesting information thank you.

It is too bad that Openvpn Is not compatible. Unlike other VPN services you can input the address you want.
To be honest there are too many VPN offers on the markets and it is difficult to know the good and honest ones. I found out that some of them are using Malware or your data to push spam and ads. :(
People think they are safe because they are using a vpn. B

[2016-11-19 20:20] worldsdream commented on #140
https://github.com/AdguardTeam/AdguardForiOS/issues/249

[2016-11-20 04:53] jo2dan23 opened #250 "Wish app"
d.impactradius-event.com (impactradius.com tracking)

Wish - Shopping Made Fun by ContextLogic Inc.
https://appsto.re/us/tpkOF.i

[2016-11-20 06:34] jo2dan23 opened #251 "Mytuner radio"
in.cuebiq.com
api.*.theappsales.com (marketing)

myTuner Radio - Live FM Stations & Internet Radios by Appgeneration Software
https://appsto.re/us/k5JbF.i

[2016-11-20 10:55] evgeniy-ADG opened #252 "Ads go through when changing location"
I was using Adguard pro in France and ads were indeed blocked in apps. But then I went to Madagascar, and here, these same ads (in the sense that they're still targeted for the french market), are not blocked anymore, even on wi-fi.

Logs: 1450171

[2016-11-21 08:08] zhuochenming opened #253 "tieba bug"
I use ChinaList+EasyList or EasyList China，when i visit web like http://tieba.baidu.com/f?kw=2012&fr=ala0&tpl=5，When you pull down more than that **可能感兴趣的吧** Finger on, or drag the following cell cause dislocation

[2016-11-21 15:16] ameshkov commented on #198
Ну вообще надо сказать, что в будущей версии появится возможность использовать пользовательский фильтр для блокировки ДНС-запросов.

Вот тогда-то и можно будет спокойно у себя заблокировать фейсбук, а других пользователей это не затронет.

[2016-11-21 15:21] vozersky commented on #248
can't reproduce so far
what email provider is used in outlook app? is it actual ms outlook or anything else? Also, it happens on wi-fi or cell?

[2016-11-21 15:31] ameshkov commented on #227
This one is dangerous, let's not add it until it's properly tested

[2016-11-21 15:37] ameshkov commented on #247
Hi, thank you for reporting it!

Regarding the first question, do you use a .pac-based proxy server?

Have you confirmed the account when you first registered it?

[2016-11-21 16:19] ameshkov commented on #162
It is pretty ok for a VPN service to be paid, so why not trying it for 1 month.

[2016-11-21 16:22] ameshkov commented on #191
Here you are:
https://thatoneprivacysite.net/vpn-comparison-chart/

[2016-11-21 16:49] lancelot-moon commented on #247
1. No, I almost don't use a proxy server. I changed the http proxy setting because I tried iCareFone Pro in the past.
https://appsto.re/tw/UZbJfb.i
It's an ad blocking app for only wifi via a proxy server.
I forgot to set http proxy to off.
And then I found that Adguard pro is unable to block ads in any app when enabling http proxy.

2. Yes, I also checked the account confirm email, which includes

[2016-11-21 17:03] ameshkov commented on #253
@zhuochenming could you please take a screenshot of the issue?

[2016-11-21 19:03] gotitbro commented on #236
@ameshkov That's great, I would also like to suggest a toggle for **enabling and disabling** the whole "**User Filter**" on the **_iOS app_** and on other platforms as well (such as the **_browser extension_**).

This would prove to be very useful as sometimes problems are caused with filters the user has created and the user would be able to test this very quickly by just disabling the toggle for

[2016-11-21 20:03] Bubu92 commented on #191
Wow! Excellent. Thank you very much for this information.

[2016-11-21 21:11] ameshkov commented on #247
Could it be that the proxy URL still points to the .pac configuration file (or maybe the file is somehow cached)?

Uh, that's bad, I may not be able to figure out what happened now:(

[2016-11-21 21:20] ameshkov commented on #236
This makes sense, thank you for the suggestion!

[2016-11-22 01:20] zhuochenming commented on #253
sorry,can not take the wrong screenshot, when I touch it ,it pop choose menu,so you need test it your self.

[https://tieba.baidu.com/f?kw=2012&fr=ala0&loc=rec&red_tag=0723144077&pn=0&](url)

use safari open it in iPhone , and scroll it to the below of 可能感兴趣的吧, just touch the bellow cell

[2016-11-22 03:01] lancelot-moon commented on #247
https://youtu.be/TrYjEzbZC6Y

For using iCareFone pro, I need to set the proxy url.
Please watch the video.
But I already deleted the proxy url since I removed iCareFone pro.
When setting http proxy to auto for testing adguard pro, I didn't fill in any proxy url, only space.

[2016-11-22 12:35] Alex-302 commented on #198
о, крайне полезная функция

[2016-11-22 12:46] Alex-302 commented on #163
@gshumihin I can't register here, lost my megafon sim card.

[2016-11-22 12:58] ameshkov commented on #253
@zhuochenming sorry, I still cannot understand (or reproduce).

Could you please record two videos: one with OK behaviour, the other with the mistake.
Here is how to do it:
http://www.apptamin.com/blog/capture-iphone-ipad-screen-video/

[2016-11-22 13:02] ameshkov commented on #162
Two more apps to test:
PureVPN and Windscribe

[2016-11-22 13:10] ameshkov commented on #247
In my case setting an empty URL in that fields completely breaks net connection.
I suppose that in your case it just reuses the previous value you set there.

They install a VPN profile, which contains a list of rules controlling when iOS should try to use it. Each rule looks like "access domain example.org through the VPN". VPN points to a blackhole, so instead of accessing example.org, the rule

[2016-11-22 13:40] Alex-302 commented on #250
we already have
[code]

[2016-11-22 13:40] #250 closed

[2016-11-22 13:42] Alex-302 commented on #251
screenshot of ads, please

[2016-11-22 13:42] zhuochenming commented on #253
[https://pan.baidu.com/s/1kVoE4zd](url)

you can download it,just notice that when i touch the cell,it dismiss sometimes

[2016-11-22 13:44] Alex-302 commented on #245
there are few apps with this name. Please provide a direct link to the app and screenshots of ads

[2016-11-22 14:19] worldsdream commented on #245
Marktplaats - Voor tweedehands en nieuwe spullen by Marktplaats BV

[2016-11-22 15:29] dzamyshlyayeva opened #254 "9to5mac"
Description: pictures are blocked incorrectly
<details>

![image](https://cloud.githubusercontent.com/assets/23372054/20529406/ad4af3f2-b0d8-11e6-9d5f-1935f1d2b54d.png)

</details>
Application version: 1.1.2.24
Customer ID: 1021351

reproduced on my side

[2016-11-22 16:03] gotitbro opened #255 "$generichide filters not parsed on iOS [Bug]"
The **_Adguard Content Blocker_** for **_iOS_** does not parse filters with `$generichide`  modifier on **_Safari iOS_** but it parses `$elemhide` filters.

### How to reproduce?
Enable "**_Mobile ads filter_**" in **_Adguard_** (it contains `@@||m.beautypageants.in^$generichide`) and go to http://m.beautypageants.in/ and click on any article, you will get an adb warning which the `$generichide` w

[2016-11-22 16:25] jo2dan23 commented on #250
d.impactradius-event.com Is the one that I suggested though Whats in brackets is what the domain is

[2016-11-22 16:49] dzamyshlyayeva commented on #253
the same issue
<details>
![image](https://cloud.githubusercontent.com/assets/23372054/20532831/0b939472-b0e4-11e6-9b3b-88a283957c8e.png)
![image](https://cloud.githubusercontent.com/assets/23372054/20532846/1feb59a0-b0e4-11e6-8b4a-a3ffe680928f.png)
</details>

Filters subscriptions:
ID=0 Name="User filter" Version=1.0.0.0 Enabled=YES
ID=2 Name="English filter" Version=1.1.0.78 Enabled=YES
ID=3 Nam

[2016-11-22 23:22] jo2dan23 commented on #251
cuebiq.com is tracking. the other is marketing. No ads appear tho.

[2016-11-22 23:28] jo2dan23 opened #256 "Candy crush"
adtrack1.midasplayer.com

Candy Crush Saga by King
https://appsto.re/us/RJTaH.i

[2016-11-22 23:40] jo2dan23 opened #257 "Cookie jam"
invenio_tracking_*.sgnapps.com

Cookie Jam by SGN
https://appsto.re/us/qVAwR.i

[2016-11-23 00:34] jo2dan23 opened #258 "The walking dead road to survival"
collector.scopely.io

The Walking Dead: Road to Survival - Fighting RPG by Scopely
https://appsto.re/us/uOPX5.i

[2016-11-23 03:45] jo2dan23 opened #259 "star wars heroes"
geoip.tnt-ea.com
data.ea.com (see tracking urls from fiddler log below)

https://pin-river.data.ea.com/pinEvents HTTP/1.1
https://river-mobile.data.ea.com/tracking/api/core/logEvent?localization=en-US&appLang=en&deviceLocale=en_US&deviceLanguage=en-US&appVer=0.7.181815&hwId=2916

Star Wars™: Galaxy of Heroes by Electronic Arts
https://appsto.re/us/w-A52.i

[2016-11-23 03:52] jo2dan23 commented on #220
@gshumihin no its a tracking pixel.

[2016-11-23 04:01] jo2dan23 commented on #250
So ||d.impactradius-event.com^ is wht should be added. Sorry for the confusion. @Alex-302

[2016-11-23 12:16] vbagirov commented on #162
@gshumihin

[2016-11-23 12:30] Alex-302 commented on #255
Confirmed on also Android.
Temporary added to Mobile filter
[code]
Manually renamed element was hidden by generiс element hiding rule
http://ipic.su/img/img7/fs/kiss_568kb.1479904042.png
Our filters doesn't contains specific rules for this domain.
@ameshkov

[2016-11-23 12:34] evgeniy-ADG opened #260 "The app won't let iOS to go the sleep mode"
Программа не даёт телефону уйти в сон (время использования = времени ожидания).
Проблема проявляется не сразу, но через несколько дней/недель эксплуатации.
После сноса и переустановки все возвращается в норму.

1453182

[2016-11-23 12:44] Alex-302 commented on #163
Was not reproduced with default dns. Messages were posted to twitter and FB

[2016-11-23 14:49] Alex-302 commented on #254
This site looks differently on my devices
http://ipic.su/img/img7/fs/kiss_415kb.1479912541.png
 I need a screenshot of correctly loaded page.

[2016-11-23 14:55] Alex-302 commented on #254
Removed few leftovers
[code]

[2016-11-23 15:28] ameshkov commented on #255
@Alex-302 can you reproduce it in v2.8?

[2016-11-23 15:41] Alex-302 commented on #255
@ameshkov no. Seems to be works as expected.
On iOS I can read articles only with $elemhide exclusion.

[2016-11-23 15:49] ameshkov commented on #255
Got it, thank you!

Filed a bug report to extension repo (as iOS version shares rules converter with it):
https://github.com/AdguardTeam/AdguardBrowserExtension/issues/437

@Stillness-2 please update converter when this bug is fixed on extension side.

[2016-11-23 16:04] ameshkov commented on #253
@dzamyshlyayeva should it be blocked right away? I see some "cards" being blocked on `http://tieba.baidu.com/f?kw=2012&fr=ala0&tpl=5`, but they all seem to be ads

[2016-11-23 21:34] jo2dan23 opened #261 "Carfax"
beacon.carfax.com

CARFAX – Find Used Cars for Sale by CARFAX, Inc.
https://appsto.re/us/iSqKC.i

[2016-11-23 21:40] jo2dan23 opened #262 "Kohls"
registration.gimbal.com (marketing)
placebubble.gimbal.com (marketing)
analytics-server.gimbal.com

Kohl's by Kohl’s
https://appsto.re/us/06LiC.i

[2016-11-23 21:44] jo2dan23 opened #263 "Walgreens"
config-live.swirl.com (marketing)
live.swirl.com (marketing)

Walgreens – Pharmacy, Photo, Coupons and Shopping by Walgreen Co.
https://appsto.re/us/smu_t.i

[2016-11-23 21:57] jo2dan23 opened #264 "Footlocker"
smetrics.freecreditreport.com
beacon.riskified.com

Foot Locker by Foot Locker, Inc.
https://appsto.re/us/L2cR3.i

[2016-11-23 21:59] jo2dan23 opened #265 "Macys"
api.xtify.com (marketing)
metrics.macys.net

Macy's by Macys Inc
https://appsto.re/us/JW8uu.i

[2016-11-23 22:02] jo2dan23 opened #266 "Bestbuy"
metrics.bestbuy.com

Best Buy by Best Buy Co., Inc.
https://appsto.re/us/x9eXs.i

[2016-11-23 22:07] jo2dan23 opened #267 "Home depot"
content.signal360.com (tracking)

The Home Depot by The Home Depot, Inc.
https://appsto.re/us/x6OAu.i

[2016-11-23 22:10] jo2dan23 opened #268 "Zappos"
cust.twinprime.com (tracking)

Zappos by Zappos IP, Inc.
https://appsto.re/us/eCiBx.i

[2016-11-23 22:14] jo2dan23 opened #269 "Dicks"
collector.brandify.com

DICK'S Sporting Goods by Dick's Sporting Goods
https://appsto.re/us/nQDlH.i

[2016-11-23 22:16] jo2dan23 opened #270 "Pacsun"
jumbe.zaius.com (marketing)

PacSun by Pacific Sunwear
https://appsto.re/us/sNCeA.i

[2016-11-23 22:22] jo2dan23 opened #271 "Kmart"
replaycontroller.4seeresults.com (tracking)
tpat.tapjoy.net (this is the same as tapjoy.com)
api.bluecats.com (tracking)

Kmart – Download Now, Shop Online & Pick Up Today! by Sears
https://appsto.re/us/VXSbu.i

[2016-11-23 22:26] jo2dan23 opened #272 "Sears"
ws*.flightrecorder.co (this is clicktale.com which is tracking)
max.linkingmobile.com (ad network)

Sears – Download Now, Shop Online & Pick Up Today! by Sears
https://appsto.re/us/QJmns.i

[2016-11-23 22:32] jo2dan23 opened #273 "Cvs"
services.ma.tune.com (marketing)

CVS Pharmacy by CVS Pharmacy
https://appsto.re/us/tV4Kx.i

[2016-11-24 09:03] mickkkkk commented on #253
the same problem tieba.baidu.com. when I touch the post, the post sometimes disappear

[2016-11-24 09:08] mickkkkk commented on #189
你好，请问adguard贴吧问题您解决了吗？

[2016-11-24 23:50] jo2dan23 opened #274 "Meetme"
adsdk.vrvm.com

MeetMe - Chat and Meet New People by MeetMe, Inc.
https://appsto.re/us/qVInw.i

[2016-11-25 12:40] ameshkov commented on #261
@jo2dan23 @Alex-302

I guess it's time to start reporting these issues to AdguardFilters repo:
https://github.com/AdguardTeam/AdguardFilters

I've added `iOS App` label there for this sort of cases.

[2016-11-25 17:49] ameshkov commented on #253
@Alex-302 please take a look, I think we've got an incorrect blocking example.

Test page:
`http://tieba.baidu.com/f?kw=2012&fr=ala0&tpl=5`

Touching post may change `class` attribute and cause it to be hidden due to the hiding rule:
`.tl_shadow + * + li[class]:not([class="tl_shadow"])`

In fact we'd better to report it to ChinaList author.

[2016-11-26 11:58] dzamyshlyayeva commented on #114
same issue

<details>

![image](https://cloud.githubusercontent.com/assets/23372054/20640166/c538c43a-b3df-11e6-821e-bd11418679e6.png)
![image](https://cloud.githubusercontent.com/assets/23372054/20640183/23a22bf6-b3e0-11e6-9a2a-1f787d5a26ac.png)
![image](https://cloud.githubusercontent.com/assets/23372054/20640189/2d04b09c-b3e0-11e6-9388-313d2882ddd1.png)
![image](https://cloud.githubusercontent.

[2016-11-26 15:06] ameshkov opened #275 "Update rules converter to the latest version"
New converter contains fix for this issue:
https://github.com/AdguardTeam/AdguardBrowserExtension/issues/153

Read here:
https://github.com/AdguardTeam/SafariContentBlockerConverterCompiler/issues/3

[2016-11-27 19:58] Alex-302 commented on #253
Sadly, but I can't check baidu sites, they are never loading completely.

[2016-11-27 20:33] ameshkov commented on #243
@Alex-302 it appears the issue is still here:
https://github.com/AdguardTeam/AdguardDNS/issues/92

Please check it on your side.

[2016-11-27 20:36] ameshkov commented on #253
@Alex-302 just use chrome's data saver extension:
https://chrome.google.com/webstore/detail/data-saver/pfmgfdlgomnbgkofeojodiodmgpgmkac

[2016-11-27 22:22] Bubu92 commented on #191
Hello. May I ask what is the update regarding this issue? Cheers

[2016-11-28 13:55] zebrum commented on #183
@ameshkov
other similar vendor request i have:
app does not work on iPhone 5S (iOS 10.1.1) in Bouygues Telecom LTE mode. There are ads everywhere in safari and apps. It certainly due to my mobile network provider because I compared with an other provider and adguard works nice.

have this log:
[com.adguard.AdguardPro.tunnel.gz](https://github.com/AdguardTeam/AdguardForiOS/files/616432/com.adguard.

[2016-11-28 16:27] worldsdream commented on #245
Alex any update?

Here is a screenshot of the advert: http://i.imgur.com/HRjIhNQ.jpg

[2016-11-28 22:30] worldsdream commented on #106
@ameshkoc Any update on this one? Or still ios bug?

[2016-11-29 04:29] jo2dan23 opened #276 "Trivia crack"
iad.appboy.com
banners.etermax.com

Trivia Crack by Etermax
https://appsto.re/us/you1M.i

[2016-11-29 06:43] evgeniy-ADG opened #277 "Apple Maps won’t fully function"
Apple Maps won’t fully function. You can get turn by turn nav, but it
doesn’t download the map graphic. Alternatively, Google Maps works fine.

![img_0667](https://cloud.githubusercontent.com/assets/15856304/20699404/defcce7a-b60f-11e6-950a-bbe0f347cc6b.png)

[2016-11-29 06:51] evgeniy-ADG opened #278 "Cannot play Podcasts using Overcast App for Podcasts"
That and the Overcast App for Podcasts, won’t download new Podcasts. You can listen to any that are already downloaded offline, but if you attempt to download a new Podcast, it won’t do it so long as Adguard DNS VPN is enabled.

https://itunes.apple.com/ua/app/overcast-podcast-player/id888422857?mt=8

[2016-11-29 08:36] marlowe310 commented on #162
Would appreciate it if you guys could test Private Internet Access.

[2016-11-29 10:12] vbagirov commented on #183
A small addition to the previous comment:
user ID there is 1454382

Also, according to user, he doesn't have ads in Safari anymore; still true for ads in apps on his iPhone 5S (not on iPhone 7 though).

[2016-11-29 18:04] Alex-302 commented on #243
@ameshkov not reproduced with AG Pro.

[2016-11-29 18:55] Alex-302 commented on #245
We can't block it.

[2016-11-29 18:55] #245 closed

[2016-11-29 19:15] Alex-302 commented on #253
Got it.
Reported:
https://forums.lanik.us/viewtopic.php?f=64&t=34302&p=108738#p108738
Waiting for their reaction:)

[2016-11-29 19:25] Alex-302 commented on #277
Don't understand. I opened the map, and see no issues - the map is loading correctly.
Could you reproduce it on your end?

[2016-11-29 19:49] Alex-302 commented on #278
excluded from DNS filter: podtrac.com

[2016-11-29 19:49] #278 closed

[2016-11-29 20:00] Alex-302 commented on #271
added

[2016-11-29 20:00] #271 closed

[2016-11-29 20:04] Alex-302 commented on #250
added

[2016-11-29 20:33] Alex-302 commented on #220
Added

[2016-11-29 20:33] #220 closed

[2016-11-29 20:49] Alex-302 commented on #251
in.cuebiq.com added

[2016-11-29 20:49] #251 closed

[2016-11-29 21:12] Alex-302 commented on #259
We should not block these domains, because authorization in some games can be blocked,

[2016-11-29 21:12] #259 closed

[2016-11-29 21:26] Tetiana2020 commented on #162
User 1434457 wonders if it would work with Wingy. Could you please test it?

[2016-11-29 21:26] Alex-302 commented on #263
Added to Spyware filter
[code]

[2016-11-29 21:26] #263 closed

[2016-11-29 21:34] Alex-302 commented on #272
Can't download.

[2016-11-29 21:39] Alex-302 commented on #264
can't download

[2016-11-29 21:41] Alex-302 commented on #267
can't download

[2016-11-29 22:00] Alex-302 commented on #256
Did you see ads here?

[2016-11-29 22:15] Alex-302 commented on #274
don't see this request

[2016-11-29 22:15] #274 closed

[2016-11-29 22:24] Alex-302 commented on #269
added
[code]

[2016-11-29 22:24] #269 closed

[2016-11-29 22:41] Alex-302 commented on #268
Not sure about it, and don't see it in requests.

[2016-11-29 22:41] #268 closed

[2016-11-29 22:45] Alex-302 commented on #265
added
metrics.macys.net

[2016-11-29 22:45] #265 closed

[2016-11-30 01:49] zhuochenming commented on #253
thanks for your work

[2016-11-30 15:41] Alex-302 commented on #254
@dzamyshlyayeva any news?

[2016-11-30 15:51] dzamyshlyayeva commented on #254
@Alex-302 checked. still facing the same issue on my device

[2016-11-30 16:05] dzamyshlyayeva opened #279 "3D Touch action to toggle the DNS VPN"
Please, consider adding this option.

Customer ID 1457370

[2016-11-30 18:43] evgeniy-ADG opened #280 "http://www.kaola.com/ - Incorrect blocking by DNS"
http://www.kaola.com/footer/freight.shtml

![image](https://cloud.githubusercontent.com/assets/15856304/20766063/93b85248-b73d-11e6-8075-021434586760.png)

Reproduced.

[2016-11-30 18:46] Alex-302 commented on #257
Added

[2016-11-30 18:46] #257 closed

[2016-11-30 18:53] Alex-302 commented on #258
I don't see any network requests.

[2016-11-30 18:53] #258 closed

[2016-11-30 18:56] evgeniy-ADG opened #281 "vk.com, steam - infinite page download"
Вот в таком положении загрузка страницы и зависает. Та же проблема в мобильном Steam.
Проблема возникает не в фильтрах, а в вашем Adguard DNS который
работает через локальный VPN. Поэтому такая же проблема и в стороннем
браузере Chrome.

![image](https://cloud.githubusercontent.com/assets/15856304/20766438/2f5dd6e0-b73f-11e6-8331-998031177a8b.png)

Logs: 1455548

[2016-11-30 19:00] evgeniy-ADG opened #282 "DNS Family protection hides weather icons on m.yahoo.com"
Now on my home page (https://my.yahoo.com), the weather does not have the symbols for clouds, rain, sun, etc

Adguard Family Protection DNS servers, 176.103.130.132 and 176.103.130.134 When I used them, the weather symbols disappear.

1080479

[2016-11-30 19:16] Alex-302 commented on #261
added
[code]

[2016-11-30 19:16] #261 closed

[2016-11-30 19:23] Alex-302 commented on #262
added third

[2016-11-30 19:23] #262 closed

[2016-11-30 19:24] Alex-302 commented on #266
added

[2016-11-30 19:24] #266 closed

[2016-11-30 19:26] Alex-302 commented on #276
added

[2016-11-30 19:26] #276 closed

[2016-11-30 19:33] Alex-302 commented on #273
http://docs.zaius.com/docs/sendgrid
we should not block it

[2016-11-30 19:33] #273 closed

[2016-11-30 19:33] Alex-302 commented on #270
http://docs.zaius.com/docs/sendgrid
we should not block it

[2016-11-30 19:33] #270 closed

[2016-11-30 19:34] Alex-302 commented on #273
Not sure about this.

[2016-11-30 19:35] Alex-302 commented on #254
@dzamyshlyayeva please make two screenshots - with broken and correct.

[2016-11-30 19:44] Bluscream opened #283 "Join the Gitter chat room"
https://gitter.im/AdguardHQ/AdguardForiOS

[2016-11-30 19:45] #283 closed

[2016-11-30 19:53] Alex-302 commented on #280
I can't access to mobile version. Ask for DNS log with time.

[2016-11-30 20:13] Alex-302 commented on #282
Not reproduced

[2016-11-30 20:18] Alex-302 commented on #281
Не повторилось. Нужен точный адрес.

[2016-11-30 20:21] jo2dan23 commented on #274
@Alex-302 u have to have an account the ad appears when i go to my messages

[2016-12-01 04:45] jo2dan23 opened #284 "Flixster"
events.mobile.optimizely.com

Movies by Flixster, with Rotten Tomatoes by Flixster, Inc.
https://appsto.re/us/kFr8q.i

[2016-12-01 04:49] jo2dan23 commented on #256
No just a tracking pixel

[2016-12-01 12:47] vozersky opened #285 "App crashes if you try to add an incompatible rule to User filter"
For example, JS:

STR:
1. Add to Userfilter:  www.example.com#%#var fuckAdBlock = false

[2016-12-01 16:31] vozersky commented on #162
@Tetiana2020 could you link the app please? There are two "Wingies" from two different devs.

[2016-12-01 23:30] jo2dan23 commented on #272
Do u want the fiddler log?

[2016-12-01 23:37] jo2dan23 opened #286 "Izit"
content.signal360.com (tracking company)
onesignal.com (this is automated advertising)

izit by Izit SPA
https://appsto.re/us/OQ4pN.i

[2016-12-01 23:42] jo2dan23 commented on #233
After looking at the website push.io used to advertise. It says drive real time engagement with push notifications. Scroll down a bit and look at the push notification image they show

[2016-12-02 16:58] ameshkov commented on #183
Waiting for @Stillness-2 to examine the log files then

[2016-12-02 18:10] #267 closed

[2016-12-03 01:01] dzamyshlyayeva opened #287 "m.legacy.com - the read more button is not available"
http://m.legacy.com/obituaries/denverpost/obituary.aspx?n=lucy-dikeou&pid=182547156&referrer=0&preview=false - the Read More button doesn't work when AdGuard is enabled.

<details>

![image](https://cloud.githubusercontent.com/assets/23372054/20855293/85f4a0da-b904-11e6-8759-e4b41c9ac522.png)

</details>

Application version: 1.1.2.24
Device: iPhone
OS: 10.2

Filters subscriptions:
ID=0 Name="User

[2016-12-05 11:24] Stillness-2 opened #288 "Extention ProTunnel crashes on [APTunnelConnectionsHandler handlePackets:protocols:]"

[2016-12-05 13:19] ameshkov commented on #277
@evgeniy-ADG open this sort of issues in AdguardFilters repo, there's an "iOS App" label for it.

[2016-12-05 13:19] #277 closed

[2016-12-05 15:14] ameshkov commented on #279
@Stillness-2 what do you think?

[2016-12-05 15:18] ameshkov commented on #282
@evgeniy-ADG can you reproduce it?

[2016-12-05 15:20] ameshkov commented on #284
@jo2dan23 please report this kind of issues to AdguardFilters repo.

We've decided that AdguardForiOS repo should be devoted to the app development only.

[2016-12-05 16:56] Stillness-2 commented on #161
commit 81ef592

[2016-12-05 16:56] #161 closed

[2016-12-05 17:03] ameshkov commented on #286
Let's report these issues to https://github.com/AdguardTeam/AdguardFilters/issues

[2016-12-05 17:04] ameshkov commented on #233
Push notifications may be used for a lot of things including advertising, but this does not mean their API is used for advertising only.

[2016-12-05 17:11] ameshkov commented on #287
@dzamyshlyayeva please report this sort of issues to AdguardFilters repo.

[2016-12-05 18:33] Alex-302 commented on #287
Not reproduced with the same config.
Blocked social sharing buttons.

[2016-12-06 07:30] #170 closed

[2016-12-06 15:25] Alex-302 commented on #101
Any news?
The same issue in Safari extension
https://github.com/AdguardTeam/AdguardFilters/issues/3663

[2016-12-06 15:40] ameshkov commented on #101
Resolved in the latest beta of Safari extension.

Will be resolved in iOS version when #275 is done

[2016-12-06 15:42] Alex-302 commented on #101
Ok, thanks

[2016-12-06 19:28] Alex-302 commented on #272
Yes

[2016-12-06 19:31] Alex-302 commented on #274
Please make a figgler log

[2016-12-06 19:31] Alex-302 commented on #284
Added to Spyware filter
[code]

[2016-12-06 19:31] #284 closed

[2016-12-06 19:33] Alex-302 commented on #256
Please make a fiddler log. I want to see content of this request.

[2016-12-06 20:09] Alex-302 commented on #286
Not sure about these domains.

[2016-12-06 20:09] #286 closed

[2016-12-06 20:09] Alex-302 commented on #286
Not sure about these domains.

[2016-12-07 13:54] Alex-302 commented on #285
Another rule:
[code]
If `:empty` is removed, I can add rule.

[2016-12-07 14:04] vozersky commented on #285
If :empty is removed, I can add rule.

reproduced here

@Stillness-2 `:empty` is supposed to work in iOS, no?

[2016-12-07 14:32] Alex-302 commented on #285
@vozersky
http://www.w3schools.com/cssref/sel_empty.asp

[2016-12-07 15:09] evgeniy-ADG commented on #252
Any news?

[2016-12-10 08:07] evgeniy-ADG commented on #252
@ameshkov @Stillness-2 any news?

[2016-12-12 11:50] gotitbro commented on #255
@ameshkov @Stillness-2 I see that this issue has been resolved with the **Safari extension**, any update on when this might be fixed for the **iOS app**, can't access a lot of websites due to this issue.

[2016-12-12 16:57] ameshkov commented on #285
@Alex-302 btw `:empty` may also be unsupported in other AG versions. Are you sure it works ok in Windows/Mac/extension?

[2016-12-12 17:07] Alex-302 commented on #285
@ameshkov it works at least with AG for Windows and Chrome extension.
<details>

![image](http://imagizer.imageshack.com/img921/7453/ZuMyzA.png)
</details>

[2016-12-12 21:24] ameshkov commented on #255
iOS beta with the new converter version should be ready by the end of this week.

[2016-12-12 23:48] gotitbro commented on #255
That's great! Hope this will be pushed to stable branch as well soon.

[2016-12-13 12:20] tagataho opened #289 "Onedio.com Social Buttons"
https://onedio.com/haber/2016-nin-hayatimiza-kattigi-sezonluk-degil-omurluk-olan-16-harika-trend-742002

Can you block this buttons?

https://i.hizliresim.com/LZAXA1.jpg

[2016-12-13 12:50] tagataho opened #290 "Hmobil.hurriyet.com.tr Social Buttons"
http://mobil.hurriyet.com.tr/pkk-yandaslari-toplantiyi-karistirdi-40305327

http://mobil.hurriyet.com.tr/ogretmen-ogrencilere-yagli-urgan-ile-poz-verdirtti-40305352

http://mobil.hurriyet.com.tr/turkiye-icin-buyume-tahminini-dusurdu-40305564

http://mobil.hurriyet.com.tr/abdli-petrol-devi-schlumberger-25-bin-kisiyi-isten-cikardi-40058612

http://mobil.hurriyet.com.tr/volkan-demirelden-cuneyt-cakir

[2016-12-13 12:59] tagataho opened #291 "m.ensonhaber.com Social Buttons and unneeded bar"
http://m.ensonhaber.com/whatsappta-kufur-eden-kadina-3-bin-100-tl-para-cezasi-2016-12-13.html

Hi
There are two bars which unneeded and useless in this site. Can you block and unappear please?

https://i.hizliresim.com/1Vv38A.jpg

[2016-12-13 13:18] tagataho opened #292 "shiftdelete.net Empty Bar/Buttons"
http://shiftdelete.net/ios-10-2-yayinlandi-77695

Hi
Please block that.
https://i.hizliresim.com/1VvoDG.jpg

[2016-12-13 13:30] tagataho opened #293 "m.sporx.com Social Buttons"
http://m.sporx.com/futbol/buzz/mehmet-demirkoldan-antalyaspor-fenerbahce-yorumuSXGLQ24600SXQ

http://m.sporx.com/riekerink-33-yilda-yasadigim-en-iyi-sey-SXHBQ590381SXQ

Hi
In this pages, there is unnecessary and useless Social buttons/bar. Please block.

https://i.hizliresim.com/Er80P8.jpg

[2016-12-13 13:36] tagataho opened #294 "m.haberturk.com All things are blocked"
http://m.haberturk.com/

Hi
I can not use this site. Because news scroll and same things are blocked.
You check that.
Please fix it.

I use ENGLİSH,
SPYWARE,
SOCIAL MEDIA,
Annoyances,
Mobile Ads,
SAFARI,
TURKISH,
EASYLIST FILTERS.

[2016-12-13 13:38] tagataho commented on #289
I use ENGLİSH,
SPYWARE,
SOCIAL MEDIA,
Annoyances,
Mobile Ads,
SAFARI,
TURKISH,
EASYLIST FILTERS.

[2016-12-13 13:38] tagataho commented on #290
I use ENGLİSH,
SPYWARE,
SOCIAL MEDIA,
Annoyances,
Mobile Ads,
SAFARI,
TURKISH,
EASYLIST FILTERS.

[2016-12-13 13:39] tagataho commented on #292
I use ENGLİSH,
SPYWARE,
SOCIAL MEDIA,
Annoyances,
Mobile Ads,
SAFARI,
TURKISH,
EASYLIST FILTERS.

[2016-12-14 09:21] tagataho opened #295 "Not Open Videos in many Turkish Mobile Websites"
http://m.sondakika.com/haber/haber-onundei-haber-metnini-okuyamayan-nevsin-mengu-9059901/

http://m.haberler.com/onundeki-haber-metnini-okuyamayan-nevsin-mengu-9059901-videosu/

http://m.medyafaresi.com/video/nevsin-mengu-canli-yayinda-sinirlendi/799657

http://m.a24.com.tr/video/nevsin-mengu39nun-zor-anlari-16399.html?v=0

http://m.internethaber.com/buraya-unlu-olmaya-geldim-deyince-video-galeris

[2016-12-14 09:22] tagataho commented on #295
I use ENGLİSH,
SPYWARE,
SOCIAL MEDIA,
Annoyances,
Mobile Ads,
SAFARI,
TURKISH,
EASYLIST FILTERS.

[2016-12-14 10:43] Stillness-2 commented on #190
#200

[2016-12-14 14:10] #200 closed

[2016-12-14 14:20] Stillness-2 commented on #190
We need many testings...

[2016-12-14 14:20] #190 closed

[2016-12-14 14:46] zebrum commented on #252
@Stillness-2
@ameshkov
please take a look

[2016-12-14 15:28] Stillness-2 commented on #285
commit c7d8a10.
Now, If error occurs when converting of rule, app raises error modal dialog window.

[2016-12-14 15:28] #285 closed

[2016-12-14 15:30] Stillness-2 commented on #193
#285

[2016-12-14 15:30] #193 closed

[2016-12-14 16:32] evgeniy-ADG opened #296 "BFM Paris by NextRadioTV - ads"
VPN DNS does not work on BFMParis application: BFM Paris by NextRadioTV
https://appsto.re/us/r2Bxfb.i

<details>

![image1](https://cloud.githubusercontent.com/assets/15856304/21190580/f49195f0-c22a-11e6-9aa9-1e3c1fc4eef2.PNG)

![image2](https://cloud.githubusercontent.com/assets/15856304/21190588/fc5133a4-c22a-11e6-91a9-58b6c47de67d.PNG)

</details>

State and logs: 1021351

[2016-12-14 17:38] Alex-302 commented on #295
1,***2***,4 - works
5 - not working without Adguard
2 - try these rules
[code]

[2016-12-14 17:43] Alex-302 commented on #294
@tagataho please move you issues to AdguardTeam/AdguardFilters

[2016-12-14 17:54] Stillness-2 commented on #171
commit fb91ac7

[2016-12-14 17:54] #171 closed

[2016-12-14 21:19] Stillness-2 commented on #275
commit 420a254

[2016-12-14 21:19] #275 closed

[2016-12-14 21:25] Stillness-2 commented on #154
According to #200 we are using `https` now for obtaining filter rules.

[2016-12-14 21:25] #154 closed

[2016-12-14 21:44] Bubu92 commented on #191
Hi guys. Is this issue still in progress? I did get any feedback and it has been a while now. Thanks for your response.

[2016-12-15 10:07] tagataho commented on #294
http://i.hizliresim.com/m4L2a0.jpg

Everthing is blocked in haberturk.com. You can see that.

[2016-12-15 10:11] tagataho commented on #294
@Alex-302 i wrote AdguardTeam/AdguardFilters

[2016-12-15 10:14] tagataho commented on #295
@Alex-302 where do i add this rules? White list or user block list?

[2016-12-15 10:19] tagataho commented on #295
@Alex-302 i tried both of them (seperately) it is not working.

[2016-12-15 10:20] tagataho commented on #295
@alex-302 additinally; you wrote opossite but 1-2-4 not work.
 I tried on safari in iphone

[2016-12-15 13:04] Stillness-2 commented on #288
commit 4e4d756

[2016-12-15 13:04] #288 closed

[2016-12-15 15:53] Stillness-2 commented on #164
This problem repeated with other VPN. This is not Adguard issue.